[2015-09-22 12:19] joaomoreno opened #1 "~/.vsce is not hidden on Windows"

[2015-09-29 10:58] bpasero opened #2 ".git should always be ignored"
When packaging the extension every `.git/**` is added to the package. They should all be ignored.

[2015-09-29 12:31] jrieken opened #3 "list shows extension from all publishers"
![screen shot 2015-09-29 at 12 47 30](https://cloud.githubusercontent.com/assets/1794099/10163967/b7d7fa4e-66b6-11e5-8c63-b1aebcd75816.png)

[2015-09-29 15:21] #2 closed, assigned to joaomoreno

[2015-09-29 15:24] joaomoreno opened #4 "vsce list [publisher] - publisher isn't optional"
@egamma

 'vsce help' tells me:

[code]

'vsce list' tells me

[code]

OR I just misunderstood the notation OR the help message should be

[code]

see the npm help for an example:
    owner       npm owner add <username> <pkg>

[2015-09-29 15:25] joaomoreno opened #5 "vsce list publisher doesn't filter extensions"
@egamma

vsce list publisherName lists all extensions and not only the extensions of the given publisher.

[code]

[2015-09-29 15:26] bpasero opened #6 "vsce publish should ignore devDependencies"
booo not cool

[2015-09-29 15:34] #6 closed, assigned to joaomoreno

[2015-09-29 15:36] #4 closed, assigned to joaomoreno

[2015-09-29 15:37] #5 closed, assigned to joaomoreno

[2015-09-29 15:39] #3 closed, assigned to joaomoreno

[2015-09-29 15:53] #1 closed, assigned to joaomoreno

[2015-10-02 13:18] joaomoreno opened #7 "Enable extensions to specify an icon"
From @willsmythe :

https://www.visualstudio.com/en-us/integrate/extensions/get-started/visual-studio

[2015-10-14 10:35] joaomoreno opened #8 "Enable Travis CI once public"

[2015-10-14 10:47] #7 closed, assigned to nobody

[2015-10-16 05:42] joaomoreno opened #9 "Auto-increment package version?"
From @lukehoban:

One small but nice thing that Atom’s publishing does is to auto-increment version number based on a version increment flag and commit/tag/push that in the repo before packaging.

This is definitely more opinionated – but makes it really convenient to re-publish frequently, and avoids accidentally re-publishing without incrementing version number.

Here's a snippet from the APM do

[2015-10-16 09:44] joaomoreno opened #10 "Extension does not show up when it defines keywords"
From @seanmcbreen:

[2015-10-16 09:44] #10 closed, assigned to nobody

[2015-10-16 10:35] SamVerschueren opened #11 "vsce create-publisher returns 401"
I'm trying to create a publisher with a `Personal Access Token` but it fails to create it.

[2015-10-19 06:27] SamVerschueren opened #12 "Why a .vscodeignore file? Use the files property instead"
if I understand correctly, `.vscodeignore` is meant for files that should be ignored when the extension is installed.

In `npm`, this is already done by the `files` property in `package.json`. More information can be found under the `files` section https://docs.npmjs.com/files/package.json#files.

Where `.vscodeignore` is a blacklist of files that should not be installed, the `files` property is a

[2015-10-19 07:08] joaomoreno opened #13 ".vscodeignore and devDependencies"
From @lukehoban

The [vsce documentation](https://github.com/Microsoft/vscode-extensionbuilders/blob/master/docs/tools/vscecli.md#advanced-usage) mentions:

However, I'm not seeing this happen for my own extensions. I'm seeing whatever happens to be in my node_modules folder get pulled into the package.  In my development environment where I am using `npm install` locally to pull in devDependencie

[2015-10-20 02:54] peterj opened #14 "Getting 403 forbidden trying to publish an extension"
I followed the instructions [here](https://github.com/Microsoft/vscode-extensionbuilders/blob/master/docs/tools/vscecli.md) and when I do vsce publish I get the forbidden error. See full stack below:

[code]

[2015-10-20 14:55] isidorn opened #15 "Need to support extension display name"
Vsce should pick up a `displayName` field and use it as the `Display Name` of the extension in the gallery.

[2015-10-20 15:26] #15 closed, assigned to isidorn

[2015-10-21 08:06] #14 closed, assigned to seanmcbreen

[2015-10-21 08:50] joaomoreno opened #16 "Icon isn't listed in the Manifest"
It might be that if the icon is in a folder, then it's never picked up. Investigate. Also check backslash paths.

[2015-10-21 08:52] joaomoreno opened #17 "Images and links in README.md need to be massaged"
From @willsmythe:

[2015-10-21 08:56] joaomoreno opened #18 "Should use the repository link as Microsoft.VisualStudio.Services.Links.Source"
We are currently using the `homepage` link for that. We need to use the `repository` link for that.

[2015-10-21 09:10] joaomoreno opened #19 "Add --int option to publish to marketplace-int"
URL: `https://app.marketplace-int.tfsallin.net/`

[2015-10-21 09:47] #18 closed, assigned to isidorn

[2015-10-21 14:22] joaomoreno opened #20 "Should validate name and publisher"
Publisher names have the same validation rules.

[2015-10-22 14:29] #16 closed, assigned to isidorn

[2015-10-29 17:18] #17 closed, assigned to isidorn

[2015-11-03 18:57] seanmcbreen opened #22 "Readme Matching"
This is not working as expected.  The RegExp does not get the correct 2nd match:

Something more like:
`github\.com\/([^]+)\/([^]+)\/([\w-_]*|$)` is required

for:
`https://github.com/Microsoft/vscode-spell-check.git`

[2015-11-03 18:57] seanmcbreen opened #23 "Categories"
Categories are not passing through - see JSON to VSIX spec

[2015-11-03 18:57] seanmcbreen opened #24 "Resources Links"
Are not passing through see VSIX to JSON spec

[2015-11-03 18:58] seanmcbreen opened #25 "BG Color and Theme"
Are not passing through see VSIX to JSON spec

[2015-11-04 00:57] #25 closed, assigned to nobody

[2015-11-04 01:26] #24 closed, assigned to nobody

[2015-11-04 01:43] #23 closed, assigned to nobody

[2015-11-04 02:09] joaomoreno opened #26 "Improve vso-node-api error reporting"
It appears that a newer version of `vso-node-api` [returns proper errors](https://github.com/Microsoft/vso-node-api/blob/master/api/RestClient.ts). Let's update to that and get them displayed to the user, if they occur.

[2015-11-04 03:16] seanmcbreen opened #27 "TargetID"
Disallow an engine of '*' on packaging
Set a target ID
Will get details on the XML tomorrow

[2015-11-04 06:35] #19 closed, assigned to nobody

[2015-11-06 17:03] seanmcbreen opened #28 "Categories"
Categories did not end up in my VSIX for spell-check.

[2015-11-06 17:17] #22 closed, assigned to joaomoreno

[2015-11-06 17:21] #28 closed, assigned to nobody

[2015-11-10 17:10] isidorn opened #29 "API is not exposed"
API should be exposed so vsce commands can easily be automated using a gulp task.

[2015-11-11 10:12] weinand opened #30 "automatically filter .DS_Store files from the extension package"

[2015-11-12 01:28] roblourens opened #31 "vsce ls doesn't exclude devDependencies"
I understand vsce automatically ignores devDependencies so we don't have to include them in .vscodeignore, but they're still listed by `vsce ls`.

[2015-11-12 01:32] #31 closed, assigned to nobody

[2015-11-13 04:00] #13 closed, assigned to joaomoreno

[2015-11-13 16:05] Krzysztof-Cieslak opened #32 "Error: getaddrinfo ENOTFOUND app.market.visualstudio.com app.market.visualstudio.com:443"
Looks like any command which is trying to call marketplace server is not working. I was publishing plugin few hours ago and everything was OK.

![image](https://cloud.githubusercontent.com/assets/5427083/11150480/7f9d6a02-8a28-11e5-9548-936b520b6ee2.png)

[2015-11-13 17:11] #32 closed, assigned to nobody

[2015-11-14 03:59] seanmcbreen opened #33 "Add Other as category as default"
When an extension does not have any categories defined in `project.json` add the `other` category in for them so they land there.

[2015-11-15 00:48] seanmcbreen opened #34 "Issues logging in as publisher with '-'"
I'm not sure the '-' is the cause but I set up the ms-vscode publisher.  I can happily upload via the web but VSCE fails to store the creds:

![image](https://cloud.githubusercontent.com/assets/1051190/11166586/6c0c7786-8aef-11e5-863b-f6b74298ecec.png)

The result of my successful uploads can be seen here:
https://marketplace.visualstudio.com/vscode/Themes

I want to use this account for our 'supp

[2015-11-15 08:43] bpasero opened #35 "Windows: vsce delete-publisher results in Error: EPERM, open 'C:\Users\name\.vsce'"
C:\GitDevelopment>vsce delete-publisher foo
Personal Access Token for publisher 'foo': ****************************************************

Authentication successful. Found publisher 'Foo Bar'.
`Error: EPERM, open 'C:\Users\name\.vsce'`

I am on 0.7.2

[2015-11-16 17:00] #35 closed, assigned to nobody

[2015-11-17 04:50] lukehoban opened #36 "Relative paths in READMEs are being directed at raw instead of rendered contents"
I'm not sure whether this is a `vsce` issue or a gallery issue.

Relative paths from READMEs are being redirected to GitHub, which is nice, but they appear to be redirected to /raw which looks pretty bad – seems they can be directed to the normal GitHub page instead which renders content in the expected way (e.g. As markdown):

Current:
https://github.com/Microsoft/vscode-go/raw/master/src/debugAd

[2015-11-17 10:32] #26 closed, assigned to nobody

[2015-11-17 10:49] joaomoreno opened #37 "Document automagic url transformation for Github repos & others"

[2015-11-17 14:23] joaomoreno opened #38 "VSCE publisher case sensitivity inconsistent"
From @Wosi:

[2015-11-17 14:38] #20 closed, assigned to nobody

[2015-11-17 14:51] #38 closed, assigned to isidorn

[2015-11-17 15:11] #30 closed, assigned to isidorn

[2015-11-17 15:21] #27 closed, assigned to nobody

[2015-11-17 15:42] #33 closed, assigned to isidorn

[2015-11-17 15:45] #34 closed, assigned to nobody

[2015-11-17 16:24] joaomoreno opened #39 "Fix link to documentation once public"

[2015-11-17 16:40] joaomoreno opened #40 "Running vsce with a bad command name outputs nothing"

[2015-11-17 16:42] #37 closed, assigned to nobody

[2015-11-17 16:45] joaomoreno opened #41 "Don't set duplicate file extensions when there is mixed casing"
Related to Microsoft/vscode-extensionbuilders#116

[2015-11-17 17:43] joaomoreno opened #42 "Ignore .vsixmanifest files by default"
João:

Sean Lumley:

[2015-11-17 21:16] #41 closed, assigned to nobody

[2015-11-17 21:24] #42 closed, assigned to joaomoreno

[2015-11-17 21:38] #40 closed, assigned to joaomoreno

[2015-11-18 15:28] joaomoreno opened #43 "Add ThirdPartyNotices.txt file"

[2015-11-18 15:30] lukehoban commented on #36
I'm now seeing the path be rewritten to:

https://github.com/Microsoft/vscode-go/src/debugAdapter/Readme.md

But that path 404s - the expected path is:

https://github.com/Microsoft/vscode-go/blob/master/src/debugAdapter/Readme.md

[2015-11-18 15:43] #36 closed

[2015-11-18 15:43] joaomoreno commented on #36
Fixed in `0.8.1`. Can you give it a try?

[2015-11-18 20:32] evilpacket opened #45 "publisher name validation rules don't actually allow ."
Publisher human-friendly name: (adam.baldwin) Adam Baldwin
Personal Access Token: ****************************************************

Error: Failed Request: Bad Request(400) - The publisher name 'adam.baldwin' is invalid. Publisher names may only contain 'A' through 'Z', 'a' through 'z', '0' through '9', '.' and '-'. The publisher name must start with an alphabetic or numeric character.

however

[2015-11-19 09:18] joaomoreno commented on #39
Fixed by @evilpacket in #44

[2015-11-19 09:18] #39 closed

[2015-11-19 10:19] #8 closed

[2015-11-19 12:35] forki opened #46 "Add CommandLine parameter which allows to pass Token to login commandw"
We want to automate the release process of the F#, FAKE and Paket plugins. Currently we fail to login since the vsce login is asking for the Personal Access Token. It would be much easier for us if we could give it as optional parameter to vsce login command.

[2015-11-19 12:57] joaomoreno commented on #46
:+1:

[2015-11-25 20:34] joaomoreno commented on #46
Fixed per #47.

[2015-11-25 20:34] #46 closed

[2015-11-26 02:01] Tyriar opened #48 "Add command to install and uninstall extensions"
Similar to [`apm`](https://github.com/atom/apm)'s `install` and `uninstall` commands, it would be great to have an official way of installing and uninstalling extensions via the command line in a platform independent way.

This would enable a nicer way of maintaining a consistent development environment across multiple PCs/platforms without resorting to symlinking the extensions to cloud storage (

[2015-11-26 07:26] joaomoreno commented on #48
This issue was moved to Microsoft/vscode#691

[2015-11-26 07:26] #48 closed

[2015-12-02 07:37] areijngoudt opened #49 "getaddrinfo ENOTFOUND marketplace.visualstudio.com marketplace.visualstudio.com:443"
When trying to install the extension 'solidity 0.0.1' still this error (now with the url starting with matkerplace, not app.marketplace).

[2015-12-02 08:00] joaomoreno commented on #49
Do you use a proxy?

[2015-12-02 10:03] areijngoudt commented on #49
Yes. Do I need to configure that in Code?
On Dec 2, 2015 09:00, "João Moreno" <notifications@github.com> wrote:

[2015-12-02 10:18] joaomoreno commented on #49
Yes you do, there is an `http.proxy` setting you can set. But this still won't work for installing extensions until the end of December. See Microsoft/vscode#69

[2015-12-02 10:18] #49 closed

[2015-12-02 10:32] areijngoudt commented on #49
Is there a workaround for now?

[2015-12-02 13:29] joaomoreno commented on #49
Unfortunately there isn't.

[2015-12-03 06:17] rcrosbourne opened #50 "running "vsce create-publisher <publisher>" fails (vsce -V => 0.9.0)"
See error below
/usr/local/lib/node_modules/vsce/node_modules/denodeify/index.js:40
			return new Promise(promiseHandler);
			           ^
ReferenceError: Promise is not defined
    at /usr/local/lib/node_modules/vsce/node_modules/denodeify/index.js:40:15
    at Object.read (/usr/local/lib/node_modules/vsce/out/util.js:30:12)
    at Object.createPublisher (/usr/local/lib/node_modules/vsce/out/stor

[2015-12-03 08:35] joaomoreno commented on #50
Which version of node do you have?

[2015-12-03 08:37] rcrosbourne commented on #50
node --version (v0.10.24)

[2015-12-03 08:37] joaomoreno commented on #50
`vsce` needs at least Node.js `0.12`. It is indicated in the `package.json`, so you should've gotten an error/warning by NPM when you installed it.

[2015-12-03 08:37] #50 closed

[2015-12-09 18:56] Bigous commented on #11
Hi @SamVerschueren , where did you change this setting?

[2015-12-12 11:27] mitchdenny opened #51 "Add Options for Publish without Packaging step"
I'd like to be able to separate out the package step and the publishing step. At the moment I can create a package without uploading it, but I can't upload a package without first building the package. I'd love to have a variation of the package command that is something like this:

[code]

[2015-12-13 08:57] mitchdenny commented on #51
I was thinking about this some more. I think that all you really need is the path to the VSIX file, you can get all the metadata out of the package itself. So the command would look more like this:

vsce --vsix [path to vsix] --pat [personal access token]

Make sense?

[2015-12-14 08:21] joaomoreno commented on #51
:+1:

[code]

[2015-12-15 00:32] mitchdenny commented on #51
Hi @joaomoreno - are you planning on changing this so that the command can run with just the *.vsix file present. At the moment you need all the other files, and it looks like it does a rebuild. Perhaps if I provide some more context it'll help explain what I am after.

I've got a VS code extension at https://github.com/mitchdenny/ecdc/. I'm currently building that extension using Visual Studio Te

[2015-12-15 01:06] SrTobi opened #52 "Ignore dependencies of devDependencies"
Are dependencies of devDependencies ignored?

When I use `npm install` and then `vsce ls` a lot of node_modules are still listed. the devDependencies are ignored but their dependencies are not.

Wouldn't it be better to include all production dependencies and their production dependencies and ignore all other modules?

[2015-12-15 08:50] joaomoreno commented on #51
Yes, what I meant by my previous comment was that I think this is a good idea! :+1:

[2015-12-15 11:52] joaomoreno opened #53 "README.md is not picked up by vsce"
"No overview has been entered by publisher"

[2015-12-15 15:08] shanalikhan1 opened #54 "NPM modules are not publishing"
Hi ,
I created an extension for VS code. I published and downloaded it and found out that the NPM modules i used are not published. How to publish those modules online.

[2015-12-15 16:07] joaomoreno commented on #54
Run `vsce list` to see which files will be published.

Make sure you

1. Run `npm install` to get those dependencies in disk before publishing, and
2. Do not list them in your `.vscodeignore`.

[2015-12-15 16:24] shanalikhan1 commented on #54
Following are the modules im using in extension.
 "devDependencies": {
    "fs": "^0.0.2",
    "github": "^0.2.4",
    "node-github": "0.0.3",
    "open": "^0.0.5",
    "typescript": "^1.6.2",
    "vscode": "0.10.x"
  },
  "dependencies": {
    "fs": "^0.0.2",
    "github": "^0.2.4",
    "node-github": "0.0.3",
    "open": "^0.0.5",
    "typescript": "^1.6.2",
    "vscode": "0.10.x"
  }

this is m

[2015-12-15 23:00] mitchdenny commented on #51
Haha! Awesome :)

[2015-12-16 08:45] joaomoreno commented on #54
I'm assuming you ran `npm install`. Are your sources open? Could I take a look at them, so I can try out the same?

[2015-12-16 08:50] shanalikhan1 commented on #54
Yes i ran npm install.
It works on my machine when i publish and download from there i dont see any npm modules there

https://marketplace.visualstudio.com/items/Shan.code-settings-sync
Repo : https://github.com/shanalikhan1/code-settings-sync

[2015-12-16 09:24] shanalikhan1 commented on #54
its working now. one thing. i developed on windows and installed modules on windows , will vsce auto compile it for mac and linux ?

[2015-12-16 15:18] joaomoreno opened #55 "Make sure the version is parseable by semver"

[2015-12-16 15:20] alexandrudima commented on #55
:+1:

[2015-12-16 17:09] #55 closed

[2015-12-16 17:11] joaomoreno commented on #54
How did it start working?

No, Code doesn't support extensions with native node module dependencies yet. See Microsoft/vscode#658 for more details.

[2015-12-16 17:11] #54 closed

[2015-12-16 17:16] joaomoreno commented on #53
Cannot reproduce. I cloned the repo, changed the publisher to my publisher and published. Here are the results:

![image](https://cloud.githubusercontent.com/assets/22350/11848112/af5e8fb4-a418-11e5-8993-0dfa5e167548.png)

[2015-12-16 17:16] #53 closed

[2015-12-16 17:17] joaomoreno opened #56 "TypeError in `vsce unpublish`"
[code]

[2015-12-16 17:19] #56 closed

[2015-12-16 17:49] ultrasonicsoft commented on #53
Strange, it's still not working for me.

I updated my version info to 0.2.2 and ran below commands
1. vsce package
2. vsce publish

This is the folder from where I am running those commands:

![image](https://cloud.githubusercontent.com/assets/4145169/11848984/7707f870-a44b-11e5-8b3a-a3f9d34bf6ed.png)

Here is the output:

![image](https://cloud.githubusercontent.com/assets/4145169/11848963/6b8ccd

[2015-12-16 17:51] ultrasonicsoft commented on #53
I hadn't put readme.md file in my publishing folder. I thought it will be read from Git.

Thanks joaomoreno!!

[2015-12-16 18:27] #43 closed

[2015-12-17 00:57] mitchdenny commented on #51
Hi @joaomoreno - is it possible that the 1.0.0 version of the vsce package is broken after this change went in? I'm having trouble getting Personal Access Tokens to work. I just generated a fresh token and got an error:

[code]
[code]

[2015-12-17 01:02] chrisdias commented on #51
assigning to @bpasero and reopening in case we have a regression.  @egamma fyi for triage.

[2015-12-17 01:04] mitchdenny commented on #51
Sorry guys - you can close this down. I've got a case of the dumbs today. The token I was generating was specific to a VSTS account, not a global token.

[2015-12-17 01:13] chrisdias commented on #51
no problem, glad you found the issue!

[2015-12-17 01:13] #51 closed

[2015-12-17 09:09] shanalikhan1 opened #57 "How to make pre compile binaries for dependent modules"
These are my dependencies in my extension.
"dependencies": {
"fs": "^0.0.2",
"github": "^0.2.4",
"node-github": "0.0.3",
"open": "^0.0.5"
}
Im using npm install and it works in windows.
I read that in order to make it work in linux or mac i have to use pre compile binaries of these packages in my extension. Right ?
How to make pre compile binaries. Please tell a easy way in order to create binarie

[2015-12-18 13:22] joaomoreno commented on #57
As I told you in #54, native extensions are not yet supported. A few workarounds are discussed in Microsoft/vscode#658.

[2015-12-18 13:22] #57 closed

[2016-01-06 07:30] gep13 opened #59 "Additional Command Line Options"
I am in the process of creating an Addin for [Cake](http://cakebuild.net/) to allow easily executing the various tasks that are exposed by vsce.  That way, I can include things like packaging and publishing into my Cake Build Script for my extensions.  You can find the current work here:

https://github.com/gep13/Cake.VsCode

I am limited in what I can do due to the fact that vsce doesn't allow me

[2016-01-06 09:09] joaomoreno commented on #59
This is supported:

[code]

[2016-01-06 09:09] #59 closed

[2016-01-06 09:14] gep13 commented on #59
Ah perfect, I hadn't seen that.

I was looking at this only:

![image](https://cloud.githubusercontent.com/assets/1271146/12139106/d4298036-b455-11e5-9320-87f97b483e4a.png)

This is exactly what I need, thank you! :+1:

[2016-01-17 14:11] felixfbecker commented on #12
There is also `.npmignore`

[2016-01-17 14:14] felixfbecker commented on #52
Very annoying! [The docs](https://code.visualstudio.com/docs/tools/vscecli) state:

But when I check the installed extension:
[code]
See all the "extraneous" packages installed, those are dev-dependencies-dependencies.

[2016-01-17 14:27] felixfbecker commented on #52
Here is a workaround, put this is package.json scripts:
[code]
Before publishing, it will install everything, then compile, and at the end remove all devDependencies. Unfortunately, there is no postpublish hook, so you will have to run `npm install` after publishing again.

[2016-01-17 16:09] SrTobi commented on #52
Great idea :+1:

[2016-01-18 08:05] joaomoreno commented on #52
That is really cool, @felixfbecker, didn't know about `npm prune`.

[2016-01-19 19:14] heaths commented on #52
Not really a fix, though. Perhaps something like this (opened before I realized there was a separate repo for vsce): https://github.com/Microsoft/vscode/issues/2114

[2016-01-19 19:22] felixfbecker commented on #52
I dont think reinstalling on publishing is the right solution.
**All vsce needs to do is add the output of `npm list --only=dev --parseable --depth` to the list of ignored folders.**

[2016-01-19 19:30] heaths commented on #52
@felixfbecker even better, yes. I was not aware of that option. I'm assuming that eliminates any cross-dependencies (i.e. same package indirectly required by both `dependencies` and `devDependencies`). Certainly saves time for bigger extensions from having to copy files and re-install potentially dozens (or hundreds) of dependencies. Cool.

[2016-01-19 19:50] felixfbecker commented on #52
Good point. So then the other way around, include only from node_modules what's in `npm list --production --parseable --depth`

[2016-01-19 20:25] joaomoreno commented on #52
This is pretty epic, didn't know about this either. Would you like to submit a PR? :+1:

[2016-01-19 21:19] heaths commented on #52
While it doesn't solve the problem in the save way, a cursory glance seems like it would also work (an existing PR): https://github.com/Microsoft/vscode-vsce/pull/58

[2016-01-20 13:01] SrTobi commented on #52
Hmm why not combine both solutions? In fact the code in my pr also uses `npm list`, but without the `--only=dev --parseable --depth`. We could put those args into the `npm.list` function and still have a nice return value. The hole `determineProductiveModules` function could than be removed

[2016-01-20 13:05] felixfbecker commented on #52
@SrTobi That was my idea :) Of course it makes sense to use the NPM programmatic API instead of the CLI. But we shouldn't reimplement what NPM already provides.

It is just important that we parse the production packages and only include _them_, instead of parsing the dev packages and _exclude_ those. Otherwise you might have packages ignored that were both in your dev-dependencytree and your prod

[2016-01-20 13:23] SrTobi commented on #52
Hmmm in fact I am actually doing this. I take all productive dependencies and extension files and then do the normal exclusion process (of course without the devDependencies).

The idea to let npm output only productive dependencies instead of finding them by ourselves is pretty nice though.

[2016-01-28 19:09] joaomoreno commented on #52
Fixed by #58

[2016-01-28 19:09] #52 closed

[2016-01-30 01:47] unional commented on #12
Should the `.vscodeignore` file includes `README.md` by default?

[2016-02-01 01:20] unional commented on #9
Definitely would love to have this feature.  I was looking for it. :)

[2016-02-04 18:11] felipecaputo opened #62 "Error: Invalid publisher 'Name' while packaging extension"
I've followed the instructions in https://code.visualstudio.com/docs/tools/vscecli and when i executed

    vsce package

it returns

I've also tried `vsce ls-publishers` and it returns right

[2016-02-04 18:13] felipecaputo commented on #62
I've got it, the `pusblisher` in `package.json` field must be equals to the publisher I've just created.

Sorry o/

[2016-02-04 18:13] #62 closed

[2016-02-05 17:05] SrTobi commented on #9
:+1:

[2016-02-13 09:01] v4run commented on #52
Hi, I am still facing this issue for an extension I wrote. `vsce package` makes a 5MB file. The only thing that worked for me is

[code]
which creates a much smaller file.

I am using `vsce@1.1.0` and ` npm@3.7.1`

[2016-02-13 12:14] SrTobi commented on #52
I did some debugging and it is definitely a npm problem. npm simply ignores the `--production` argument and prints every dependency regardless whether it is a productive dependency or a dev dependency. In `npm@3.6.0` it worked well.

[2016-02-13 12:14] SrTobi commented on #52
I also checked the npm command we are currently using (in https://github.com/Microsoft/vscode-vsce/blob/master/src/npm.ts#L4) and I think the `--depth` should be removed.

[code]
1. `--depth` is not correct as it needs a value like `--depth=0`.
2. The original idea was to use `--depth=0` (I had that in my PR), but that would be terrible. It is actually not, because npm simply ignores the `--depth`

[2016-02-13 12:25] SrTobi commented on #52
I opened an issue for the `--productive` problem: https://github.com/npm/npm/issues/11530
And one issue for the `--depth=0` + `--parseable`: https://github.com/npm/npm/issues/11531

[2016-02-13 14:40] felixfbecker commented on #52
@SrTobi You need to specify depth because depth could be set through npm user config (I always set it to 0 to avoid the cluttered trees).

[2016-02-13 16:26] SrTobi commented on #52
ahh ok, didn't know about that. Then we should indeed set it to 9999.

[2016-02-15 09:48] Purus commented on #32
I am facing this issue in the recent build too which was downloaded today. I have setup the required proxy settings. Any fix planned or I am missing anything?

[2016-02-15 11:40] joaomoreno commented on #32
@Purus this issue is about the command line tool `vsce`. Are you talking about that or VS Code itself?

[2016-02-15 11:55] Purus commented on #32
Oh. This is about VS Code app in Windows.
On 15-Feb-2016 5:10 pm, "João Moreno" <notifications@github.com> wrote:

[2016-02-16 14:57] shanalikhan opened #63 "cannot find module graceful-readlink"
Hi,
When i try to make package for my extension by
```vsce package```
i get the following error
[code]

[2016-02-16 15:05] joaomoreno commented on #63
Please try reinstalling `vsce` and let me know if that solves the issue.

[2016-02-16 15:18] shanalikhan commented on #63
Thanks, solved

[2016-02-16 15:18] #63 closed

[2016-02-18 04:48] DavidAnson opened #64 "vsce@1.1.0 publishes incomplete, unusable packages in some cases"
`DavidAnson.vscode-markdownlint-0.4.0` was created with `vsce@1.1.0` (on Windows) and does not work in VS Code because dependencies of dependencies were not included in the VSIX.

Specifically, the following directories are missing:
* `DavidAnson.vscode-markdownlint-0.4.0/node_modules/opn/node_modules/pinkie-promise/node_modules/...`
* `DavidAnson.vscode-markdownlint-0.4.0/node_modules/markdownlin

[2016-02-19 17:53] MSLaguana commented on #64
We just ran into this same issue: we have a dependency on `getmac` which has a dependency on `extract-opts` which has a dependency on `typechecker`, and vsce was not including that transitive dependency on `typechecker` causing the extension to fail silently when we tried to package it.

[2016-02-19 20:04] SrTobi commented on #64
@DavidAnson I investigated a little bit and found out that `opn/node_modules/..` does not exist for me after `npm install`. Instead the modules are installed directly into the root node_modules. To further investigate, could you please provide the output of the following commands inside your extension root dir after a fresh `npm install`:

- `npm -v`
- `npm list`
- `npm list --production`
- `npm l

[2016-02-19 20:28] DavidAnson commented on #64
Sounds like you're using a version of NPM that auto-flattens (v3?). But note that even v3 will create nested hierarchies in many cases: https://docs.npmjs.com/how-npm-works/npm3

Here's the output you asked for:

[code]

[2016-02-19 21:07] SrTobi commented on #64
hmmm, yes, I use a newer version, but the auto flatten mechanism does not seem to be the problem, because all modules are listed correctly. `vsce` actually also uses the flag `--depth`. Maybe this is what causes the problem (that would actually make sense since, because `--depth` is, well, about the depth of the dependency tree. Could you try the last command one more time, but add `--depth`?

[2016-02-19 21:10] MSLaguana commented on #64
Adding in `--depth` seems to be the issue for me. Looking at the documentation, `--depth` seems to expect a parameter and that is the maximum depth to consider. If I specify `--depth 2` then it finds the missing dependency for me, but just `--depth` excludes it.

[2016-02-19 21:16] SrTobi commented on #64
ok, made an PR

[2016-02-19 23:33] DavidAnson commented on #64
Thank you! Could you also please update the tests to cover this scenario?

[2016-02-21 18:52] vivainio commented on #64
Noted the same bug when trying to push my extension. "npm ls --production --parseable --depth" stripped most of the dependency tree

[2016-02-22 00:37] SrTobi commented on #64
I added tests. But they do not work in newer npm versions (>3.7.0)

[2016-02-22 15:18] joaomoreno opened #66 "Pick up LICENSE from `LICENSE` or `LICENSE.md` file automatically"

[2016-02-23 01:20] chuckries opened #67 "nested .vscodeignore?"
For .gitignore, I can have a hierarchy rather that always adding to the root .gitignore. Through experimentation I have found that .vscodeignore does not behave this way. It would be awesome if it did.

[2016-02-24 13:51] amamut commented on #11
Adding a link to explain what this means as I googled this issue and landed here. No real explanation was given as how to enable this setting.

https://code.visualstudio.com/docs/tools/vscecli#_common-questions

[2016-02-24 14:13] joaomoreno commented on #11
Thanks, @amamut!

Ping @waderyan: we really need SEO on our docs.

[2016-02-24 15:09] waderyan commented on #11
@pjmeyer see above. Could use your help on improving SEO holistically for the site.

[2016-02-25 08:00] joaomoreno opened #68 "404 when publishing an extension"
_From @waderyan on February 24, 2016 16:52_

Copied from internal email.

I'm trying to publish a Visual Studio Code extension. I followed the [steps in the docs](https://code.visualstudio.com/docs/tools/vscecli) but, after running vsce publish, I get the following error:

`Error: Failed Request: Bad Request(400) - TF400898: An Internal Error Occurred. Activity Id: 587a31af-2cd4-40ae-bed1-acd5c037

[2016-02-25 08:00] joaomoreno commented on #68
_From @rid9 on February 24, 2016 23:8_

This is what I did:

1. Went to my account's home page, then to My Profile.

2. Under Security, I created a new Personal Access Token.

3. Used "vsce" as the description, set the expiration to 1 year, selected "All accessible accounts" from the Accounts dropdown, kept Authorized Scopes to "All scopes", then clicked "Create Token".

4. Used `vsce create-publi

[2016-02-25 08:00] joaomoreno commented on #68
_From @waderyan on February 24, 2016 23:51_

@joaomoreno can you take a look at this?

[2016-02-26 08:21] rid9 commented on #68
@joaomoreno, thanks for the idea of trying with a different extension (https://github.com/Microsoft/vscode/issues/3424#issuecomment-188663011). Indeed, it looks like I can publish the Hello World extension without issues, which led me to believe there must be something wrong with my extension's the package.

I found what the problem was. The name of the extension was "Date & Time" and the descript

[2016-02-26 09:34] joaomoreno commented on #68
Wow, awesome. Will review it soon, many thanks!

[2016-02-26 09:34] #68 closed

[2016-02-26 16:33] danschultewhpc opened #70 "Deleting a publisher doesn't hide Personal Access Token"
When I attempt to delete a publisher, I'm asked for my personal access token. When I put it in, it displays on the console in plain text, and then displays the stars on the next line. The stars should be displayed instead of my personal access token, not in addition to.

[2016-02-26 16:35] danschultewhpc commented on #70
![capture](https://cloud.githubusercontent.com/assets/17203620/13358370/d3170b7e-dc63-11e5-899f-115f7a0b4171.PNG)

[2016-02-29 08:42] #64 closed

[2016-02-29 08:43] joaomoreno commented on #64
Alright guys, we'll publish a new vsce version this week, please let us know if the issue is somehow not resolved for you.

[2016-02-29 10:11] #9 closed

[2016-02-29 10:11] #66 closed

[2016-02-29 10:12] joaomoreno commented on #9
Added the possibility for you to do this:

[code]

[2016-02-29 10:17] SrTobi commented on #9
:+1:

[2016-02-29 10:17] joaomoreno commented on #70
Seems to be npm/read#29

[2016-02-29 12:23] SrTobi opened #72 "Dependency listing does not work in npm@3.7.0-3.7.3"
As mentioned in https://github.com/Microsoft/vscode-vsce/issues/52#issuecomment-183629911 the inclusion of dependencies of dependencies does not work with some npm versions. I did some testing and found out, that it does not work with `3.7.0` - `3.7.3`. Since `3.7.4` it works again.

Maybe we should output a warning when using a npm version, that does not work.

[2016-02-29 14:37] #72 closed

[2016-02-29 16:58] gregvanl commented on #9
Entered doc issue https://github.com/Microsoft/vscode-docs/issues/197 to update vsce documentation.

[2016-03-01 10:33] a7medkamel opened #74 "Publish throws "Bad Request(400) - Specified part does not exist in the package.""
Can't publish my package
src: https://github.com/a7medkamel/taskmill-editor-code

vsce publish output:

Publishing a7medkamel.taskmill@0.0.1...
Error: Failed Request: Bad Request(400) - Specified part does not exist in the package.

[2016-03-01 11:21] waderyan commented on #74
Not sure if this is it, but try adding license field to your package.json

[2016-03-01 11:29] waderyan opened #75 "Error: Command failed: /bin/sh -c node ..."
Trying to publish. Running into this error.

➜ vsce publish
Executing prepublish script 'node ./node_modules/vscode/bin/compile'...
Error: Command failed: /bin/sh -c node ./node_modules/vscode/bin/compile

Has anyone seen this before? Any areas to check out? It builds / debugs fine.

[2016-03-01 11:30] waderyan commented on #75
Running the prepublish script gives me this.

node ./node_modules/vscode/bin/compile

error TS2318: Cannot find global type 'Array'.
error TS2318: Cannot find global type 'Boolean'.
error TS2318: Cannot find global type 'Function'.
error TS2318: Cannot find global type 'IArguments'.
error TS2318: Cannot find global type 'Number'.
error TS2318: Cannot find global type 'Object'.
error TS2318: Cannot

[2016-03-01 11:41] waderyan commented on #74
That wasn't it. I was able to reproduce the error with an extension I am working on. I added the license but am having no luck.

[2016-03-01 11:46] SrTobi opened #76 "Multiline sections in README.md are not rendered correctly in the marketplace"
Repoduce:
1. Update vsce, npm, yo, generator-code
2. Create new TypeScript Extension
3. Fill the readme.md with the following text:

[code]
1. Publish

Here is how it should be rendered according to markdown:
![source](https://cloud.githubusercontent.com/assets/4148534/13426012/1f3eb714-dfab-11e5-9acf-b3b7fa7aa1df.PNG)

Here is how it is actually rendered:
![marketplace](https://cloud.githubuserco

[2016-03-01 12:04] SrTobi commented on #74
I was able to publish your extension by accidentally using version `vsce@1.0.0`. So I investigated a little bit more and found out that it works with `vsce@1.0.x` and `vsce@1.1.x` and does not work since `vsce@1.2.0`. So it is definitely a vsce problem. By the way: I unpublished your extension afterwards :smile:

![taskmill](https://cloud.githubusercontent.com/assets/4148534/13426495/045f68a0-dfae

[2016-03-01 14:47] #74 closed

[2016-03-01 14:47] joaomoreno commented on #74
Hi @a7medkamel, I just publish a version that fixes your problem: `1.2.3`. Can you update to that? `npm install -g vsce`. Thanks.

[2016-03-01 23:21] a7medkamel commented on #74
Thanks / works!

[2016-03-02 23:18] Krzysztof-Cieslak opened #78 "Create link command"
Apm (similar tool for Atom editor) has `link` command which creates symlink between current folder and Atom packages folder - very useful feature for developers building editor plugins.
![image](https://cloud.githubusercontent.com/assets/5427083/13479140/4ccffbcc-e0d5-11e5-8103-d021778fce49.png)

We could implement same functionality, just for VSCode plugin folder. I should be able to PR it, if th

[2016-03-03 08:07] joaomoreno commented on #78
Interesting. cc @bpasero

We have many targets though, we would likely need an extra optional argument to it indicating which Code installation to use: Stable (default), Insiders, Alpha, OSS, OSS Built

[2016-03-03 08:08] joaomoreno commented on #78
@Krzysztof-Cieslak Why don't you submit that PR and I'll make sure it covers all bases as to all installation targets we have?

[2016-03-03 08:11] bpasero commented on #78
:+1:

The only thing that confuses me with link in npm usually is that you need a command to find out what kind of links you have so that you know how to clean up :)

[2016-03-06 18:55] stkb commented on #76
I came across the same issue, though didn't know where to report it, so did it in the uservoice: https://visualstudio.uservoice.com/forums/331878-visual-studio-marketplace/suggestions/12805320-markdown-rendering-of-readme-md-for-vscode-extensi

[2016-03-06 19:16] stkb opened #80 "Local publish command"
Kinda related to the link command (#78), though I'd like something slightly different: to be able copy an extension I'm currently working on into a vscode installation, but in its current state, rather than create a symlink, so I can tweak some more, switch branches etc. without affecting the installed version.

[2016-03-06 21:27] SrTobi commented on #80
You can pack the extension with [`vsce package`](https://code.visualstudio.com/docs/tools/vscecli#_packaging-extensions) and install this package using [`code myExtensionFolder\myExtension.vsix`](https://code.visualstudio.com/docs/extensions/install-extension#_install-a-packaged-extension-vsix)

[2016-03-06 22:16] stkb commented on #80
Hmm thanks, I guess that is pretty simple. But I'll leave this here in case it can be made any simpler :)

A problem I have noticed though, is that if you install an extension with a .vsix in this way, and then try to install a newer version (though without bumping the version number) vscode will fail to install the extension (not with an error message; it will just fail).

[2016-03-07 09:45] joaomoreno commented on #80
I'll close this as duplicate of #78. If you want to have a copy of it and tweak it, just duplicate the extension's repository directory in disk and link that one. That would cover it right?

[2016-03-07 09:45] #80 closed

[2016-03-08 21:11] pradeepna commented on #76
Hi SrTobi, Stkb - Thanks for reporting the issue. We have logged a defect to fix this. We are figuring out a way to let you track the status of the defect that we have logged in our internal system. Sorry for the delay and thanks for your patience.

Regards,
Pradeep

[2016-03-08 21:14] stkb commented on #76
@pradeepna thanks!

[2016-03-09 00:40] pradeepna commented on #76
Hi - I spent some time looking into this today. The Marketplace expects the publisher to use the Git Flavored Markdown to document content details:

https://www.visualstudio.com/en-us/integrate/extensions/develop/manifest

![image](https://cloud.githubusercontent.com/assets/17713256/13621345/ce9436d0-e54b-11e5-9ebe-02f8c86f38d0.png)

We do not want to change this default behavior now. I am thinkin

[2016-03-09 03:50] SrTobi commented on #76
But doesn't the Github flavored markdown  handle the line breaks in the same way, the normal markdown does? I mean on github.com the multiple lines are rendered as expected. Compare for example [this Readme ](https://github.com/SrTobi/code-bing/blob/master/README.md) with it's [raw version](https://raw.githubusercontent.com/SrTobi/code-bing/master/README.md).

[2016-03-09 06:46] stkb commented on #76
@pradeepna @SrTobi Indeed, this issue is precisely that the way the marketplace renders the markdown is contrary to "GitHub flavoured markdown", (and to the [common markdown spec](http://spec.commonmark.org/0.24/#paragraphs))

To illustrate more plainly, using SrTobi's example:
![43727b7a-dfab-11e5-94dd-75dcfbfc5dde](https://cloud.githubusercontent.com/assets/6125444/13627462/d3254b4c-e5ca-11e5-82

[2016-03-09 20:38] pradeepna commented on #76
@SrTobi, @stkb - GitHub does not use GFM (Git flavored markdown) for Readme.md. It uses it when you post some markdown in comments (like the one where I am typing). The documentation on Github is not clear about that though. I have sent a request to GitHub to know the definitive behavior of line break in GFM. I will post their response here.

There are some threads on this. Obviously we cannot tre

[2016-03-09 22:06] stkb commented on #76
@pradeepna Ah, now I see; thanks for explaining!

If the readme could render exactly as it does on GitHub then that would be very welcome, and if it has to be done with an option, then that's ok; but I think it will remain a point of confusion for some.

[2016-03-10 19:22] waderyan opened #81 "Print usage information for unpublish (and possibly others)"
When unpublishing I see this error.

`error: missing required argument 'publisher'`

I expect to see something more user friendly like this:

`usage: vsce unpublish [publisher] [extension-name]`

[2016-03-15 11:27] egamma opened #82 "Support the galleryFlags properties so that an extension can be marked as Preview"
The package.json should support the property galleryFlags in the package.json so that an extension can be defines as `Preview`

[code]

This should then be translated into extension.vsixmanifest as:

[code]

This results in the following rendering of the extension:

![image](https://cloud.githubusercontent.com/assets/172399/13776217/4d9ae796-eaa9-11e5-96f8-43395de5e3d4.png)

[2016-03-15 12:07] SrTobi commented on #82
:+1:

[2016-03-15 13:46] joaomoreno commented on #82
@egamma How about we keep it simpler and just parse whether you have a `preview` keyword (in the already existing `keywords` list) and map that to the gallery flags?

[2016-03-15 13:54] egamma commented on #82
@joaomoreno I like simplicity.

One drawback I can think of is that whenever the MarketPlace adds a new gallery flag, we have to change the vsce code to map keywords to gallery flags.

[2016-03-15 14:14] joaomoreno commented on #82
Should be OK, I don't expect them to have many flags on top of the already existing *keywords* and *categories*.

[2016-03-17 21:49] waderyan opened #83 "Populate Keywords dynamically"
Now that keywords (tags) search are part of the marketplace UX (see items details page on the right or type "tags:<some tag>" into the search bar), we need to help extension publishers get their keywords into the manifest file.

One idea is to scrape `activationEvents` and the `onLanguage` key. We could use the value (i.e. `python`) to dynamically add language specific keywords.

- [x] if we detec

[2016-03-18 11:41] #82 closed

[2016-03-18 11:43] joaomoreno commented on #82
Went instead with a `"preview"` boolean flag. So this can generate a preview extension:

[code]

I will also update the docs.

[2016-03-18 11:58] #81 closed

[2016-03-25 18:46] waderyan opened #84 "Limit keywords"
Limit the number of keywords / tags the user can specify to five.

// @seanmcbreen

[2016-04-03 19:10] felixfbecker opened #85 "Rewrite GitHub links to exact commit, not latest master"
I recently [added a new demo GIF to my debug adapter](https://github.com/felixfbecker/vscode-php-debug/commit/6374af2f24e464d7170eb1de7d920c0c76104301), without publishing a new release. I was surprised to see the new GIF already showing up in the [VS Code marketplace](https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-debug), even though it is still the old README. Then I looked

[2016-04-09 22:57] pagebrooks commented on #53
For future reference, I ran into this issue and it was because I had *.md in my .vscodeignore file. Just wanted to mention this if anyone else has the same problem.

[2016-04-14 09:10] #84 closed

[2016-04-14 09:20] joaomoreno commented on #83
@waderyan these shouldn't go toward the 5 limit, correct?

[2016-04-14 14:32] waderyan commented on #83
Yes. The user should have 5 of their own keywords and then we auto generate as many as we want.

[2016-04-14 15:00] joaomoreno commented on #83
Alright, what do you think about these:

- if we detect any themes, we tag it with `theme`
- if we detect any snippets, we tag it with `snippet`
- if we detect any `onLanguage` activation event, we tag it with `${ language }`

Think of any other?

[2016-04-14 17:13] waderyan commented on #83
That looks good to me :)

I'm going to work with the MP and see about getting something done for all the extensions already in the MP. I'm thinking we can run a quick script over the database and populate it.

[2016-04-15 10:46] #83 closed

[2016-04-28 16:55] pcgeek86 opened #86 "vsce keeps throwing "missing publisher name""
I'm trying to run `vsce publish` from an extension directory, and I just get "missing publisher name." I've already logged into vsce using a Personal Access Token (PAT) from Visual Studio Team Services (VSTS). The Publisher Name is defined in the `package.json` file.

![image](https://cloud.githubusercontent.com/assets/466713/14894204/c0d57f52-0d2f-11e6-8672-d8e5692bf86e.png)

Cheers,
**Trevor Sul

[2016-04-28 16:58] pcgeek86 commented on #86
Disregard -- I accidentally overwrote my `package.json` file with invalid contents.

[2016-04-28 16:58] #86 closed

[2016-05-02 14:49] stanislavromanov opened #87 "vsce package - Error: Command failed: node ./node_modules/vscode/bin/compile"
I'm trying to package the vsce on my build and cannot do it because of this error. It works fine on my local OSX machine. I tried to install `vscode` as global but it didn't change anything.

The simple error is `Error: Command failed: node ./node_modules/vscode/bin/compile`

This is what actually happens under the hood:
[code]

.gitlab-ci-yml
[code]

Here are the logs: https://gitlab.com/stanisla

[2016-05-02 16:27] joaomoreno commented on #87
Are your sources public in some repo? Can I take a look?

[2016-05-02 19:02] stanislavromanov commented on #87
@joaomoreno  Yea, of course. https://gitlab.com/stanislavromanov/vscode-icedcoffeescript-preview

[2016-05-03 15:48] joaomoreno commented on #87
@bpasero Any hints? Seems to be related to the `vscode` module.

[2016-05-03 16:03] bpasero commented on #87
@stanislavromanov your extension works fine for me when I run `npm run compile` from the command line after checking it out and running `npm install`. Are you saying it fails for you there already?

[2016-05-03 19:19] stanislavromanov commented on #87
@bpasero Yea it works fine on my local machine. However fails on the ci integration with fresh ubuntu install. I wonder if it's something related to the vsce that's why I also posted the build steps

[2016-05-11 15:16] spywhere opened #88 "Publish each version of extension separately"
\*\* This might not exactly related to the VSCE but this is the component that I think related to the marketplace most.

Upon https://github.com/Microsoft/vscode/issues/6289, I think VSCE need to publish the extension separately to the marketplace. As each version can be installed independently.

Moreover, marketplace (or any source that VSCode use to query extensions) should support the installat

[2016-05-11 23:13] dibyendumajumdar opened #89 "How to publish shell scripts"
Hi

For my VSCode Debug Adapter extension I need to deliver some shell scripts in the extension bin folder. How can I ensure that the execute permission on these scripts will be set so that the extension can be launched by VSCode?

Thanks and Regards

[2016-05-12 11:47] stanislavromanov commented on #87
Anyway I just registered runner on my own server so the builds now pass.

[2016-05-12 11:47] #87 closed

[2016-05-14 13:48] hoovercj opened #90 "Can no longer publish pre-packaged extension"
Commit  6027e49 broke the ability to publish an already packaged extension. In doing so, it also broke the ability to set `--baseImagesUrl` and `--baseContentUrl` (which was only available in `vsce package`) which I relied on for my publishing process.

[2016-05-18 20:53] web-dave opened #92 "cannot publish no request found."
Executing prepublish script 'node ./node_modules/vscode/bin/compile'...
Publishing web-dave.ng2-dg@0.0.2...
Error: Failed Request: Not Found(404) -

no hints. whats wrong? user is known, other Extensions work fine.

[2016-05-23 12:06] joaomoreno commented on #92
Are those sources the latest `master` branch in web-dave/ng2-dg?

[2016-05-23 12:30] joaomoreno commented on #92
I can reproduce. Let me forward this to the right people.

[2016-05-23 12:30] joaomoreno commented on #92
Never mind, I can reproduce.

[2016-05-23 12:32] joaomoreno commented on #92
@pradeepna We seem to be getting a 404 without any error message when publishing this extension... Any idea why?

You can reproduce by cloning https://github.com/web-dave/ng2-dg.git, modifying `package.json` by adding `typescript` to the list of dependencies and changing the publisher name to yours and trying to publish.

[2016-05-23 12:39] #90 closed

[2016-05-23 12:44] joaomoreno commented on #88
I don't understand what you ask of `vsce` here.

`vsce` will let you publish several versions of your extension. Each version of your extension has a fixed dependency restriction towards VS Code (eg `^1.0.0`).

[2016-05-23 12:48] #88 closed

[2016-05-23 12:59] joaomoreno commented on #89
I just validated that this works. I published a new extension with an executable file and installed it within the product: the file was still executable.

Since executable bits do not work in Windows, just make sure not to publish it from a Windows machine, but from a *nix one.

[2016-05-23 12:59] #89 closed

[2016-05-25 09:42] joaomoreno commented on #92
Just confirmed with the Marketplace people: extensions are limited to 20MB.

Is there any way you can reduce the dependencies of your extension? You can see how large the current package is by running `vsce package`, it will produce a `.vsix` file. You're currently hitting over 30MB.

[2016-05-25 09:42] #92 closed

[2016-05-27 06:36] web-dave commented on #92
THX for your help/hint

[2016-05-27 07:25] joaomoreno commented on #92
Also, the Marketplace team will work on providing an error message in that case.

[2016-05-31 18:42] waderyan opened #93 "Full parity on keywords with MP"
MP folks are running an implementation of this pseudocode on the INT database. Once we confirm the data looks good we'll run it on prod.

We will want to bring full parity with what happens on update for VSCE. The psuedocode is [here](https://github.com/Microsoft/vscode-marketplace/blob/master/tag-seeding-algorithm.js).

Couple things that have evolved since #83.
- if we detect `contributes.keybin

[2016-06-01 09:40] joaomoreno commented on #93
Closing as duplicate of #94.

[2016-06-01 09:40] #93 closed

[2016-06-02 15:05] rebornix commented on #12
Put my thoughts here and hope it help :)

Even though Bower is somewhat dead already, I do like how it does component referencing in old days. When you try to install bower packages, it will save the package in `bower_components` and inject the main js file of the newly added component to your `index.html`. Meanwhile you can specific a mapping for the bower components like below

[code]

This way

[2016-06-13 08:15] chrismagri commented on #29
are there any updates to this please?

[2016-06-13 08:24] joaomoreno commented on #29
Yeah, let's tackled this soon.

[2016-06-14 15:57] joaomoreno opened #95 "Implement update notification"
Similar to yeoman

[2016-06-15 15:03] joaomoreno commented on #95
cc @waderyan @seanmcbreen @egamma @chrisdias

Fixed in 8b7e796e2726e4e9f481bbbb7ac0e1c2963d2ff5 and released in 1.6.0

[2016-06-15 15:03] #95 closed

[2016-06-19 13:37] skolmer opened #97 "Support relative image paths in README.md"
If I have an image in my repository like `images/imageA.jpg` and create a relative reference in my README.md like `![My Image](images/imageA.jpg)` the path is resolved to `https://github.com/[repo ]/blob/master/images/imageA.jpg` but should be `https://raw.githubusercontent.com/[repo]/master/images/imageA.jpg`.
Related to #85

[2016-06-20 06:52] joaomoreno commented on #97
Wanna try submitting a PR on this? 👍

[2016-06-20 09:44] skolmer commented on #97
I have checked the code and tested it with my own readme. Relative image paths are working in general. In my case I have linked images that are failing. `[![Image](/image/test.jpg)](http://someurl)` is resolved to `[![Image](https://github.com/username/repository/raw/master/image/test.jpg)](http:/shouldnottouchthis/)`
I will create a PR later this week to resolve the issue

[2016-06-20 10:44] skolmer commented on #97
This was easier to solve than I thought. Here you go #98

[2016-06-20 11:19] skolmer opened #99 "Do not allow http images in README.md"
For security reasons vsce should not import http images to the marketplace (or replace http image urls with https?)
![screen](https://cloud.githubusercontent.com/assets/2427106/16192425/7e347ade-36e9-11e6-82c6-2ae01c71cb5b.jpg)

[2016-06-21 07:57] joaomoreno opened #100 "Install Extension fails: does not properly install node_modules into extension folder"
_From @celador on June 20, 2016 18:13_

- VSCode Version:
1.3.0
- OS Version:
Mac OS 10.11.5

Steps to Reproduce:

1. Install extension ForceCode
2. Open in Visual Studio Code - Insiders Build v. 1.3.0 while not debugging.
3. Attempt to activate extension with compile
4. Get the error 'No handler found for the command ...' An extension might be missing an activation event.

Notes:  Extension works

[2016-06-21 07:57] joaomoreno commented on #100
_From @celador on June 20, 2016 18:56_

Looking through the Developer Tools with the extension open, I'm getting lots of "Cannot find module ..." errors.

I am using node 6.2.1 and npm 3.9.3.

I've since switched to node 4.45 and npm 2.15.6 with the same results.

[2016-06-21 07:57] joaomoreno commented on #100
_From @celador on June 20, 2016 19:6_

@alexandrudima  Which versions of NPM and Node are recommended to be used for development?  It seems that I have the correct Node modules in my development node_modules folder, but they are not showing up when looking at the out directory of my extension

[2016-06-21 07:57] joaomoreno commented on #100
_From @celador on June 20, 2016 19:9_

@alexandrudima I opened up the extension and ran `npm install` in the extension folder, and the extension works properly now.

[2016-06-21 07:57] joaomoreno commented on #100
_From @rebornix on June 21, 2016 0:32_

Here is the thing, currently vscode will not do anything after the extension bits are uploaded to the marketplace or after installing the extension to local disk, so when you publish the extension and the node_modules you referenced in the code are not included in the extension bits, they will not show in users' machine.

A proper solution is use `.vscodeign

[2016-06-21 07:57] joaomoreno commented on #100
_From @celador on June 21, 2016 2:28_

@rebornix I had a .vscodeignore file  I copied the one you linked and removed a few lines from mine, then tried to publish again, but with the same results.  The package works on one machine, but not the other.  I don't understand why some packages would install, but not others, but then when I run `npm install` in the extension folder, it installs all the pa

[2016-06-21 07:57] joaomoreno commented on #100
_From @rebornix on June 21, 2016 3:14_

Repro on my machine, only part of the npm packages are downloaded, seems not all dependencies are included into the final extension vsix. @joaomoreno any ideas?

[2016-06-21 08:19] joaomoreno commented on #100
@celador: I cloned the ForceCode repository, ran `npm install` and ended up with 800MB of files inside `node_modules`. This is **way** too much; extensions are currently limited to 20MB.

If you need more than that, you are free to code that up in your extension's activation event.

[2016-06-21 08:20] #100 closed

[2016-06-21 16:18] celador commented on #100
@joaomoreno When I run `npm install` on my folder I only get ~70mb.. still over the limit, but not 40x over the limit... regardless... Is the only solution to reduce my dependencies?  If I include the non-installing dependencies manually in the package.json, then they do get packaged and installed.  Also, the packaged vsix file is only 8mb

[2016-06-21 16:24] joaomoreno commented on #100
@celador Actually 8MB will work. I definitely got 800MB in my `node_modules` folder which even caused `vsce` to explode, thus never even creating the package.

[2016-06-21 16:26] celador commented on #100
@joaomoreno Which versions of npm are you using? I'm currently using 2.15.6

[2016-06-22 05:58] joaomoreno commented on #100
3.8.3

[2016-06-23 17:03] Sequoia opened #101 "What is a "publisher"?"
[code]

??? What am I supposed to enter for "publisher"? I'm here spelunking the code cuz I can't figure it out. I've tried my VS org name & my name. 😦

[2016-06-23 17:05] Sequoia commented on #101
[These docs](https://github.com/Microsoft/vscode-docs/blob/master/docs/tools/vscecli.md) should specify what is meant by "publisher", preferably continuing with the example and entering an appropriate name for Jaoa

[2016-06-23 17:10] Sequoia commented on #11
I'm struggling with this now, can't figure out what I'm supposed to enter as publisher for `create-publisher` and the docs all link in a circle 😦

[2016-06-23 17:16] joaomoreno commented on #11
Hi @Sequoia, sorry to read that! Could you get a hold of a [Personal Access Token](https://code.visualstudio.com/docs/tools/vscecli)? Once you do, you can call `vsce create-publisher publishername` to create it. Do you see any errors?

[2016-06-23 17:18] Sequoia commented on #11
@joaomoreno Yes I have one, what i don't know is what to enter for `publishername`. Is it my "Team" name? An arbitrary string? I just keep getting 401 with no additional info.

[2016-06-23 17:20] Sequoia commented on #11
Here's my "team" URL: https://34ks.visualstudio.com/

[2016-06-23 17:20] joaomoreno commented on #101
Ok, let's discuss it here. A publisher is the name of the identity you want to publish extensions with. It needs to be unique, no one else should have it. `vsce create-publisher PUBLISHERNAME` will let you create a new one, so you should come up with a brand new. Can you try lowercase `sequoia`?

[2016-06-23 17:24] Sequoia commented on #101
[code]

[2016-06-23 17:33] Sequoia commented on #101
Is there any other way to do this? to "create a publisher"? Honestly I'm not even clear what a "publisher" is. Is it me/my MSFT account? is it my team? If it's neither of those I wonder why one of those can't be used. Anyway thanks for your help I hope I can figure this out eventually & get my plugin up.

[2016-06-23 17:36] Sequoia commented on #101
OK I created a new token & took care to set the "accessible accounts" as described [here](https://code.visualstudio.com/docs/tools/vscecli#_common-questions). I still have absolutely no clue what that setting means or what a publisher is, but the Magical Incantation seemed to work! :)

[2016-06-23 17:36] #101 closed

[2016-07-01 18:49] skolmer opened #102 "Pushing a new readme to marketplace without updating extension"
I want to add some more details to the readme of my extension, do I have to push a new version or is there a command that just updates the marketplace details?

[2016-07-02 18:28] stkb commented on #102
As far as I know you have to push a new version. As the author of an extension that has had several .0.1 updates just to fix the readme, I would have appreciated such a feature too :)

[2016-07-04 09:28] joaomoreno commented on #102
Yeah, pushing a new version is the way to go.

[2016-07-04 09:28] #102 closed

[2016-07-08 21:02] chrisdias opened #103 "Error: EPERM: operation not permitted, open 'c:\users\chris\.vsce'"
trying to publish the jscs extension (https://github.com/microsoft/vscode-jscs)

[code]

There is no .vsce file or folder in my home directory (c:\users\chris).

[2016-07-09 18:57] dfinke opened #104 "Command failed Executing prepublish"
I published this extension a while ago. https://marketplace.visualstudio.com/items?itemName=DougFinke.vscode-pandoc

I've made some updates and am having this issue packaging and publishing.

Any help is appreciated, thank you.

[code]

Here is my package.json
https://github.com/dfinke/vscode-pandoc/blob/master/package.json

[2016-07-10 16:14] pflannery opened #105 "vsce publish = Failed Request: Not Found(404)"
When trying to publish an update for https://github.com/vscode-contrib/vscode-versionlens
I see the following error

[code]

[2016-07-11 07:24] joaomoreno commented on #103
Do you get it consistently? Even after a machine restart?

[2016-07-11 07:25] joaomoreno commented on #104
What do you get when running `node ./node_modules/vscode/bin/compile`?

[2016-07-11 07:31] joaomoreno commented on #105
Cool extension!

I couldn't reproduce... I was also able to successfully publish it under my own publisher.

Do you have vsce's latest version (1.7.0)?

[2016-07-11 13:23] pflannery commented on #105
Yes was using 1.7.0.

Will try again when I get home tonight.

[2016-07-11 17:42] chrisdias commented on #103
Worked on OSX... will test again on Windows.

[2016-07-11 17:55] chrisdias commented on #103
I had a super old version of `vsce` on my system (0.8.1) that i had to manually delete.  I installed the latest and I can now publish on both Windows and OSX.

[2016-07-11 17:55] #103 closed

[2016-07-11 18:25] chrisdias commented on #103
Initially I thought c:\users\chris\.vsce didn't exist, but it turns out it did, it was hidden. Not sure why this was but when I change the attribute publishing started to work.  Weird, but that was the issue.

[2016-07-11 19:28] dfinke commented on #104
Same error. I also removed node_modules and did an npm install

[2016-07-11 19:57] pflannery commented on #105
@joaomoreno
I found the problem. When I try to upload the vsix via the website I was told the package is too big (currently 52mb).
Seems related to this https://github.com/Microsoft/vscode-vsce/issues/92

After playing around I discovered that I had to add `.vscode-test/**` folder to the [.vscodeignore](https://github.com/vscode-contrib/vscode-versionlens/blob/master/.vscodeignore) file which redu

[2016-07-11 19:57] #105 closed

[2016-07-12 05:38] celador commented on #100
@joaomoreno The ultimate problem I had was that my vsce was out of date.  It missed one package (sequin) when installing, but I was able to add that manually easily enough.  So, while not perfect.. good enough..

But for future reference for anyone else having problems with node_modules not loading nested dependencies... Make sure your vsce executable is up to date with `npm install vsce -g`

[2016-07-12 07:22] joaomoreno commented on #100
Thanks for the update @celador. The latest `vsce` release has update notifications to prevent this from happening in the future. 👍

[2016-07-12 07:23] joaomoreno commented on #105
Thanks for letting us know!

[2016-07-12 07:23] joaomoreno commented on #104
Any output from `node ./node_modules/vscode/bin/compile` that will lead us to finding out what the problem is?

[2016-07-13 08:29] gauravdeshmukh opened #106 "Error/warning on providing invalid category in package.json"
When I create package using 'vsce package' command, the tool should give me error/warning if I have provided invalid category in pacakge.json. This will avoid error while uploading the extension to marketplace.

[2016-07-18 08:36] joaomoreno opened #107 "Fail to update extension"
_From @Lonefy on July 18, 2016 8:14_

- OS Version: win 10
- vsce Version:1.7.0

When i run `vsce publish`,  it suggest `Successfully published`.However, the extension version is not updated correctly, but the `last update time` is right.

_Copied from original issue: Microsoft/vscode#9431_

[2016-07-18 08:36] joaomoreno commented on #107
What do you mean with the `last update time`? Can you show me a screenshot?

[2016-07-18 08:36] joaomoreno commented on #107
_From @Lonefy on July 18, 2016 8:35_

@joaomoreno
screenshot
![image](https://cloud.githubusercontent.com/assets/7921431/16909471/86b33cfe-4d05-11e6-8fb0-b2c1b1549077.png)

[2016-07-18 08:37] joaomoreno commented on #107
cc @hamenon @modigrv

[2016-07-18 08:49] hamenon commented on #107
@joaomoreno is the version information updated in the json? We pick up the version information directly from there as far as I know. We don't enforce that the version has to be different during the publish.

[2016-07-18 09:06] Lonefy commented on #107
I've updated the vsersion to 0.1.5 in `package.json`
screenshoot
![tt](https://cloud.githubusercontent.com/assets/7921431/16910169/c757d702-4d09-11e6-8d2e-89616756b7c4.jpg)

[2016-07-18 11:56] hamenon commented on #107
@Lonefy Could you let us know what the latest version number was that you tried to update to? Is it 0.1.32? I'll have someone look it up on our end.

[2016-07-18 12:13] Lonefy commented on #107
@hamenon i think I've got your point.i tried to update it to 0.1.5 which seems to be a lower version num than 0.1.31.

[2016-07-18 12:14] joaomoreno commented on #107
So, using a number _greater_ than 0.1.31 works?

[2016-07-19 02:33] Lonefy commented on #107
@joaomoreno yeah, it works. Sorry for this simple issue. :)

[2016-07-19 03:56] hamenon commented on #107
@Lonefy @joaomoreno Glad to hear it's working. Just an FYI though, the number doesn't necessarily have to be _greater_ it's just that it has to be _unique_. In this case it looks like a version with number 0.1.5 already existed. Though it is always better to increment version number as it's easier to keep track.

[2016-07-19 05:07] hamenon commented on #107
Sorry quick update, seems we did add a check recently to disallow moving to a lower version number recently. So updating to a _greater_ version number is required.

[2016-07-19 07:50] #107 closed

[2016-07-19 08:32] hamenon opened #108 "Support for displaying project information on Marketplace"
We've added support for displaying GitHub project details and Badges on the item details page on the marketplace. But for the page to display the details we need changes to the way the tool packages the vsixmanifest. The new experience is as follows

![github-proj](https://cloud.githubusercontent.com/assets/13758921/16943265/7bc7ce6e-4db8-11e6-89d2-9eb78e6a3dcc.png)

Following are the changes requ

[2016-07-19 09:06] joaomoreno commented on #108
This is really cool. I can start up a PR and let you review it, what do you say?

I assume that when you say

you meant _if the repository is hosted on github_.

PS: Did I just see Notepad++ in your screenshot? 😲

[2016-07-19 10:35] hamenon commented on #108
That sounds great! Yup I meant if  the repository is hosted on github.

PS: That screenshot was sent to me by someone in the team. Don't worry I'm in the process of converting him :smiley:

[2016-07-19 14:36] #97 closed

[2016-07-20 17:47] waderyan opened #110 "Simple publishing not working"
**Versions**
vsce version - 1.7.0 (latest)
node version - 4.1.2
OS - OS X 10.11.2

**What I am seeing**
[code]

**What I have tried**
- uninstalled and reinstalled vsce
- logged out and logged back in
- logged out, revoked PAT and created a new one, and logged back in with new PAT

[2016-07-20 20:21] joaomoreno commented on #110
@waderyan Odd.

What's the output of `node ./node_modules/vscode/bin/compile`?

[2016-07-20 20:25] joaomoreno commented on #110
Possible duplicate of #104, in which the user has failed to provide more info.

[2016-07-20 20:34] waderyan commented on #110
Looks like I had a syntax error (shame).

[code]

Fixed the error and was able to publish!

[2016-07-20 20:34] #110 closed

[2016-07-20 20:36] waderyan opened #111 "Show output of /vscode/bin/compile"
I ran into an issue #110 when publishing.

I recommend we show the error as outputted by `/bin/compile` for `vsce publish`.

[2016-07-21 06:22] joaomoreno commented on #111
Absolutely!

[2016-07-21 06:23] joaomoreno commented on #104
Closing as duplicate of #111

[2016-07-21 06:23] #104 closed

[2016-07-21 06:23] joaomoreno commented on #104
@dfinke Make sure to run `node ./node_modules/vscode/bin/compile` to figure out whether you have any compile errors in your project.

[2016-07-21 07:49] #111 closed

[2016-07-22 10:20] #108 closed

[2016-07-22 17:08] jsloyer opened #112 "Excluding folders when running the package command"
When running the package command a directory called `.vscode-test` is getting included in the package, is there a way to exclude it?

[2016-07-22 20:26] joaomoreno commented on #112
https://github.com/Microsoft/vscode-docs/blob/master/docs/tools/vscecli.md#vscodeignore

[2016-07-22 20:26] #112 closed

[2016-07-24 21:32] npruehs commented on #11
Same here.

OS Version: Windows 10 Home 10.0.10538

VS Team Services Access Token Details:

![vsteamservices](https://cloud.githubusercontent.com/assets/757321/17086598/cc988832-51f6-11e6-82a6-6e3257626fa4.png)

Output:

[code]

[2016-07-25 07:18] joaomoreno commented on #11
@npruehs This issue is closed.

Are you sure you created your PAT for **all** accessible accounts?

[2016-07-25 13:11] Sequoia commented on #11
@joaomoreno this bug should be migrated to the VSCode Extension *platform/server* repo; this is a UI bug in the server's response.

## Expected
`401 Unauthorized. If you are receiving this response on your own account, see faq.vscode.biz/#vsce-unauthorized`

User is given some instruction on how to remedy this 👉🏼*common*👈🏼 issue with the peculiarities of the MSFT/VS permissions system that are fre

[2016-07-25 13:14] Sequoia commented on #11
Or perhaps the help message should come from `vsce` upon 401? Either way, the user should be given *some* sort of guidance to help them handle this issue, which is a roadblock in particular for new users.

[2016-07-25 13:28] #11 closed

[2016-07-25 13:29] joaomoreno commented on #11
Agreed. Pushed a commit which guides users towards fixing this specific problem.

[2016-07-25 20:21] npruehs commented on #11
Worked like a charm. Thanks all!

[2016-07-26 16:57] Sequoia commented on #11
👏🏼👏🏼👏🏼👍🏼 thanks!!

[2016-07-28 01:37] seanmcbreen opened #113 "Disallow publishing with vanila readme"
I would like to do a pre-publish check to ensure that the readme has been customized by the user (and is also not empty).  We could look for a common string in the readme (a watermark of sorts that yo code generated) and if it still exists motivate the user to update it.

If they have not we could forward them to the guidance here:
https://code.visualstudio.com/docs/extensionAPI/extension-manifest

[2016-07-28 05:52] joaomoreno commented on #113
I'd make it a warning instead of an error.

[2016-07-28 13:57] waderyan commented on #113
@joaomoreno are you thinking warning over error because an error would be too invasive?

Error pros
- Makes it so we don't have stock READMEs in the marketplace (Sean's [example](https://marketplace.visualstudio.com/items?itemName=gerred.theme-plain) above).

Error cons
- If someone really wants to make it a plain README, can we really stop them? Meaning the checks would have to be somewhat comple

[2016-08-02 20:24] rtorr opened #114 "Error: Failed Request: Internal Server Error(500) - The supplied tag '' is not a valid tag. It must not be empty or start with a special character (!,@,#,$,%,^,&,*)."
I am seeing this error when trying to publish following the docs and using ` vsce publish 272.0.0`. Am I missing something? I see no mention of tags.

[2016-08-03 05:39] joaomoreno commented on #114
Can you show me the contents of your `package.json`?

[2016-08-03 05:39] joaomoreno commented on #114
Oh, found it: https://github.com/rtorr/vscode-flow

[2016-08-03 09:27] #114 closed

[2016-08-03 09:28] joaomoreno commented on #114
Great catch, fix published with `vsce@1.8.1`.

[2016-08-04 18:50] rtorr commented on #114
It worked, thanks!

[2016-08-04 23:52] gregvanl opened #115 "Warning if repository field not specified in package.json"
If a repository URL is not specified, extension README image paths are silently converted to empty string on the Marketplace (see https://github.com/Microsoft/vscode-docs/issues/487).
We should warn the user if they don't have a repository field set.

[2016-08-05 07:07] joaomoreno commented on #115
We should warn only if there are links/images within the README itself.

[2016-08-14 20:49] cloudRoutine opened #116 "Cannot publish extensions while an added owner of publisher"
I can login as the publisher, but when I try to publish it fails. I can access the publisher management page, although it doesn't come up in my dropdown menu to switch between publishers. I was added at the owner level so it seems like something is broken here.

![](http://i.imgur.com/qvkTRQ3.png)

I also tried uploading from the management page but that failed too

![](http://i.imgur.com/7Wz2mgc.

[2016-08-16 08:53] gaurav42 opened #117 "Adding new JSON property"
On Marketplace site, item details markdown file in VSIX is rendered using GitHub flavored markdown. This can lead to some confusion as its different from GitHub’s rendering. As detailed in the following issue
https://github.com/Microsoft/vscode-vsce/issues/76

We are now adding support of publishers to specify not to use GitHub flavored rendering. As part of VSIX manifest of VS Code extension, a n

[2016-08-18 14:10] kumarharsh commented on #85
@joaomoreno would change [these lines](https://github.com/Microsoft/vscode-vsce/blob/10ca06c4329bbe5e35163fc80df8455bc2b62391/src/package.ts#L311) to have current commit sha be enough to fix the links?

[2016-08-18 14:38] joaomoreno commented on #85
I guess it would yes!

[2016-08-22 05:59] joaomoreno commented on #116
@cloudRoutine Ping on email.

[2016-08-22 06:03] cloudRoutine commented on #116
Sorry I haven't gotten a chance to publish a release yet. The other
maintainer forgot to wait and let me try again and did the latest one
earlier today. I'm waiting on a PR to come in a couple of hours, I'll give
it a shot after I've merged that.

On Mon, Aug 22, 2016 at 1:59 AM, João Moreno <notifications@github.com>
wrote:

[2016-08-22 10:24] stkb opened #118 "Readme.md: links to other sections in same page are lost in generated html"
Given markdown:

[code]

Expected generated html (like on github)

[code]

Actual generated html on the marketplace (hash part is lost)

[code]

If the link is to another page however, then the hash part _is_ preserved

[2016-08-22 10:38] joaomoreno commented on #118
cc @pradeepna

[2016-08-22 10:39] joaomoreno commented on #118
Confirmed in https://marketplace.visualstudio.com/items?itemName=lukehoban.Go, just inspect the link for `Tools` in the `Using` section.

[2016-08-29 22:42] dustinsanders opened #119 "Create git tag when using major, minor, or patch with publish"
It would be nice if a git tag was created when you publish an extension, similar to how npm handles versioning.

[2016-08-30 06:50] joaomoreno commented on #119
Wanna try submitting a PR?

[2016-08-30 09:20] joaomoreno opened #120 "images with relative paths in extension's README.md aren't shown in the extension manager"
_From @nadako on August 29, 2016 21:20_

- VSCode Version: 1.4.0
- OS Version: Windows 10

Steps to Reproduce:

1. Have an extension which has a README with images with relative path, e.g. https://raw.githubusercontent.com/vshaxe/vshaxe/master/README.md
2. Open extension manager, click on that extension - images aren't shown:

![](http://i.imgur.com/iqmry3h.png)

Note that those images are shown i

[2016-08-30 09:24] joaomoreno commented on #120
@nadako I can't reproduce this on latest. Can you update to the latest `vsce`? `npm install -g vsce`

[2016-08-30 09:46] nadako commented on #120
Actually, I just checked - images are shown in the UI when installing (or already installed) a package from the marketplace, but they aren't shown if your extension is in development mode (i.e. simply cloned into `.vscode/extensions`). This is inconvenient if you want to check how it'll look in the extension manager before packaging.

[2016-08-30 12:33] joaomoreno commented on #120
Oh OK! That is something else, I can take a look at that.

[2016-08-30 12:34] #120 closed

[2016-08-30 12:34] joaomoreno commented on #120
Let's handle it in Microsoft/vscode#11136 then

[2016-08-30 23:07] dustinsanders commented on #119
Will do

[2016-08-31 15:29] waderyan opened #121 "Tag themes with icon-theme or color-theme"
We want to be able to differentiate in our queries between icon-themes and color-themes only. Themes can be both, so they should be tagged with both.

[2016-08-31 15:44] joaomoreno commented on #121
What are the exact tag names?

[2016-08-31 15:46] waderyan commented on #121
`icon-theme` and `color-theme` seem good to me.

We could possibly drop the `-theme` but `color` doesn't seem good.

[2016-08-31 15:58] joaomoreno commented on #121
But all the current themes lack the `color-theme` tag. Are we going to go through them all in the Marketplace as before?

[2016-08-31 16:01] waderyan commented on #121
That seemed to be @aeschli's suggestion. However, we don't to tag `color-theme`. We could simply add `icon` to the themes with icons and leave the rest of the themes as is.

I believe the logic is simple.

1. Is it a color only theme? Query by category:theme with no icon tag.
2. Is it icons? Query for category:theme with icon tag

[2016-08-31 16:02] joaomoreno commented on #121
Then the problem becomes how to query only the color themes? There doesn't seem to be a negation on the tags to be able to query on all themes without the tag `icon`.

[2016-08-31 16:04] waderyan commented on #121
ping @hamenon see above. Is it possible with the api to query a negation on the tags?

[2016-09-01 08:25] hamenon commented on #121
There is no negation option, but we do have an exact match option. So if you search for the following

- tag:"color theme" : It'll show you only extensions that have the exact tag color theme
- tag:"icon theme": It'll show only extensions that have the exact tag icon theme

I would suggest keeping things simple and just searching based on tag (and not mixing in the category) since it gives you the

[2016-09-01 08:46] joaomoreno commented on #121
The problem is that all the current themes in the marketplace don't have such a tag.

[2016-09-01 15:56] hamenon commented on #121
We can possibly re-run the tag seeding job like we had earlier for the existing extensions. I don't believe that covered themes, @waderyan can correct me here if I'm wrong.

[2016-09-01 16:26] waderyan commented on #121
@joaomoreno is there an indication in the manifest file that a particular extension is an icon theme? I looked on [vnext](https://vscode-vnext.azurewebsites.net/docs/extensionAPI/extension-manifest) but couldn't see anything in the docs. We will need something to indicate that the theme has icons.

Once we know that we could run an algorithm on all existing extensions and tag them

1. Colorization

[2016-09-01 16:30] waderyan commented on #121
Ping @seanmcbreen see above if you'd like to weigh in.

[2016-09-02 06:53] joaomoreno commented on #121
cc @aeschli

AFAIK this is how we distinguish an icon theme from otherwise:

[code]

👍  on the proposal; I can make the changes in `vsce` today.

[2016-09-02 14:17] joaomoreno opened #122 "Increase the recent folder list capacity"
It's OK to only show 10 in the `File > Open Recent` menu, but we should't limit ourselves to only 10 recent folders when going through with <kbd>Ctrl R</kbd>.

[2016-09-02 14:41] bpasero commented on #122
This issue was moved to Microsoft/vscode#11460

[2016-09-02 14:41] #122 closed

[2016-09-07 15:30] #121 closed

[2016-09-07 15:30] joaomoreno commented on #121
Released in 1.9.0.

[2016-09-13 06:04] joaomoreno commented on #118
ping @modigrv @pradeepna

[2016-09-13 09:19] joaomoreno opened #123 "Add vscode engine as a version property"
Related to Microsoft/vscode#11573

[2016-09-13 09:25] #123 closed

[2016-09-13 09:36] joaomoreno commented on #116
ping

[2016-09-13 09:44] #115 closed

[2016-09-13 09:44] #117 closed

[2016-09-13 10:19] joaomoreno commented on #113
Went with the error and the rule

[code]

[2016-09-13 10:19] #113 closed

[2016-09-13 13:44] joaomoreno commented on #85
@felixfbecker This is shaky ground. It would involve not allowing users to run `vsce publish` if their repository has anything dirty, since vsce wouldn't be able to know which would be the commit ID of the current changes.

[2016-09-13 13:56] felixfbecker commented on #85
Correct. That is btw the way `npm version` behaves too. You cannot run it when your working directory is dirty.

[2016-09-13 14:52] joaomoreno commented on #85
Let's do it then!

[2016-09-14 14:15] joaomoreno opened #124 "Add extension dependencies as a version property"
Related to Microsoft/vscode#11937

[2016-09-14 14:15] #124 closed

[2016-09-15 04:01] gegana opened #125 "Needs to support 'force-aligned'"
https://github.com/beautify-web/js-beautify/pull/1015/commits/b58562b756d0d6941800bc10571166f8e66749ec

This formatting should be the default standard imo. Reading attributes vertically is better than reading attributes horizontally.

[2016-09-15 04:03] #125 closed

[2016-09-15 08:10] joaomoreno opened #126 "Create a new asset type for the Changelog file"
Similar to the Details asset type

[2016-09-15 08:49] joaomoreno commented on #126
@XVincentX you can also contribute to getting this done.

Check out how VSCE maps README.md into the Details asset type. We gotta make the same for the CHANGELOG.md.

[2016-09-15 08:50] XVincentX commented on #126
@joaomoreno Cool - I'll have a look later on. Stay tuned!

[2016-09-15 10:46] XVincentX commented on #126
@joaomoreno
From a quick view I'd say that [this](https://github.com/Microsoft/vscode-vsce/blob/9871b82a4237db00f0ba8abf3d094ee259ec283e/src/package.ts#L249) is our guy to modify; probably on the same way I did in the previous PR - that is - generalise it as a `Markdown` processor and probably provide a property where you could set the regexp to find the files.

Does that make sense for you?

[2016-09-15 11:07] XVincentX opened #127 "Upgrade libraries!"
Different libraries over here had several upgrades; I think it would be worth try to give a round of updates especially for major version (see lodash and mocha)

[2016-09-15 11:53] joaomoreno commented on #126
Spot on. 👍

[2016-09-15 15:13] riteshatsencha opened #128 "Package properties file(s) & executables"
Hi,

Is it possible to package properties file(s) & executable(s) with the extension? We have an extension that uses properties file and spins up an executable to do few things within an extension. Need to know how to package these files using VSCE.

Is it even possible?

Thank you,

Ritesh

[2016-09-15 16:17] joaomoreno commented on #128
`vsce ls` lists all the files that will be packaged. Don't those files show up?

[2016-09-16 21:35] riteshatsencha commented on #128
Executing ``` vsce ls ``` I run into error below.
[code]
Also, when packaging using ``` vsce ``` these files are not packaged with the extension.

[2016-09-17 14:06] XVincentX commented on #127
Note: I tried to update it by myself and so far the only breaking change would be `lodash 4`
All the other deps (included the dev ones) work correctly.

[2016-09-19 08:54] joaomoreno commented on #128
Can you update to the latest `vsce`? `npm install -g vsce`. The latest will print out the error message that your compile script returns.

[2016-09-19 08:54] #128 closed

[2016-09-19 10:46] joaomoreno commented on #127
Done.

[2016-09-19 10:46] #127 closed

[2016-09-19 10:56] XVincentX commented on #127
Cool...I made the same thing but I was not able to get tests passing...still I made the same changes in the code for lodash... 😱

[2016-09-19 13:36] riteshatsencha commented on #128
I have the latest version installed. (1.12.0). Running ```vsce ls``` returns the same error as above.

[2016-09-19 13:45] joaomoreno commented on #128
What does `node ./node_modules/vscode/bin/compile` return?

[2016-09-20 15:05] riteshatsencha commented on #128
[code]

[2016-09-20 18:23] gabelevi opened #130 "vsce should add node_modules executables to path"
In my package.json, I have something like

[code]

And in `compile.sh` I have something like

[code]

`npm run compile` will use `node_modules/.bin/babel`. `vsce package` will use `/usr/local/bin/babel`.

I think you should run the `vscode:prepublish` script with the same environment that you run other scripts.

This caused me trouble recently, since running an extension via the debugger used one

[2016-09-20 21:14] joaomoreno commented on #128
Yeah!

[2016-09-22 09:27] #126 closed

[2016-09-22 09:27] joaomoreno commented on #126
Thanks @XVincentX !

[2016-09-22 13:03] joaomoreno opened #131 "Support package.json localization"
cc @weinand

[2016-09-22 13:06] joaomoreno opened #132 "Changelog should be set as its own asset type"
`Microsoft.VisualStudio.Services.Content.Changelog`

[2016-09-22 13:09] XVincentX commented on #132
That should be fairly easy.

[2016-09-22 13:09] XVincentX commented on #132
Also - @joaomoreno I can see you changed some of my code after PR was merged.
I would have appreciated comments on my PR and iterate - don't be afraid to tell me that the thing is wrong.

[2016-09-22 13:24] joaomoreno commented on #132
I'm not, I just don't think it was important to note. Your code was flawless. 👍  If I change on top of it it's just pure personal preference.

[2016-09-22 13:27] #29 closed, assigned to joaomoreno

[2016-09-22 14:34] #131 closed

[2016-09-22 14:35] joaomoreno commented on #131
cc @weinand

[2016-09-28 21:04] joaomoreno opened #134 "vsce should not publish with duplicates in extensionDependencies"
@Tyriar

- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04

#12647

Extensions can be published like the following:

[code]

[2016-09-30 09:46] #132 closed

[2016-09-30 10:10] #134 closed

[2016-10-07 02:00] vadimcn commented on #118
Hi @joaomoreno, so what's the outlook on this one?
Would be really nice if internal links in readmes worked.

[2016-10-18 17:48] jpoon commented on #105
We also hit the same problem. Would be great to return a more debuggable message :)

[2016-10-25 13:54] joaomoreno opened #135 "Should filter out files ending in \r"
Related to Microsoft/vscode#14411

[2016-10-25 14:12] #135 closed

[2016-10-25 14:35] waderyan opened #136 "Whitelist two new categories - Keymaps and Formatters"
This might be the wrong repo...

We added two new categories to the Marketplace: Keymaps and Formatters. `package.json` is showing an error when I use these categories.

![image](https://cloud.githubusercontent.com/assets/2449568/19690419/92d16a24-9a85-11e6-8dc6-4f82c4d35ed8.png)

[2016-10-25 17:52] joaomoreno commented on #136
Moved to Microsoft/vscode#14469

[2016-10-25 17:52] #136 closed

[2016-10-26 12:39] joaomoreno opened #137 "When publishing, check for vsce updates before"
When publishing, vsce should check for updates before the publish action. If there are, it should ask the user whether it should continue or stop.

cc @weinand

[2016-10-27 07:50] joaomoreno opened #138 "Validate extension dependencies format"

[2016-10-27 14:08] #130 closed

[2016-10-27 14:08] joaomoreno commented on #130
Fixed in 1.16.0

[2016-10-30 02:17] carlosjs23 commented on #99
I think the marketplace site is who should handle this, a suggestion would be to implement for example: [camo proxy](https://github.com/atmos/camo) .

[2016-11-09 23:48] joshjg commented on #11
I get 401 here even though I set up the token for all accessible accounts. At a dead end here...

[2016-11-10 08:02] joaomoreno commented on #11
@joshjg Have you tried picking another publisher name?

[2016-11-10 14:51] joshjg commented on #11
@joaomoreno Yes, to no avail.

[2016-11-10 15:59] joaomoreno commented on #11
@modigrv @hamenon Some help here?

[2016-11-10 16:28] hamenon commented on #11
@joshjg could you give us some more info like the account name where you created the token and the publisher id you are looking to create? Might help us investigate further. If possible can you write to us at vsmarketplace@microsoft.com we can have someone from the team debug the issue.

As a workaround you could create the publisher manually at http://marketplace.visualstudio.com/manage and uploa

[2016-11-11 11:15] ipedrazas commented on #11
So, I'm in the same situation, trying `vsce create-publisher` and getting a 401.

I've just published the extension using @hamenon workaround 👏

Why don't you put this workaround in the docs?

[2016-11-11 11:29] joaomoreno commented on #11
Added to the docs: https://github.com/Microsoft/vscode-docs/commit/5fad3ce7dcec9ed3ddbf4b9bd6f172174f499785

[2016-11-12 21:15] ipedrazas commented on #11
I'm afraid the workaround only allows you to create a new extension but not to update one.

What happens if I delete my extension and publish a new version? how this affects users with the extension installed?

How can I debug `vsce`? I've tried both `vsce login` and `vsce create-publisher` and I've got the same error (401) in both cases.

[2016-11-12 21:24] ipedrazas commented on #11
I've managed to update the extension using the very hidden option in the extension... If you point me to the GitHub repo of the marketplace I'd like to file an issue.

[2016-11-13 06:10] andradei commented on #11
This is such a huge pain point to beginner extension devs. If it weren't for this issue, I'd be stuck.

[2016-11-13 21:51] joaomoreno commented on #11
@hamenon There seems to be a lot of friction over here. Is there any way vsce can get the error message from the 401 through the use of `vso-node-api`?

[2016-11-15 06:21] hamenon commented on #11
We did discover an issue with the PAT's that are issued by the VSTS Identity Service. This has now been fixed and the deployed on production. Note that only PAT's created in the last week or so are affected.

1. Existing users with Old PAT's (over a week old) can continue using them
2. Existing users who created new  PAT's in the last week need to generate new PAT's
3. New users trying to create p

[2016-11-16 00:06] akamud opened #140 "VSCE 1.17 not publishing project details on Mac"
I just updated VSCE and I'm trying to publish my extension with the project details explained [here](https://blogs.msdn.microsoft.com/visualstudiomarketplace/2016/11/14/add-buildproject-details-to-your-extension-page-on-marketplace/).

I'm not sure if this is a VSCE problem, but even though all the info needed are there, the project details do not show up on the extension page.

[package.json](htt

[2016-11-16 08:16] joaomoreno commented on #140
@hamenon Here's the XML generated from VSCE 1.17.0 for @akamud's extension.

As per #108, the `Microsoft.VisualStudio.Services.Links.GitHub` property is set, instead of the `Microsoft.VisualStudio.Services.Links.Repository` property.

What is wrong here?

[code]

[2016-11-16 08:35] hamenon commented on #140
We do see an issue where a few extensions are not seeing the project details section. I have someone from the team looking into it now. Will update this thread as soon as learn more.

[2016-11-16 08:52] hamenon commented on #140
@joaomoreno @akamud Just pulled the manifest contents from the db and I'm still seeing the Links.Repository field being used for the extension (I'm checking the current publisher version 0.2.13). Could you check the version of vsce that you are using?

`<?xml version="1.0" encoding="utf-8"?>
<PackageManifest Version="2.0.0" xmlns="http://schemas.microsoft.com/developer/vsx-schema/2011" xmlns:d="ht

[2016-11-16 10:16] akamud commented on #140
I just double checked the version I'm using:

<img width="329" alt="screen shot 2016-11-16 at 08 10 13" src="https://cloud.githubusercontent.com/assets/954102/20343194/90ff1074-abd4-11e6-8553-0678a96ef54b.png">

I just tried publishing a new version again and I saw that the manifest file now had the GitHub node and the project info is now being displayed.
I'm sure I had VSCE 1.17 before, because I

[2016-11-16 11:05] joaomoreno commented on #140
Hm... it could also have been some Marketplace cache issue. @hamenon ?

[2016-11-16 11:05] #140 closed

[2016-11-16 11:16] hamenon commented on #140
I doubt it's a cache issue, since the details page will always read from the latest version of the extension.  Not sure how the older version of manifest ended up there.

[2016-11-16 12:57] akamud commented on #140
I have two more extensions on the marketplace that I'll be updating in the upcoming days. I'll report back if this issue happens again so we can investigate.

Thanks for the help.

[2016-11-18 00:23] geddski commented on #11
So I just hit this trying to publish my first extension. Really have no idea what "which has access to **all accessible accounts**" means. What should I do from here?

[2016-11-18 01:59] joshjg commented on #11
@geddski This is the option you're looking for:
<img width="420" alt="screen shot 2016-11-17 at 8 57 58 pm" src="https://cloud.githubusercontent.com/assets/21149010/20415795/aacee9ea-ad08-11e6-876c-63ea1c8f32ab.png">

[2016-11-18 14:24] geddski commented on #11
Ah that worked. Thanks!
On Thu, Nov 17, 2016 at 6:59 PM joshjg <notifications@github.com> wrote:

[2016-11-22 09:21] joaomoreno opened #141 "While Publishing Csharp snippet getting error"
- VSCode Version: 1.7.1
- OS Version: Win 10. 64 Bit (Pro Edition)

Steps to Reproduce:

1. I have attached two files. Package.json and csharp.json.
2.  I am using vsce commands to publish the same.

package.json link:- [package.json](https://gist.github.com/rahulsahay19/216476659e713082ed8a6c85725e9d88)
csharp.json link:- [csharp.json](https://gist.github.com/rahulsahay19/d3e27b3720de1efed27be4d2

[2016-11-22 09:21] joaomoreno commented on #141
@rahulsahay19 Where in your computer is located the parent folder of `package.json`?

[2016-11-22 14:32] rahulsahay19 commented on #141
Its located c drive directly as package.json. Here only vsce publish command is expecting the file

[2016-11-22 14:38] joaomoreno commented on #141
Can you show me the *exact* full file path of `package.json`?

[2016-11-22 14:39] rahulsahay19 commented on #141
C:\package.json. This is it.

[2016-11-22 15:30] joaomoreno commented on #141
Please create an empty folder, put `package.json` and `csharp.json` inside and run `vsce publish` from there.

[2016-11-22 15:30] #141 closed

[2016-11-22 15:42] rahulsahay19 commented on #141
Thanks. Done! You can close the ticket!

[2016-11-28 18:17] riteshatsencha opened #142 "Add a build number to packaged file"
Hello,

Upon packaging extension using ``` vsce package ``` the packaging process takes the name of the resulting file from package json. Is it possible to pass parameters to ``` vsce package ``` and add build numbers to the resulting vsix file?

Thx

Ritesh

[2016-11-29 08:11] joaomoreno commented on #142
No, but you can always add rename the file afterwards in a shell script.

[2016-11-29 08:11] #142 closed

[2016-12-08 07:48] joaomoreno opened #143 "Validate engine vscode format"

[2016-12-08 08:37] #143 closed

[2016-12-11 17:08] hediet commented on #12
Neither vsce nor its source code look like the `files` section of `package.json` is respected.
Do you still plan to support both?

I prefer whitelists to blacklists too, as they explicitly state what is being included and what not.
Besides, I know what I want to include, but I don't know all the temp/dev files various tools create that I don't want to include.

[2016-12-13 21:38] hoisel opened #144 "Error on unpublish"
I did rename my extension from 'dark-plus-duratar-theme' to 'dark-plus-duratar-theme' and re-published after rename. Now, both exists and I'm unable to unpublish them:

Old version:
[dark-plus-duratar-theme](https://marketplace.visualstudio.com/items?itemName=hoisel.dark-plus-duratar-theme)

Renamed version:
[dark-plus-durotar-theme](https://marketplace.visualstudio.com/items?itemName=hoisel.dark-

[2016-12-14 10:17] hoisel commented on #144
Hi, I found the solution [here](https://github.com/Microsoft/vscode-docs/blob/master/docs/tools/vscecli.md#common-questions).

[2016-12-14 10:17] #144 closed

[2016-12-14 18:17] markbrocato opened #145 "Error: Failed Request: Not Found(404) when publishing an extension."
I followed the steps here, https://code.visualstudio.com/docs/tools/vscecli, but get the following when trying to publish:

[code]

[2016-12-14 18:18] markbrocato opened #146 "Can I publish a specific vsix file, rather than rebuild?"
I'd strongly prefer to publish a specific vsix build from our CI that has been tested rather than creating a new build during publishing.  Is that possible?

[2016-12-14 20:55] joaomoreno commented on #146
`vsce help publish` will lead you to `vsce publish --packagePath VSIX_FILE`

[2016-12-14 20:55] #146 closed

[2016-12-14 20:56] joaomoreno commented on #145
Did you go through the FAQ?

https://github.com/Microsoft/vscode-docs/blob/master/docs/tools/vscecli.md#common-questions

[2016-12-14 21:39] markbrocato commented on #145
I did.  In fact the first time I didn't select "all accessible accounts" and vsce was nice enough to specifically tell me that was the issue.  Once I corrected that I started getting the 404 I mentioned above.

[2016-12-14 22:21] markbrocato commented on #145
Might it be the size of our extension?  It's 29 mb.  I tried uploading via the website and it said there is a limit of 20 mb.  That seems nearly impossible to reach given the bloat you get from npm these days.  Please tell me you can bump up that limit.

[2016-12-15 08:24] joaomoreno commented on #145
Unfortunately, it is really limited to 20MB for now. 😢  You gotta try to reduce those dependencies.

ping @hamenon

[2016-12-15 08:24] #145 closed

[2016-12-15 16:03] markbrocato commented on #145
At least 4mb of that is the vscode package itself.  I've tried moving that from dependencies to devDependencies, but then none of my extension's commands work.  Any idea how I can debug this?  Does vscode produce any kind of a log file that would contain information about why an extension is not being activated?

[2016-12-15 21:52] joaomoreno commented on #145
Well you should be able to [debug it](https://code.visualstudio.com/docs/extensions/example-hello-world#_debugging-your-extension).

If you have dependencies which are only dev-time, you should definitely move them there.

[2016-12-19 23:23] kdvolder opened #147 "Improve documetation: the --packagePath option is hard to discover"
I only found it by delving into the source code (here: https://github.com/Microsoft/vscode-vsce/blob/master/src/main.ts#L73)

The docs here:

https://code.visualstudio.com/docs/tools/vscecli

Do not mention it.

And I tried using commands like `vsce --help publish` also without much luck.

[2016-12-19 23:43] kdvolder opened #148 "Should vsce deal with pre-release version identifiers?"
Not sure this is a bug. Perhaps its more of a request for clarification (depending whether the behavior is deliberate or accidental)

Semver version numbers can look like this (examples from here: http://semver.org/):

     2.0.0-rc.2 2.0.0-rc.1 1.0.0-beta

There can be a 'pre-release-tag' appended after the 3rd number, seperated by a '-'. This is also the convention of version for node packages a

[2017-01-03 08:21] joaomoreno opened #149 "Make `vsce --help COMMAND` work too"
`vsce publish --help` works, but `vsce --help publish` doesn't.

[2017-01-03 08:21] joaomoreno commented on #147
`vsce publish --help` works. Created #149.

[2017-01-03 08:21] #147 closed

[2017-01-03 08:35] joaomoreno commented on #148
This needs to come from the Marketplace itself. @hamenon @modigrv

[2017-01-09 04:34] hamenon commented on #148
This is by design today, we only allow numeric values and period in the version. I can add an item to the backlog to allow pre-release tags.

[2017-01-12 18:35] mjbvz opened #150 "vsce package command not including node_modules directory"
_From @indiejames on January 12, 2017 15:14_

- VSCode Version: 1.8.1
- OS Version: OS X Sierra

Steps to Reproduce:

1. Create extension
2. Run npm install to create node_modules directory
3. Run vsce package in extension directory
4. unzip .vsix file
5. No node_modules

_Copied from original issue: Microsoft/vscode#18455_

[2017-01-13 07:54] joaomoreno commented on #150
@indiejames What's inside your `.vsceignore` file?

[2017-01-13 15:38] indiejames commented on #150
Yeah, that's the problem:

node_modules/**/*

I don't recall creating a `.vsceignore` file. Does that get created by default?

[2017-01-13 15:41] joaomoreno commented on #150
I don't think so.

[2017-01-13 15:41] #150 closed

[2017-01-16 22:30] DavidAnson opened #152 "Publishing from Windows strips Linux file-system execute bit for embedded scripts"
Please see https://github.com/DavidAnson/vscode-markdownlint/issues/4 for more details.

Briefly:

* Extension `vscode-markdownlint` depends on a package that includes a script it executes on Linux
* That file needs its `execute` bit set during extraction for the OS to be able to execute it
* Building and packaging on Windows does not preserve the `execute` bit for the file

One option is for `vsc

[2017-01-17 08:33] joaomoreno commented on #152
How can `vsce` support this workflow? The file about to be packaged is in fact in an NTFS fs, it doesn't have the `execute` bit to begin with.

If you want to open a URL in the default browser, just use https://github.com/sindresorhus/opn.

[2017-01-17 08:33] #152 closed

[2017-01-17 17:00] DavidAnson commented on #152
Per the linked issue, the `opn` package is the one that triggered this problem in the first place!

The situation today is that publishing the exact same extension from Windows vs. Linux gives different behavior.

It would be nice if extension authors were not required to discover this independently. Perhaps a note could be added to the documentation?

[2017-01-18 08:29] joaomoreno commented on #152
I don't understand. You want to add to `vsce`'s documentation that Linux file system attributes don't work on Windows file systems?

[2017-01-18 17:05] DavidAnson commented on #152
One of the key rules of a build/packaging system is that it produce reliable output. This issue means that vsce does not do that, outputting extensions with different behavior based on the OS on which it was run. I view that as a problem, though I grant that it only affects a subset of all extensions. My ideal scenario would be for vsce to package reliably, but that was rejected and so I proposed

[2017-01-18 21:52] joaomoreno commented on #152
Doesn't the issue start once the file gets placed in the Windows file system, thus losing whatever POSIX flags it once had, and not at the time vsce packages it?

[2017-01-19 03:27] DavidAnson commented on #152
Agreed. Were this to be fixed (and I'm not sure it's a common enough problem to require that), one approach might be to populate the extension package from files extracted directly from npm tarball (which includes the execute bit), bypassing the file system entirely. Alternatively, the tarball could be used only to identify files that need this bit set (and setting it), and the rest of the packagi

[2017-01-19 07:30] joaomoreno commented on #152
Got it. I've documented this in our docs:

https://github.com/Microsoft/vscode-docs/commit/aaced51d5dfc430d293af8a88dd1fc8e8e99daba

[2017-01-19 08:11] DavidAnson commented on #152
Beautiful, thank you!

[2017-02-16 18:14] rictic opened #153 "Getting `extension package is malformed/corrupted` when publishing new version of extension."
[code]

**Things I've tried**:

* `vsce package` then installing the .vsix file, confirming that it has the new functionality in v0.3.1, as well as the updated changelog and other metadata.
* `vsce logout polymer` then `vsce login polymer`
* Tried with node v4 and node v7.

I'm trying to publish this project at master (90046d2): https://github.com/Polymer/vscode-plugin

[2017-02-17 10:35] joaomoreno commented on #153
I couldn't build your project. Here's what I got after `npm install`:

[code]

[2017-02-17 18:39] rictic commented on #153
Huh, that's strange. What version of node and npm are you using? Here's a full log of cloning, installing, and packaging the polymer plugin using the configuration mentioned above (node v7.5.0 etc): https://gist.github.com/rictic/3b617e71d4bb434eed0f8fa3cf14cdbe

[2017-02-17 18:43] rictic commented on #153
Huh. However, when I ran `vsce publish patch` from the fresh clone it succeeded! So, that solves the problem from my end, though it is still a bit of a mystery. I'll leave it to you to close this issue or keep it open.

[2017-02-20 06:48] mkloubert commented on #153
I had the same problem:

I wanted to publish a new version of my extension [vs-deploy](https://github.com/mkloubert/vs-deploy) by executing

[code]

I got a similar message:

[code]

After I did a fresh clone of my repository (and executed the same "publish command") it works now.

**Is there a way to get more information of why publishing of an extension fails?**

[2017-02-20 07:20] joaomoreno commented on #153
@hamenon @modigrv Did something change in the server-side that might increase these errors' occurrences?

[2017-02-20 10:58] hamenon commented on #153
@joaomoreno Not sure but we do see a spike in those failures lately. We're investigating, will get back to you soon.

[2017-02-21 12:06] amitramesan commented on #153
Hi @rictic @mkloubert , we analyzed this and found that the vsix packages being uploaded were inadvertently greater than 20 MB (which is the current limit for packages ) ; however, due to a bug, they were being reported as a different error. This also explains the behavior with the clean repo.

We will get the error-reporting fixed. Thanks for reporting, and sorry for the inconvenience.

[2017-02-21 13:43] joaomoreno commented on #153
Thanks @amitramesan

@rictic @mkloubert There is an open item to support larger extensions Microsoft/vscode#18146 but it's still ongoing. Meanwhile you'll have to find a way to trim down those dependencies to get your VSIX under 20MB.

[2017-02-21 13:43] #153 closed

[2017-03-04 05:31] LiarOnce opened #154 ""vsce package"output errors when I want to pack a .vsix file"
I followed the steps,but the error message is output and I can‘t find the **.vsix** file in the current directory.

[code]

[2017-03-06 08:59] joaomoreno commented on #154
Do you have `npm` installed?

[2017-03-06 09:19] LiarOnce commented on #154
Yes.I do.

[2017-03-06 09:24] joaomoreno commented on #154
If you run `npm -v` what comes out?

[2017-03-06 09:34] LiarOnce commented on #154
I have been running `npm -v`,it prints the version.
The version number is `3.10.6`

[2017-03-06 15:48] mirao opened #155 "Missing Changelog link in Marketplace"
I've published an extension containing CHANGELOG.md in root folder. I can see the correct changelog in VSCode: the tab `Extensions -> Changelog`, but there is missing link to changelog in Marketplace in Resources.

URL: https://marketplace.visualstudio.com/items?itemName=mirao.mads, version 0.0.3

I know that I published the extension with some older version of vsce tool (I got an info about new v

[2017-03-06 16:16] joaomoreno commented on #155
You have to update to the latest `vsce`.

[2017-03-06 16:16] #155 closed

[2017-03-06 16:37] mirao commented on #155
Great, republishing with new version (`1.18.0`) helped. Thank you.

[2017-03-08 22:27] Jakobud opened #156 "Publish workflow order confusion"
I have publish a couple extensions and published updates to them. I'm still a little bit confused on the process involved and the steps I should be taking and in what order.

Typically when I am committing a change to a JavaScript project on GitHub, this is my process:

1. Make my code changes
2. Update the `version` in the `package.json` to a new version (lets say `0.10.2` as example)
3. Commit
4

[2017-03-09 08:32] joaomoreno commented on #156
That happened because you added `patch` to the `vsce publish` command.

Just run `vsce publish`.

[2017-03-09 08:32] #156 closed

[2017-03-09 17:49] Jakobud commented on #156
Is it possible to publish without specifying a version though or specifying major, minor, patch?

[2017-03-09 18:00] joaomoreno commented on #156
Here's what I do:

1. Make code changes. Commit.
2. Update the version in package.json. Commit. Tag.
3. Push tag.
4. `vsce publish`

You *can* publish without specifying either a new version OR using major, minor or patch. You just *can't* republish a version. But if you run `vsce publish` after manually updating the version in `package.json` like in your step 2, that should not be a problem.

[2017-03-09 18:01] Jakobud commented on #156
Oh! So `vsce publish` will publish a new version as long as your `package.json` version is not matching what is already published but it won't change your version automatically. Okay this is making much more sense now. Thanks,

[2017-03-11 22:22] wojciechsura commented on #145
The generator created node_modules folder, which is quite big (44 Mb). All these modules has been created by the tool, not me. I use 2 of them (excluding vscode). How can I remove unnecessary modules?

[2017-03-12 18:37] selvinortiz commented on #12
This might be incredibly ignorant or shortsighted of me, but would ignoring everything and _unignoring_ what you want, accomplish the same thing?

**VS Code Ignore**

[code]

[2017-03-12 18:43] weinand commented on #12
@selvinortiz yes, that approach works fine. I'm using it here: https://github.com/Microsoft/vscode-mono-debug/blob/master/.vscodeignore

[2017-03-12 18:46] selvinortiz commented on #12
@weinand Cool. I guess most people would say that it's not the most elegant solution?!

[2017-03-13 09:13] joaomoreno commented on #145
@wojciechsura `vsce` should only pick up the `dependencies`, not `devDependencies`. Are all those MB real (non dev) dependencies?

[2017-03-13 09:36] obrejla opened #157 "Login from behind the proxy does not work"
Hi,

when I try to log in from behind the proxy, a timeout occurs.

[code]

Thanks!

[2017-03-13 09:38] joaomoreno commented on #157
Yeah proxies are not supported by VSCE for now. I suggest to publish from another machine/network.

[2017-03-13 09:49] obrejla commented on #157
Yep, I workarounded that. Is it written somewhere? I didn't find any notice about proxies on [Publishing Tool](https://code.visualstudio.com/docs/tools/vscecli) age. It would be better to have it somewhere. Thanks!

[2017-03-18 17:22] robertohuertasm opened #158 "Package.json gets overwritten with translations when the version is set to be updated automatically"
It seems that the issue is related to the fact that the function `readManifest` is [always parsing the translations](https://github.com/Microsoft/vscode-vsce/blob/master/src/package.ts#L471).

Whenever the version is bumped automatically by the tool a write is going to eventually happen as you can see [here](https://github.com/Microsoft/vscode-vsce/blob/master/src/publish.ts#L112). If the version

[2017-03-20 10:50] #158 closed

[2017-03-29 20:35] JeanDaniel-Fischer opened #161 "Non publish Extension pack does not work"
Hi,

I have created an extension pack with the yeoman generator with all my currently installed extensions. Use vsce to package it with the command: vsce package.

It created a vsix package, but when my colleague installed it on his computer no dependency was detected. Same package published on the marketplace work as intended.

Is their anyway to make Extension Packs work with locale package? We

[2017-03-30 07:19] joaomoreno commented on #161
This is currently not supported, unfortunately.

[2017-04-06 03:30] FFengIll opened #162 "Bad Request(400) - Value cannot be null. (extensionPackage)"
When I do a publish, a error comes as bellow:
[code]

This extension has been published successfully some days ago, and I just edit the function code for the new publishing.
Since no details to check, I am puzzled by this case.

[2017-04-06 08:06] joaomoreno commented on #162
What version do you have? `vsce --version`

[2017-04-06 12:46] FengYouzheng commented on #162
here you are
[code]

[2017-04-06 12:57] joaomoreno commented on #162
cc @hamenon @modigrv

[2017-04-06 14:42] joaomoreno commented on #162
@FFengIll Does it repro every time? Can you try from another machine? What does `vsce ls` return?

[2017-04-07 04:39] amitramesan commented on #162
@FFengIll , did you get a chance to try @joaomoreno 's suggestion of attempting from a different machine?

Would you please share the version details of the vso-node-api package that is being used by vsce on your system ? On a Windows sytem, this would be found inside C:\Users\<<USERNAME>>\appdata\Roaming\npm\node_modules\vsce\node_modules\vso-node-api\package.json : there would be a version entry

[2017-04-08 06:12] FFengIll commented on #162
@joaomoreno
Actually, it does not work in another machine, since all of our machine work with same env.
But I found the reason with @amitramesan 's suggestion: vso-node-api version is 5.x.x with vsce 1.20.

After the upgrade, it works now.
Thx.

[2017-04-08 06:12] #162 closed

[2017-04-08 06:32] amitramesan commented on #162
Awesome :-)

@FFengIll Would you please also share for investigation some information about your environment ;
1. What OS/Version and SKU/Distribution?
2. What is the NodeJs version?

Thanks,
Amit.

[2017-04-08 06:45] FFengIll commented on #162
Env. information as bellow:

Window 10 x64 Home version 14393
nodejs 6.10.1

**normal with**

- vsce 1.20
- vso-node-api 5.x.x
- **vscode 1.10.2**

**abnormal with**

- vsce 1.20
- **vso-node-api 5.x.x**
- **vscode 1.11**

**normal (recovered) with**

- vsce 1.20
- **vso-node-api 6.1.2-preview**
- vscode 1.11 (and 1.11.1)

Pls feel free to let me know if any others are required.

[2017-04-09 23:30] alefragnani opened #163 "Error publishing - Exit Status 2"
I'm trying to publish an update on my extension, but it keeps resulting **Exit status 2** on `prepublish` script. The problem seems related to a new dependency package (`chokidar`), because if I remove it, it works 😢 .

The other dependency on my extension is `walker` (no problem with that).

[code]

I remember seeing somewhere that _in some cases, that I don't remember_, when a package has _its o

[2017-04-09 23:35] alefragnani commented on #163
The `npm-debug.log` is here:

[code]

[2017-04-10 04:45] amitramesan commented on #162
Thank you, @FFengIll  ; this really helps. We'll reach out if we need more info.

[2017-04-10 04:53] PaulStubbs opened #164 "Link to Documentation in ReadMe.md is invalid"
The link to the documentation returns a 404. This is the invalid url https://github.com/Microsoft/vscode-docs/blob/master/docs/tools/vscecli.md

I looked but couldn't find it in the https://github.com/Microsoft/vscode-docs repo.

[2017-04-10 06:12] joaomoreno commented on #163
Yes, you should list all your dependencies in `dependencies`. You should add `fsevents` to `optionalDependencies` since it is optional.

[2017-04-10 06:16] joaomoreno commented on #164
Thanks @PaulStubbs

cc @gregvanl

[2017-04-11 23:46] alefragnani commented on #163
Hi @joaomoreno ,

Thanks for your suggestion. I tried to use `optionalDependencies`, but it didn't make any difference (same error) 😢 .

Sure you could take a look 👍 . The code is from a PR on my [Project Manager extension](https://github.com/alefragnani/vscode-project-manager/pull/107). You should look at the second commit, because I have asked the contributor to remove `chokidar` and use `fs.wat

[2017-04-12 08:47] joaomoreno commented on #163
@alefragnani I can't reproduce.

I cloned your repo, fetched @likun7981's branch, checked out commit `4727f1e4083d7690c6bda8d0c0d4b14c96fee899`, where he introduced `chokidar`, ran `git clean -xfd .` to have a fresh repo, ran `npm install` and then `vsce package`:

[code]

Everything succeeded.

[2017-04-12 08:47] #163 closed

[2017-04-12 14:06] alefragnani commented on #163
@joaomoreno are you using MacOS?

The problem seems related to _Windows only_, since `fsevents` says `BADPLATFORM` for it 😢

[2017-04-13 06:57] joaomoreno commented on #163
Tried it in Windows too:

![image](https://cloud.githubusercontent.com/assets/22350/24993553/2f0d8a72-2027-11e7-9254-42da5f7c00f3.png)

[2017-04-18 13:00] fgodoy commented on #150
Hi, I don't have .vsceignore and I tried everything but my node_modules never was included in the VSIX package. I'm using vsce package command.
Maybe this folder be always ignored?

[2017-04-18 13:02] joaomoreno commented on #150
Is your dependency listed in `package.json`?

[2017-04-18 13:19] fgodoy commented on #150
Yes, like a screenshot

![sc](https://cloud.githubusercontent.com/assets/2242629/25132588/6953a7aa-2420-11e7-866d-5b0ba2f10b55.png)

[2017-04-18 13:26] joaomoreno commented on #150
Well, if it's a `devDependency` why should it be included along with the extension?

[2017-04-18 13:51] fgodoy commented on #150
Maybe I missed something. There are another place to put this dependency? I tested installing the extension and doesn't work, than I checked the installation path of extension and copy manually the node_modules (electron_edge), than extension works.

[2017-04-18 15:24] fgodoy commented on #150
Now works. I changed package.json (see image below). Thanks a lot for help. ;)

![image](https://cloud.githubusercontent.com/assets/2242629/25138787/ceff9d5a-2431-11e7-8195-b104010b1ec2.png)

[2017-04-19 18:44] eppz commented on #163
I have the same issue, more details at http://stackoverflow.com/questions/43503542/cant-publish-vs-code-extension-anymore-after-npm-update

**Please help,** I have valuable features to publish for user all around stuck into my MacBook. 😞

[2017-04-19 18:54] eppz opened #165 "vscode:prepublish: `tsc -p ./` keep throwing Exit status 2"
I just can't publish my extension anymore.
It just worked fine before I ran `npm update`.

Now it says all day, no matter what:
[code]
See dependencies in [**`package.json`**](https://github.com/eppz/VSCode.Extension.eppz_Code/blob/master/package.json) to get the full picture. I tried with countless node versions (6.x to 7.x), no luck with any.

Please help, I have valuable features to publish for

[2017-04-19 18:55] eppz commented on #165
Full npm-debug.log if that helps:

[code]

[2017-04-19 22:16] eppz commented on #165
Manually (!) deleting entire `node_modules` content, then reinstall everything (with `npm install`) simply solved the issue.

[2017-04-19 22:16] #165 closed

[2017-04-20 14:28] Jarrio opened #166 "Cannot publish an extension to the VSCode marketplace"
Attempting to run `vsce publish` results in `Error: Access Denied: <vscode username> needs the following permission(s) on the resource /jarrio to perform this action: Publish new extensions to an existing publisher`

![creatingtoken](https://cloud.githubusercontent.com/assets/748557/25235404/f16d5dda-25dc-11e7-841b-5b77e20e4139.png)

I definitely created the access token with the recommended setti

[2017-04-20 18:03] johnstew opened #167 "Better output for VSCE validation errors - validate publisher"
Hi there,

As I was going to run `vsce publish` I received the following error.

`Error: Invalid publisher 'John Smith'`

I originally thought this had something to do with when I created the publisher with vsce.

i.e. `vsce create-publisher johnsmith`

Then it ask for a human friendly name and I thought that might be the issue because I was putting in John Smith there.

However, the root of the p

[2017-04-21 06:38] joaomoreno commented on #166
cc @hamenon

[2017-04-21 06:42] #167 closed

[2017-04-21 09:37] hamenon commented on #166
cc @gaurav42
@Jarrio Could you check the username (email) that you are using to generate the login. The publisher id on the Marketplace is owned by an live.uwe.ac.uk address. But our logs show that the failed requests were all coming from an googlemail.com address. You need to login to VSTS with the same address (ie the live one) to generate the PAT.

[2017-04-22 04:54] gaurav42 commented on #166
@Jarrio it is important that when did you create the PAT. If you created PAT, when you logged in using live id and accessed jarrio.visualstudio.com, then it won't work.

Log in to jarrio.visualstudio.com using your gmail id and then create the PAT again. Using this new PAT, you should be able to publish the extension.

[2017-04-23 00:54] Jarrio commented on #166
I was not logged into the live id when creating the PAT. The live id does not have any PAT's on the account, but just to be sure I tried doing everything again from an incognito window.

![image](https://cloud.githubusercontent.com/assets/748557/25309519/b9ece154-27c7-11e7-8684-1fb958965f94.png)

I am logged into the `googlemail.com` account and created a new PAT key which yields the same error me

[2017-04-23 18:05] RationalCoding opened #168 "Packager corrupts electron module"
I am trying to spawn an `electron` process from an extension. Everything works fine in the Extension Host, but when I package and publish to the marketplace, the downloaded extension has been changed. It seems the electron install is the only affected module.

1. The size of the `Electron.app` contained within the module is significantly smaller, suggesting a lot has been removed. `185.8mb` vs `11

[2017-04-24 05:06] gaurav42 commented on #166
You need to add your google email to the publisher as owner.
1. Go to https://marketplace.visualstudio.com/manage/publishers/jarrio
2. Click on publisher name and select 'Edit publisher' option from dropdown
3. Select 'Role' and add your google email with role as owner

After this try publishing extension.

[2017-04-24 06:35] joaomoreno commented on #168
Other than symlinks, what is missing?

Overall this seems like a pretty bad idea, though. Remember that users can install your extension on Linux, Windows and macOS. You can't ship Electron for all those platforms in an extension, simply because of the extension file limit (100MB).

What is your extension trying to achieve?

[2017-04-24 06:38] RationalCoding commented on #168
You're right. I ended up just using existing Electron installs on the system or installing it if none exists.

Going to close this because I doubt anyone else will have this issue, but it's still strange that the packager modifies the extension like this.

[2017-04-24 06:38] #168 closed

[2017-04-24 11:32] Jarrio commented on #166
![image](https://cloud.githubusercontent.com/assets/748557/25335231/158b26f6-28ea-11e7-8350-05ba36560d6e.png)
The user is already in the list

[2017-04-24 12:20] gaurav42 commented on #166
Can you still follow above steps and try? Our DB suggests that only live id had access to jarrio publisher.

[2017-04-24 12:27] Jarrio commented on #166
Trying to add it to `Owner` results in an error message saying `Sorry, we couldn't find that user. Please try a different email address.`

As a side-note the live address shouldn't even be involved anymore as jarrio has been deleted from that account and it no longer appears under the "Accounts pending deletion" dropdown

[2017-04-24 12:59] gaurav42 commented on #166
Try following steps:
1. Open incognito window and visit https://marketplace.visualstudio.com/manage/publishers/jarrio
2. Log in using '@live.uwe.ac.uk' email id
3. If you see following dropdown and 'Microsoft Account' is selected in it, then change it to other option in the dropdown:
![image](https://cloud.githubusercontent.com/assets/13743203/25337957/4681999e-291b-11e7-8908-5ba539b1ce45.png)

4.

[2017-04-24 13:56] Jarrio commented on #166
That worked! One additional question though, is there any way to completely remove control from the live account? I won't have access to this email address once university has finished which is why I never wanted to create the account on there in the first place

[2017-04-24 14:14] gaurav42 commented on #166
To delete the publisher, again go to 'Edit Publisher' dialog. On hovering over the publisher row, you will see remove button like this:
![image](https://cloud.githubusercontent.com/assets/13743203/25341443/718e773c-2926-11e7-8946-49bec62e7376.png)

Just click on remove button and save.

[2017-04-24 14:40] Jarrio commented on #166
Thank you for all your help!

[2017-04-24 14:40] #166 closed

[2017-04-26 14:53] leninalbertolp opened #169 "EPERM: operation not permitted, scandir"
Hi guys, I'm getting the following error when I try to upload the update from my published extension in the marketplace, if anyone can guide me to that it should.

C:\Users\myname>vsce publish
glob error { Error: EPERM: operation not permitted, scandir 'C:\Users\myname\Configuración local'
    at Error (native)
  errno: -4048,
  code: 'EPERM',
  syscall: 'scandir',
  path: 'C:\\Users\\myname\\Conf

[2017-04-26 14:56] joaomoreno commented on #169
Did you check permissions on that folder? Can your user access it?

[2017-04-26 15:02] leninalbertolp commented on #169
@joaomoreno Yes, I can access perfectly

[2017-04-27 06:28] joaomoreno commented on #169
I can't seem to reproduce here. If you could build vsce in your machine and debug it, woudl you do it? I could write up a guide of how to do this.

[2017-04-27 11:11] leninalbertolp commented on #169
how sorry but I'm a noob and not be as do what I asked

[2017-04-29 11:17] leninalbertolp commented on #169
I solved the issue, what I did was run console from the folder with the extension files and ran smooth as silk. I've already updated smoothly. You can close this ticket

[2017-04-30 22:06] equinusocio opened #170 "[theme] Workbench button.foreground doens't work"
The workbench theme key `button.foreground` doesn't change the buttons foreground that still remain white `#FFFFFF`

PS: Could be awesome to have also `button.hoverForeground`, not only `button.hoverBackground`

[2017-05-02 08:55] #169 closed

[2017-05-02 08:56] joaomoreno commented on #170
Did you intend to file this in [the vscode repository](https://github.com/Microsoft/vscode/issues)?

[2017-05-02 08:56] #170 closed

[2017-05-02 08:58] equinusocio commented on #170
Oh sorry. Thanks

[2017-05-05 03:02] zjhmale opened #171 "500 when publish a new version"
Hi, when I released a new version of my extension https://github.com/zjhmale/vscode-idris, there will be a `Failed request` stands there, and there is no error log I can check out, it works for the previous version, any ideas to fix this? Thanks in advance.

![image](https://cloud.githubusercontent.com/assets/6234553/25732447/3d17041a-3182-11e7-941c-e0ad65da844a.png)

[2017-05-05 06:16] joaomoreno commented on #171
@zjhmale Which version do you have?

cc @modigrv

[2017-05-05 06:31] zjhmale commented on #171
Hi, @joaomoreno I'm currently using version 1.20.0, I think it is the latest release.

[2017-05-05 08:20] joaomoreno commented on #171
[code]

The Marketplace has a 100MB limit on extensions. Do you really need 102MB for your extension? The `images` folder alon in your repository has 107MB.

[2017-05-05 08:20] #171 closed

[2017-05-05 09:57] zjhmale commented on #171
@joaomoreno Thanks! I will add them to `.vsceignore` and move the `FEATURES` page to GitHub wiki probably 😅

[2017-05-13 18:53] dsifford opened #172 "vsce package command hangs when run during a publish hook"
### How to reproduce

Create a `package.json` similar to below:

[code]

Run any command that triggers the `vscode:prepublish` hook. (`vsce ls` works fine for this example).

### What happens

The command hangs forever

### What I expected

The command to package an extension and exit without hanging.

[2017-05-13 18:59] dsifford commented on #172
Ah, I think I see what's happening... I cant add `vsce package` to the prepublish hook because calling `package` also calls `prepublish` so it results in an infinite loop.

Any workaround here?

[2017-05-15 08:21] joaomoreno commented on #172
Work around what? What do you want to achieve with this?

[2017-05-15 14:45] dsifford commented on #172
@joaomoreno The ideal situation for what I was looking to do was to just be able to optionally skip the prepublish hook step for the package command.

The "why" for this is because I think it would be nice to be able to add the package step into the prepublish hook itself. That way I can build the extension locally as many times as necessary while working on it and only call the package command wh

[2017-05-15 15:02] joaomoreno commented on #172
I'd just not use the `vscode:prepublish` script and instead of optionally skipping it, I'd optionally run it. :)

[2017-05-15 15:02] #172 closed

[2017-05-19 10:08] APerricone commented on #161
Hi,
will It supported or it is unsupported because of some policy?
like: all vscode extension must be in the market?

[2017-05-21 07:41] gluons opened #173 "[Question] How to change token?"
I change my working laptop and I've lost my old token. I can't remember it. So, I revoked it on my visualstudio.com team services.

I created new token on my visualstudio.com team services with all scopes. (Follow [Publishing Extensions](https://code.visualstudio.com/docs/extensions/publish-extension))
![Screenshot](https://cloud.githubusercontent.com/assets/4688092/26282015/37fb3a5c-3e32-11e7-964

[2017-05-21 07:44] gluons commented on #173
I've tried to create new token. I solved. Sorry.

[2017-05-21 07:44] #173 closed

[2017-06-03 17:08] equinusocio opened #174 "Theme: Add list.disabledForeground and list.disabledBackground key"

[2017-06-03 17:10] #174 closed

[2017-06-05 00:43] adamvoss commented on #12
@selvinortiz Semantics are different from .gitignore.  You need the following for the ignore part:

[code]

[2017-06-05 00:56] adamvoss opened #175 "Flag or command to print all files that will be included in package"
It would be useful if there were either a flag to `vsce package` (`--dry-run`??) or a separate command that would print the files that would be included in the package without actually creating the package.

This would be helpful in trying to debug/correct `.vscodeignore` would out needing to generate the package only to inspect the contents.

I have already had two situations where I needed to do

[2017-06-09 10:15] shinnn opened #176 "Unpublish a specific version"
It would be useful if extension authors can unpublish only a single version from Marketplace.

Use case: an author noticed the latest version of their extension includes a serious bug, but cannot find its cause soon. Currently, end users download the broken version until the author fix the bug and publish a new version. If the feature described above is implemented, the author can unpublish the la

[2017-06-11 23:45] adamvoss opened #177 "'icon' within symbolically linked directory is not supported"
If the icon file exists at the specified path, but the path contains a symbolically linked directory, `vsce package` fails with:

If only the file is a symbolic link, the packaging succeeds.

vsce version: 1.22.0
OS: Linux

___
To reproduce:
1. Suppose your icon exists at **images/logo.png**
2. Execute `ln -s images img`
3. Edit **package.json** so that `icon` points to **img/logo.png**
4. Execute

[2017-06-12 01:08] adamvoss opened #178 "vsce should fail if the resulting extension does not have a package.json"
If **package.json** is excluded (caught by `.vscodeignore`) the resulting package will silently fail to install into VS Code (Microsoft/vscode#28475).  Since this condition renders the package unusable, it would be nice if `vsce` issues an error or warning when a package is created without this file.

[2017-06-13 09:53] joaomoreno commented on #175
`vsce list`

[2017-06-13 09:53] #175 closed

[2017-06-13 09:56] joaomoreno commented on #176
cc @modigrv

[2017-06-13 09:57] joaomoreno commented on #176
The real solution is is to revert the code changes that caused the issue and release a new bugfix version with those bits.

[2017-06-13 09:59] joaomoreno commented on #177
I suggest to stay away from symlinks during extension development.

[2017-06-13 10:07] #178 closed

[2017-06-13 15:32] adamvoss commented on #177
In the context this occurred, they better convey the intention of how the repository is expected to work and reduce the number of copy operations needed in preparation for packaging.  I am glad that symlinked files worked, which reduced the amount of effort needed to work around this issue.

[2017-06-14 07:00] joaomoreno commented on #177
Got it. But you don't expect the symlinks to be preserved in the distribution package, correct?

[2017-06-14 18:42] adamvoss commented on #177
Correct.  In my use-case, preserving symlinks would not work.  Preserving symlinks could also create portability issues.

I suppose I could understand if vsce decided to preserve symlinks, but I would expect files and directories to behave the same.  Right now file symlinks result in the target file being in included in the package.

[2017-06-17 00:23] bsed opened #179 "vsce package error"
[code]

[2017-06-17 06:46] bsed commented on #165
[code]

[2017-06-18 13:50] JimiC opened #180 "Support version bump for package-lock.json when publishing"
For those using `npm 5`, `package-lock.json` is added in the project, which also contains a `version` property.

Whenever publishing an extension, the version should be bumped in `package.json` and `package-lock.json` to keep them in sync.

[2017-06-19 09:17] joaomoreno commented on #179
Use `vsce ls` to determine which files are included in your extension. You'll likely find that there are way too many files, which causes this error. Remember extensions have a 100MB file size limit.

We should probably catch this error and alert you though.

[2017-06-19 09:18] joaomoreno commented on #180
Wanna try submitting a PR?

[2017-06-19 09:20] JimiC commented on #180
Yeah, I tried looking at the code but didn't felt confident tampering with it. I believe @robertohuertasm has more experience with it and maybe he can assist.

[2017-06-19 09:31] bsed commented on #179
i use windows 10 vsce package no error, ubuntu 17.10 has this error. Windows 10 computer configuration is higher than Ubuntu

[2017-06-19 09:37] joaomoreno commented on #179
OK. In Windows 10, please run `vsce package`. It will create a VSIX file in your directory. What's its size?

[2017-06-20 01:00] bsed commented on #179
![image](https://user-images.githubusercontent.com/10845087/27311911-cce6d646-5596-11e7-8429-8528a92eee4c.png)

i use windows 10 `vsce package` create VSIX file ,this size  125kb

[2017-06-21 06:28] joaomoreno commented on #179
And if you run `npm run vscode:prepublish`?

[2017-06-21 06:32] bsed commented on #179
no， I only run `vsce package`, not run `npm run vscode:prepublish`

[2017-06-21 06:33] joaomoreno commented on #179
I meant, _what happens_ when you run `npm run vscode:prepublish`?

[2017-06-21 06:36] bsed commented on #179
oh, not happens ,  I think this is a case, so close this issue， thank you

[2017-06-21 06:36] #179 closed

[2017-06-24 06:38] neilsustc opened #181 "Error: SVGs can't be used as icons"
After upgrade from 1.22 to 1.26, it says that

[code]

I think at least there should be a notice since it is a 'breaking' change. Which kind of icon is supported? Which size is it should be?

[2017-06-24 21:22] xconverge commented on #181
It looks like this:

https://github.com/Microsoft/vscode-vsce/commit/7cf67ddb52021a9ae055365f2bb25c10eaff0a01

I have the problem of a slack badge now is a non trusted source

[2017-06-25 17:41] eamodio commented on #181
I'm running into the same -- why was this changed?

[2017-06-26 00:06] kieferrm opened #182 "Allow "ci.appveyor.com" in SVG whitelist"
"ci.appveyor.com" needs to be added to the list of trusted SVG providers.

[2017-06-26 06:35] #182 closed

[2017-06-26 07:36] joaomoreno commented on #181
Changes are indeed coming on the SVG support in the Marketplace. More information in the upcoming release notes: https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_14.md#changes-for-extension-authors

[2017-06-26 07:36] #181 closed

[2017-06-26 20:38] eamodio commented on #181
@joaomoreno does that mean that extensions can't have any SVG resources? Or only in the marketplace resources?

[2017-06-27 08:36] joaomoreno commented on #181
Only in the Marketplace resources. 👍

[2017-06-27 16:29] felixfbecker opened #183 "Error: SVGs cannot be used as icons"
Just wanted to a release a new version of PHP IntelliSense, but the build broke:
https://travis-ci.org/felixfbecker/vscode-php-intellisense/builds/247593000#L917

I have been using an SVG as an icon forever and that has always worked fine:
https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-intellisense

[2017-06-27 17:04] LaurentTreguier commented on #183
I am experiencing that issue as well. The message looks like it's intentional though (`Error: SVGs are restricted in README.md; please use other file image formats, such as PNG`)... But forbidding SVG's while they didn't pose any problem before seems like a weird decision to me.

[2017-06-27 17:05] felixfbecker commented on #183
yeah, especially since
- this was not a major release
- SVGs are just objectively better than PNGs

[2017-06-27 17:09] LaurentTreguier commented on #183
So [this commit](https://github.com/Microsoft/vscode-vsce/commit/e0dff61012b5d2bb8c088b9c799bd4ad0e68dcec) is responsible, somebody asked why and got no answer =/
Only trusted sources are allowed now apparently

[2017-06-28 07:17] joaomoreno commented on #183
The same answer from #181:

Changes are indeed coming about SVG support in the Marketplace. More information in the upcoming release notes: https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_14.md#changes-for-extension-authors

It's a sad restriction but a necessary one.

[2017-06-28 07:17] #183 closed

[2017-06-28 08:04] felixfbecker commented on #180
Why is it vsce's responsibility to bump versions? Why not use `npm version`?

[2017-06-28 08:05] felixfbecker commented on #183
Instead of throwing an error, how about silently converting the SVG to a PNG with https://www.npmjs.com/package/svg-to-png?

[2017-06-29 04:48] vazexqi opened #186 "Support for scoped naming, e.g., @myscope/package-name?"
I have an VS Code extension that I would like to scope to my org. In usual NPM, I would set `name: @myscope/package-name` in package.json.

However, when I use that with vsce, it says

[code]

I think this is because of the regex check at https://github.com/Microsoft/vscode-vsce/blob/master/src/validation.ts#L3

Are there plans to support scoped names for extensions?

[2017-06-29 07:22] joaomoreno commented on #186
There is no upcoming support for scopes. We don't store extensions in NPM, but in the VS Marketplace.

[2017-06-29 07:22] #186 closed

[2017-07-05 21:58] idleberg opened #187 "When vsce publish fails, version still gets bumped"
When running `vsce publish <major|minor|patch>` and something goes wrong, e.g. `vscode:prepublish` throwing an error, the version numbers still get bumped.

**Example**:

[code]

Note that after the first publish command, the version gets bumped to `1.0.0`. After fixing the error that caused prepublish script to exit, the version gets bumped to `2.0.0`. The expected behaviour is to bump to 1.0.0,

[2017-07-06 11:31] nin-jin opened #188 "Cannot read property 'publisherName' of undefined"
https://github.com/nin-jin/vscode-language-tree

[code]

[2017-07-06 12:23] nin-jin commented on #188
I was not create a publisher: https://code.visualstudio.com/docs/extensions/publish-extension#_create-a-publisher

[2017-07-07 10:47] nin-jin commented on #188
Really? Null Pointer Exception is normal?

[2017-07-07 11:02] #188 closed

[2017-07-07 11:03] joaomoreno commented on #188
Sorry about that! 👍

[2017-07-10 08:03] joaomoreno opened #189 "Vsce doesn't terminate when there are network issues"

[2017-07-10 11:52] egamma commented on #189
@joaomoreno just run `vsce package` again without any issues.

[2017-07-11 06:12] baoyang2000 opened #190 "'vsce package' error"
the log:

[code]

[2017-07-11 06:33] baoyang2000 commented on #190
when I want package vscode-react-native(https://github.com/Microsoft/vscode-react-native),got the above error.

[2017-07-11 07:41] joaomoreno commented on #190
https://github.com/Microsoft/vscode-react-native/blob/master/package.json#L248

You're missing the gulp task in the `vscode:prepublish` step.

[2017-07-11 07:41] #190 closed

[2017-07-11 20:53] vazexqi opened #191 "Any support for signed extensions?"

[2017-07-12 02:01] vazexqi commented on #191
FWIW, it appears that I can use the VSIXSignTool and the .vsix is verified when I run vsixsigntool.exe \verify. The signed .vsix can be installed and runs in VS Code. However, when I install the the .vsix from VS Code there is neither indication or verification that the .vsix is signed.

[2017-07-12 05:39] joaomoreno commented on #191
No current support. It's a happy case that VS Code actually manages to installed a signed vsix. 👍

[2017-07-13 01:00] fabiospampinato opened #192 "Relative sources in <img> tags in README.md are not rewritten to absolute URLs"
I wrote a readme file in markdown, and I had no problems putting a local gif in it, but vsce complained about a local png, maybe because I inserted it like this (just for centering it):

[code]

[2017-07-15 20:43] Jason3S opened #194 "vsce fails to finish with node 8"
Trying to publish my extension: [vscode spell checker](https://github.com/Jason-Rev/vscode-spell-checker) fails to complete when using node 8.

## Info
[code]

## Steps:

1. `nvm use 8`
2. `vsce publish`

The process clearly run all the pre-publish steps:
[code]

but then it hangs with node using 100% cpu for 1 thread.

## Workaround
Use Node 7

1. `nvm use 7`
2. `vsce publish`

Every thing worked

[2017-07-17 08:40] joaomoreno commented on #192
Can you show me what "complained" means? Did you get an error?

[2017-07-17 11:33] fabiospampinato commented on #192
Exactly, more specifically this error:
[code]

[2017-07-17 12:28] joaomoreno commented on #192
Is your extension in a GitHub repository?

[2017-07-17 12:38] fabiospampinato commented on #192
Sure, [here](https://github.com/fabiospampinato/vscode-projects-plus) it is.

[2017-07-17 12:53] joaomoreno commented on #192
I've cloned that repo and ran `npm i` and then `vsce package`. It worked:

[code]

Something must be off in your machine.

Do you have the latest vsce installed?

[2017-07-17 13:03] fabiospampinato commented on #192
You forgot to edit the readme, it worked because now it's written in other way, otherwise I wouldn't be able to publish it because of the error I'm reporting.

Replace this:
[code]

With this:
[code]

If you have `sed` available just run:
[code]

Yes, I'm using the latest version of vsce.

[2017-07-17 13:17] fabiospampinato commented on #192
I believe I found the problem, [here](https://github.com/Microsoft/vscode-vsce/blob/6d3a1e43d712b7f15658039517a4b297b144f530/src/package.ts#L325) it checks if the url is relative, but just for images written in the markdown syntax.

If the image is written as an html tab it [doesn't](https://github.com/Microsoft/vscode-vsce/blob/6d3a1e43d712b7f15658039517a4b297b144f530/src/package.ts#L358) run the

[2017-07-18 13:12] joaomoreno commented on #192
Got it. We don't support relative paths in `<img>` tags. You simply won't be able to reference that image in that relative fashion and keep using `<img>` tags.

Either keep using a full URL in the `<img>` tag, or drop the centered paragraph tag and use the markdown syntax for images: `![Logo](resources/logo-128x128.png)`

[2017-07-18 13:16] fabiospampinato commented on #192
Is there a good reason for not enforcing the same rules for both cases?

[2017-07-18 14:32] JustusAdam opened #195 "Report non-SemVer version during publishing"
Version numbers for extensions must use the format `x.z.y`.
Common derivatives and shorthands such as `1` for `1.0.0` or `2.0` for `2.0.0` do not work and lead to the extension not being installable.
Even when searching for it in the extension tab it reports `Invalid version ...` and does not show the page.
It does however work on the website!

I suggest adding a check in the `vsce` publishing too

[2017-07-19 05:57] joaomoreno commented on #192
We try to locate (regex) where images are used in Markdown and upon finding those locations we rewrite their relative URLs to be absolute ones, if we also detect the repository in which the extension will be hosted. We don't do the same for image tags since that is just harder to parse and rewrite. If you feel that passionate about it, feel free to submit a PR which addresses that. 👍

[2017-07-19 09:05] joaomoreno commented on #195
Actually this should be happening:

https://github.com/Microsoft/vscode-vsce/blob/master/src/validation.ts#L30

And I do see the validation when running `vsce package`:

[code]

[2017-07-19 09:25] JustusAdam commented on #195
Oh. I'm running `0.8.1`

[2017-07-19 10:31] joaomoreno commented on #195
Get that guy bumped up 👍

[2017-07-19 10:31] #195 closed

[2017-07-19 14:14] JustusAdam commented on #195
Dang ... I just updated to `1.29.0`. I didn't realize I was so far behind 🙈

[2017-07-19 14:16] joaomoreno commented on #195
No worries... we do have an update mechanism in there... might've been added a bit after 0.8.1.

[2017-07-20 15:26] vazexqi commented on #191
I'll monitor this issue. Let us know when you are working on it from the backlog and we will be happy to try it out.

For now, what we will do is provide a SHA256 of the .vsix on our product's page. That way, anyone can follow the steps at https://code.visualstudio.com/docs/editor/extension-gallery#_common-questions to manually download the .vsix and verify the checksums before installing them.

W

[2017-07-21 19:56] brandoncc opened #196 "Error: Invalid Resource when trying to publish"
This is the first time I have had any issues publishing:

[code]

[2017-07-23 08:06] joaomoreno commented on #196
cc @modigrv

[2017-07-24 08:15] modigrv commented on #196
@joaomoreno I checked there has been no call to Marketplace via Vsce tool for the publisher identity of the vscode-seeing-is-believing extension . Can you please check that whether this error is from vsce tool itself?

[2017-07-24 08:18] joaomoreno commented on #196
`Invalid Resource` doesn't seem to be an error which comes from the tool itself. Here's what happens after `Publishing brandoncc.vscode-seeing-is-believing@0.0.4...`:

https://github.com/Microsoft/vscode-vsce/blob/master/src/publish.ts#L59

[2017-07-24 10:32] modigrv commented on #196
@brandoncc  This error is being thrown because the PAT used for publishing is no longer valid.
You can create a new PAT to authenticate the publish - https://www.visualstudio.com/en-us/docs/setup-admin/team-services/use-personal-access-tokens-to-authenticate#create-personal-access-tokens-to-authenticate-access
You can pass PAT as a parameter in the publishing step via a -p or -pat option in the vs

[2017-07-25 01:27] brandoncc commented on #196
Thank you both for taking the time to help me. I totally forgot my PAT would expire!

[2017-07-25 01:27] #196 closed

[2017-07-26 14:25] joaomoreno opened #197 "Marketplace rendering of images from README decodes URL characters"
From @DanTup:

Apologies, I don't know if this is the best place to raise this; feel free to point me elsewhere!

In [my readme](https://github.com/Dart-Code/Dart-Code/blob/master/README.md) I have an image with an encoded ampersand (%26) in the URL. It renders correctly on GitHub but on the marketplace is has been decoded to an ampersand in the source, which result in it not being rendered correc

[2017-07-26 18:33] JimiC commented on #180
@felixfbecker Because `vsce` is bumping the `package.json` version on publish (https://github.com/Microsoft/vscode-vsce/blob/83060c333a56aac26019df204af4ae948c041326/src/publish.ts#L87)

[2017-07-26 18:37] felixfbecker commented on #180
I understand that vsce provides this feature, but I am questioning whether it should be as it is already provided by npm itself

[2017-07-26 18:41] JimiC commented on #180
@felixfbecker Could you please elaborate? I'm not so familiar with `npm 5` and its features, as it's fairly new and still evolving.

[2017-07-26 18:47] JimiC commented on #180
@felixfbecker No need to elaborate. I figured out what you want to say. Still though, although you can bump the version of `package.json` and `package-lock.json` with `npm version`, `vsce` provides the ability to bump the version from the tool. And while the tool does bump the version of `package.json` it should take into consideration the existence of `package-lock.json` file as well.

[2017-07-26 18:52] felixfbecker commented on #180
Imo the functionality should just be deprecated. `npm version` is guaranteed to always work with all lockfiles and shrinkwrap, it can also commit and tag the new version. So vsce doesn't add value here, but inevitably will have bugs like this issue that need work over time to fix

[2017-07-26 18:56] JimiC commented on #180
@felixfbecker That's an entirely new proposal. Maybe you should open an issue and promote it.

/cc @joaomoreno

[2017-07-26 19:47] JimiC commented on #194
Just used `vsce package` on `vscode-icons`, with `vsce v1.29.0`, `nvm use 8.2.1` which includes `npm v5.3.0` and had no issues. Maybe `node v8` had issues that since then were resolved.

[2017-07-26 22:51] pmkary opened #198 "What is "Invalid Resource" Error?"
vsce: 1.22.0
node: 8.2.1
mac: 10.12.5

As I try to publish my theme ([market place](https://marketplace.visualstudio.com/items?itemName=karyfoundation.theme-karyfoundation-themes) / [repo](https://github.com/karyfoundation/kf-theme-vscode)) I get this output:

[code]

And I checked `vsce`'s source code and there was no such string as "Invalid Resource".
Why is this? what is this? how can I sent yo

[2017-07-27 07:47] joaomoreno commented on #180
I have to agree with @felixfbecker. We should reuse as much as possible. We might just deprecate this behaviour from vsce altogether.

Closing this issue as it becomes obsolete.

[2017-07-27 07:47] #180 closed

[2017-07-27 07:49] joaomoreno commented on #198
A small search would've led you here: #196

This is likely the issue:

You can create a new PAT to authenticate the publish - https://www.visualstudio.com/en-us/docs/setup-admin/team-services/use-personal-access-tokens-to-authenticate#create-personal-access-tokens-to-authenticate-access
You can pass PAT as a parameter in the publishing step via a -p or -pat option in the vsce tool.

[2017-07-27 07:49] #198 closed

[2017-07-27 07:49] joaomoreno commented on #196
@modigrv Could we get a better error message from the service?

[2017-07-27 08:00] pmkary commented on #198
I searched both within google and github and even quoted, might have been of my bad luck. However thanks a lot for your time and answering it.

[2017-07-27 08:01] joaomoreno commented on #198
Let me know if the suggestion doesn't fix it. 👍

Also, I'll make sure we display a better message in this case, since it seems people are hitting it quite a bit lately.

[2017-07-27 08:15] JimiC commented on #180
Good to know. Precious development time saved.

[2017-07-27 14:16] Jason3S commented on #194
Thank you. My version of `npm` was older.  I'll try with `5.3.0` soon.

[2017-07-27 16:09] pmkary commented on #198
Thanks a lot! that was the case and it's now fixed! thanks again for your time.

[2017-08-02 16:38] letmaik commented on #192
I would find this very useful as well. I can't use the markdown syntax for images as I need to include the `width` attribute. The reason is simple: the image is a screenshot made on a high-dpi screen, and it just blows up in size as browsers don't read pixel density information (which PNGs don't have anyway)  and just assume 72. Setting an explicit width fixes that on all display densities.

Demon

[2017-08-07 18:15] jlehrkind commented on #165
Manually (!) deleting entire `node_modules` **AND** `package-lock.json` content, then reinstall everything (with npm install) simply solved the issue.

[2017-08-11 08:51] vladdu opened #199 "node_modules not included in package"
This might be a stupid mistake from my side, but I have a project that works fine and another that doesn't put node_modules in the vsix archive. The embedded language server's directory has its node_modules, but not the client.

The configuration  in package.json and tsconfig.json is the same (from what I can tell)

The code is not public, so maybe I can get some pointers to where I should look?

[2017-08-11 09:33] vladdu commented on #199
Of course, I am the idiot here... I only had dev-dependencies... Sorry for the noise!

[2017-08-11 09:33] #199 closed

[2017-08-20 18:17] chrisdias opened #200 "invalid resource when publishing"
I'm trying to publish an update to the [vscode-azure-pack](https://github.com/microsoft/vscode-azure-pack) extension.  I can package fine, but when I try to publish I get an "Invalid Resource" error.

[code]

[2017-08-21 07:56] joaomoreno commented on #200
Hi @chrisdias, check these out: #198 #196

[2017-08-22 23:09] chrisdias commented on #200
I searched the code but I didn't search the repo!  Yes, getting a new PAT fixed this issue, thanks.

[2017-08-22 23:09] #200 closed

[2017-08-23 21:17] volosovich opened #201 "Improving "vsce --help" output documentation"
When developer use vsce --help he/she has this output for command:

    ls                                   Lists all the files that will be published
    package [options]                    Packages an extension
    publish [options] [<version>]        Publishes an extension
    unpublish [options] [<extensionid>]  Unpublishes an extension. Example extension id: microsoft.csharp.
    list <publ

[2017-08-24 08:11] joaomoreno commented on #201
Have you tried `vsce publish --help`?

[2017-08-24 08:11] #201 closed

[2017-08-25 08:47] siamak opened #202 "Migration Repo"
I published a extension on vsce. Now we have an organization and we want to migrate repo to org-repo. In vsce how we can do that?

[2017-08-25 13:52] joaomoreno commented on #202
Not really sure what our story is there.

cc @seanmcbreen @egamma @dbaeumer

[2017-08-28 17:53] seanmcbreen commented on #202
Hi,

we suggest following a process similar to what I have described here:
https://github.com/Microsoft/vscode/issues/21478#issuecomment-283118349

I'll close this issue for now - but please reach out if you have additional questions.

Sean

[2017-08-28 17:53] #202 closed

[2017-08-30 14:47] chriscamicas opened #203 "Support linked node modules"
When I use a linked package, and I run `vsce package` it fails with
[code]

steps to reproduce in PowerShell:
[code]

I'm running Windows 10 x64

[2017-08-31 07:12] joaomoreno commented on #203
There is currently no support for linked packages.

[2017-09-01 03:18] atian25 opened #204 "can't find personal access token"
had read https://code.visualstudio.com/docs/extensions/publish-extension

but not found
![image](https://user-images.githubusercontent.com/227713/29954018-43808992-8f07-11e7-8577-5c5cd5f9d626.png)

[2017-09-01 08:37] joaomoreno commented on #204
You're in the wrong page.

https://atian25.visualstudio.com/_details/security/tokens

[2017-09-01 08:37] #204 closed

[2017-09-01 08:40] atian25 commented on #204
thanks, but where is the menu to jump this url ?

can't find the menu metioned at https://code.visualstudio.com/docs/extensions/publish-extension

![image](https://user-images.githubusercontent.com/227713/29962048-3e57c9a8-8f34-11e7-98ea-41079bbc93d1.png)

![image](https://user-images.githubusercontent.com/227713/29962054-45f64518-8f34-11e7-8cbd-db3a1d115d47.png)

[2017-09-06 06:36] onecentlin opened #205 "Cannot publish package -- Error: Failed Request: Unauthorized(401)"
vsce: 1.30.0

My old PAT has expired, and I create a new one today.
Login with: `vsce login <publisher>` and update new PAT (with All scopes).

I still cannot publish package successfully, and keep getting the error message below:

[code]

[2017-09-06 06:50] onecentlin commented on #205
Sorry. I forgot to choose `all accessible accounts`. Close issue.

[2017-09-06 06:50] #205 closed

[2017-09-12 11:56] nehashri commented on #148
This would be a good feature to have in Marketplace to publish pre-release versions of extensions.

[2017-09-21 06:30] gilmoreorless opened #206 "Preserve existing indentation in package.json"
Using `vsce publish <version>` is clobbering the existing indentation in `package.json` and forcing it to always be 4 spaces. This differs from the default 2-space indentation generated by `npm init`, and can make git diffs rather messy.

I know `npm` has code to detect the indentation of `package.json` and preserve it when installing/updating/removing dependencies or publishing a new version. Ide

[2017-09-21 06:42] joaomoreno commented on #206
I'm more in favour of having vsce just spawn npm.

[2017-09-21 10:45] gilmoreorless commented on #206
Fair enough, I’ll leave it alone then. 😃

[2017-10-02 13:11] eamodio commented on #118
@joaomoreno Any update on this? It would be really great if these worked -- I have many links that provide a "link" between a feature and its settings.

See https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens vs https://github.com/eamodio/vscode-gitlens/blob/master/README.md

[2017-10-03 08:30] joaomoreno commented on #118
@modigrv Any update here?

[2017-10-03 08:33] joaomoreno opened #207 "[question] how to develop vscode extensions locally with inter dependencies"
From https://github.com/Microsoft/vscode/issues/35458 cc @dakaraphi

[2017-10-04 12:38] modigrv commented on #118
We are investigating and will get back

[2017-10-06 10:08] kesane-msft commented on #118
@eamodio thanks for bringing this up. We never supported links to other sections in same page on the marketplace site. We have a couple of customers requesting it now and we will put it in our backlog.

[2017-10-10 22:41] eamodio commented on #118
@kesane-msft thanks. I hope this is something that can be addressed sooner than later. Since GitHub `readme.md` are being pulled into the vscode marketplace directly, I would think (and I certainly do think) that there is a *strong* expectation that something as basic as anchor-linking would be supported.

[2017-10-11 23:42] mlewand opened #209 "Improve "Invalid Resource" error message in case of expired/invalid PAT"
While attempting to publish a package after a long time of inactivity I today I got:

Luckily this issue has been already discussed here, so I was able to quickly find the answer for the problem (#196, #198, #200). IMHO the message is vague, and it should simply say that invalid token is provided.

I saw [@joaomoreno comment](https://github.com/Microsoft/vscode-vsce/issues/198#issuecomment-3182890

[2017-10-12 07:31] #209 closed

[2017-10-12 07:38] joaomoreno commented on #209
Fixed in 1.31.1

[2017-10-22 21:03] jpoon commented on #209
Thanks @joaomoreno. Ran into this just now and the error message was helpful :)

Why not use an `aka.ms` url instead of http://tinyurl.com/y8djp2nl?

[2017-10-27 10:32] joaomoreno commented on #209
Oh yeah... I actually did [this](https://www.bing.com/search?q=microsoft+tinyurl&qs=n&form=QBLH&sp=-1&ghc=1&pq=microsoft+tinyurl&sc=6-15&sk=&cvid=36CDCA992C264A7AA8199EF2E392D4C1) but that yielded nothing interesting...

[2017-11-06 14:13] joaomoreno opened #210 "Allow extensions to specify a different file than README to be displayed on the marketplace"
@davidanthoff says:

It would be great if I could specify the path to some alternative markdown file in the ``package.json`` for inclusion in the marketplace instead of the README.md content. Essentially, if that setting is there in ``package.json``, don't include the content from README.md on the marketplace, but instead use the content of the file specified.

The reason is that I want the README

[2017-11-06 14:14] joaomoreno commented on #210
Want to attempt a PR? Should be straightforward enough.

[2017-11-06 14:45] joaomoreno opened #211 "Extension package is malformed/corrupted"
@shanalikhan says

I'm trying to publish the extension but getting this error.
Npm install works build
Build works fine.

Is there any logs from which i can see where the issue is ?

[code]

[2017-11-06 14:45] joaomoreno commented on #211
@shanalikhan says

I had to clone the repo and did npm install again and it was fixed.
But there should be a way to get what caused it corrupted

[2017-11-06 14:46] joaomoreno commented on #211
@modigrv Any way I can get the reason for the malformation/corruption back from the response?

[2017-11-06 16:35] davidanthoff commented on #210
I'm afraid I'm maxed out on the open-source projects I can contribute, so don't expect a PR from my anytime soon :)

[2017-11-08 12:38] mxschmitt opened #212 "Add trusted badge providers"
Hello,

i already tried to find something in the wiki etc. what the requirements are to be added as a trusted SVG badge provider. In my current project I use the untrusted SVG sources from:

- [godoc](https://godoc.org/github.com/maxibanki/golang-url-shortener?status.svg)
- [goreportcard](https://goreportcard.com/badge/github.com/maxibanki/golang-url-shortener)
- [coveralls](https://coveralls.io/r

[2017-11-08 13:34] modigrv commented on #211
We throw this error when we get a File format exception. This is raised when the vsix file could not be opened at all. So detailed information is not available as the zip utility is not even able to open the file.

[2017-11-08 15:05] joaomoreno commented on #212
Sure, fire up a PR!

[2017-11-08 17:45] maxibanki commented on #212
I also added the one from deepscan.io as request in Microsoft/vscode#32917.

[2017-11-16 12:53] raix opened #214 "feature: ability to lookup extension on Marketplace via command line"
It would be nice if the cli could be used to lookup extension metadata from Marketplace.

I'm interested in know last version of my package in order for me to automate publishing new versions eg. via semantic-release on CI.

I could use the api directly as vscode - but it would be nice with an official way to do this.

Idea:
[code]

I don't mind creating a pr for it to get it rolling.

[2017-11-16 13:25] joaomoreno commented on #214
PR would be awesome.

[2017-11-16 22:54] raix commented on #214
@joaomoreno I've created an initial pr #215

[2017-11-18 07:55] raix opened #216 "feature: ability to search for extension on Marketplace via command line"
When using the command line tool as a user or other tools it would be useful to have the ability to search in the marketplace gallery.

Idea:
[code]

Given that #215 is merged it should be a minor task adding

[2017-11-20 04:23] atian25 opened #217 "Error: Part URI cannot contain a Fragment component."
any more info could help?

[2017-11-20 08:03] joaomoreno commented on #217
Yes. Where and how did you see this?

[2017-11-20 08:08] atian25 commented on #217
https://github.com/eggjs/vscode-eggjs

just publishing my extension with `npm run vsce`

[2017-11-20 08:08] joaomoreno commented on #217
Ok. What does that return? The full output.

[2017-11-20 08:11] atian25 commented on #217
@joaomoreno sorry, update above

[2017-11-20 08:14] joaomoreno commented on #217
@modigrv What can be wrong?

[2017-11-21 05:19] modigrv commented on #217
Is there a file/folder name in the Vsix being published having a # in the name? From my search this error comes when there are some unusual characters like # in any filename or folder name.

[2017-11-21 05:35] atian25 commented on #217
not, don't have.

[code]

[2017-11-21 07:36] modigrv commented on #217
@joaomoreno Is there something written during prepublish/publish in any of the files, during Vsix creation? Do we put any urls of github/latest changes? one doubt that I have is that the code repo's one of the latest commits have a name which contains a #.
If not, @atian25 can you please provide me the vsix fix generated during the process, it will help us find where is the publish failing actuall

[2017-11-21 07:40] atian25 commented on #217
sure,  just pack `out` dir ?

[2017-11-21 07:40] atian25 commented on #217
[out.zip](https://github.com/Microsoft/vscode-vsce/files/1490412/out.zip)

[2017-11-21 08:08] modigrv commented on #217
I checked by actually packaging from the source code. In of the node modules there is a file with having name containing #. The path is "node_modules\recast\lib\#fast-path.js#". This is creating a problem. The unzipping seems to be failing for a file having # in the name.

[2017-11-21 08:12] atian25 commented on #217
... so maybe we have to change the unzip lib ?

[2017-11-21 08:16] modigrv commented on #217
Is this file really needed? If not, you can get unblocked by removing it before packaging.
Changing the lib is not that straightforward for us as a service.
I will file a bug in Marketplace for this anyways.

[2017-11-21 08:19] atian25 commented on #217
not, it's not my code, but facebook, import by `jscodeshift`.

modify the `node_modules` files is a bed smell.

[2017-11-21 08:22] modigrv commented on #217
I am not sure but from the name, it looks like it is included by mistake or not named correctly. All other files in that folder are .js files. Can you contact the author of the module?

[2017-11-21 08:27] atian25 commented on #217
had raise https://github.com/benjamn/recast/issues/449

[2017-11-21 08:43] joaomoreno commented on #217
Excellent, great catch @modigrv, thanks a lot! Closing the issue, since it's not inherent to vsce.

[2017-11-21 08:43] #217 closed

[2017-12-02 00:37] TheColorRed commented on #187
It would be nice if an error occurs that vsce would rollback to the previous version. I pushed some code it was supposed to be `0.0.12`, but it didn't work. By the time it worked it pushed as `0.0.14` and now my `CHANGELOG.md` is wrong.

[2017-12-05 11:35] chrisdias opened #219 "vsce show fails when manifest has no tags property"
testing https://github.com/Microsoft/vscode/issues/39586

`vsce show hoovercj.vscode-power-mode`
Result: Error: Cannot read property 'join' of undefined

[2017-12-05 13:50] #219 closed

[2017-12-05 19:13] mjbvz opened #221 "vsce show on powershell/cmd prints unknown characters"
**Repo steps**
1. In windows powershell or cmd
2. Run `vsce show eamodio.gitlens`

**bug**
The stars and download symbol are printed as unknown characters

![capture](https://user-images.githubusercontent.com/12821956/33625634-06eeea46-d9ad-11e7-850e-d4bcd3337784.PNG)

[2017-12-05 19:33] mjbvz opened #222 "vsce show prints __tags"
**repo**
1. Run `vsce show CristianRengifo.informix4gl`

**bug**
The following tags are printed:

[code]

I don't know where these double underscore tags are coming from. Probably file extension support?

Here's the package.json on the marketplace:

![screen shot 2017-12-05 at 11 31 39 am](https://user-images.githubusercontent.com/12821956/33626688-2d62e2e2-d9b0-11e7-9d9f-cbe662626326.png)

[2017-12-05 20:11] raix commented on #222
Thanks @mjbvz I'll do a fix for it filtering out `__ext_*` tags

[2017-12-05 21:01] raix commented on #221
@mjbvz thanks - the pretty unicode stars seem to break on windows powershell - is this also an issue in `cmd`?

[2017-12-05 21:13] mjbvz commented on #221
Yes, same thing happens on cmd

[2017-12-05 21:21] raix commented on #221
Thanks @mjbvz I'll investigate

[2017-12-06 11:25] #222 closed

[2017-12-06 17:25] seanmcbreen opened #224 "VSCE Show - Windows output hard to read"
Testing https://github.com/Microsoft/vscode/issues/39586

Two minor issues:
1. The Windows shell struggles with the font for ratings and download
2. Perhaps we should state that extension names can be case sensitive (I know they are meant to be all lower case but some are not)

![image](https://user-images.githubusercontent.com/1051190/33675251-c9b416b4-da66-11e7-8bb7-d2b63949811c.png)

[2017-12-06 17:52] raix commented on #224
Thanks @seanmcbreen

I agree the quick fix would be to add a note that it's case sensitive,

If the unique identifier is case sensitive - I don't believe it is eg.:
https://marketplace.visualstudio.com/items?itemName=seanmcbreen.mdtools
https://marketplace.visualstudio.com/items?itemName=seanmcbreen.MDTools
*(Both reference the same extension)*

I'll take a look

--

The icon issue is tracked in #

[2017-12-06 17:56] raix commented on #221
It seems to be an issue with encoding or missing font glyphs, I'm looking into safer glyphs or/and a fallback if it's on a system without the fancy icons

[2017-12-07 08:35] #221 closed

[2017-12-07 08:36] #224 closed

[2017-12-08 08:25] sandy081 opened #227 "Validate extension dependencies names of an extension while publishing"
When an extension has a invalid extension dependency name like

[code]

VSCE should validate them while publishing

Ref: https://github.com/Microsoft/vscode/issues/12907

[2017-12-12 05:07] shanalikhan commented on #210
Need this for Code Settings Sync also

[2017-12-12 15:51] raix commented on #210
I might do a pr tomorrow unless others get there first

[2017-12-12 22:00] tgriff opened #228 "mailto links in README.md don't work with "vsce package""
Repro steps:
1. Add mailto link in README.md, e.g. \[Email me!](mailto:me@website.com?Subject=Repro).
2. Run "vsce package"
3. I get the following error:
Error: Couldn't detect the repository where this extension is published. The link 'mailto:me@website.com?Subject=Repro' will be broken in README.md. Please provide the repository URL in package.json or use the --baseContentUrl and --baseImagesUrl

[2017-12-13 08:46] joaomoreno commented on #228
Wanna attempt a PR?

[2017-12-13 17:08] tgriff commented on #228
I was planning on looking into it as I have time.  I've got some other higher priority items on my plate but wanted to file an issue to make sure it's being tracked.

[2017-12-21 16:42] kesane-msft commented on #118
@eamodio this is now fixed on the Marketplace.

[2017-12-21 18:27] eamodio commented on #118
@kesane-msft THIS IS AWESOME -- thank you!

Though I did notice one "issue" while playing with it -- if you click on a link like [eamodio.gitlens#user-content-extension-settings](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens#user-content-extension-settings) and then scroll around and click on another link that happens to also go to the same hash it won't re-scroll you to the

[2017-12-22 04:28] kesane-msft commented on #118
@eamodio thanks for reporting the issue. We'll investigate and get back.

[2017-12-27 17:53] cdyson37 commented on #101
I can't find anything in the official docs that says exactly what a publisher name is and what it's for, only that you should create one, and it should appear in package.json.

Here it tells you how to create one, but not the properties it should have (uniqueness? whitespace allowed?) https://code.visualstudio.com/docs/extensions/publish-extension#_publishers-and-personal-access-tokens

[2017-12-27 18:53] cdyson37 opened #230 ".vsce file permissions world-readable by default"
I've just used vsce for the first time, so apologies in advance if I've got this wrong. The `.vsce` file appears to contain a secret access token, but it appears to have been created with my regualar umask (I'm on Linux) and is thus world-readable. I think if in doubt it should be readable only by the creating user.
[code]

[2018-01-12 07:52] guw commented on #207
@dakaraphi Sorry for hijacking this thread but I'm having a similar issue. I don't even get the code compiled when defining a dependency from one extension to another extension. Thus, I was wondering for your setup to reproduce the issue you are seeing.

I've created [a Stackoverflow post](https://stackoverflow.com/questions/48221762/error-compiling-vs-code-extension-with-dependency-on-another-ext

[2018-01-12 13:41] dakaraphi commented on #207
@guw posted a response on Stackoverflow.
This is related to https://github.com/Microsoft/TypeScript/issues/6496#issuecomment-351435136

[2018-01-17 18:50] shahata commented on #217
but `#` is a valid character in file name, it should be allowed... this is now happening with more and more packages...

[2018-01-20 18:42] Jasonlhy commented on #217
I has no idea why `#extension.js#` appears in my out folder. Just removed it to solve this problem.

[2018-01-22 06:43] jtjoo opened #231 "I forgot my personal access token generated by publish my extension."
Hi,

I used to use my access token to login by vsce-cli, to publish my developed extension.
But after months I had to re-install my mac and now logged in vsce-cli is gone, but I don't have previously used personal access token to login.

I re-generated my personal acesss token but I cannot login by vsce-cli.
How can I re-login by new token and access to my extension and publish?

[2018-01-22 06:43] jtjoo opened #232 "I forgot my personal access token generated by publish my extension."
Hi,

I used to use my access token to login by vsce-cli, to publish my developed extension.
But after months I had to re-install my mac and now logged in vsce-cli is gone, but I don't have previously used personal access token to login.

I re-generated my personal acesss token and set it to access all scopes but I cannot login by vsce-cli.
How can I re-login by new token and access to my extension

[2018-01-22 07:30] timoxue opened #233 "upload with icon image failed"
Hi could anyone help with this?
command: vsce publish

package.json:
   "icon": "images/hanasql.png"

image location: ./images/hanasql.png
error: Error: The specified icon 'extension/images/hanasql.png' wasn't found in the extension.

is the default "extension" path included as hard coded?

Thanks

[2018-01-24 08:40] joaomoreno commented on #231
#232

[2018-01-24 08:40] #231 closed

[2018-01-24 08:40] joaomoreno commented on #232
Use `vsce login PUBLISHER_NAME` to re-login with VSCE.

[2018-01-24 08:40] #232 closed

[2018-01-24 08:44] joaomoreno commented on #233
Can you show me the extension's repository, so I take a look?

[2018-01-24 10:38] mariorodeghiero opened #234 "Bad error message when package is too large"
I can use my tokem to create and login, but when I run the command "vsce publish". This message: expired tokem

<img width="762" alt="screen shot 2018-01-24 at 08 22 07" src="https://user-images.githubusercontent.com/24671133/35327726-7c407cbe-00e1-11e8-9eb7-4aba85046041.png">

[2018-01-24 11:28] joaomoreno commented on #234
Have you tried getting a new PAT?

[2018-01-24 11:32] mariorodeghiero commented on #234
Yes, I created another(3) and also I can log in, but I can't publish

<img width="964" alt="screen shot 2018-01-24 at 09 29 54" src="https://user-images.githubusercontent.com/24671133/35330107-6722b89e-00e9-11e8-8f36-095aee051c5b.png">

[2018-01-24 23:46] mariorodeghiero commented on #234
After some tests, has been solved ignore gifs added, the **VSIX** file was with **74 MB**, but the error presented was **"tokem expired"**.

I tried to load the file in the marketplace Web site, where he reports that the file must be less than **100 MB**, but the **.VSIX** file **74 MB** uploaded, either of error presented **"timeout"**

After the file get 7 KB, run the command "vsce publish" and

[2018-01-25 08:06] joaomoreno commented on #234
Got it.

cc @viradhamMS @pkuma-msft Could we get a better error message from the service other than `Invalid Resource` for when the extension package is too large?

[2018-01-25 09:53] viradhamMS commented on #234
Thanks for reporting. Will fix it to be more actionable

[2018-01-26 16:55] henryju commented on #148
Note that the Marketplace seems to allow 4 digits (at least for other kind of extensions): X.Y.Y.build while vsce don't.

[2018-02-02 18:15] benrr101 opened #235 "Interactive repository warning breaks gulp workflow"
The addition of an interactive warning when the repository field has been omitted breaks gulp workflows. Running `vsce` from a gulp task, the `vsce` command will hang when there the repository field has been omitted. This causes the entire gulp task to hang, which can be a major annoyance when running package as part of an automated build.

Obviously the end user solution is to just assign a repos

[2018-02-05 07:49] joaomoreno commented on #235
Makes sense. Let's check for a TTY, print the warning and accept a `Y`, since it's just a warning.

[2018-02-05 08:52] #235 closed

[2018-02-05 08:52] joaomoreno commented on #235
Fixed in 1.36.2

[2018-02-05 11:18] sandy081 opened #236 "Generate internal tags for language packs extensions"
With 1.20 release we support language pack extensions. If VSCE can generate internal language pack tags, it would be helpful to query them for recommendations.

Here is the contribution point schema for language packs:

[code]

Generating internal tags for languageId & extension id will be helpful.

[2018-02-05 11:19] sandy081 commented on #236
@joaomoreno I am happy to contribute here :)

[2018-02-07 16:07] joaomoreno commented on #236
@sandy081 Sure. Do we already know which format we want?

[2018-02-07 16:27] sandy081 commented on #236
No, I can come up with some proposals.

[2018-02-07 21:05] shanalikhan opened #237 "vsce not working with travis CI"
Hello,
I am building the settings sync extension in my computer and it works well.
I have recently added Travis CI and it fails

![image](https://user-images.githubusercontent.com/8774556/35941530-5a52c424-0c74-11e8-9547-f405dd83234f.png)

https://travis-ci.org/shanalikhan/code-settings-sync/jobs/338701293

[2018-02-08 08:09] joaomoreno commented on #237
This isn't vsce, but the `vscode` node module. Filed https://github.com/Microsoft/vscode-extension-vscode/issues/91

I recommend you pick a more recent NodeJS version in Travis: https://docs.travis-ci.com/user/languages/javascript-with-nodejs/#Specifying-Node.js-versions

[2018-02-08 08:09] #237 closed

[2018-02-13 08:42] roonyh commented on #146
`vsce publish --help` worked for me

[2018-02-16 21:46] kdvolder opened #238 "vsce suddenly broke. Error: Cannot find module 'vso-node-api/HttpClient'"
I tried reinstalling but to no avail. Every time I try to run `vsce package` in any of our projects it fails with this kind of error:

[code]

It was working fine just hours ago and nothing much has changed in our projects. Perhaps something has changed in/with vsce dependencies?

[2018-02-16 21:50] kdvolder commented on #238
This might be useful to know.

[code]

Hmm well... funny even `vsce --version` isn't working. But in package.json of installed vsce bundle it looks like version 1.36.2:

[code]

[2018-02-16 21:56] kdvolder commented on #238
Interesting: on here: https://www.npmjs.com/package/vso-node-api

It says:

Yeah that sounds about like... right about the time when `vsce` broke for us.

[2018-02-16 22:23] kdvolder commented on #238
This workaround works for us:

https://github.com/spring-projects/sts4/commit/dcb08077f5a3368f2c7e005d3c81fb154ce6cd1e

I.e. we make sure the vsce we use to package our vscode extensions sticks to an older version vso-node-api version `6.1.2-preview`

[2018-02-16 23:59] Gruntfuggly commented on #238
Having the same problem. 8-(

[2018-02-17 05:29] raix commented on #238
@joaomoreno I think we might be needed to lock the version on to `6.1.2-preview` until https://github.com/Microsoft/vsts-node-api/issues/126 is solved.

[2018-02-17 09:56] rofrol commented on #238
Another error.

package.json:

[code]

and error:

[code]

[2018-02-17 16:30] ritwickdey commented on #238
Yep! I'm facing the same problem! The issue is for breaking change in `vso-node-api` with patch update!

Anyway, this `vsce` repo don't have any lock file and the reason, npm is installing latest patch version which is `6.3.2`.

I've opened the `vsce` installed files from global npm directory (`~/.npm-global/lib/node_modules/vsce/`) and tried to manually install the specific verison of vso-node-ap

[2018-02-19 09:10] joaomoreno commented on #238
Thanks for the investigation guys! Fixed in 1.36.3.

[2018-02-19 09:10] #238 closed

[2018-02-19 11:16] DanTup opened #239 "Unable to update vsce for last week (stays on 1.35.0 after claiming to update to 1.36.3)"
For the last week  or so `vsce` has been telling me there are updates, but it never seems to update when I run the command (I've never had any issues in the past):

[code]

[2018-02-19 12:01] joaomoreno commented on #239
There is something wrong in your system. Check what command is run when you run `vsce` in the command prompt. Do you have multiple node/npm versions installed?

[2018-02-19 12:01] #239 closed

[2018-02-19 12:23] DanTup commented on #239
Here's the paths of node/npm/vsce:

[code]

Not as far as I know. I did upgrade it recently, but the installer pre-filled the previous path and I installed it there.

The contents of `vsce.cmd` look like this:

[code]

Which makes me suspicious about the path that was output during the upgrade. I'll wipe them out and start over; seems like npm wants to be in my profile so having it in the nodejs i

[2018-02-19 12:28] DanTup commented on #239
Sorted. Somehow there's an npm in the nodejs folder, but that seems to now call the one in the profile. All seems super wonky, but I'm no longer getting cmd files in M:\Apps\Node they're all going in the profile, so the version being run and the version being updated match.

[2018-02-19 21:07] equinusocio opened #240 "Trusted svg badge provider"
Hi, i noticed that **[opencollective.com](https://opencollective.com/)** is now a [trusted badge provider](https://github.com/Microsoft/vscode-vsce/blob/d478c021394c7be0d8ec2df3aae10c5c35799559/src/package.ts#L138) but i get this error when i publish my extension:

[code]

Also opencollective.com doesn't appear here:
https://docs.microsoft.com/it-it/vsts/extend/develop/manifest#supported-badge-ser

[2018-02-20 15:50] joaomoreno commented on #240
Apparently, the Marketplace is also doing checks on the badges.

@viradhamMS @pkuma-msft Can we whitelist the following domains?

- https://github.com/Microsoft/vscode-vsce/commit/b3b198f0f7c7e65efb06c81d62e03afa76822960
- https://github.com/Microsoft/vscode-vsce/commit/75f7d2ffcb1706e59cc9796b1e36e298b55dbf4a
- https://github.com/Microsoft/vscode-vsce/commit/b25a7701456d7bcd8273e7e84ca9b656e7a1d7

[2018-02-21 01:58] pkuma-msft commented on #240
@equinusocio Sorry for the inconvenience, I'll add these domains to our whitelist and update this thread.

[2018-02-21 13:19] pkuma-msft commented on #240
We have made the change at our end, the publish should go through now. Please try and let us know if you still see any issues.

[2018-02-21 18:05] sandy081 commented on #236
@dbaeumer Here are the tags that VSCE can generate for a lang pack extension with following contribution

[code]

- `localization-de`: Tag for languageId
- `__localization-de_vscode`, `__localization-de_vscode.go`: Internal tag for each extension translation

[2018-02-22 07:51] joaomoreno commented on #240
Thanks @pkuma-msft! 🍻

[2018-02-22 07:51] #240 closed

[2018-02-22 09:14] sandy081 commented on #236
After discussing with @dbaeumer we finalised to have languageId prepended by `lp` instead of `localization`.

[2018-02-22 09:46] joaomoreno commented on #236
Fixed by #241, released in 1.37.0

[2018-02-22 09:46] #236 closed

[2018-02-25 19:55] shanalikhan opened #242 "vsce pre publish pre on travis build but works locally fine"
hello,
Vsce pre publish works for my code extension when running locally but fails with error on travis

[code]

[2018-02-26 08:35] joaomoreno commented on #242
What NPM version do you have locally? What NPM version do you have on Travis?

[2018-02-27 18:43] chrisdias opened #243 "suggestion: offer to run npm install if vsce is out of date"
I don't run `vsce` very often but when I do, I'm often prompted with "the latest version of vsce is..." message and then I always run `npm install -g vsce`.  I'm not sure why I wouldn't want to upgrade, so maybe we offer to run it for them?

[code]

And if they choose "Yes" simply run `npm install -g vsce` for them.

This way all I have to do is press Enter to be on the latest.

[2018-03-01 08:32] v-dantch commented on #165
Could you help to share more details about the solution? The node_module and package-lock,json are generated again after running 'npm install', then it goes into the loop.

[2018-03-03 00:08] shanalikhan opened #244 "vsce package (prepublish) code ELIFECYCLE"
Hello,
Im trying to make vsce package for my settings sync extension
Commit : 3cb00b67b9fc3b58f6812c98a1ea70998452b8a3
in v2.9 branch.

Latest npm and node verified.
Removed packages and installed again and same error on package and even on travis CI
Getting this error:

[code]

with log file

[code]

[2018-03-04 20:53] #244 closed

[2018-03-04 20:53] #242 closed

[2018-03-14 03:16] pkuma-msft commented on #234
Wanted to provide an update that we're looking at this issue. We (from an application pov) are throwing the right exception and error message but the framework seems to convert it into a generic 500 - Internal Server Error in its uber exception handler. I'll provide an update as soon as we have a fix ready.

[2018-03-17 13:18] FabianLauer opened #245 "HTTPS URL not rewritten in README.md when image alt text empty"
When the README.md contains an image without alt text, the `--baseImagesUrl` option seems to be ignored for that image.

For example, the following markdown will result in `Error: Images in README.md must come from an HTTPS source: ./out/src/static/logo-32x32.png`:

[code]

Adding any content in between `[` and `]` fixes the problem, even whitespace will do. This is related to #192 if I'm not mist

[2018-03-19 00:40] ribrdb opened #246 "vsce package fails"
I'm trying to package my extension based on the lsp-sample. I run vsce package in the client directory and it says:
[code]

[2018-03-19 09:03] joaomoreno commented on #246
If you run `npm list --production --parseable --depth=99999`, what happens?

[2018-03-19 09:13] #245 closed

[2018-03-22 01:37] jamiesarahg commented on #244
Hi! What was your solution to this error. Please share

[2018-03-22 21:37] emackey opened #247 "Other causes of "Invalid Resource""
Other than an expired PAT, what else can cause the vsce "Invalid Resource" message?

I'm seeing this:

[code]

I didn't even get a chance to put the new PAT in yet.  What causes this?

[2018-03-26 13:34] joaomoreno commented on #247
Are you behind a proxy?

[2018-03-26 13:45] emackey commented on #247
Not on the machine in question, no.  Is there some debug log or something I can enable, to see what let to the Invalid Resource error?

[2018-03-26 14:06] joaomoreno commented on #247
Not really... Do you have the latest version?

[2018-03-26 14:14] emackey commented on #247
Yes.  I deleted the global node_modules cache and re-downloaded/re-installed, same behavior.

[2018-03-26 16:47] pkuma-msft commented on #234
Update: The fix in framework has been merged into our master branch. And it should make it out to prod in about 3-4 weeks.

[2018-03-27 07:01] joaomoreno commented on #234
Excellent! Closing this for now. Thanks for the updates @pkuma-msft!

[2018-03-27 07:01] #234 closed

[2018-03-27 07:20] joaomoreno commented on #247
Does it work on another machine?

[2018-03-27 08:18] v-dantch opened #249 "Fail to run 'vsce package' with error"
Fail to run 'vsce package' with error ‘vsce’ is not recognized as an internal or external command, operable program or batch file.
![2](https://user-images.githubusercontent.com/34729092/37955109-3dc25bea-31da-11e8-8f3a-a87e46947afd.PNG)

[2018-03-27 09:39] joaomoreno commented on #249
This is an issue with your npm system setup. Try restarting your machine.

[2018-03-27 10:23] v-dantch commented on #249
Thanks a lot. But this issue still reproduces after restarting my machine. Could you help to provide more details or other solutions?

[2018-03-27 12:17] joaomoreno commented on #249
How did you install Node/NPM?

[2018-03-27 12:40] emackey commented on #247
Yes, I have one more machine on the same network, and I've been publishing from there.

[2018-03-28 02:06] v-dantch commented on #249
I install Node from https://nodejs.org/en/download.
This issue doesn't reproduce on another clean machine.
Special thanks for your help.

[2018-03-28 07:44] joaomoreno commented on #249
What is the value of your `%PATH%` variable in the command prompt?

[2018-03-28 07:59] joaomoreno commented on #247
We need to dig deep! ⚔️

Edit `node_modules/vso-node-api/RestClient.js` and log the `err` in this line:

![image](https://user-images.githubusercontent.com/22350/38016218-a8e9cc34-326e-11e8-91eb-a1da084b97cc.png)

[2018-03-28 08:43] v-dantch commented on #249
Display 'C:\Windows\System32' is not recognized as an internal or external command, operable program or batch file on both two machines. Is it right?
Do we need to set the PATH? For Node?

[2018-03-28 09:32] jmarandet commented on #244
Hi @shanalikhan , I am facing the same issue and would be thankfull to have any hint , did you found a way out of this issue ?

[2018-03-28 09:34] shanalikhan commented on #244
I had updated some `npm` packages.
When i reverted them it worked.

[2018-03-28 10:20] jmarandet commented on #244
Ok thanks a lot, I found my way out too !
Instead of reverting, I coosed to move forward with the following commands :
`npm install -g node@latest`
`npm install -g npm@latest`
`npm install -g vscode@latest`
`npm install -g vsce@latest`

I think this helped to correct some hidden issues (moving forward is always good isn't it ?), but I still had the same error log.
Then I copy/paste the correspondi

[2018-03-28 12:20] joaomoreno commented on #249
Do `echo %PATH%`.

[2018-03-28 13:48] emackey commented on #247
After an hour of debugging, I think I can blame Git Bash for this.  I've been running `vsce` from inside Git Bash on both my machines, on one it works, the other does not (but used to).  After littering almost the entire codebase with `console` statements, I've traced the failure to this line here:

https://github.com/Microsoft/vscode-vsce/blob/4aaf256a922142b52da1d357026ba1b601ac255a/src/util.ts#

[2018-03-28 13:55] joaomoreno commented on #247
Thanks for the investigation! This issue should be fine as documentation. So far it hasn't happened to anyone else and, if it does, Google will index this properly. 👍

[2018-03-28 13:55] #247 closed

[2018-03-29 01:29] v-dantch commented on #249
Please get the details from the screenshot
![both](https://user-images.githubusercontent.com/34729092/38065028-9fdf2f30-32f0-11e8-9618-90580d0b8f49.PNG)

[2018-03-30 00:33] ThadHouse opened #250 "Allow manually version setting for package command"
If I was directly publishing my plugins to the marketplace, `vcse publish` allows setting a full version number manually. However, I want to be able to run `vsce package` on a build server, and manually decide which ones to push. However, `package` does not allow passing in a version number, so my current solution is to actually have my build script modify my package.json before building. This sho

[2018-03-30 00:43] ThadHouse opened #251 "Allow publishing version without changing package.json version"
It should be possible to do a non invasive publish with a specified version, where the package gets published without changing the version in package.json.

[2018-03-30 10:03] mike-lischke opened #252 "Cannot create new auth token"
I tried to publish changes to my extension from a different machine then where I do this usually. However, I haven't set a valid publisher auth token there so I got the `Error: Failed Request: Unauthorized(401) -` error.

I followed the link to either add another token or use the one I have already, but cannot since the web page looks now completely different compared to [what the docs say](https:

[2018-04-01 13:47] jrrdnx opened #253 "`vsce publish` fails with "Error: The category 'Languages' is not available in language 'en-us'.""
Used `vsce publish` a week ago with no issues. Yesterday and today, I've tried to push up a new version but it always fails with an error:

The only change I made to **package.json** was to update my version from **0.1.0** to **0.1.1**. The categories field is currently set to:

[code]

Using vsce **1.37.6**

[2018-04-01 16:59] DonaldHays commented on #253
I am experiencing the exact same issue. I was able to publish a day or two ago, but haven't been able to this morning with that exact error.

I get the same error both using `vsce publish` and the web-based VSIX upload.

[2018-04-01 21:45] monkeygroover commented on #253
Same for me

[2018-04-01 23:40] Tehnix commented on #253
Currently blocked on publishing because of this, at https://github.com/alanz/vscode-hie-server/blob/master/package.json#L26.

[2018-04-02 13:48] monkeygroover commented on #253
Appears to be working again, must have been a server side issue.

[2018-04-03 00:33] jamiesarahg commented on #165
Hi! I am having the same issue as both of the people above, however the suggested solution is not working. Is there any other issues that could be causing this?

I have attached my full log below:

[code]

[2018-04-03 00:55] htwx opened #254 "Source code file name contains Unicode character publish failure"
## 源码文件名包含Unicode字符时使用命令打包是可以通过的，插件安装后也可以正常运行（win系统）:
When the source file name contains Unicode characters, it can be passed by command package. After plug-in installation, it can also run normally (win system).

### 成功截图 Successful screenshot

![1](https://user-images.githubusercontent.com/6562192/38223394-3e281d84-371d-11e8-9f5f-9d209167c535.jpg)

但在发布的时候，因为文件名包含Unicode字符，致使发布失败：
But when publi

[2018-04-03 07:08] joaomoreno commented on #254
I suggest to only use ASCII-like characters for file names.

[2018-04-03 07:08] joaomoreno commented on #253
cc @viradhamMS @pkuma-msft

[2018-04-03 07:08] #253 closed

[2018-04-03 07:09] joaomoreno commented on #252
I believe you're in the wrong page. Go to https://mike-lischke.visualstudio.com/_details/security/tokens

[2018-04-03 07:10] joaomoreno commented on #251
No, I don't think it should. If your extension has changes, a version bump is required.

http://blog.npmjs.org/post/162134793605/why-use-semver

[2018-04-03 07:10] #251 closed

[2018-04-03 07:11] joaomoreno commented on #250
You can use `npm version` to bump the version number.

[2018-04-03 07:11] #250 closed

[2018-04-03 07:12] joaomoreno commented on #249
I don't see the issue. I recommend going to Stack Overflow with the question.

[2018-04-03 07:12] #249 closed

[2018-04-03 07:13] ThadHouse commented on #251
Well the releases are semver, but I have an external system to handle versioning, because it's part of a larger package with the version generated at build time. But I'll just keep having an external program manually modify the file if that is what you guys are are going to stick with.

[2018-04-03 07:16] pkuma-msft commented on #253
Yes, this was an issue on Marketplace's side. We disabled the feature flag for mitigation. We are working on a fix..

[2018-04-03 07:18] mike-lischke commented on #252
Thanks @joaomoreno, indeed the correct link is that. However, isn't it a usability nightmare if the doc shows a different layout and there are actually **two** `Security` entries? In fact I find the entire page  a nuisance, given that all I need is the security token for vscode extensions. Why am I forced to see all this unrelated noise? That **calls** for misunderstandings.

[2018-04-03 07:25] #252 closed

[2018-04-03 07:37] mike-lischke commented on #253
Fails for me too currently 😡

[2018-04-03 07:41] mike-lischke commented on #252
It's so "great", now the publication fails because of a Marketplace problem, as described in #253 . Some more stability and better usability would certainly be good.

[2018-04-03 07:44] viradhamMS commented on #253
@jrrdnx , @mike-lischke : Meanwhile, if you can use the category "Programming Languages", it will unblock your publish. Can you please try this?

[2018-04-03 07:49] joaomoreno commented on #252
You can always provide feedback to Visual Studio Team Services right here:

<img width="582" alt="screen shot 2018-04-03 at 09 48 55" src="https://user-images.githubusercontent.com/22350/38236372-3dbb8424-3724-11e8-8762-594ef14d00dc.png">

[2018-04-03 10:13] htwx commented on #254
如果只允许ASCII字符作为文件名称，那应该对非ASCII字符的文件名抛出错误消息。
If only ASCII characters are allowed as file names, you should throw an error message to the file name of a non-ASCII character

[2018-04-03 11:59] viradhamMS commented on #253
BTW, the issue is fixed now. you can use either of the categories. I suggest to use the new one going forward - "Programming Languages"

[2018-04-03 13:20] mike-lischke commented on #253
The problem with that is that my extension now fails to activate.

[2018-04-03 14:53] shaaradmsft commented on #253
Hi @mike-lischke could you please elaborate on the failure you're seeing? We tried forking your repository, changing category to `Programming Languages`, building the extension with `vsce` and installing it on VSCode. The syntax highlighting and error checking worked for antlr files.

[2018-04-03 15:22] mike-lischke commented on #253
Is it possible for you to install the 2.0.1 release of my extension from the marketplace? Meanwhile I updated that to make it work again.

What I saw was that after updating the extension in vscode I got a message for my .g4 files saying that there are extension in the marketplace that could handle such files. And no of the extension features worked. Most obviously the syntax highlighting was diff