[2018-04-03 15:58] shaaradmsft commented on #253
Hi @mike-lischke , we checked the 2.0.1 release of your extension and that has category `Languages` and not `Programming Languages` (categories are same in 2.0.1 and 2.0.2). Also, the verison 2.0.1 isn't giving syntax highlighting as you said. Would it be possible due to the other changes/updates present in version 2.0.1? Could you please mail us at VSMarketplace@microsoft.com and we'll share with

[2018-04-04 15:51] marquesmps commented on #246
I am having the same problem. When I run that command I get:
[code]

[2018-04-05 01:53] akshita31 opened #255 "Option to use a particular .vscodeignore file"
Is there an option to use a particular .vscodeignore file (which may not be present directly in the current working directory or one with a different name) ?

[2018-04-05 04:05] TheRealPiotrP commented on #255
The ability to specify .vscodeignore files to vsce would help extensions like C# increase the determinism of their builds. Extensions like ours require access to the internet at runtime to download platform-specific components [in our case this is OmniSharp as well as a .NET Debugger implementation]. It is necessary for us to build two flavors of our VSIX, one that downloads these assets on the fl

[2018-04-05 08:06] joaomoreno commented on #246
Did you run `npm install`?

[2018-04-05 08:08] joaomoreno commented on #255
Sure, we'll take a PR for this. Shouldn't be too hard.

Maybe a `--ignore-file FILE_PATH` option?

[2018-04-08 16:59] hbenl commented on #246
I had the same issue, apparently it's caused by npm/npm#19393. I was able to work around it by downgrading npm: `npm install -g npm@5.5.1`

[2018-04-08 17:05] hbenl commented on #246
Another workaround mentioned in npm/npm#19393 that worked for me (with npm version 5.8.0): `rm -Rf node_modules/ package-lock.json ; npm install --no-optional`

[2018-04-10 08:56] joaomoreno commented on #246
Good to know!

[2018-04-19 07:30] tboby opened #256 "Extension package contains invalid characters"
When I try to publish I get the error "Extension package contains invalid character(4, 36). Error: XML Document-'<', hexadecimal value 0x3C, is an invalid attribute character. Line 4, position 36.".
The package seems to install fine locally and 7zip has no problems opening the file.

What does this error actually mean?

[code]

[2018-04-19 10:01] tboby commented on #256
@joaomoreno

You won't be able to run my entire build process, so I've made a commit with the artifacts ready.

[This commit](https://github.com/tboby/cwtools-vscode/tree/df8692daf4dc493f20e35bc60ca523ec63e85fb8).

If I clone that commit then:
1. `npm install`
2. (optionally) `vsce package`
3. `vsce publish --pat mykey`

then I get the same error, on a different machine.

[2018-04-20 10:01] joaomoreno commented on #256
I was able to publish successfully. Can you run `vsce package`, rename the `vsix` file to a `zip` file, extract it and send me the `extension.vsixmanifest` within?

[2018-04-20 10:38] tboby commented on #256
I was able to publish last night, as far as I could tell unchanged package,
[extension.vsixmanifest.txt](https://github.com/Microsoft/vscode-vsce/files/1931710/extension.vsixmanifest.txt)

Could it have been a serverside issue? It did seem to be delayed by roughly the upload time.

[2018-04-21 08:00] TomasHubelbauer opened #257 "As a part of the pre-deployment checks, check version in package.json and CHANGELOG"
Hey, I'd like to suggest that as a part of the pre-deployment checks, CHANGELOG is searched for the current version from `package.json` and if it doesn't contain it, an error is thrown.

Unfortunately, the reverse check, where the top CHANGELOG header value would be checked against `package.json`'s `version` field, I don't think can be safely provided as people format CHANGELOG in different ways.

[2018-04-23 14:51] joaomoreno commented on #256
Yup, sure sounds like it. Good to know it works now.

[2018-04-23 14:51] #256 closed

[2018-04-23 14:52] joaomoreno commented on #257
You can write that check for your own extension and call it as a part of the `vscode:prepublish` step.

[2018-04-23 14:52] #257 closed

[2018-04-28 17:57] shanalikhan opened #258 "vsce package fails"
vsce package fails with the error.

[code]

Following is my package.json

[code]

[2018-04-28 17:58] shanalikhan commented on #258
`npm install` output

[code]

[2018-04-28 22:06] #258 closed

[2018-04-29 08:06] shanalikhan opened #259 "vsce not support travis CD for login with excrypted token"
Hello,

I have encrypted the PAT in travis and pasted in travis file.
https://github.com/shanalikhan/code-settings-sync/blob/master/.travis.yml
Following is the script `printf $VSCE_TOKEN | vsce login "Shan"`

The problem is when Travis paste the `[secure]` instead of script and vsce think of it as invalid resource.

when i tried to set simple ( not encrypted ) env. variable in travis and tried th

[2018-04-30 07:12] joaomoreno commented on #259
VSCE doesn't support this way of invocation.

[2018-04-30 09:04] shanalikhan commented on #259
is there any way using VSCE to publish using travis without showing the access token.
or currently VSCE doesnt support CD using travis

[2018-04-30 21:37] joaomoreno commented on #259
VSCE uses `~/.vsce` as a store for credentials. Its format should be a JSON file containing an array of publishers. A publisher is a tuple of name and PAT. So, you should be able to generate that file before invoking VSCE.

Something like this:

[code]

[2018-04-30 22:01] shanalikhan commented on #259
i have tried this way, as willbe using travis encrypted environment variable for `$VSCE_TOKEN`
It still says `Error: Invalid Resource`

[2018-05-02 08:03] joaomoreno commented on #259
Is $VSCE_TOKEN decrypted when used?

[2018-05-05 20:58] Jason3S commented on #194
This seems to be fixed.

[2018-05-05 20:58] #194 closed

[2018-05-09 09:05] ivanovit opened #261 "Support for packagePath and version options together"
Currently, when both options are provided we got the following error:  `Not supported: packagePath and version.`

We have internal builds and we use pre-release part of the version for build information. We want to remove the pre-release part from a version before publishing specific `.vsix` that has been tested without rebuilding the package.

Could you add support to change only the version befo

[2018-05-09 16:20] TomasHubelbauer commented on #237
This issue is pretty high up on Google for VS Code extension with Travis queries so I'd like to link [Running tests automatically on Travis CI build machines](https://code.visualstudio.com/Docs/extensions/testing-extensions#_running-tests-automatically-on-travis-ci-build-machines) here which has a working Travis configurating for running VS Code extensions tests.

[2018-05-11 09:49] shanalikhan commented on #259
When travis decrypted it on using.
When i ignore encryption for token in Travis, it works fine.
upon decryption there is an issue.

[2018-05-13 20:38] chausner commented on #165
`vsce package` fails for me with the exact same error as for @jamiesarahg. When I delete `node_modules` and `package-lock.json` and run `npm install`, `vsce package` fails with another error:

[code]

[2018-05-28 09:37] joaomoreno commented on #259
Travis says

https://docs.travis-ci.com/user/environment-variables/#Defining-encrypted-variables-in-.travis.yml

I think this is a user configuration issue, not a VSCE issue, so I'm closing it.

[2018-05-28 09:37] #259 closed

[2018-05-28 09:38] joaomoreno commented on #161
@codingkapoor If `node_modules` aren't included in your VSIX, you are excluding them in `.vsceignore`, or listing them as `devDependencies`. Make sure you are not doing any of these things, and node dependencies will be included in the VSIX.

[2018-06-02 15:40] JimiC commented on #206
@joaomoreno So how to think this should be implemented? Using `npm` unofficial API or spawning a child process and executing the `npm` command?

[2018-06-02 18:29] hbenl commented on #246
After updating the dependencies for my extension, the `npm install --no-optional` workaround didn't work for me anymore. So now the only workaround that works for me is downgrading npm.
The npm authors are showing zero interest in this bug: lots of users are confirming this problem, but after almost half a year there is not a single response from them.
Maybe you should consider finding a workaroun

[2018-06-02 18:30] JimiC commented on #206
Looking at the code I concluded that `child process` is preferred.

[2018-06-02 19:22] SamVerschueren opened #264 "Allow multiple publishers?"
Hi. I'm a maintainer of some extensions and want to give someone else permission to publish the extensions as well so we can both do releases. Is this a possibility? I really can't find anything regarding this.

[2018-06-04 09:15] joaomoreno commented on #246
@hbenl Thanks, that's good to know. Maybe VSCE should depend on a specific NPM version?

[2018-06-04 09:15] joaomoreno commented on #264
cc @viradhamMS @pkuma-msft

[2018-06-04 09:36] viradhamMS commented on #264
@SamVerschueren : Yes, this is possible. Please use the 'Add' button in the below snip and you can grant others the appropriate permissions to manage your extensions.

![image](https://user-images.githubusercontent.com/11805676/40910067-cd2f358c-6808-11e8-8822-8d45568d003d.png)

[2018-06-04 10:03] joaomoreno commented on #264
@viradhamMS Very cool, I wasn't aware it was that simple. Thanks!

[2018-06-04 10:27] #206 closed

[2018-06-04 14:49] SamVerschueren commented on #264
The thing is that I don't want the other person to be able to manage ALL my extensions, I want him to have publish access to a single extension like you can setup on npm. That doesn't seem possible.

[2018-06-04 16:10] hbenl commented on #246
@joaomoreno I'm afraid that wouldn't solve the problem: if an extension developer has a newer version of `npm` installed globally and uses that to install the dependencies of his extension then every version of `npm` will fail on `npm ls` in that folder. At least that's the experience I had when downgrading to `npm@5.5.1`: `npm ls` (and hence `vsce publish`) still failed until I reinstalled my dep

[2018-06-04 19:18] joaomoreno commented on #246
Sorry, that was a confusing comment. I meant: let's add NPM as a node dependency to VSCE. That way we can lock it and use it as a library as well.

[2018-06-05 15:27] hbenl commented on #246
Actually I think I had understood you correctly, but apparently _my_ comment wasn't clear enough :)
I guess I should explain in more detail what I _think_ is happening: `npm@5.6.0` made a slight change to how `npm install` works (see the first feature mentioned [here](https://github.com/npm/npm/releases/tag/v5.6.0)). Due to a bug described in detail in npm/npm#19428, `npm ls` can't make sense of t

[2018-06-06 05:21] viradhamMS commented on #264
Got it. That workflow is not possible through our manage portal yet. Please send us a mail to vsmarketplace@microsoft.com with the details of the publisher you want to grant owner access to and the extension you want to grant access for. I will get that done at our backend.

[2018-06-06 09:40] #264 closed

[2018-06-12 00:48] Almenon opened #265 ".vscodeignore fails to exclude folders when they do not have a slash at the end"
When you have a folder name in your .vscodeignore without a / or /** at the end vsce includes it, but it should exclude it.

[2018-06-12 04:41] uudashr commented on #246
It happen to me when using yarn. Is it possible to give options for using yarn instead of npm?

[2018-06-12 09:34] joaomoreno commented on #246
@uudashr `--yarn`

[2018-06-12 14:10] JackKCWong opened #266 "“vsce package” leaves out the “out” folder"
I was packaging a extension locally and everything was fine when I was using vsce 1.39. Then once I upgraded to 1.42, the “out” folder which contains the tsc output js files disappeared in the vsix file ever since. I tried downgrading to 1.39 and reinstalling vsce but the issue persists.

I have the right info in the “main” of package.json and don’t have a .vsceignore file. My OS is Win7. Any help

[2018-06-12 22:20] busticated commented on #161
i have a slightly different use-case but i suspect the underlying issue / limitation is the same.

i'm working on a series of extensions that i'd like to also create an extension pack for. my extensions have not yet been published but i'd like to circulate the pack as a single `.vsix` file internally amongst the team as an alpha.

is this supported? or do all `extensionDependencies` within a pack

[2018-06-12 23:29] uudashr commented on #246
Ahh... thanks

[code]
The console output still using npm, but it works.

[2018-06-13 07:16] joaomoreno commented on #266
What does `vsce ls` return?

[2018-06-13 14:41] JackKCWong commented on #266
files under node_modules, package.json, readme.md

[2018-06-14 09:45] joaomoreno commented on #266
Can you give me a pointer to the git repo, so I can reproduce it?

[2018-06-15 10:30] JackKCWong commented on #266
my bad. I had a line in .vscodeignore that excluded the folder. I thought it was for vscode only.

But launching a extension debug session in vscode does not honor this file, that's why it surprised me when the final package didn't work.

[2018-06-15 10:31] #266 closed

[2018-06-16 20:54] cancerberoSgx commented on #211
i'm blocked with this one. DO you know how I can reproduce the error locally so I have a clue ? is the error in package.json or could it be anywhere?  Tried a lot of changes and rolling back - i'm kind of giving up.  didn't found any way of debugging or obtaining some clue if what's wrong - just that message..... seems to be a remote validation... . any tip is most appreciated. thanks in advanced.

[2018-06-16 21:46] cancerberoSgx commented on #211
Update: I rollback all I could , login again with a new token , increase version, downgrade nodejs/npm, use yarn, reset to the original json file indentation, detect hidden characters, and no luck. Could it be that's something special in my project or in the server ? should I create another published id  and other repo / extension id ?

Also I'm observing that when executing vsce package the vsix

[2018-06-20 05:25] ritwickdey opened #267 "How to publish extension when we're using yarn?"
I can build the package using `vsce package --yarn`, but when I can't do `vsce publish --yarn`.

I'm switching to yarn for https://github.com/Microsoft/vscode-vsce/issues/246

[2018-06-20 06:58] joaomoreno commented on #267
Wanna contribute a PR?

[2018-06-20 10:13] ritwickdey commented on #267
Yep! sure

[2018-06-26 19:20] u2berggeist opened #269 "Token issues with unpublish command"
I can't enter in the Token for the unpublish command for whatever reason. For every charracter, it puts a `*` between then. Here's a screen shot from `cmd`:

![image](https://user-images.githubusercontent.com/20801821/41934074-b74d8834-7953-11e8-9bfe-0e9b330a02aa.png)

That came up after typing in `543234`. This also happens when I copy/paste a token as well. Below is an example of what happens th

[2018-06-26 20:33] u2berggeist opened #270 "README not being published"
Pretty much identical to #53 , but none of those solutions are working.

My README is:
A) In my publishing directory,
B) on the Repository,
C) Not in the `.vscodeignore` file

And it still isn't showing up. no idea what's happening with it.

[Here's my repo](https://github.com/u2berggeist/ANSYS_CFX)

[2018-06-27 06:45] joaomoreno commented on #269
If you paste an hit Enter, it doesn't work at all?

What if you type it? Does it work then?

[2018-06-27 07:03] joaomoreno commented on #270
I see your README both in the Marketplace and in the product:

![image](https://user-images.githubusercontent.com/22350/41957977-ef36f07e-79e8-11e8-9008-ece0632cb9d0.png)

[2018-06-27 07:03] #270 closed

[2018-06-27 14:03] u2berggeist commented on #270
Huh. It's showing up on mine now too. I waited for about an hour, but it wasn't loading.

Sorry for the false alarm. Thanks for checking all the same.

[2018-06-27 14:07] u2berggeist commented on #269
Correct, If I just paste and hit enter, it comes up with `Error: Aborted`.

Typing it comes up with the result in top screen capture. So there I typed `543234` and it put a `*` after every number I input.

TBH, I haven't tried typing in the token because I didn't want to type in a 52 character token. I can do that if you'd like me to check though.

[2018-07-02 14:21] JimiC commented on #267
This issue should be closed.

[2018-07-03 07:16] joaomoreno commented on #267
Thanks!

[2018-07-03 07:16] #267 closed

[2018-07-10 12:53] arafkarsh opened #272 "PAT expired"
HI,

VSC Plugin
https://marketplace.visualstudio.com/items?itemName=MetaMagic.amexio

My PAT is expired and I am not able to create a new token.

I am not able to log into the following account neither i am able to reset the password.
https://metamagic.visualstudio.com/

Amexio: https://amexio.tech/amexio-plugins-1

Thanks and regards,

Karsh

[2018-07-10 14:36] arafkarsh commented on #272
issue resolved

[2018-07-10 14:36] #272 closed

[2018-07-10 15:29] joaomoreno commented on #272
@arafkarsh How?

[2018-07-10 16:02] WinuxNomacs commented on #191
Sorely necessary. Visual Studio has had this for years now, including express. Lack of signature verification appears to be a significant oversight. Especially when Microsoft's own plugins (for example LiveShare) can't even be signed for their own editor. But then I guess they're fairly used to letting the world's computer population get pwned by malware and issuing a worthless "sorry, we f'd up a

[2018-07-12 11:59] sandy081 opened #273 "Support extension packs"
New approach of extension packs will define extensions using `extensionPack` property. VSCE should populate this as a manifest property in VSIX just like `extensionDependencies`

[2018-07-12 12:41] #273 closed

[2018-07-23 12:00] JimiC opened #275 "[Proposal] Introduce addition of integrity checksum in package.json"
For some time now we are struggling with an issue, where the extension is downloaded and installed on the editor, just to find out that the extraction ended to a corrupted installation. Of course, there is the ability to re-install the extension but this action is not always clear to the end user, resulting in repeated user support from the extension's maintainers.

This proposal tries to resolve

[2018-07-25 22:47] aaomidi commented on #246
This should probably be documented somewhere :)

[2018-07-31 07:20] zhaoyi0113 opened #276 "`vsce publish` report `file data stream has unexpected number of bytes` error"
I got below error when I run `vsce publish -p xxx` command. I am using `node 8.9.4` `npm 6.2.0`.

[code]

[2018-07-31 19:48] AvraamMavridis commented on #11
I am trying the same but I dont have the all accessible acounts option...

<img width="511" alt="screen shot 2018-07-31 at 21 48 09" src="https://user-images.githubusercontent.com/283690/43483289-8297e66a-950b-11e8-97ca-c3949558caba.png">

[2018-08-02 09:31] joaomoreno commented on #276
Are you behind a proxy?

[2018-08-02 09:43] joaomoreno commented on #275
@sandy081 Weren't you considering to work on this soon?

[2018-08-03 10:05] zhaoyi0113 commented on #276
You are right, it is a proxy issue. Thanks.

[2018-08-03 10:05] #276 closed

[2018-08-03 10:07] zhaoyi0113 opened #277 "Get `Personal Access Token` error"
I am facing a issue when publish a new version of a extension. I am not sure whether it is an issue or a question. I use `vsce publish -p xxxx` command to update an extension version but got below error

[code]

Does this mean I need to update a new personal token each time on publishing?

[2018-08-03 10:52] zhaoyi0113 commented on #277
`-p` is the personal token parameter. I used that for the first version publish. Otherwise where should I specify the token?

[2018-08-03 10:56] joaomoreno commented on #277
The tool will ask you for it.

[2018-08-03 13:13] #265 closed

[2018-08-03 23:17] zhaoyi0113 commented on #277
I just tried your approach and got the same error:

[code]

[2018-08-04 22:54] zhaoyi0113 commented on #277
@joaomoreno  I have tried a new token but still get the same error. Do you have any idea on what's going on?

[2018-08-06 07:27] joaomoreno commented on #277
Try `vsce login` to save a new PAT.

[2018-08-07 09:59] zhaoyi0113 commented on #277
@joaomoreno  I have tried that but it doesn't seem to work. See below output:
[code]

[2018-08-07 10:06] joaomoreno commented on #277
Are you sure you're setting `All scopes` in the token permissions?

[2018-08-07 10:08] zhaoyi0113 commented on #277
Yes I did. And this is the token I used to publish the first version of this extension. The version of vsce I am using is `1.45.1`.

[2018-08-07 10:09] zhaoyi0113 commented on #277
I also tried to generate a new token but get the same result

[2018-08-07 10:57] joaomoreno commented on #277
Alright,

[2018-08-07 10:58] joaomoreno commented on #277
cc @viradhamMS @pkuma-msft for more insights

[2018-08-07 11:12] zhaoyi0113 commented on #277
Thanks for open this issue, below is the versions I am using:

[code]

[2018-08-07 13:29] gaurav42 commented on #277
@zhaoyi0113 one more question. While creating a PAT, there is 'Accounts' dropdown. Can you please confirm that you selected 'All accounts' in that dropdown while creating the PAT. Please refer to the below image:
![image](https://user-images.githubusercontent.com/13743203/43777916-ce48d63a-9a71-11e8-9058-5910b80fe623.png)

Also, I see that your extension has been successfully updated. How did you

[2018-08-07 21:28] zhaoyi0113 commented on #277
Finally I found the issue. There is a 18M gif in my repo. It works fine after I remove this file. It would be great if you can fix the misleading error message. There is nothing wrong with the token.

[2018-08-08 06:46] gaurav42 commented on #277
Thanks @zhaoyi0113 for letting us know the details.

@joaomoreno this is an issue in vsce tool. Can you please track it via GitHub issue?

[2018-08-08 09:18] joaomoreno commented on #277
@gaurav42 Actually, vsce prints the error message: `Error: Invalid Resource`? Does the service return more specific error codes?

[2018-08-08 10:07] gaurav42 commented on #277
@joaomoreno this error is not returned directly by our service. I am checking whether this is by .NET or Vssf framework. However, I was talking about the 'PAT error' which vsce displays.

I saw that PAT error message was added since we had seen similar errors before due to expired PATs. But I think there are other scenarios which can also cause 'Invalid Resource' error.

Is there a way to point vs

[2018-08-08 10:41] joaomoreno commented on #277
There are more scenarios for sure, but this message already helped out many users since this specific error was the most common one. It would be great to get a finer grained error message from the service.

You can overwrite it here: https://github.com/Microsoft/vscode-vsce/blob/master/src/util.ts#L19 Let me know if you want me to publish a VSCE version which lets you change it via an environmenta

[2018-08-08 10:52] gaurav42 commented on #277
VSCE version customizable via environment variable will be really helpful.

In case that is a time taking process, point me to the instructions to build and use the vsce tool locally. I couldn't find those instructions in vsce repo.

[2018-08-08 18:45] aaomidi opened #278 "createVSIX api endpoint doesn't support yarn"
Hi,

The api endpoint to create a VSIX:

https://github.com/Microsoft/vscode-vsce/blob/d7734cd10ba382d295949f420b63020affe6686f/src/api.ts#L101-L103

Doesn't support the option of using Yarn instead of npm.

[2018-08-09 07:54] joaomoreno commented on #278
Wanna submit a PR? 👍

[2018-08-09 16:58] aaomidi commented on #278
https://github.com/Microsoft/vscode-vsce/pull/279

[2018-08-10 08:08] #278 closed

[2018-08-10 12:28] gaurav42 commented on #277
I tried to repro the issue on local environment, but couldn't succeed.

@zhaoyi0113 can you please confirm that your extension publish is working consistently since you have removed the gif file. Ideally, it should not have relation to the error you were getting.
Also, you first opened the issue on 3rd August. Looking at your repo, you didn't have 18M gif that time. But you still got 'Invalid Reso

[2018-08-13 13:56] sandy081 commented on #275
It was discussed but not on cards and we are not receiving any issues related to corrupted installation

[2018-08-13 13:58] JimiC commented on #275
@sandy081 Because `Reinstall Extension` is used as a workaround (https://github.com/vscode-icons/vscode-icons/issues/1353).  I'm in the process to implement our own integrity checker but I wanted to check with you guys first before I get into coding.

[2018-08-13 14:02] sandy081 commented on #275
@JimiC Can you please file an issue in VS Code repository if you think there is a corrupted installation. Also please provide any information that is available to investigate.

- Is it the files are missing or files are downloaded but they are empty?

[2018-08-13 14:09] JimiC commented on #275
@sandy081 That's the thing. It's not about a corrupted `vscode` installation, rather a corrupted extension downloading or inflation. I have no more information to provide other than those posted on our repo issue. Personally, I have never come across that issue but the support requests come in from time to time.

The proposal is more of a precaution than an actual solution to a confirmed issue.

[2018-08-13 14:26] sandy081 commented on #275
I think extension downloading should be complete otherwise it would cause corrupted vsix file error and we cannot open it at all.

If it is an issue with VSCE then this should affect all users installing that extension.

So, I would not suspect on download or inflation.

I would like to understand the issue and where it is before implementing the solution

[2018-08-13 14:30] JimiC commented on #275
@sandy081 Yeah, that's my issue too. I have yet to identify the issue and the info provided by the users are not helpful.

@joaomoreno  Can we at least keep this issue open for 90 days, to see if it gathers any attention?

[2018-08-13 15:49] arjun27 commented on #277
I was running into the same issue with `vsce@1.46.0`. Downgrading to `vsce@1.43.0` fixed it for me

[2018-08-14 04:31] gaurav42 commented on #277
@joaomoreno @zhaoyi0113 this was the slow network issue. We see that package upload request for the extension was timed out and 503 HTTP error was returned. That's the reason why reducing the package size fixed the issue.

@joaomoreno exception thrown from gallery was `RequestCanceledException` and exception message was `TF400733: The request has been canceled: The request has exceeded request tim

[2018-08-14 05:09] zhaoyi0113 commented on #277
@gaurav42 thanks for checking that. What I expect is to give a reasonable messages for the errors. It doesn't make sense to response with a token error if there is a network issue.

[2018-08-17 09:09] joaomoreno commented on #277
@gaurav42 Being a user of `vso-node-api`, it would be great if that library provided better error codes via their Error objects. Is there documentation on any of that?

I don't want to push a fix for the timeout, nor do I want to stop telling people to update their PAT in case of any server error. The  right fix here is to show a user-facing error message which comes directly from the service. The

[2018-08-17 12:30] gaurav42 commented on #277
@joaomoreno I checked `vsce` code. It is using old version of `vsts-node-api (6.1.2-preview)`. This version uses `typed-rest-client` node library's old version which throws `Invalid Resource` error in case it fails to parse the response. You have pointed this out in issue #247 . The latest version of `typed-rest-client` doesn't throw this error. But will instead return `null` in result.

However,

[2018-08-17 20:40] joaomoreno commented on #277
@gaurav42 Not without ditching `vsts-node-api` and implementing everything in VSCE. The right fix is to get proper error codes in `vsts-node-api`, so a PR on that project would make much sense.

[2018-09-02 01:13] lextm opened #283 "vsce missed mkdirp during packaging"
I created a test branch in my extension repo,

https://github.com/vscode-restructuredtext/vscode-restructuredtext/tree/test

[code]
generates a vsix file. Unzip it and check node_modules included, you should see that mkdirp is missing.

This does not seem to be related to npm/node/vsce versions as I tested with multiple versions and also macOS/Windows.

Initially I thought it is related to #246 bu

[2018-09-02 16:55] egamma commented on #283
vsce only bundles the node_modules that are specified as a dependencies. This is done to avoid packaging devDependencies and to make the extension small.  From looking at your package.json, I don´t see that you specify the `mkdirp` as a dependency.

[2018-09-04 16:00] ArvinH commented on #277
Hi, I'm facing the same issue here, I tried the method you guys mentioned above but still got the same `Error: Invalid Resource`

vsce version: 1.47.0
npm version: 6.1.0
node version: 10.5.0

Do you see any other possible reasons would cause this issue?

[2018-09-04 16:07] arjun27 commented on #277
I think this is being caused by the ongoing Azure downtime[1]. Unfortunately the error message is misleading

[1] https://azure.microsoft.com/en-in/status/

[2018-09-04 16:08] gaurav42 commented on #277
@ArvinH marketplace is facing an issue due to Azure outage in SCUS region. (Please refer this [azure status page](https://azure.microsoft.com/en-us/status/).) Our service is down due to which you won't be able to perform any action via vsce tool as of now. Sorry for the inconvenience.

[2018-09-06 12:40] miqid opened #285 "Consider processing reference-style relative links in Markdown files"
Hello,

I went through [`package.ts`][1] and noticed that [reference-style relative links][2] in Markdown files aren't processed at all.

Examples of what I'm referring to:

[code]

Any images using reference-style relative links will prevent `vsce` from publishing the extension because it'll [fail a HTTPS source check][3] (i.e. `--baseImagesUrl` probably should kick in).

[1]: https://github.com/

[2018-09-10 15:04] mbrowne commented on #161
@busticated I found a way to do this. It's a hack and hopefully this will be officially supported in the future. For now, I took advantage of the fact that an extension pack is itself an extension, so I was able to write custom code to download the extension we want to include that's not published in the marketplace (in our case, a fork of a published extension). The only hook I was able to get wo

[2018-09-15 08:48] idanpa commented on #249
Got this problem, solved by installing vsce globally:
`npm install -g vsce`

[2018-09-18 16:02] mbrowne commented on #161
I realized that `storagePath` was workspace-specific and found a better way of logging the version number: `globalState`. I still wish there were a post-install hook, which would be a better solution.

Updated gist: https://gist.github.com/mbrowne/0d8aa4cdb1c33aa42f821510bab24939

[2018-09-20 10:11] jrieken opened #288 "Package incorrect with non semver dependencies"
* have something like this in your package.json files

[code]

* vsce will produce this error `Failed to parse dependency: applicationinsights@git://github.com/Microsoft/ApplicationInsights-node.js#e5160c1c29c00e430d414b381077212d4e5bd8b4` and not include the module in the bundle

[2018-09-20 11:27] joaomoreno commented on #67
This iteration we focus on issue grooming. This issue is being closed to keep the number of issues in our inbox on a manageable level, we are closing issues that are not going to be addressed in the foreseeable future: We look at the number of votes the issue has received and the number of duplicate issues filed. More details [here](https://aka.ms/vscode-out-of-scope). If you disagree and feel tha

[2018-09-20 11:27] #67 closed

[2018-09-20 11:28] joaomoreno commented on #70
Can't reproduce this any more.

[2018-09-20 11:28] #70 closed

[2018-09-20 11:36] joaomoreno commented on #76
cc @viradhamMS @pkuma-msft

[2018-09-20 11:44] joaomoreno commented on #12
This iteration we focus on issue grooming. This issue is being closed to keep the number of issues in our inbox on a manageable level, we are closing issues that are not going to be addressed in the foreseeable future: We look at the number of votes the issue has received and the number of duplicate issues filed. More details [here](https://aka.ms/vscode-out-of-scope). If you disagree and feel tha

[2018-09-20 11:44] #12 closed

[2018-09-20 11:56] joaomoreno commented on #99
https://github.com/Microsoft/vscode-vsce/blob/b9a110bbddc24b78791ff279354a4c07fb707212/src/package.ts#L404

[2018-09-20 11:56] #99 closed

[2018-09-20 11:57] #116 closed

[2018-09-20 12:00] #118 closed

[2018-09-20 12:00] joaomoreno commented on #119
We'll let npm handle the versioning.

[2018-09-20 12:00] #119 closed

[2018-09-20 12:00] #137 closed

[2018-09-20 12:01] #138 closed

[2018-09-20 12:02] #149 closed

[2018-09-20 12:03] joaomoreno commented on #154
Closing as it seems to have been a setup error, got no more reports.

[2018-09-20 12:03] #154 closed

[2018-09-20 12:06] #164 closed

[2018-09-20 12:26] joaomoreno commented on #207
/duplicate #203

[2018-09-20 12:26] #207 closed

[2018-09-20 12:35] #212 closed

[2018-09-20 12:38] #233 closed

[2018-09-20 17:20] raix commented on #214
@joaomoreno this is already implemented

[2018-09-20 17:20] #214 closed

[2018-09-20 17:21] raix commented on #216
merged and released

[2018-09-20 17:21] #216 closed

[2018-09-20 21:39] pkuma-msft commented on #76
Hi @joaomoreno  - any action here for us? GFM behavior can be controlled using a property in the manifest: **Id='Microsoft.VisualStudio.Services.GitHubFlavoredMarkdown' and Value="true" or "false"**.

See https://github.com/Microsoft/vscode-vsce/issues/117

[2018-09-21 10:19] joaomoreno commented on #214
🤦‍♂️ Thanks!

[2018-09-21 10:19] joaomoreno commented on #216
🤦‍♂️ Thanks!

[2018-09-21 10:20] joaomoreno commented on #76
Oh sweet. We just forgot to close the issue then! Thanks!

[2018-09-21 10:20] #76 closed

[2018-09-24 12:40] joaomoreno opened #289 "Verify PAT belongs to provided publisher name"
_From @GabrielBB on September 7, 2018 0:46_

Hi, if i use "publisher" instead of my publisher name ("GabrielBB") when publishing extensions it says i'm logged in as this guy: @MarxJiao. It doesn't matter if the token was mine, it says i'm him.

Here an image:

![Logged in as [MarxJiao](https://github.com/MarxJiao)](https://user-images.githubusercontent.com/8752823/45192206-01db3280-b215-11e8-9316-

[2018-09-24 12:40] joaomoreno commented on #289
_From @vscodebot[bot] on September 7, 2018 0:46_

(Experimental duplicate detection)
Thanks for submitting this issue. Please also check if it is already covered by an existing one, like:
- [Extensions: Allow for multiple publishers in extension / display on Marketplace (#23801)](https://www.github.com/Microsoft/vscode/issues/23801)
- [Improve Linux product build (#52819)](https://www.github.com/M

[2018-09-24 12:40] joaomoreno commented on #289
_From @mjbvz on September 7, 2018 1:15_

Have you tried performing any operations as this user? I think that vsce lets you "login" as them but once I actually try making requests as them, I get 401s

[2018-09-24 12:40] joaomoreno commented on #289
_From @samueldaviddelacruz on September 7, 2018 2:14_

it is still a leak of private information even if you can't do operations on it.

[2018-09-24 12:40] joaomoreno commented on #289
_From @pkuma-msft on September 7, 2018 13:18_

Hi @GabrielBB, thank you for taking time to report this.

'vsce login {publishername} {PAT}' is sort of a misnomer in the sense that it is not really logging you in, it is just validating whether the PAT you specified is valid or not. vsce does this by invoking marketplace's get publisher api - which is an authenticated API - no permission checks are

[2018-09-24 12:40] joaomoreno commented on #289
_From @pkuma-msft on September 7, 2018 13:21_

To make this experience better, perhaps vsce could show a different message rather than saying 'you are logged in' or use an API that checks for permissions of the PAT on the supplied publisher name. (cc: @joaomoreno )

[2018-09-24 12:40] joaomoreno commented on #289
@pkuma-msft Can you recommend an API call VSCE could make?

[2018-09-24 17:01] octref opened #290 "Exclude .vscode-test by default for publishing"
Both me and @rebornix have made the mistake of not including it (me in Vetur, Peng in the PR extension). I don't think it's meaningful to include `.vscode-test` in any case. We should exclude it by default like `npm publish` excludes `node_modules` by default.

[2018-09-24 17:04] octref opened #291 "Show packaged size before publishing"
When publishing, one might make the mistake of including unnecessary files by default like #290.

Always printing out the size would help a lot.

[2018-09-24 22:58] Broken-Admin commented on #232
Hey, this is closed, but I can't seem to find the setting to regenerate the tokens. Could anyone lend me a hand?

[2018-09-25 03:15] jtjoo commented on #232
You can regenerate token on dashboard of your live.com/outlook.com account.

[2018-09-25 08:59] joaomoreno commented on #232
https://code.visualstudio.com/docs/extensions/publish-extension

[2018-09-25 09:39] joaomoreno commented on #291
Going with:

[code]

[2018-09-25 09:40] #291 closed

[2018-09-25 20:43] pkuma-msft commented on #289
I will get back to you on this @joaomoreno (hopefully in a day or two)

[2018-09-26 03:40] MarxJiao commented on #289
I think I should revoke my tokens.

[2018-09-26 07:05] joaomoreno commented on #289
@MarxJiao No need. There is no security problem here. It's just a UI issue.

[2018-09-26 18:22] octref opened #292 "Add badgen.net to trusted badge provider"
https://github.com/Microsoft/vscode/issues/57079

[2018-09-27 08:06] #292 closed

[2018-10-01 09:50] aeschli opened #293 "Offer to set publisher in package.json if not present"
to make the extension authoring smoother for first time users, I changed our code to no longer require the 'publisher' to be filled out, see https://github.com/Microsoft/vscode/issues/59730

I'll update the yo code generator to no longer ask for the publisher once that fix is in.

It would be great if vsce could help filling in the provider

[2018-10-01 13:33] joaomoreno commented on #293
Released in 1.51.1 by https://github.com/Microsoft/vscode-vsce/commit/fae9b7d1259a5601a5817e7e76ee5cba4827593e

[2018-10-01 13:33] #293 closed

[2018-10-11 10:02] joaomoreno opened #296 "Support to ignore keyword list length warning"
With a `VSCE_IGNORE_KEYWORD_LENGTH` env variable.

From Microsoft/vscode#60214

[2018-10-11 10:14] fabiospampinato commented on #296
`VSCE_IGNORE_KEYWORD_LENGTH` sounds like it has something to do about the number of characters used, maybe `VSCE_IGNORE_KEYWORDS_LENGTH` would me more appropriate 🤔.

[2018-10-12 09:32] joaomoreno opened #297 "Review public gallery API access"
From @damccorm

[2018-10-12 15:43] raix commented on #297
@joaomoreno maybe we also need to fix this in vs code?

[2018-10-15 17:59] #289 closed

[2018-10-15 18:19] joaomoreno commented on #297
@sandy081 for comments.

[2018-10-15 18:20] #296 closed

[2018-10-15 18:21] octref opened #299 "Prevent publishing extensions with vscode-samples publisher"
- [x] Convert all samples in vscode-extension-samples to use `vscode-samples` publisher
- [ ] Add "using `vscode-samples` publisher" to the [sample writing guideline](https://github.com/Microsoft/vscode-extension-samples/blob/ext-docs/.github/SAMPLE_GUIDELINE.md)
- [ ] Update yeoman generator's template to use `vscode-samples` publisher
- [ ] Block publishing vscode-samples @joaomoreno

[2018-10-16 11:20] kaviththiranga commented on #203
I am running into same issue with a npm linked module. Did anyone find an alternative?

[2018-10-16 11:47] chriscamicas commented on #203
No solution so far, I have to link for development and unlink for the packaging to work

[2018-10-16 12:03] kaviththiranga commented on #203
@chriscamicas can you please explain a little in depth? Once you unlink, it is not getting inside the vsix or does it?

[2018-10-16 12:08] chriscamicas commented on #203
using my previous example, my workflow is:
[code]
develop in both project
when dev is done I have to commit/push and publish to npm the second project `abl-tmlanguage`
Then I have to install this dependency like any other one in the main project, after removing the link
[code]

[2018-10-16 12:11] kaviththiranga commented on #203
@chriscamicas thanks a lot for the explanation. In my case, we haven't published the module yet to npm :(.

[2018-10-16 14:13] sandy081 commented on #297
@joaomoreno VS Code also uses `data` to send parameters. If query parameters is the suggested way then it is also needed to be fixed in VS Code.

[2018-10-16 15:32] siegebell opened #300 "Support yarn workspaces"
Feature request: support [yarn workspaces](https://yarnpkg.com/blog/2017/08/02/introducing-workspaces/).

`vsce --yarn` (as of 1.52.0) does not package any of the modules from the root's `node_modules/`.

[2018-10-16 19:52] raix commented on #297
@joaomoreno should we make a new npm package for the public api or just patch the existing code?

[2018-10-16 23:47] joaomoreno commented on #297
@raix Let's just patch.

@sandy081 Created https://github.com/Microsoft/vscode/issues/61095

[2018-10-17 20:57] pflannery commented on #296
@joaomoreno

Would be nice to see this and the 5 keyword limitation documentation with the [keywords field](https://code.visualstudio.com/docs/extensionAPI/extension-manifest#_fields)

Also might be worth mentioning in the documentation that for more than 5 keywords we can use a comma delimited string like ```"cats, dogs, chickens"```. This is what I currenlty have to do for my [extenstion]( https

[2018-10-17 21:03] fabiospampinato commented on #296
@pflannery I'm not sure how this is handled internally, but `"cats, dogs, chickens"` might just be considered a single tag.

[2018-10-17 21:28] joaomoreno opened #301 "Keyword list limit can be worked around by specifying "one, two, three" tags"

[2018-10-17 21:29] joaomoreno commented on #296
@pflannery https://github.com/Microsoft/vscode-docs/commit/15fdff3f7ebd212346b7983de03f7ac015c2d3cb

Also: https://github.com/Microsoft/vscode-vsce/issues/301

[2018-10-17 21:42] fabiospampinato commented on #296
@pflannery interesting, it looks like you don't need to do that to get them displayed in the marketplace: see [here](https://github.com/fabiospampinato/vscode-todo-plus/blob/caf84e5dc157ab5d7c5a2baca594cac812c16bbc/package.json#L869-L877) and [here](https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-todo-plus). I wonder if the 5 keywords limit is actually implemented proper

[2018-10-17 21:43] fabiospampinato commented on #301
I'm just writing more tags and it seems to be working just fine, see [here](https://github.com/fabiospampinato/vscode-todo-plus/blob/caf84e5dc157ab5d7c5a2baca594cac812c16bbc/package.json#L869-L877) and [here](https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-todo-plus).

[2018-10-17 21:44] pflannery commented on #301
This is currently a very useful feature for my extension

You can see it working on my [extension page](https://marketplace.visualstudio.com/items?itemName=pflannery.vscode-versionlens) page and here is the [package.json](https://github.com/vscode-contrib/vscode-versionlens/blob/master/package.json#L18-L23)

![image](https://user-images.githubusercontent.com/1727302/47118051-0bb57400-d25e-11e8-829

[2018-10-17 21:52] fabiospampinato commented on #301
I have no saying in this, but IMHO the best option here is just removing the 5 keywords limit (which doesn't seem to be actually working anyway) and make searching in the marketplace not suck (https://github.com/Microsoft/vscode/issues/42890), since I guess the keywords limit was put into place in order to prevent abusing that the poor searching algorithm running on the server could not prevent (?

[2018-10-18 16:25] joaomoreno opened #302 "Remove 5 keyword limit"

[2018-10-18 22:28] #302 closed

[2018-10-19 13:43] chriscamicas commented on #203
A better tutorial explaining how to use `npm link`
https://medium.com/dailyjs/how-to-use-npm-link-7375b6219557

[2018-11-02 15:44] #299 closed

[2018-11-03 04:17] octref commented on #299
@joaomoreno Just realized Martin allowed testing extensions locally without publisher for October. Just opened https://github.com/Microsoft/vscode-vsce/pull/303 so people can find the doc.

[2018-11-13 08:55] joaomoreno opened #304 "Warn about .ts, .d.ts and .map files in package"
From https://github.com/Microsoft/vscode/issues/62687

[2018-11-13 16:59] patridge opened #305 "Publish with specific version not changing version"
While following along with the [extension publishing docs here](https://code.visualstudio.com/docs/extensions/publish-extension#_autoincrementing-the-extension-version), I saw that I could give it an exact version to publish with.

Unfortunately, when I tried it out with my own extension for its first publish, it didn't actually use the version I provided it and used the existing package.json vers

[2018-11-28 09:04] joaomoreno opened #306 "Prevent extensions from publishing with `vscode` in `dependencies`"
cc @egamma  @bpasero

[2018-12-04 13:55] ArGup opened #308 "Support symlinks within package"
I am working on an extension which uses a node addon. The node addon in turn has a dependency on a custom mac framework that I am bundling with it. Everything work file in development mode. But when I package the extension using `vsce package`, it removes the symlinks from the Mac framework. Symlinks are required in a mac framework else it does not work. The `.vsix` file, when installed does not l

[2018-12-06 07:51] joaomoreno commented on #308
May I ask why you are including a macOS framework within your extension?

[2018-12-06 08:17] ArGup commented on #308
I have created a custom mac framework which contains my business logic. Basically i am working on debug adapter. The APIs are exposed through that mac framework. And yes i can make that a dylib but the problem is it has more dependence on other frameworks. What i want to ask is, is there any option by which i can instruct `vsce` not to touch symlinks. If there is not, then can I ask for dependenci

[2018-12-06 08:34] joaomoreno commented on #308
There's no good suggestion I can give you right now. Needs fixing to support symlinks. Sorry about that!

[2018-12-06 08:45] ArGup commented on #308
No problem. Will look for workaround for the time being. Thanks anyways :)

[2018-12-06 10:51] zhaoyi0113 opened #310 "get error `Error: The supplied tag '*' is not a valid tag. It must not be empty or start with a special character (!,@,#,$,%,^,&,*).`"
I am using `vsce 1.53.2` and I got this error when running `vsce publish` command on Mac OS: `Error: The supplied tag '*' is not a valid tag. It must not be empty or start with a special character (!,@,#,$,%,^,&,*).`.

npm version: 6.4.1
node version: v8.9.4

[2018-12-06 20:21] zhaoyi0113 commented on #310
Below is all the tags on my repo but I couldn't find any tag with `*`.

[code]

[2018-12-06 21:49] zhaoyi0113 commented on #310
And the only `*` used in my package.json is:

[code]

you can see the full file from this link: https://github.com/zhaoyi0113/mongodb-runner/blob/master/package.json

[2018-12-06 22:57] zhaoyi0113 commented on #310
Ok remove `"onLanguage:*",` solve the issue.

[2018-12-07 08:34] joaomoreno commented on #310
Oh I see! That is definitely something to fix.

[2018-12-07 12:20] joaomoreno opened #311 "Publishing with unknown publisher succeeds"
From @DanielSundberg

cc @pkuma-msft

[2018-12-07 12:21] joaomoreno commented on #311
The call to [`createExtension`](https://github.com/Microsoft/vscode-vsce/blob/6d58bca7245f4e6c82fcaaca8ec75211ba2ea64f/src/publish.ts#L73) seems to return a success, this is an issue in `vso-node-api`.

We're using `vso-node-api@6.1.2-preview` which isn't the latest. I attempted to update it to the latest version or even to the `azure-devops-node-api` package, but those options don't work because

[2018-12-18 17:21] cuiyongjian commented on #11
i also have created token at azure devops, but i get:
[code]

[2018-12-20 20:32] jeffmaury opened #315 "Error: Part URI is not valid per rules defined in the Open Packaging Conventions specification. when publishing"
I have an extension called 'project-initializer' that throws the following error:

Error: Part URI is not valid per rules defined in the Open Packaging Conventions specification.

when publishing. What is the exact root cause ?

The repo is: https://github.com/fabric8-launcher/launcher-vscode-extension

[2018-12-21 20:48] cagdas001 commented on #308
I'm also having this. I'm spawning external *Electron* apps for some features in the extension. The *Electron* binary  location on **macOS** (no problem on *Window*s with *EXE* file) is `node_modules/electron/dist/Electron.app/Contents/MacOS/Electron` It works properly when debugging in dev environment. But when I package the extension into VSIX, `vsce` removes some symlinks from `Electron.app` Th

[2018-12-22 09:36] cagdas001 commented on #308
@ArGup thanks, I'll temporarily use a similar solution to yours

If VSCode also ignores symlinks within package (have not investigated yet, how it does this), maybe we can add a flag in the package manifest.

If `vsce package` command called with `--include-symlinks` then VSCode will know this from the flag and will not ignore symlinks

I think this optional way is better rather tah getting all sy

[2018-12-26 23:30] toreaurstad commented on #11
Well, I am using an account at work and I had to enable a PAT for "All accessible organizations", which of course is similar to the case "All accounts". But it should be noted as a possible scenario.

[2018-12-29 10:22] chudaotrucnhan opened #316 "Code snippets don't work after vsce publish."
I write an extension code snippets and it work fine when debug but don't work after publish.
pls help me =.=

My package.json

[code]

[2019-01-03 09:12] joaomoreno commented on #315
cc @viradhamMS @pkuma-msft What could trigger such an error message

[2019-01-03 09:14] joaomoreno commented on #316
Is your extension on Github, can you give me its URL?

[2019-01-03 09:34] pkuma-msft commented on #315
This seems like a problem with the schema of the generated vsix file.. haven't seen this error before though. @jeffmaury Can you share the .vsix file? Will take a look..

[2019-01-03 10:07] joaomoreno commented on #315
I was able to get it after cloning the user's repo and packaging the extension locally:

[code]

[2019-01-03 10:11] chudaotrucnhan commented on #316
Close issue. After i moved folder snippets out of src, everything worked fine 😄

[2019-01-03 10:11] #316 closed

[2019-01-04 08:35] jeffmaury commented on #315
Do you know a tool that would allow to validate VSIX files ? Could it be related that the icon file as a space in its path (images/Project Initializer.png) ?

[2019-01-04 08:38] pkuma-msft commented on #315
HI @jeffmaury , sorry I couldn't check this issue yesterday. It might be related to the space but I'm not 100% sure. I'll run some checks today and get back, meanwhile can you try by removing the space in the filename?

[2019-01-04 08:39] jeffmaury commented on #315
OK I'll try and let you know.

[2019-01-04 09:01] jeffmaury commented on #315
That was the issue. Renaming the icon file to Project_Initializer.png allows me to publish to marketplace

[2019-01-04 17:06] harry-public commented on #101
_A publisher is an identity who can publish extensions to the Visual Studio Code Marketplace. Every extension needs to include a publisher name in its package.json file._ their doc states.

you can create a publisher [here](https://marketplace.visualstudio.com/manage/createpublis).

[2019-01-06 13:48] usernamehw opened #317 "Exclude `package-lock.json` from extension when it only has `devDependencies`"
1. Create hello world extension
1. `package.json` doesn't have any `dependencies`, only `devDependencies`

[code]
3. Package Extension
4. Packaged with `package-lock.json`
**60Kb** - the entire extension folder
**56Kb**  of them - `package-lock.json`)

[2019-01-06 15:00] usernamehw commented on #317
Since `package-lock.json` is usually kind of big file 60-100+ Kb it would be nice if `vsce` excluded `dev`:

[code]
All records that have `"dev": true`.

[2019-01-06 16:34] usernamehw commented on #317
Are those files `package-lock.json`/`yarn.lock` even being used by extension installer?
When unzipped - there's already a `node_modules` folder with installed dependencies 🤷‍♂️ .

[2019-01-07 00:45] usernamehw commented on #317
Also, what about ignoring other common types of files?:

* `.editorconfig`
* `.npmrc`
* `.yarnrc`
* `.gitattributes`
* `*.todo`
* `tslint.yaml`
* `tslint*.js`
* `.eslintrc*`
* `.babelrc*`
* `ISSUE_TEMPLATE.md`
* `CONTRIBUTING.md`
* `PULL_REQUEST_TEMPLATE.md`
* `.github`
* `.travis.yml`
* `appveyor.yml`
* ...

[2019-01-07 04:55] pkuma-msft commented on #315
Not sure what you mean @joaomoreno .. ? This was an issue with the way resource paths were used in the package.. we should probably mention this in our documentation or throw an error during packaging.

[2019-01-07 09:18] joaomoreno commented on #315
I thought not being able to handle spaces was just an issue on the server side. If it's a limitation, then: is the suggestion then that users can't use spaces in their icon file paths? Is it only spaces, or are there other characters they should not use? Is it only about icons or about resources in general?

We can add validation rules on VSCE for that, just need to know which rules. :+1:

[2019-01-07 09:38] joaomoreno commented on #317
VSCE invokes `npm` or `yarn` to know which modules are not dev dependencies and excludes them while packaging.

I've added pretty much all those patterns to the default ignore list. Thanks!

[2019-01-07 09:38] jeffmaury commented on #315
Yes would be good to be returned when we run `vsce package` but found strange that if you run `vsce package` then install the vsix file it works inside VSCode

[2019-01-07 09:38] #317 closed

[2019-01-07 11:32] joaomoreno opened #318 "Support Marketplace unpublish instead of delete"
From @salehahu-msft

[2019-01-07 11:33] joaomoreno commented on #318
This is actually a blocker from upstream: the `vso-node-api` Node bindings do not expose `unpublishExtension`, but only `deleteExtension`. The new `azure-devops-node-api` module doesn't even expose the Gallery API at all, waiting on https://github.com/Microsoft/azure-devops-node-api/pull/233

[2019-01-07 13:55] usernamehw commented on #317
@joaomoreno, what about `yarn.lock`?

[2019-01-07 14:50] joaomoreno commented on #317
https://github.com/Microsoft/vscode-vsce/commit/13006f04bb280abe67157195c7d82da9b9db08b8

Feel free to submit PRs.

[2019-01-07 16:29] joaomoreno opened #319 "Prevent packaging `vscode` as a dependency"

[2019-01-09 03:38] d-jiang opened #320 "unable to unpublish snippets"
Hello there,

1. env
vsce version - `1.54.0`

1. I've published some snippets, and now I want to remove them from the market.
`vsce unpublish dianyijiang.vscode-umajin-snippets`

responses
`(node:10904) Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling certificate verification.
Successfully deleted dianyijia

[2019-01-09 03:45] d-jiang commented on #320
https://code.visualstudio.com/api/working-with-extensions/publishing-extension#common-questions

[2019-01-09 03:45] #320 closed

[2019-01-11 03:49] qq89987112 opened #321 "where could i find 'all accessible accounts' ?"
https://code.visualstudio.com/api/working-with-extensions/publishing-extension#common-questions

i just finded organization field  but not finded accounts field

[2019-01-11 08:34] joaomoreno commented on #321
Can you show me a screenshot of what you've found?

[2019-01-13 03:41] angelo-mollame opened #322 "URL rewriting sometimes gets it wrong"
**Repro steps:**

1) `git clone https://github.com/angelo-mollame/batch-replacer.git`
2) (if it's not the last commit anymore) `git checkout 046f6597de1eeb5900f3e3d4a88649756332bbe8`
3) `vsce package`
4) open the generated VSIX, open the README file in it, and compare it with the README file in the source code

Bottom part in the source code:

[code]

Bottom part in the README in the VISX:

[code]

[2019-01-13 09:01] usernamehw opened #323 "Use colors for `package`"
Example of webpack with [friendly-errors-webpack-plugin](https://github.com/geowarin/friendly-errors-webpack-plugin)

![screenshot 30](https://user-images.githubusercontent.com/9638156/51083409-c9031b00-172a-11e9-8e6e-b129d52d8c77.png)

[2019-01-16 10:59] #323 closed

[2019-01-17 09:15] jasonHzq commented on #246
It works for me to run:

[code]

[2019-01-17 20:31] ziishaned commented on #165
The command will work if you remove the unused imports from typescript files.

[2019-01-21 03:02] OBKoro1 commented on #246
`vsce package --yarn`  Solved my problem

[2019-01-23 14:15] joaomoreno opened #325 "Store the PAT in a keychain"

[2019-01-26 15:43] paulo-fernando-silva opened #326 "Upgrade to 1.54.0 breaks vsce"
I upgraded the installed vsce from 1.53.2 to 1.54.0, and it seems it deleted the file:
/opt/local/lib/node_modules/vsce/resources/[Content_Types].xml

ButnNow when trying to publish an extension I get:

Error: ENOENT: no such file or directory, open '/opt/local/lib/node_modules/vsce/resources/[Content_Types].xml'

Downgrading back to 1.53. doesn't seem to fix the issue.
How can one fix this issue?

[2019-01-27 09:05] paulo-fernando-silva commented on #326
Well, downloading the file and installing it manually seems to do the trick. If it's needed not sure why it's not installed. Likely an issue somewhere.

[2019-01-28 13:23] joaomoreno commented on #319
Dupe of #306

[2019-01-28 13:23] #319 closed

[2019-01-28 13:23] #306 closed

[2019-01-29 08:20] SoftwareApe opened #327 "Relative image paths should be allowed when using vsce package instead of publish"
When packaging extensions I only want to distribute locally (inside the company) it would be very helpful to be able to specify just relative paths (they work in Bitbucket). Right now VSCE just fails asking for an https URL. This should only be packaged locally in the VSIX and need no repostiory URL at all.

If this already is possible the message should mention what I'm supposed to do.

[2019-01-29 22:35] octref opened #328 "vsce package should not check for publisher"
Repro:

- Clone a sample from https://github.com/Microsoft/vscode-extension-samples
- Run `vsce package`
- `vsce` should not check for `publisher` for generating the VSIX

[2019-01-31 21:48] rakeshvanga opened #329 "Vs code extension using opn or open node module is failing on Linux distros."
Vs code extension using a node module, `opn` or `open` module is failing on Linux distros.
This is because these node modules use a script `xdg-open` to open a URI and this script is part of the node_module.
When a vsix is created using `vsce` on a windows machine and used on a Linux distro, the open functionality is not working because the script's executable permissions are being removed.
If the

[2019-02-03 14:09] tsdmrfth commented on #231
I solved same problem by reading vsce package codes and i found that vsce-cli is storing token variables in a text file which can be found at $(HOME_DIR)/.vsce

[2019-02-06 16:41] mickeypearce commented on #246
It solved my problem as well and sorry for references. They weren't intentional.

[2019-02-07 04:36] chrisdias opened #331 "vsce search throws ERROR Cannot read propery 'replace' of undefined"
[code]

[2019-02-07 05:01] faustinoaq opened #332 "Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED"
Hi @joaomoreno

Latest version 1.55.0 prints this warning:

[code]

This overwrites expected output (I have 3 extensions published, see: https://marketplace.visualstudio.com/publishers/faustinoaq)

My pc setup:

[code]

Maybe Related? https://github.com/Microsoft/vscode-vsce/issues/320

I don't want to unpublish my packages, I see this warning everytime I use `vsce` to request some information fro

[2019-02-07 07:52] joaomoreno commented on #332
What does `echo NODE_TLS_REJECT_UNAUTHORIZED` return?

[2019-02-07 08:18] #331 closed

[2019-02-07 17:14] faustinoaq commented on #332
@joaomoreno Hi, do you mean `echo $NODE_TLS_REJECT_UNAUTHORIZED` ? :sweat_smile:

I just updated it again to latest version and I still have this issue

[code]

Also,  I tried to setup `export NODE_TLS_REJECT_UNAUTHORIZED=1` and even executing `NODE_TLS_REJECT_UNAUTHORIZED=1 vsce list faustinoaq` and still getting this warning.

[2019-02-07 17:15] joaomoreno commented on #332
Yes I mean that!

[2019-02-07 17:50] faustinoaq commented on #332
Still same warning :sweat_smile:

[code]

Maybe `NODE_TLS_REJECT_UNAUTHORIZED` is hardcoded somewhere else?

[2019-02-08 00:55] bkelley13 commented on #327
I've had this issue to, at least I don't have to upload whole project, just the images.  ie, I work around this by uploading my screenshots only to a github location,then just referencing a relative path to it in the packages.json.    Then for vsce time, I did a : vsce package --baseImagesUrl=https://raw.githubusercontent.com/bkelley13/oracle-jet-images/master/    As long as the path to the local

[2019-02-08 00:57] bkelley13 commented on #328
For extension packs, too.

[2019-02-08 07:40] joaomoreno commented on #332
Definitely not in VSCE... :thinking:

[2019-02-08 14:43] joaomoreno commented on #318
Not blocked any more. We must call `updateExtensionProperties` and pass the flags as 4356 to mark the extension unpublished.

[2019-02-08 18:57] faustinoaq commented on #332
Hi, I just updated to 1.57.0 and this warning is still showing.

All other functions (publishing, login) work fine :+1:

[2019-02-11 15:54] jrieken opened #333 "Recommend bundling extension"
When publishing vsce should count the files that end up in the bundle and recommend bundling. We see extensions that load very slow (30-40 seconds) and when bundled they usually load 10 times faster. Also installing benefits a lot from this and therefore its time to spread the news!

[2019-02-13 21:30] bclinthall commented on #328
I'm having this issue too.

[2019-02-18 09:54] joaomoreno commented on #333
Yeah good point. But we should probably also update the docs: https://code.visualstudio.com/api/working-with-extensions/publishing-extension

[2019-02-25 08:57] jrieken commented on #333
We are tracking that here: https://github.com/Microsoft/vscode-docs/issues/2254#issuecomment-463718248

[2019-02-26 08:14] nobodxbodon commented on #254
Got some findings and workaround when working on the same issue [here](https://github.com/program-in-chinese/vscode_english_chinese_dictionary/issues/5).

It's feasible to use unicode (Chinese in this case) in file names and still publish successfully. This error seems to only occur when there are two or more file names having the same number of charactors. For the example @htwx gave above, `工具.ts

[2019-03-01 00:26] chrisdias opened #334 "Check for webpack"
VSCE should check to see if an extension is webpack'd and if not, print out a link to the (forthcoming) documents on how to webpack an extension.  this will help the ecosystem keep/make VS Code fast.

[2019-03-01 02:43] alefragnani commented on #334
That’s a great idea 👍

I would suggest to add webpack option/configuration on [Yeoman generator](
https://github.com/Microsoft/vscode-generator-code) as well.

[2019-03-04 08:22] joaomoreno commented on #334
/duplicate #333

[2019-03-04 08:22] #334 closed

[2019-03-08 06:23] syedirfan7 opened #337 "change default path of .vsix package"
Hi ,
when i run `vsce package ` the .VSIX  file is generated in root folder. how can i change this path to some output/ build/dist folder ?

[2019-03-08 07:25] syedirfan7 commented on #337
found it myself !

`vsce package --out "pathToFolder"`

[2019-03-08 07:25] #337 closed

[2019-03-08 07:30] foxundermoon opened #338 "add completion sub command"
such as
 `vsce completion bash`
`vsce complexion zsh`

then in `.bazshrc` or `.zshrc`   `source <(vsce completion zsh)`

[2019-03-12 23:27] ws93 opened #339 "vsce doesn't respect engines versions in package.json"
Hi team,  I was trying to generate `vsix` file for my extension. In extension source code, I did a version check on a dependency(or `engine`, also a npm package) using [`semver`.](https://www.npmjs.com/package/semver). Recently I changed this version check to make it pass the pre-release of that dependency. It worked fine when I tried in debug mode(Extension Host). But the version check failed whe

[2019-03-13 11:54] joaomoreno commented on #339
I'm not entirely sure I understand the problem.

Can you give me specific steps to reproduce it?

[2019-03-13 13:21] ws93 commented on #339
I will try. This is an internal tool in our company so you can't find the specific npm package but I'll try to give you the steps that I had an issue.

0. Let's call our extension `myExt` and call that dependency(engine) `depen`
1. in `package.json`'s `engines` field, specify `depen` like this
[code]
2. in `myExt` source code, write some code to get `depen` version from `package.json`'s `engines`

[2019-03-13 13:21] ws93 commented on #339
Hope it helps to understand.

[2019-03-14 08:17] joaomoreno commented on #339
A VSIX is a ZIP file. Rename its extension to ZIP and extract it. In there you'll find `package.json`. Does it have the old or the new version?

[2019-03-14 14:57] ws93 commented on #339
Thanks for your help. The version in vsix file is new.
I found one thing interesting. When I install an extension, vscode will put this extension under `%temp%/.vscode/extensions/`. And even I uninstall this extension, vscode will still keep those fiiles. So then when I install a new version of this extension, there's some discrepancy. Because it looks like vscode is not using what I just installe

[2019-03-14 14:57] #339 closed

[2019-03-19 22:31] evgenyk commented on #211
Having the issue publishing extension on Ubuntu (18.10), while exactly with the same code, when checked-out on Windows succeeds publishing.

More error logging would help for sure, so we don't look for a black cat in a dark room.

[code]

[2019-03-20 08:16] joaomoreno commented on #211
cc @viradhamMS @pkuma-msft

[2019-04-04 22:01] ZhangYet commented on #244
Try `npm run compile` to get more error message.

[2019-04-14 04:36] rjmholt commented on #176
I think a problem here is accidentally publishing a newer version (e.g. publishing a preview release to a stable extension channel).

If that happens, the versioning scheme is now irreversibly broken and there's nothing extension maintainers can do. Even if we republish the older version afterward, it's not the "latest" version of the package published.

At that point we're forced to break our ver

[2019-04-16 05:27] joaomoreno commented on #176
Thoughts, @viradhamMS @pkuma-msft?

[2019-04-16 11:24] kesane-msft commented on #176
@rjmholt that's a valid feedback, however we don't get many requests around this. You can always reach to the Marketplace support alias and we will be happy to consider your requests. If we see more and more asks around it we'll consider adding some functionality around it.

[2019-04-17 10:30] HaaLeo opened #340 "Support GitHub Issue Links"
# Description
When referencing an GitHub issue in a repo's README.md or CHANGELOG.md like `#3` or so, when I hover over that reference in the GitHub Web UI, I get a nice preview of the issue and can easily navigate to that issue by clicking the link.
However when the same readme is published to the vscode marketplace there is no such link created.

# Proposal
1. Check whether the extension's repos

[2019-04-17 23:08] true0r opened #341 "The specified icon 'extension/icon.png' wasn't found in the extension."
I use snap for install node on Ubuntu 19.04. This causes a problem that I found only when debugging because the error message leads to a false way.

This issue concerns node.js and there the question has already been raised and left unanswered (https://github.com/nodesource/distributions/issues/663). It is necessary providing a true error message to save time for those who have this problem.

[cod

[2019-04-23 17:33] selfrefactor commented on #332
I can also report that I have this issue.

[2019-04-23 23:21] kejxu commented on #148
was going through `semver` [documentation](https://semver.org/), found the following explanation:

incrementing the third digit (`PATCH` digit) seems to indicate a stable update; it would be helpful to support pre-release version numbers to indicate unstable versions. Maybe this was by design since users can only find and install the most recent (and stable) version of extensions

[2019-04-24 18:16] rakeshvanga commented on #329
the functionality is to open a browser from VS Code's status bar item (which contains a localhost url) is clicked.
Went with a node module `opener` which uses the xdg-open command that should be readily available in almost all Linux distros.

[2019-04-24 18:36] #329 closed

[2019-04-26 02:50] louanbastos commented on #249
The same problem to me, i don't know how to fix, I try to use npm install -g vsce and don't work

[2019-04-26 23:12] verde79 commented on #332
I'm also experiencing it while doing `vsce login` or `vsce publish`

[2019-04-27 09:12] foxundermoon opened #343 "the azure pipelines sample"
there is no detail for publish

[2019-05-01 09:03] DanTup commented on #332
I'm seeing this too when publishing:

[code]

I don't have this variable set:

[code]

[2019-05-02 09:51] joaomoreno commented on #343
What do you mean?

[2019-05-02 09:52] joaomoreno commented on #332
There is nothing in VSCE which sets this variable. No idea what is going on.

[2019-05-02 17:34] DanTup commented on #332
You have a dependency on `vso-node-api` which seems to have this in:

<img width="549" alt="Screenshot 2019-05-02 at 18 32 17" src="https://user-images.githubusercontent.com/1078012/57094510-a19b8280-6d08-11e9-92b2-93aef65ad685.png">

`typed-rest-client` has the same (looks like a copy of the same function).

Seems like an MS package, but npm says it's deprecated. It's not clear what the status is

[2019-05-03 10:03] DanTup commented on #332
FWIW, looks like it was removed from `typed-rest-client` here:

https://github.com/Microsoft/typed-rest-client/pull/7

I don't know how that relates to `vso-node-api` though.

[2019-05-03 10:05] joaomoreno commented on #332
I'm currently working on moving these dependencies forward.

[2019-05-03 10:39] #332 closed

[2019-05-03 11:06] joaomoreno commented on #318
https://github.com/Microsoft/vscode-vsce/pull/344/files

[2019-05-03 13:04] joaomoreno commented on #311
This is now fixed.

[2019-05-03 13:04] #311 closed

[2019-05-03 13:05] joaomoreno commented on #277
We have upgraded to `azure-devops-node-api`. This should be fixed by now. @gaurav42 Can you double check?

[2019-05-03 13:05] #277 closed

[2019-05-03 13:21] joaomoreno commented on #297
Closing as noop

[2019-05-03 13:21] #297 closed

[2019-05-03 15:57] raix commented on #297
@joaomoreno why a noop?

[2019-05-05 11:11] foxundermoon commented on #343
I just want auto  publish an extension to the marketplace by `azure-pipelines`.

I am exploring the right way

[2019-05-05 11:11] #343 closed

[2019-05-05 11:17] jonkwheeler commented on #277
@joaomoreno I'm having a really rough time getting this to work as well. Anyway you can help out? MS has so many ways to login that I think it's created extra accounts. I'm just trying to use my publisher ID of `jonkwheeler`.

I had to create an Azure Dev login (`jonkwheeler0502` randomly assigned), and get a personal access token there (adding the Marketplace checks). Logged in through the consol

[2019-05-06 04:59] viradhamMS commented on #277
@jonkwheeler - Please send a note to vsmarketplace@microsoft.com. We might need to map your new login to your existing publisher

[2019-05-06 06:50] joaomoreno commented on #297
They seem to be recommendations only. Let's change it once it breaks.

[2019-05-06 11:13] jonkwheeler commented on #277
After contacting the vsmarketplace@microsoft.com, the issue ended up being that I had 2 different accounts (I had an idea about this). Once support told me the details of the account I needed, I was able to login, create a new personal access token, and publish my extension updates. Thanks so much!

[2019-05-07 21:55] sean-mcmanus opened #346 "Use an updated cpx to fix security vulnerabilities"
vscode-vsce references https://github.com/mysticatea/cpx which has known security vulnerabilities, which have been fixed in the repo, but the owner of the cpx is unresponsive and not releasing an update with the fixes. Can someone do something like clone the repo and reference the clone instead to fix this?

[2019-05-11 16:43] kondratyev-nv commented on #346
Right now, `npm audit` is failing for extensions with `vsce >= 1.60.0` and I can not update this package without disabling the `npm audit` step in CI :(

I saw that `cpx` was introduced in https://github.com/microsoft/vscode-vsce/commit/0c517649bee2273465e7f05e2690982a6c334275. Does this package have to be declared in `dependencies`? It looks like it is used only for development purposes. So maybe

[2019-05-12 07:03] vfonic opened #349 "`vsce --help command` doesn't work"
I wanted to check if I can modify the package name when running `vsce package` so I typed:

[code]

Then I typed:

[code]

...and any possible combination of `help` and `package` I could think of. None showed me what options `vsce package` takes. Any ideas how I can get that from shell, without having to dig through the code itself? Is it possible?

Thank you!

PS What's `*` command? 🤔

[2019-05-16 20:00] joaomoreno commented on #346
Yeah moving it to dev deps should be fine for now.

[2019-05-16 20:00] #346 closed

[2019-05-16 20:06] joaomoreno commented on #349
There's only another combination 😄

[code]

[2019-05-16 20:15] vfonic commented on #349
😁

Thanks for pointing that out!

However, I don't think that fixes the issue. The real issue here is developer experience (DX), which, in my opinion, is broken.

The help output clearly shows `Usage: vsce [options] [command]`
Yet, the real usage is: `Usage: vsce [options] [command]`, maybe, if the option is not `--help`.

I'm not sure what's the Powershell defacto standard, but, as far I've seen,

[2019-05-17 18:13] adamwatters opened #351 "Recommend adding .vscodeignore"
Related to [Recommend adding .vscodeignore](https://github.com/microsoft/vscode-vsce/issues/333)

New extension developers might have extensions with lots of files even after bundling because they haven't added a .vscodeignore file (speaking from personal experience 🤣- my extension had 23409 separate files and took about a minute to install)

The message `This extension consists of ${files.length}

[2019-05-21 17:10] lae0901 opened #353 "how to update a publisher to new PAT"
running  vsce publish.  Getting errorAccess Denied: The Personal Access Token used has expired."
 I ran "regenerate" in Azure DevOps against the PAT and got a new key.

How to apply new key to the publisher?

I ran "vsce delete-publisher" and got the same "PAT used has expired" error.

[2019-05-21 17:21] lae0901 commented on #353
I run  vsce login pubName and get ERROR failed request 401.   How to find out the actual error?

$ vsce login Stevexxxx
Publisher 'Stevexxxx' is already known
Do you want to overwrite its PAT? [y/N] y
Personal Access Token for publisher 'Stevexxxx': ****************************************************

 ERROR  Failed request: (401)

[2019-05-21 17:36] lae0901 commented on #353
was able to publish directly on the manager publishers and extensions web page ...
https://marketplace.visualstudio.com/manage/publishers/Stevexxxx

[2019-05-23 09:10] b4ckup commented on #203
Any progress on this? I develop a vscode extension that depends on a package I develop. Right now I have to push to npm in order to build a local .vsix file. Is there any solution to this? Is there a reason not to use
[code]
with the **link=true** parameter?
What difference does it make to vsce where the node module comes from when packaging as long as it is in the node_modules folder?

[2019-05-23 09:10] joaomoreno commented on #349
Good point. Let's make sure `--help` can go before the command.

[2019-05-23 09:11] #333 closed

[2019-05-23 09:11] joaomoreno commented on #351
Wanna submit a PR?

[2019-05-23 09:14] #351 closed

[2019-05-23 09:15] joaomoreno commented on #353
You can use `vsce login PUBLISHER_NAME` and then input your new PAT. Did you paste the correct new PAT?

[2019-05-24 13:16] lae0901 commented on #353
I get the same Failed request: (401)

in visualStudio.com I go to the personal access tokens page.  https://stephenxxxx.visualstudio.com/_usersSettings/tokens

There is one active token in my organization. Token name is my publisher name.  stevexxxx  I click the regenerate button.  Then copy to the clipboard.

in vscode, at the command line, run "vsce login stevexxxx".  Get prompted for PAT.  past

[2019-05-25 13:53] espresso3389 commented on #353
I got the same with the newly created PAT with 1 year duration:(

[2019-05-27 09:30] joaomoreno commented on #353
cc @viradhamMS @pkuma-msft Some help?

[2019-05-28 06:31] smadala commented on #353
@espresso3389 @lae0901
Did you create PAT with "All accessible organizations"?

![VSCodePAT](https://user-images.githubusercontent.com/4337332/58455744-0d261380-8140-11e9-8d1d-5e45c64d29e5.PNG)

[2019-05-28 06:38] espresso3389 commented on #353
@smadala
On the first try, I created another PAT with only Marketplace access as explained on [the article](https://code.visualstudio.com/api/working-with-extensions/publishing-extension) and got 401.
The second try with the all accessible organizations, but it also resulted in 401.

I'm suspecting some kind of server side error because this is not the first time renewal of PAT token. I had done t

[2019-05-28 07:25] smadala commented on #353
@espresso3389 Can you share your publisher ID?

[2019-05-28 07:27] smadala commented on #353
Never mind, Got it(same as your username)

[2019-05-28 14:04] smadala commented on #353
@espresso3389 @lae0901
We couldn't identify any error in our telemetry for your requests. Can you please send following information to VSMarketplace@microsoft.com?

1. Screenshots of PAT creation.
2. Fiddle trace of vsce command.

[2019-05-28 14:07] lae0901 commented on #353
it is working now.  able to publish an extension by running "vsce publish".

I changed the organization of the PAT to "all accessible organizations"

[2019-05-28 14:07] #353 closed

[2019-05-30 17:28] rahulsahay19 opened #355 "While publishing update to my csharp extension, I am getting below error"
@joaomoreno
Hi,

I have logged in as vsce login rahulsahay and then when I am giving token. Its giving below error. Basically, I wanted to update my snippet.

![image](https://user-images.githubusercontent.com/3886381/58650976-ba11b380-832d-11e9-9cb7-08d8fc598c24.png)

Last I published in 2017. Has token expired? If so, How to regenerate against my publisher name because the link which I have is f

[2019-05-31 09:21] rahulsahay19 commented on #355
@notlaforge @anurse @joaomoreno @olegtk
Hi Team, I am stuck now and not able to update my extension. Is there any way out from this problem. Thanks.

[2019-05-31 11:08] rahulsahay19 commented on #355
Done. Closing the ticket. Thanks!

[2019-05-31 11:08] #355 closed

[2019-05-31 19:44] luispDesktop commented on #191
We were looking for VSCode to support signing validation as Visual Studio does as they both produce .vsix files.

[2019-06-02 02:37] jamesgeorge007 commented on #349
@joaomoreno @vfonic `vsce <command> [options]` is the intended way. While what shows up with `--help` is essentially misleading.

It could be resolved with a minor tweak here:-
https://github.com/microsoft/vscode-vsce/blob/e06834b9a10b246bc7747d170bfd08227fd46396/src/main.ts#L56

Just include `usage('<command> [options]')`

[2019-06-02 02:38] jamesgeorge007 commented on #349
@joaomoreno Shall I go ahead and shoot up a PR :thinking:

[2019-06-02 02:45] jamesgeorge007 opened #356 "Show up suitable messages if the user makes a typo."
As per now `vsce <unknown_cmd>` only manages to show up the output of `vsce --help`.
It would be nice to have a suitable message such as `unknown command <cmd>` along with a suggestion for matching commands.

# Proposed idea

## Warning for unknown commands.

`vsce random`

[code]

## Suggest matching commands if the user makes a typo.

`vsce packag`

[code]

[2019-06-02 02:47] jamesgeorge007 commented on #356
@joaomoreno Shall I shoot up a PR :thinking:

[2019-06-03 13:28] joaomoreno commented on #349
Sure.

[2019-06-03 13:29] joaomoreno commented on #356
Sure!

[2019-06-03 21:46] chrisdothtml commented on #192
+1

My use case is with aligning images. AFAICT there's no way to do it with markdown

[2019-06-04 09:32] #349 closed

[2019-06-12 10:17] #356 closed

[2019-06-12 10:47] jamesgeorge007 opened #360 "How about showing up an ASCII flavoured banner?"
![Screenshot from 2019-06-12 16-13-21](https://user-images.githubusercontent.com/25279263/59345338-82dbd300-8d2d-11e9-9e6b-1a06cc73f50c.png)

[2019-06-12 10:47] jamesgeorge007 commented on #360
@joaomoreno Thoughts: thinking:

[2019-06-12 10:47] jamesgeorge007 commented on #360
@joaomoreno Thoughts :thinking:

[2019-06-12 10:48] jamesgeorge007 commented on #360
There is a [node-banner](https://npmjs.com/package/node-banner) package for the purpose.

[2019-06-12 19:14] Raagh opened #361 "[Question] How to integrate vsce publish to an azure pipeline"
So I created an azure build pipeline for packaging my vscode extension into a vsix. I have uploaded that vsix as an artifact so it can be used in a release pipeline.

but know I dont know how could I use vsce publish inside a release pipeline. do you guys have any idea how the release pipeline would look like for publishing and extension?

[2019-06-12 20:01] #361 closed

[2019-06-13 08:57] joaomoreno commented on #361
https://code.visualstudio.com/api/working-with-extensions/continuous-integration#azure-pipelines

[2019-06-13 08:57] joaomoreno commented on #360
Although cool :sunglasses:, I think this isn't really necessary...

[2019-06-13 09:16] Raagh commented on #361
Hi @joaomoreno thanks for your response, already read that unfortunately only covers the part about CI, not the CD. CI was not the problem. The problem was how to make a release pipeline upload the extension to the marketplace using proper publisher id and personal access token.

in case somebody comes here and its interested I manage to solve it by after a build pipeline that publish the packaged

[2019-06-13 14:48] jamesgeorge007 commented on #360
@joaomoreno Well, do you plan to include it in the future :thinking:
Are you just worried about the dependency tree as given above?

[2019-06-14 07:53] joaomoreno commented on #360
Not really, closing this.

[2019-06-14 07:53] #360 closed

[2019-06-14 13:10] jm06487 opened #362 "Does not create .vsx file or throw warnings."
Does not throw warnings or create .vsix file.  Just hangs.
![4279FF7F-2B15-44A0-9AA2-CE4DE530C325](https://user-images.githubusercontent.com/10539923/59511396-27702900-8e84-11e9-8132-cbc7d06d3770.png)

[2019-06-17 01:51] nagytech opened #364 "Cannot specify commit message"
I can see that `vsce publish` discretely uses `npm version` to apply versioning to `package.json` which also adds a commit  to the local repository.  The default commit message turns out to be '[major].[minor].[patch]', and there is currently no way to override this.

When using `vsce publish` as a part of a CI/CD pipeline, I need to be able to specify a commit message that  includes an ignore fla

[2019-06-17 01:51] nagytech commented on #364
Related to #9

[2019-06-19 07:45] joaomoreno commented on #362
What happens if you run `npm run vscode:prepublish` yourself?

[2019-06-19 07:48] joaomoreno commented on #364
@nagytech Why not running `npm version -m MESSAGE` yourself and then simply `vsce publish`?

[2019-06-19 14:07] nagytech commented on #364
Because `vsce publish` is already calling `npm version` there is an expectation that the versioning should be handled internally.

[2019-06-19 14:50] raix commented on #364
@nagytech I don't follow the title of this issue completely - but I'll share a couple of options, depending on your setup:

---

I use semantic release with the vsce plugin to automate the CI for the perl debug extension on github, takes some practice to get into - but on the other hand we get release notes/semantic versioning for free and contributors don't have to wait for me to publish.

---

I

[2019-06-20 04:50] nagytech commented on #364
The build process I'm following is as follows:

[code]

As noted before, `vsce publish [version]` will bump the version in `package.json` _and_ add a commit to the local git repository.  The problem here is that there are no options to control the format of the commit message.  This causes cyclical builds which I'm trying to avoid.

So far, all of the options I've explored rely on external tools,

[2019-06-20 07:59] joaomoreno commented on #364
VSCE only bumps the version because you ask it to by providing `minor`. Try this instead:

[code]

[2019-06-20 08:09] nagytech commented on #364
I appreciate the help, but I'm well aware of how I can do that.  Obviously I would have needed to understand how `npm version` works in order to make the changes in this pull request: https://github.com/microsoft/vscode-vsce/pull/365

[2019-06-20 08:24] joaomoreno commented on #364
Fixed by https://github.com/microsoft/vscode-vsce/pull/365

[2019-06-20 08:24] #364 closed

[2019-06-20 09:29] joaomoreno commented on #364
Published 1.64.0.

[2019-06-20 16:30] usernamehw opened #367 "Don't use WARNING for message about version"
Update it now: npm install -g vsce

Could you please use INFO level?

[2019-06-20 18:14] RufusWein opened #368 "Publish error : ERROR Missing publisher name."
Well, Yesterday I did my first extension and today when I going to publish it doesn't work.

**vsce create-publisher rufuswein**
[OK]

**vsce login rufuswein**
[OK]

**vsce ls-publishers**
rufuswein [OK]

**vsce publish**
ERROR  Missing publisher name. Learn more: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#publishing-extensions [WTF!]

**vsce package**
ERROR  Mi

[2019-06-21 07:32] jm06487 commented on #362
I have a webpack configured as the bundler. When I run "npm run vscode:prepublish" package.json script is "webpack --mode production", it bundles - then hangs.  If I change the bundler to just typescript it will create the .vsix file.  I have attached a zip with all the config files to help diagnose the issue.
[commitmessagemanager.zip](https://github.com/microsoft/vscode-vsce/files/3313412/commit

[2019-06-21 07:34] joaomoreno commented on #367
PR?

[2019-06-21 07:36] joaomoreno commented on #368
From https://code.visualstudio.com/api/working-with-extensions/publishing-extension#create-a-publisher

Eg:

[code]

[2019-06-21 07:36] #368 closed

[2019-06-21 07:37] joaomoreno commented on #362
You have to figure out why that hangs. Once you fix that, VSCE won't hang as well. Try asking a question in StackOverflow about why your webpack project hangs.

[2019-06-21 07:37] #362 closed

[2019-06-21 08:38] RufusWein commented on #368
Ok João is that, thank you very much.

[2019-06-21 14:47] atsutton commented on #367
Hey @joaomoreno, can I take a crack at this?

[2019-06-24 18:02] atsutton commented on #367
Great, I'll get working on this.

[2019-06-24 20:17] JimiC commented on #275
To resolve any future issues I created [nsri](https://www.npmjs.com/package/nsri). We will be using it as integrity checker for [vscode-icons](https://github.com/vscode-icons/vscode-icons)

[2019-06-24 20:17] #275 closed

[2019-06-26 18:55] atsutton commented on #367
Hey @joaomoreno, I just sent pr #369 regarding this issue.

[2019-06-27 06:37] bmewburn commented on #211
I'm getting this error too with 1.64.0. Is there any way to output more info on the cause?

[code]

[2019-06-27 08:23] #367 closed

[2019-06-27 12:45] bmewburn commented on #211
Running vsix file through `unzip -t` doesn't show any problems with the file. Also tried fixing with `zip -F` which yielded another valid file that also failed with malformed/corrupted error using `vsce publish --packagePath`.

[2019-06-28 09:07] kesane-msft commented on #211
@bmewburn , did/could you try [publishing via the web UI](https://docs.microsoft.com/en-us/azure/devops/extend/get-started/node?view=azure-devops#upload-your-extension) (use the Visual Studio Code option) from your Linux box? This would help us investigate the issue in more detail.

[2019-06-28 10:21] bmewburn commented on #211
@kesane-msft , yes I tried `vsce package` on linux then uploading via the web UI (linux/firefox) but it failed with the same error message. Some other things I tried unsuccessfully included trying with the previous 10 versions of vsce then cloning vsce, upgrading the yazl package, building.

[2019-06-28 10:57] kesane-msft commented on #211
Thanks for the details @bmewburn . When you successfully uploaded the extension from the windows machine, did you use the same package that was built on your Linux box or did you repackage the extension and publish it?

[2019-06-28 11:25] bmewburn commented on #211
No, I didnt try publishing the linux package from windows. I git cloned, npm install, vsce publish on a windows 10 machine.

[2019-07-01 07:58] bsed commented on #328
For extension packs, too.

[2019-07-02 14:25] kranthie commented on #300
Hi @joaomoreno: any idea if this support will be added soon?

[2019-07-05 02:57] yuxuan commented on #300
We have a multiple extensions with some common packages mono-repo structure. Each extension has dependencies on few of those common packages.

Currently we are using Lerna to manage the mono-repo, using webpack compile packages for each extension, and using vsce package individual extension and publish it.

It would be great if vsce support this natively

[2019-07-05 06:48] 0mkara opened #371 "vsce Failed to parse dependency"
I am trying to build a package where vsce packages my extension but it does not work after install. It works fine when I run it for debugging. Log is bellog.

[code]

[2019-07-08 08:40] joaomoreno commented on #371
Can you show me the repo?

[2019-07-08 14:21] Revilotom opened #372 "Error: Command failed: npm show vsce version"
I'm getting the following error when trying to package my extension:

[code]

[2019-07-08 17:45] 0mkara commented on #371
https://github.com/0mkara/ethcode @joaomoreno

[2019-07-09 05:07] bmewburn commented on #211
I found the problem in my case. It was linux having a case sensitive file system while windows has a case insensitive fs. In my linux package I had 2 files with the same case-insensitive path.

[2019-07-10 22:39] RMacfarlane commented on #176
I just ran into the exact situation @rjmholt described, I accidentally released a version of the extension with a much higher version and I’d love the ability to unpublish that so that I can continue with the original versioning scheme.

[2019-07-11 05:55] joaomoreno commented on #372
Is there anything special about your system, that you can think of?

[2019-07-11 05:56] joaomoreno commented on #371
Where do those dependencies come from, do you know?

[code]

[2019-07-11 09:33] #340 closed

[2019-07-11 11:58] 0mkara commented on #371
Those come when I add [web3](https://www.npmjs.com/package/web3) library.

[2019-07-11 12:58] Revilotom commented on #372
Do you mean like my OS?
[code]
Or like nodey things?
[code]
Please give me more details on the information you require

[2019-07-11 13:57] #371 closed

[2019-07-11 13:58] joaomoreno commented on #372
What does `which npm` return?

[2019-07-11 14:09] Revilotom commented on #372
[code]

It does complete but it doesn't package the files properly, it should be more than 0..97kb.

[code]

[2019-07-11 15:36] joaomoreno commented on #372
That is irrelevant to the error. You can see which files get packaged with `vsce ls`.

The error is related to vsce automatically checking for updates, which happens in the background. I'll simply not output any error if anything happens, since update checks are optional anyway.

[2019-07-11 15:37] #372 closed

[2019-07-12 07:51] vikyd commented on #157
same issue

[2019-07-15 12:32] Revilotom opened #374 "vsce ls does not show any files"
Running
[code]
Does not show any files for me.
What am I doing wrongly?

[2019-07-15 15:05] joaomoreno commented on #374
What is your full project structure?

[2019-07-15 20:34] Revilotom commented on #374
The reason there is a "dist" as well as an "out" folder is because I was planning to use webpack for production (dist folder) and the default build system for development (out folder)

[code]
I have simplified by removing unrelated files and a modules directory from the "src" folder

[2019-07-16 06:15] joaomoreno commented on #374
Do you have a `.vscodeignore` file?

[2019-07-16 09:04] Revilotom commented on #374
Yes but it is empty

[2019-07-16 09:21] joaomoreno commented on #374
If you remove it, does vsce list any files? Which version of vsce do you have?

[2019-07-16 11:21] Revilotom commented on #374
I tried removing it but it made no difference for me.

[code]
You can access the root directory of the extension code by doing:

[code]

[2019-07-17 14:27] SimonSiefke opened #375 "hex colors in readme broken"
A Readme.md like this:

[code]

gets transformed into

[code]

I guess this is because of https://github.com/microsoft/vscode-vsce/pull/345

[2019-07-18 09:56] joaomoreno commented on #374
I can't reproduce. I've cloned it and ran those steps. I've also run `npm install`. Then, running `vsce ls` gives me the following output: https://gist.github.com/joaomoreno/9762b05760193c5df265680c28a2232a

What platform are you on?

[2019-07-18 12:24] Revilotom commented on #374
Trying it on another system it seems to work fine just like you said..😕
The system it doesn't work on has the following environment:
[code]

[2019-07-18 13:04] joaomoreno commented on #374
How fast does `vsce ls` run? `time vsce ls`

[2019-07-18 16:13] Revilotom commented on #374
[code]

[2019-07-19 13:19] jamesgeorge007 opened #377 "Having a dedicated command to show up local environment information"
As in #372 there was a need to know the local environment information of the user to better understand the issue. IMO there should be a dedicated command for the purpose.

## Proposed API

`vsce info`

[2019-07-19 13:19] jamesgeorge007 commented on #377
cc @joaomoreno

[2019-07-21 23:52] N8python opened #378 "Vsce will not publish my package with `vsce publish`"
I entered:
[code]
And I received the following message:
[code]
Everything looked like it had gone well.
Several hours later, if you visit [the link in the message result](https://marketplace.visualstudio.com/items?itemName=N8.zlanguage-syntax-highlighting)
my package still isn't there, or it is not published.

[2019-07-22 12:18] #378 closed

[2019-07-23 09:38] joaomoreno commented on #377
Let's not build this into vsce. People can simply use envinfo directly.

[2019-07-23 09:38] #377 closed

[2019-07-23 23:02] guitartsword commented on #11
vsce --version
1.66.0

The message is still: No guidance to user 😢
![image](https://user-images.githubusercontent.com/12071733/61753152-8ff7d300-ad6b-11e9-98cc-10b27a8bc256.png)

I installed it today via `npm i -g vsce`

[2019-07-29 08:05] hzhang1902 commented on #246
Eh when I use vsce package --yarn I get:
Command failed: yarn list --prod --json
{"type":"error","data":"An unexpected error occurred: \"https://registry.yarnpkg.com/xsy-breeze-ui-icons: Not found\"."}

but when i run yarn list --prod --json myself no error is thrown.

[2019-07-29 08:42] zhohon commented on #11
+1

[2019-07-29 08:43] zhohon commented on #11
+1

[2019-08-06 10:17] gurulinggaidhankar commented on #332
where is this line
NODE_TLS_REJECT_UNAUTHORIZED=0

[2019-08-07 00:43] juliosaenz commented on #211
I am also facing this problem. i am trying to upload via the Web UI and i get this error.
Can you please add more logging here, this is frustrating i don't know what to fix.
i am using a windows machine to build the vsix

[2019-08-07 01:12] cancerberoSgx commented on #211
juliosaenz

you should provide  the package or with the problem  so devs cab reproduce the problem
I assume you are in windows and checked vscode and your projecy's dependencies are updated / latest

Did you tried: clean up node_modules package-lock.json,Verify that your package.json dependencies are correct and don't point to local dependencies. At last update all dependencies to latest , clean u

[2019-08-07 01:17] juliosaenz commented on #211
adding the file here as a zip, since GitHub does not allow me to paste a vsix.

[XapDeveloperExperience.XapInfo-0.1.0.zip](https://github.com/microsoft/vscode-vsce/files/3474773/XapDeveloperExperience.XapInfo-0.1.0.zip)

I don't have any dependencies per say.
I will try to clean the node_modules folder and start from scratch.

[2019-08-08 00:50] juliosaenz commented on #211
any ideas or possibility of adding more logs. I tried the suggested fixes with no luck

[2019-08-08 10:08] kesane-msft commented on #211
@juliosaenz, I am from the Marketplace team.
First of all, sorry for the problems that you are facing.

I took a look at your extension and it seems that there is a duplicate x128.png file in the Images folder, that is causing the issue. Try removing that and you should be able to proceed.

Regarding adding more logging, basically the error is thrown when the package cannot be extracted at all and

[2019-08-08 13:20] evgenyk commented on #211
Hello @joaomoreno, thank you for sharing more light into the internals of the tooling you are using and its limitations.

On the other hand, it feels like you are getting paid for closed tickets.

I am not convinced that technically doing nothing when multiple people have the same problem qualifies as a closed issue.

[2019-08-08 14:50] juliosaenz commented on #211
Thanks @kesane-msft I did not realize the zip had two images with the same name. it is weird why the packaging tool would put two of them in there. Because on disk there is only one. I wonder if it is because it is referenced in the vss-extension.json like this

…
"icons":
{
      "default": "images/x128.png"
},
{
      "path": "Images",
      "addressable": true,
      "packagePath": "Images"
},

[2019-08-08 16:14] joaomoreno commented on #211
@evgenyk Every single user who had this issue had files with the same name but different casing in their extension folder.

I just cloned https://github.com/pogo-stack/pogo_vscode.git and was able to successfully package and publish this under my publisher, on Ubuntu. Which means something else is wrong. Can you still reproduce this if you clone the repo into another folder and try publishing it f

[2019-08-08 17:23] Tyriar commented on #147
I just hit this, I expected `vsce help publish` to show me. My thinking was if `--help` wasn't supported properly then `vsce publish --help` could have possibly published something.

[2019-08-08 20:17] joaomoreno commented on #147
@Tyriar We can make `vsce help COMMAND` work too, wanna make a PR?

[2019-08-08 21:08] flimberger opened #381 "vsce finding wrong files without `--yarn` option"
When packaging my extension, vsce failed with the following error message:

    $ vsce package
    This extension consists of 20743 separate files. For performance reasons, you should bundle your extension: https://aka.ms/vscode-bundle-extension. You should also exclude unnecessary files by adding them to your .vscodeignore: https://aka.ms/vscode-vscodeignore
     ERROR  invalid relative path: ext

[2019-08-09 02:11] evgenyk commented on #211
The extension is publishing ok now, thank you.

The problem was with casing treatment between package and the file-system, as we have mixed-OS developers. That took way more time to find it out than is reasonable, and this is on a small extension.

My point was not that it is not possible to find-out what is wrong with trial and error (different systems behave differently without apparent debuggin

[2019-08-09 06:08] joaomoreno commented on #381
Does it have a `package.json`? Does it have any dependencies? Can you show me the sources of your extension?

[2019-08-09 06:37] joaomoreno commented on #211
@evgenyk You're absolutely right.

@kesane-msft Given the lack of server side reporting, I'm forced to validate case insensitive duplicates on the client side, so pushing a validation rule for this.

[2019-08-09 06:37] #211 closed

[2019-08-09 07:25] flimberger commented on #381
The extension is [here](https://github.com/flimberger/android-system-tools), the `package.json` in question was mainly generated by yeoman, with some additional info by myself:

    {
        "name": "android-system-tools",
        "displayName": "Android System Tools",
        "description": "Syntax support for file formats used in Android system development.",
        "version": "0.0.2",

[2019-08-12 07:28] joaomoreno commented on #381
This packages just fine for me. Do you have more files in your local copy of that repository? Any symlinks?

[2019-08-12 07:51] flimberger commented on #381
No symlinks in the repo, but I've moved the npm stuff with the `NPM_CONFIG_PREFIX` environment variable from the default locations. I will test without these redirections.

[2019-08-12 12:18] yltx opened #382 "What's wrong with this?"
RT.

![wrong.png](https://i.loli.net/2019/08/12/AjSwmo5MFLnTvR1.png)

Why can't I login with my PAT?What does this prompt mean?

[2019-08-12 12:39] joaomoreno commented on #382
Did you follow the guide step by step?

https://code.visualstudio.com/api/working-with-extensions/publishing-extension#get-a-personal-access-token

Are you sure you picked "All accessible organizations"?

[2019-08-12 12:46] yltx commented on #382
Yes.

![1.PNG](https://i.loli.net/2019/08/12/bpUhlY9JH4sLrwf.png)

[2019-08-12 12:50] yltx commented on #382
And if me do it by git,it shows this:

![image.png](https://i.loli.net/2019/08/12/cHdjaWBJ2PS8Lk5.png)

[2019-08-12 12:55] joaomoreno commented on #382
cc @viradhamMS @pkuma-msft

[2019-08-12 12:56] yltx commented on #382
?What do you mean?

[2019-08-12 12:56] joaomoreno commented on #382
I'm pinging people to help you out.

[2019-08-12 12:57] yltx commented on #382
Oh,thanks.

So do you know what happened?

[2019-08-14 09:19] yltx commented on #382
So do you have any ideas about this problem?

[2019-08-14 12:45] kesane-msft commented on #382
@yltx , I am from the Marketplace team. We are investigating the issue and will get back to you soon.

[2019-08-14 13:28] yltx commented on #382
Thanks.

[2019-08-14 14:35] akhilravuri1 opened #383 "Extension not working through vsix package"
Hi
I have created a vsix package for my extension and it worked fine when I was debugging but It was not working when I install the extension using vsix.

[code]

The callback function of onDidCloseTextDocument() is not called through vsix package, But it is called while debugging in vscode.

Thanks,
AKhil

[2019-08-16 09:59] raveenone commented on #382
Hi @yltx , I'm from the Marketplace team could you let us know the email id you were signed in as when creating the PAT token?

[2019-08-16 11:23] yltx commented on #382
2326439151@qq.com

[2019-08-16 14:13] jsnee opened #384 "Package command suggested bundling hyperlink is broken"
Just something I noticed, when packaging a large extension, vsce suggests bundling, but the link that is provided includes the period at the end of the sentence as part of the hyperlink making the link not work properly.
![image](https://user-images.githubusercontent.com/2386345/63173693-02c03b00-c006-11e9-82a5-1c0d92a963ec.png)

[2019-08-21 10:26] raveenone commented on #382
Hi @yltx, We updated the permissions on the publisher. Could you try creating a new PAT and try again?

[2019-08-21 12:25] yltx commented on #382
OK.Thanks.

[2019-08-26 12:45] TheZoker commented on #203
Same issue here...

Why is the `--link=true` not included per default? Solved the issue

[2019-08-30 07:05] joaomoreno commented on #382
@yltx Did it work?

[2019-08-30 07:05] #382 closed

[2019-08-30 07:06] joaomoreno commented on #384
That's actually an issue with the terminal you're using, but sure we can remove the dot.

[2019-08-30 07:07] #384 closed

[2019-08-30 07:07] joaomoreno commented on #383
Are you sure the extension is running at all?

[2019-08-30 07:13] akhilravuri1 commented on #383
Yes, the extension is working fine only onDidCloseTextDocument is not working. But now I changed code from onDidCloseTextDocument to onDidSaveTextDocument.

But I want to know why it is not working on the close.

Thanks,
AKhil

[2019-08-30 08:09] joaomoreno commented on #383
This sounds like an issue more for VSCode instead of VSCE. Do you mind creating an issue on https://github.com/microsoft/vscode? Thanks!

[2019-08-30 08:09] #383 closed

[2019-08-30 08:12] joaomoreno opened #385 "Remove SVG warnings"

[2019-08-31 08:34] yltx commented on #382
Thanks,they have already solved my problem.

[2019-09-02 07:16] #385 closed

[2019-09-04 03:15] flpgdn opened #386 "create-publisher error TF400813"
When I try to create my publisher I get the following error:

[code]
![PAT](https://user-images.githubusercontent.com/15850008/64223076-e008a000-cea8-11e9-938e-586d21ee2920.PNG)
![Prompt](https://user-images.githubusercontent.com/15850008/64223077-e008a000-cea8-11e9-9662-f5b0b3c7792d.png)

[2019-09-04 06:10] joaomoreno commented on #386
Are you sure you entered your Personal Access Token? The character `*` should appear as you type/paste it.

[2019-09-04 11:25] flpgdn commented on #386
I was copying and pasting PAT, for some reason the paste didn't work.

Many security cases do not display the characters entered, I thought it was that way, so I ended up not typing and figured it was correct.

I'm sorry for this.

[2019-09-04 11:25] #386 closed

[2019-09-04 20:05] drochgenius commented on #186
I find it a bit confusing the vscode extensions use the `package.json` as their manifest, since this is the NPM package manifest file.

If vscode extensions are meant to be published only to the vscode markeplace, they could have their own manifest for publishing to that marketplace, with a different name, e.g. `vscode-manifest.json`.

This way it would not conflict with `package.json` conventions

[2019-09-09 11:42] creaink commented on #11
use `vsce login` and paste token is fine for me

[2019-09-20 00:11] TravisHi commented on #310
I had a `Keyword` string that started with a `,` removing it resolved this issue for me.

[2019-09-21 13:21] tweakimp commented on #368
It would be better if the error message told us **WHERE** it is missing.

[2019-09-26 17:46] spartanroger commented on #368
Also, the yeoman vscode ext generator could bring this by default

[2019-10-02 06:29] moshfeu commented on #361
And in case your extension is public and you don't want to expose PAT to the world, follow this answer: https://stackoverflow.com/q/58192624/863110

[2019-10-02 07:57] joaomoreno commented on #361
Thanks for that @Raagh and @moshfeu, I'll update the guide with extra steps for publishing.

[2019-10-02 10:11] andreujuanc opened #389 "Add github.com as badge provider"
Now with Github Actions having badges, we've got a new provider to add to the whitelist.
I'm removing my badges for now.

[2019-10-02 12:40] joaomoreno commented on #389
Since https://github.com/microsoft/vscode-vsce/commit/84f537a4fac4b26b37a3cbd0f3644f0f517a04ec there is no more whitelist. Please update to the latest vsce.

[2019-10-03 12:29] andreujuanc commented on #389
@joaomoreno  Well, when i had GitHub badges it stated that it was an invalid badge.

I will try again next week and create another issue if it occurs again.

Cheers

[2019-10-09 08:09] psclkhoury opened #390 "Add images to readme without having a repository"
Hey,

I am writing a vscode extension that is intended to be used only by my team, so I cannot publish it to the marketplace, or have it in a repo other than our own servers (company policies).

I would like to add an icon to the extension and some pictures and gifs to the Readme but vsce won't package the extension into a vsix if I don't provide a repo link.

Is there a way to get around that?

[2019-10-10 08:13] joaomoreno commented on #390
What's the error you're getting?

[2019-10-10 12:31] psclkhoury commented on #390
@joaomoreno I have a local gif that I want to add to the readme and I have no repository specified in the `package.json`
[code]
And this is the error that I get:

 ERROR  Couldn't detect the repository where this extension is published. The image 'demo.gif' will be broken in README.md. Please provide the repository URL in package.json or use the --baseContentUrl and --baseImagesUrl options.

[2019-10-10 14:25] joaomoreno commented on #390
Have you tried passing `--baseContentUrl` and `--baseImagesUrl`?

[code]

[2019-10-10 20:25] #321 closed

[2019-10-11 07:03] psclkhoury commented on #390
I tried, but as I said, I dont have URLs to append.

My repo looks like this:

![image](https://user-images.githubusercontent.com/9846892/66630897-61b8bf80-ec05-11e9-86b8-ad0b5c117bb3.png)

I want to use `demo.gif` inside the `README.md` and distribute the `vsix`, without having any repo or urls.

Is that possible or vscode doesnt support showing images in the `README.md` that are not from some ur

[2019-10-11 07:12] tzfrs opened #391 "vsce package throws error without message"
Hi,

I wanted to build my first VS Code extension, so I followed the tutorial on https://code.visualstudio.com/api/get-started/your-first-extension

So I have a code base containing the src for the hello world extension.

I now wanted to package this into a `.vsix` file so I can install it on VS Code. So I navigate into my folder (same where package.json is) and execute `vsce package`

This is the

[2019-10-11 07:56] joaomoreno commented on #391
The message is there, it reads:

[code]

This is there to prevent publishing an extension with the default template README.md file. Edit its contents to describe your extension.

[2019-10-11 07:57] joaomoreno commented on #390
If you have no URLs to append simply add `--baseContentUrl none` and `--baseImagesUrl none` as a workaround for now.

[2019-10-11 08:11] tzfrs commented on #391
Oh wow this is embarassing haha. I thought this was more like a warning and not an error. 🤦‍♂ Changing the contents indeed was the fix.

[2019-10-11 08:12] tzfrs commented on #391
Oh wow this is embarassing haha. I thought this was more like a warning and not an error. 🤦‍♂ Changing the contents indeed was the fix.

@joaomoreno This is a bit confusing, because I'm just packaging it and not publishing it, but the error comes when packaging. Do you think it makes sense to change the `publish` to `publish or package`?

[2019-10-11 08:54] psclkhoury commented on #390
Also tried that, doesn't work. I get this error when running `vsce package --baseContentUrl none --baseImagesUrl none`

 ERROR  Images in README.md must come from an HTTPS source: none/demo.gif

[2019-10-11 13:12] joaomoreno commented on #390
Oh, then use `https://none` instead.

[2019-10-12 10:28] gitHber opened #393 "vsce package cannot package that I did change？"
I already vsce package version 0.0.1.
And I code something change, So I package again, But I install new package, There is no change,
I have to change version and package to make It work.
Package just for test，why did I have to change my version？

[2019-10-14 07:09] psclkhoury commented on #390
Now I get a broken image in the README when I install the extension.

This is just a waste of time. I'm gonna close this. Probably vscode only supports images in README coming from a repository.

[2019-10-14 07:11] #390 closed

[2019-10-14 09:08] joaomoreno commented on #390
Yeah, VS Code supports images in README coming from a URL only, unfortunately.

[2019-10-14 09:11] joaomoreno commented on #393
When you run `vsce package`, does the .vsix file not get overwritten?

[2019-10-14 09:35] psclkhoury commented on #390
@joaomoreno I don't know if it is an overload, because visual studio has a mechanism to distribute self hosted extensions via private galleries. That way you always get update notifications even if the extension is not published in the martketplace.

Unfortunately, vscode doesn't have something similar as far as I can tell, so now it's a big hassle to write private extensions and distribute them.

[2019-10-14 09:39] joaomoreno commented on #390
Is there anything else not working, besides images?

[2019-10-14 09:40] psclkhoury commented on #390
Actually there already is a feature request for that [here](https://github.com/microsoft/vscode/issues/21839)

Nope that was the only thing that I was missing for now. Thanks

[2019-10-14 22:01] queeniema opened #394 "Running 'vsce ls --yarn' does not include node_modules"
## Setup
I modified the [`helloworld-sample`](https://github.com/microsoft/vscode-extension-samples/tree/master/helloworld-sample) to test this. I made the following changes to [`package.json`](https://github.com/microsoft/vscode-extension-samples/blob/master/helloworld-sample/package.json):
- added a `dependencies` section with a dependency on `react`
- added new scripts for testing `vsce package

[2019-10-15 06:34] MaskRay commented on #11
Got the same unhelpful error message.
[code]

On `https://dev.azure.com/$myorganization/_usersSettings/tokens`, changing the scope to "All accessible organizations" fixed the 401 problem.

[2019-10-15 11:06] joaomoreno commented on #394
VSCE uses `yarn.lock` to understand what dependencies you have installed using yarn. What's inside the `yarn.lock` file?

[2019-10-15 15:23] queeniema commented on #394
My mistake! Forgot to run `yarn install` first! I see `node_modules` now when I run `npm run ls:yarn`. Thanks, and sorry for the noise.

[2019-10-16 09:38] andreujuanc commented on #389
@joaomoreno
https://code.visualstudio.com/api/working-with-extensions/publishing-extension#publishing-extensions
https://code.visualstudio.com/api/references/extension-manifest#approved-badges

All these doc articles does not reflect the fact that the badges are not whitelisted anymore.

And this part of the doc , actually states the problem I have now:
`Images in README.md and CHANGELOG.md may no

[2019-10-16 13:46] joaomoreno opened #395 "Bring back SVG block list"

[2019-10-16 13:47] joaomoreno commented on #389
@andreujuanc Thanks for the ping.

We've actually just had a discussion that this list should be brought back: https://github.com/microsoft/vscode-vsce/issues/395

I will fix it asap and release a new VSCE version.

[2019-10-16 13:52] #395 closed

[2019-10-16 13:53] joaomoreno commented on #389
@andreujuanc Can you show me an example badge from GH?

[2019-10-16 17:08] andreujuanc commented on #389
Sorry for the delay @joaomoreno it was a busy day.
Here is the badge I was trying to use:

`[![Actions Status](https://github.com/DigitalMolecules/vscode-servicebus-explorer/workflows/Build/badge.svg)](https://github.com/DigitalMolecules/vscode-servicebus-explorer/actions)`

Thanks for reopening this, it'd be really cool to show the badge :)

[2019-10-17 09:48] joaomoreno commented on #389
We can't add that source as a trusted badge provider, since this would enable anyone to simply use any badge by simply uploading it to Github.

[2019-10-17 09:50] joaomoreno commented on #389
Hm... I see that's actually the Actions badge. We might need to improve the pattern here, since we currently filter on domain only.

cc @viradhamMS @pkuma-msft

[2019-10-23 20:54] gencer opened #397 "`vsce package` failes on NodeJS `12.13.0` but works on earlier versions"
When I run `vsce package`, it fails on latest LTS Version of NodeJS at the moment which is `12.13.0` but it works on earlier versions such as `12.12.0`

Stack trace:

[code]

[2019-10-24 07:07] joaomoreno commented on #397
Looks like npm installed vsce only partially. Can you reinstall vsce? `npm i -g vsce`

[2019-10-24 07:35] gencer commented on #397
Already tried. Many times. Only solution is to switch an older version at the moment.

[2019-10-24 08:57] joaomoreno commented on #397
Does the following file exist on disk?

[code]

[2019-10-27 08:12] gencer commented on #397
No. I do not see this file in fact not the folder presets/

[2019-10-28 08:36] joaomoreno commented on #397
So what's the version in:

[code]

You might have a corrupt npm cache.

[2019-10-28 18:33] gencer commented on #397
Hi Joao,

Sorry for late replies. I was out of city & sick in combination.

Here is content of poackage.json in `vsce/node_modules/markdown-it` folder

[code]

[2019-10-28 18:38] gencer commented on #397
## Update

I've reinstalled NVM and Node.js and everything worked this time. I suspect this was a CDN issue or something at that time.

[2019-10-29 10:28] #397 closed

[2019-10-29 14:30] #192 closed

[2019-11-01 17:21] rjmholt opened #398 "vsce expands issue numbers in links"
Our extension's [changelog](https://github.com/PowerShell/vscode-powershell/blob/master/CHANGELOG.md) contains links in it like this:

[code]

After packaging our VSIX I noticed the changelog came out strangely and looking into it I found this in the actual VSIX:

[code]

It looks like https://github.com/microsoft/vscode-vsce/pull/345 causes this.

I'm assuming to maintain our current changelog fo

[2019-11-01 17:27] rjmholt commented on #398
I understand the desire for a feature like this, but Markdown can contain arbitrary HTML, [which regex is not recommended for](https://stackoverflow.com/a/1732454). So a feature like this might require a markdown parser.

[2019-11-01 17:34] rjmholt commented on #398
Also, just to note, we can't adopt this feature since we do things like give the issue number but link to the PR, or to a PR in the backend repository for an issue tracked in the client repository:

[code]

[2019-11-01 20:04] joaomoreno commented on #398
Got it. Maybe we should provide a `--no-github-issue-automatic-linking` or similar?

[2019-11-01 22:32] TylerLeonhardt commented on #398
Yeah. Some way to opt-out would be nice.

I personally wish this feature was Opt-in as "experimental" or something as there are edge cases I worry will affect customers and #345 was technically a breaking change.

But I'll let you make the call on that. We just need to opt-out some how.

[2019-11-02 00:32] rjmholt commented on #398
Certainly our expectation has always been that the CHANGELOG is not touched by `vsce` and that the Release Notes just display it as packaged.

We had to do some hunting to rule out our own code and work out that `vsce` was actually mutating the CHANGELOG file (and only caught it at the end of our release pipeline, since we're not packaging by hand).

So my ideal preference would be for something l

[2019-11-04 13:32] joaomoreno commented on #398
I actually think the default is good, since most extensions are hosted in GitHub anyway. A Markdown parser would also work here, so feel free to explore that in a PR.

[2019-11-04 14:04] TylerLeonhardt commented on #398
@joaomoreno can we at least get the opt-ing out stream lined? We cant update to the latest version of vsce until there's some mechanism for that.

[2019-11-04 14:23] joaomoreno commented on #398
Sure, do you want to submit a PR for it?

[2019-11-04 18:36] TylerLeonhardt commented on #398
I'm at Ignite at the moment so I won't have time, unfortunately.

[2019-11-08 18:10] JohnstonCode commented on #389
Reference to all the possible badge URLs
https://help.github.com/en/actions/automating-your-workflow-with-github-actions/configuring-a-workflow#adding-a-workflow-status-badge-to-your-repository

[2019-11-09 00:15] HenokAddis commented on #332
One of our customers and one team member began hitting this on 1.40.0 when they attempted to upgrade their WAVE extension. Was this resolved? Sending the issue to them so they can also follow-up.

Error Message

[2019-11-10 16:16] phgn0 commented on #308
I can confirm `vsce package` ignores symlinks currently.

I temporarily fixed it for my usecase by manually resolving the symlink (i.e. duplicating the files).

[2019-11-11 08:13] joaomoreno commented on #332
@HenokAddis What extension is that?

![image](https://user-images.githubusercontent.com/22350/68571512-76d27980-0463-11ea-80ed-d716f2cdd489.png)

Note that this is about VSCE. The problem was found in a dependency of it, so very likely it will be found in a dependency of that WAVE extension, so please give them an issue.

[2019-11-14 14:58] cazfletch opened #399 "Package command not working when used with rush"
I am using rush and yarn to create a mono repo. However when i try and package my extension no node modules are added to the package. I am using the `--yarn` option. Without have a mono repo it packages fine. I think it is something to do with the node modules being symlinked. Help with this would be very much appreciated

[2019-11-15 02:42] dilin-MS opened #400 "Force unpublish extension from marketplace"
Hi, I wonder are there any way to force unpublish extension from marketplace instead of interactively asking me `This will FOREVER delete 'XX.XXX'! Are you sure? [y/N]`

The scenario is that I will publish test version extension on marketplace with id "dilin.my-test-extension". The extension is pushed to marketplace in CI/CD. Since the extension is just a test version extension, it's version will

[2019-11-17 18:44] syyam commented on #11
Select this option from the dropdown.
![image](https://user-images.githubusercontent.com/20249719/69012128-2b085e80-0994-11ea-964f-ffed6b908c5b.png)

[2019-11-19 10:15] erlangp commented on #11
Thank you very much @hamenon

[2019-11-19 10:39] joaomoreno commented on #399
Can you point me to what _rush_ is?

[2019-11-19 10:45] cazfletch commented on #399
Here is a link https://rushjs.io/. I found that packaging also doesn't work using npm and rush either. I tried another tool called lerna for creating a mono repo  https://github.com/lerna/lerna and that worked better but any packages you have as dependencies in the mono repo vsce claims it cant find them as they are symlinked.

Using lerna, I got around the problem by using npm pack to create a ta

[2019-11-20 22:50] KevinKelbie opened #401 "forgot publisher credentials, all I know is the publisher username"
Is there anyway to see what the email I used for my vscode publisher? Sorry if this is the wrong place to ask this.

[2019-11-20 23:30] KevinKelbie commented on #401
I recovered my account because I remembered which email i used sorry for opening the issue.

[2019-11-20 23:30] #401 closed

[2019-11-22 01:56] whlkw commented on #390
VS Code still supports images in README coming from a URL only?

[2019-11-28 03:04] culyee commented on #249
Maybe you can add vsce's path into %PATH%, mine is "C:\Users\culyee\AppData\Roaming\npm". It works for me.

[2019-11-28 14:23] DanTup opened #402 "Bad warning "For performance reasons, you should bundle your extension" when extension contains non-code resources"
I recently started shipping some icons inside my extension to avoid relying on a net connection. I now get this warning when building:

My extension is bundled, and has only one script file. The rest of the files are mostly just a folder full of PNG icons which may be displayed in tooltips or gutter icons.

I think the printing of this warning should have some filtering that it's only looking at J

[2019-11-28 15:13] joaomoreno commented on #402
Agreed... but the extension actually ships +2k icons? :fearful:

[2019-11-28 15:13] #402 closed

[2019-11-28 15:14] joaomoreno commented on #402
Changed the limit to 5k files and kept the 100 limit for JavaScript files only.

[2019-11-28 15:17] DanTup commented on #402
Yeah, they're icons that the Flutter provides (see https://api.flutter.dev/flutter/material/Icons-class.html). We include them in the documentation/hovers and in the gutter, like this:

<img width="386" alt="Screenshot 2019-10-09 at 8 55 41 am" src="https://user-images.githubusercontent.com/1078012/66462242-97796f00-ea72-11e9-97ca-490818164cd9.png">

I have a git submodule that includes them so I

[2019-11-28 15:41] #255 closed

[2019-11-28 16:03] #230 closed

[2019-11-28 16:28] joaomoreno commented on #402
Then the warning actually applies. One thing webpack does is remove all unused things. You could potentially write a tool which does the same in your scenario (omit them at packing time) instead of shipping them all.

[2019-11-28 16:36] DanTup commented on #402
@joaomoreno I probably described it badly. The ones that are currently unused are all on a single folder and I could just delete that folder. The other folder are all *potentially* used because they depend on which icons the user users in their code (we need to ship them all, so if they use that icon, we can show its preview). We can't know up-front which ones we'll need (other than the Cupertino

[2019-11-29 12:26] sandy081 opened #403 "Validate extensions having string value for extension kind while publishing"
We changed  `extensionKind` property in `package.json` to be an array instead of string. Please see https://github.com/microsoft/vscode/issues/85036 and https://github.com/microsoft/vscode/issues/85819 for more details.

Hence we would like to have a check to validate extensions having string value and warn them while publishing.

This is not needed immediately, we want to give extension authors a

[2019-11-30 17:34] Grommers00 commented on #400
Could I try this issue?

[2019-12-02 06:55] dilin-MS commented on #400
Hi, later I discover a workaround to achieve my goal: `yes | vsce unpublish -p <my-PAT> dilin.my-test-extension`

[2019-12-02 08:53] #403 closed

[2019-12-03 22:53] connor4312 commented on #400
This doesn't appear to have published successfully, so I'm unable to test it.

[`vsce@1.70.0`](https://github.com/microsoft/vscode-vsce/releases/tag/v1.70.0) was revved after merging Jame's PR, but the flag isn't in the unpublish options or the compiled code.

[code]

[2019-12-05 09:33] sandy081 commented on #400
This is not published yet. So reopening until it is published.

[2019-12-09 07:35] joaomoreno commented on #400
Coming out in 1.71.0.

[2019-12-09 07:35] #400 closed

[2019-12-11 21:39] TylerLeonhardt commented on #398
Just want to say that we're still affected by this issue and we can't move to any newer version of vsce until this is resolve.

Unfortunately, we don't have the bandwidth to contribute, unfortunately.

[2019-12-12 21:21] lszomoru commented on #304
@joaomoreno, I can take a look at this one if you want.

[2019-12-13 03:18] wingyplus commented on #393
@joaomoreno I found the same issue on my extensions (https://github.com/wingyplus/emacsplus). And the step is:

1. I installed extension that I wrote myself with version 0.1.0 (refer to commit https://github.com/wingyplus/emacsplus/commit/eb9b1a735c9e9f5d051636fbee27dd59f80e5598).
2. I found a bug on my extensions. Fixing it and build my extension to with `vsce package` (refer to commit https://gi

[2019-12-15 17:49] jamesgeorge007 opened #408 "[chore]: no code linters found"
It is a good practice to use a code linter which results in maintainable code. We could also make use of `pre-commit` hooks which would ease the Dev workflow in the long run.

[2019-12-19 07:46] Chazing commented on #157
same issue, cant publish using devOps from our corporate network.

[2019-12-21 14:34] masterzenox opened #410 "Link-like structures in code blocks in README.md get adjusted"
Things like a `[some_char_set](some_group)` regex inside inline and fenced code blocks get transformed into `[some_char_set](https:/github/author/package/blob/master/some_group)`. [Headwind's](https://marketplace.visualstudio.com/items?itemName=heybourn.headwind) `headwind.classRegex` description is an example of such behaviour.

As of now I don't have time to work on a solution, but i see 2 optio

[2019-12-29 13:50] xontab commented on #341
I encountered the same issue ... The Snap version of NodeJS does not output the stdout when the following commands are used
[code]

Thus I managed to find a workaround by redirecting the output via `echo` (attached patch below).  However this workaround is not compatible with other systems and operating systems.

[code]

[2019-12-29 15:54] ShawnZhong commented on #157
Same issue here

[2019-12-29 18:22] xontab commented on #374
@Revilotom Are you using the Snap NodeJS version or deb?

I have encountered issues with the Snap version and looks like this issue is related to https://github.com/microsoft/vscode-vsce/issues/341

[2019-12-30 04:30] Revilotom commented on #374
@xontab Unfortunately I no longer have access to the PC that had this issue so I cant be sure but yes I think I was using Snap.

[2019-12-30 04:30] #374 closed

[2020-01-08 18:14] bkelley13 commented on #157
Same.

[2020-01-13 11:17] joaomoreno commented on #304
@lszomoru Yes please!

[2020-01-13 11:19] joaomoreno commented on #393
Yes that is indeed a VS Code behavior, not VSCE.

@sandy081 Do you think this is worth tackling? Reinstalling a VSIX shouldn't reuse the cached version we temporarily leave around after uninstall.

[2020-01-13 11:19] #393 closed

[2020-01-13 11:50] joaomoreno commented on #408
By now TypeScript ships with a *lot* of linting rules. We don't need to bring in extra linters any more. We just have to slowly move the codebase forward and adopt those rules (strict null checks, strict initializations, etc).

[2020-01-13 11:50] #408 closed

[2020-01-13 12:06] yasinkocak commented on #157
When will this solved?

[2020-01-13 14:09] joaomoreno commented on #410
https://github.com/microsoft/vscode-vsce/issues/375

[2020-01-13 14:09] #410 closed

[2020-01-14 06:36] sandy081 commented on #393
Agreed. Installing a VSIX should always use the given VSIX.

@wingyplus Please file an issue in https://github.com/microsoft/vscode/issues

[2020-01-15 17:44] bmacnaughton commented on #391
i get this error even though i have edited the README.md file. any other possibilities?

[2020-01-17 02:05] wingyplus commented on #393
@sandy081 @joaomoreno Thanks for your help. I’ll open it asap.

[2020-01-17 09:34] libth opened #413 "In Git history, earlier commits logs are blocked by floating window."
Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T15:04:31.999Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 4.15.0-73-generic

![Screenshot from 2020-01-17 17-23-59](https://user-images.githubusercontent.com/1264920/72600471-aa8fbb00-394e-11ea-8c98-99d3872fd5f4.png)

when one commit was selected, a floating window co

[2020-01-18 08:39] vignaesh01 opened #414 "vsce publish fails"
vsce version 1.71.0
node version v10.15.3
npm version 6.4.1

vsce publish fails with the below message:

Executing prepublish script 'npm run vscode:prepublish'...

 ERROR  Command failed: npm list --production --parseable --depth=99999
npm ERR! missing: mkdirp@0.5.1, required by node-pre-gyp@0.14.0
npm ERR! missing: minimist@0.0.8, required by mkdirp@0.5.1
npm ERR! missing: minimatch@3.0.4, requi

[2020-01-20 16:56] sguillia opened #415 "Four number version string with semver"
Hello

---

In my package.json

[code]

Output of _vsce publish_

[code]

---

In my package.json

[code]

Output of _vsce publish_

[code]

---

Does vsce support any four-number version string?

I believe, if I am not mistaken, that the former error message is wrong.

Best,
Simon

[2020-01-21 08:48] joaomoreno commented on #413
Which extension contributes this view?

[2020-01-21 09:13] joaomoreno commented on #414
Did you run `npm install`?

[2020-01-21 09:15] vignaesh01 commented on #414
This got fixed now. Thank you

On Tue, Jan 21, 2020, 2:43 PM João Moreno <notifications@github.com> wrote:

[2020-01-21 09:32] joaomoreno commented on #415
Semver doesn't not support four numbers: https://semver.org/

[2020-01-21 09:32] #415 closed

[2020-01-21 09:34] #414 closed

[2020-01-21 12:11] sguillia commented on #415
@joaomoreno Semver does support four numbers, the fourth one is called prerelease.

If it would not, vsce erroneously says that the version string `must be one to four numbers`.

Please update the error message if you do not support prereleases.

[2020-01-21 13:56] joaomoreno commented on #415
Oh I see. Actually, the first error message seems to be coming from the server. I'll update VSCE to catch that error earlier and let the user know what is supported.

[2020-01-21 15:25] sguillia commented on #415
Many thanks

[2020-01-22 07:33] rediffusion commented on #101
@harry-public

 Yes, but the correct link is [this](https://marketplace.visualstudio.com/manage/createpublisher). 🤙

[2020-01-22 09:01] rediffusion commented on #277
@jonkwheeler

 Hello! I've sent the mail to you, hope you will respond! e-mail: rediffusion@******.ru

Best regards!

[2020-01-23 22:33] eride commented on #391
@bmacnaughton

I also got this error even though I made some (small) changes to my README.md file

It turns out that you need to change or remove the line that says `This is the README for your extension`, since `vsce package` checks for the presence of this specific string.

The check in vsce's code is here: https://github.com/microsoft/vscode-vsce/blob/392778b924f2c9221eb46aac5f6df5f4c0cda315/sr

[2020-01-24 07:13] rediffusion opened #416 "vsce package (erros)."
Hi! 👋
First of all, here's a link on [package.json](https://github.com/rediffusion/synonym-finder/blob/master/package.json)
Also, I've read all `vsce` issues on this thread but it didn't help me.
_I used the command_:

`vsce package`

 Got this error in terminal:

LOG:

Best regards!  ✌️

[2020-01-25 11:23] felangel commented on #389
@joaomoreno had to remove my badges as well 😞@joaomoreno do you know what security concerns warrant a whitelist? I haven't seen other package/plugin discovery platforms have this requirement.

[2020-01-27 10:09] joaomoreno commented on #416
What does `npm run compile` return?

[2020-01-27 12:36] rediffusion commented on #416
@joaomoreno

# LOG

[2020-01-27 16:22] joaomoreno commented on #416
Once you fix your TypeScript errors, vsce will work.

[2020-01-27 16:22] #416 closed

[2020-01-29 20:29] RMacfarlane commented on #203
@joaomoreno Looks like the fix for this was reverted, I can still repro the problem when running out of sources

[2020-01-30 08:51] joaomoreno commented on #203
:man_facepalming: Completely forgot that it was.

[2020-01-31 18:12] jedwards1211 opened #417 "reignoring subdirectories of an unignored directory in .vscodeignore doesn't work...use the ignore npm package instead of your own logic"
Can we use the `ignore` npm package which conforms to the `.gitignore` spec instead of your own from-scratch logic?  I'll make a PR.

Here's my `.vscodeignore`:
[code]
When I run `vsce ls` I still see files from `out/test` listed:

[code]

[2020-01-31 21:38] sean-mcmanus commented on #415
@joaomoreno This change breaks our C/C++ extension's vsix publishing. We create vsix's with versions like 0.26.3-insiders4 (https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.3-insiders4) and 0.27.0-multiroot2 for internal testing. Can you re-enable our scenario to work?

[2020-01-31 21:54] WardenGnaw commented on #415
The four in this error message should be **three**.

Since semver expects <major>.<minor>.<patch>[-<prerelease>]

The documentation on prerelease is:

[2020-02-01 00:28] sherryyshi commented on #415
This is breaking our build as well. Please reopen and fix this, thanks!

[2020-02-01 00:46] sean-mcmanus commented on #415
@sherryyshi The workaround we're using is to install "vsce@1.71" instead of just "vsce".

[2020-02-02 14:03] drweb86 opened #419 ""vsce publish" command returns Invalid publisher name 'Siarhei Kuchuk'. Expected the identifier of a publisher, not its human-friendly name."
Hello

I did not specify the publisher name in this command but it complains about it. I tried to reinstall it, but it still gets publisher name from somewhere

Thanks.

[2020-02-02 14:12] #419 closed

[2020-02-02 14:12] drweb86 commented on #419
I figured it out. It reads publisher name from package.json of extension. And there it should be id and not name of publisher.

[2020-02-02 20:35] eine commented on #415
@joaomoreno, can you please confirm that something changed upstream (on the server) which introduced a regression? Until a few days ago, pre-release fields were supported for several weeks/months, as reported by the many users that have found their workflows broken.

Should the code upstream have not changed, I believe that this might be a poor (limited) implementation of semver parsing on the ser

[2020-02-03 08:21] joaomoreno commented on #415
VSCE never prevented prerelease fields, but the Marketplace never supported them. The only reason why @sean-mcmanus's scenario works is because those versions were never uploaded to the Marketplace.

I can revert this change on VSCE, since it enables side-loading scenarios. But the Marketplace will stay as is, as it always has.

[2020-02-03 16:32] bobbrow commented on #415
Thank you @joaomoreno.  Side-loading is an important scenario for us so we appreciate you adding support for prerelease back in.

[2020-02-03 16:44] sherryyshi commented on #415
Yes thank you @joaomoreno :) Our extension is internal to Microsoft and therefore also not in the Marketplace.

[2020-02-03 16:45] sguillia commented on #415
Indeed. For future users, the error message from the marketplace should explicitly state that pre-releases are not supported on the marketplace

[2020-02-07 14:16] sguillia commented on #176
I would be happy to unpublish specific versions too.

We are doing beta releases, and we would like to unpublish previous beta versions that are not usable anymore anyway.

We could republish, but we would lose comments, number of installs etc.

[2020-02-08 14:01] edgardmessias commented on #389
A temporary solution:
Instead of
`https://github.com/<:user>/<:repo>/workflows/<:workflow>/badge.svg`
Use the:
`https://img.shields.io/github/workflow/status/<:user>/<:repo>/<:workflow>.svg`

Example:
[![Build Status](https://github.com/JohnstonCode/svn-scm/workflows/build/badge.svg)](https://github.com/JohnstonCode/svn-scm/actions) vs [![Build Status](https://img.shields.io/github/workflow/status

[2020-02-11 08:05] muuvmuuv opened #421 "Support pnpm"
I tried publishing my extension but recently switched to use [pnpm](https://pnpm.js.org/) instead of npm. `vsce` seems to not support this package manager (does `yarn` even works, very similar to `pnpm`) since it tries to do `npm list --production --parseable --depth=99999` which fails in pnpm projects because of the different handling of dependencies.

Project: https://github.com/muuvmuuv/vscode-

[2020-02-11 08:08] muuvmuuv commented on #421
Equivalent command would be: `pnpm list --prod --json` (`yarn` uses the same)

[2020-02-11 08:30] muuvmuuv commented on #421
I guess this requires some rework of the npm.ts script. There is a package that checks which pm was used, maybe something to consider: https://github.com/zkochan/packages/tree/master/which-pm

[2020-02-11 19:01] yiyione opened #422 "Should upgrade lodash version to >=4.17.12"
When I run `yarn audit fix`, I got a vulnerability from vsce:
│ high                   │ Prototype Pollution
│ Package             │ lodash
│ Patched in         │ >=4.17.12
│ Dependency of │ vsce
│ Path                  │ vsce > lodash
│ More info          │ https://www.npmjs.com/advisories/1065

[2020-02-12 10:28] joaomoreno commented on #422
Can you show me the full output of `yarn audit fix`? I'm getting different results.

[2020-02-12 23:25] yiyione commented on #422
I'm sorry, I didn't run `yarn audit fix` under `vscode-vsce` project, looks like it doesn't have vulnerability here.
I run it in another project, has dependency of vsce:
`"devDependencies": { "vsce": "^1.73.0" }`
I got this:
![audit_fix](https://user-images.githubusercontent.com/17357108/74386829-f2144480-4e31-11ea-8c9d-063dbd78bde4.png)

[2020-02-14 09:00] Abbyyan commented on #192
But why even if i use  a http url , it can't works.
`![commands.gif](http://xxxxxx)`
The Error is `Images in README.md must come from an HTTPS source: http://xx`

[2020-02-14 09:56] letmaik commented on #192
Switch to https ;-)

[2020-02-15 01:46] axelson opened #423 "--allow-same-version does not work"
Trying to publish the current version (I manually updated the version and pushed it already):
[code]

So I try to use the `--allow-same-version` option and I get:
[code]

Am I not calling the option correctly?

[2020-02-18 08:02] joaomoreno commented on #423
`--allow-same-version` is a flag for NPM. We don't really support it.

But your package version is already `0.3.0`, so all you have to do is `vsce publish`.

[2020-02-18 09:02] #422 closed

[2020-02-19 15:49] elektronikworkshop commented on #148
I just ran into the same problem while trying to distribute an alpha version for testers. I'm not feeling comfortable distributing alpha extension packages which look like legit releases.

[2020-02-20 17:31] tony-- commented on #191
+1

[2020-02-20 20:51] rjmholt commented on #398
I've been looking into this, since we're still hitting it, and [commonmark](https://www.npmjs.com/package/commonmark) seems to be the best library for this, since rather than generating shallow tokens it actually generates a markdown AST.

Some preliminary code looks like this:

[code]

Given the complexity of that and the fact that adding a markdown parser would make it worthwhile to rewrite more

[2020-02-26 21:21] robertoaloi opened #425 "Make version requirements consistent between package and publish"
Hi! I tried to publish an extension with version `0.1.0-a`. The version was accepted by the `package` command, but not by the `publish`:

[code]

Fair enough, then I replaced the `-a` with `.0` (I need an extra value aside the semver and `0.1.0.0` should match the above expectations). This time is the `package` command which complains:

[code]

If this is not supposed to be a valid version either,

[2020-02-26 21:24] robertoaloi commented on #425
And now I notice that #415 is related. Also, there's a typo in the message itself:

seperated -> separated

[2020-02-27 06:24] joaomoreno commented on #425
Yes, last month I had `publish` catch invalid versions, but there was a public outcry: https://github.com/microsoft/vscode-vsce/issues/415#issuecomment-581291512

So, closing it as designed.

[2020-02-27 06:25] joaomoreno commented on #425
Indeed. Let's just rewrite the message we get from the Marketplace.

[2020-02-27 16:16] elektronikworkshop commented on #148
The latest version (1.74.0) seems to support this. Strange - I didn't see anything having addressed this in the latest commits...

[2020-03-01 09:29] JasonYan2015 commented on #74
hello there
I also get  ERROR  Specified part does not exist in the package
with v1.74.0

[2020-03-02 07:25] JasonYan2015 opened #426 "Specified part does not exist in the package."
hi there
I met a problem when I wanted to publish my extension with vsce@1.74.0

when I ran `vsce publish` I got `Specified part does not exist in the package.`

then I `console.log` some information in the source code and I found out that there was an network error

[code]

[2020-03-02 07:27] JasonYan2015 commented on #426
i also ran `vsce pubslih` in extension demo which was made directly by `yo code` to make sure that was not my extension's fault.And I got the same error `Specified part does not exist in the package.`

[2020-03-05 04:40] voldemortensen opened #427 "Consider autodetecting gitlab repositories in package.json"
Currently, vsce will detect github repositories and adjust links in README.md accordingly. It would be nice to autodetect gitlab repositories as well. It currently fails with the error:

``` ERROR  Couldn't detect the repository where this extension is published. The image 'example.png' will be broken in README.md. Please provide the repository URL in package.json or use the --baseContentUrl and -

[2020-03-08 15:13] jamesgeorge007 opened #428 "Migrate to leven to find the closest match for an unknown command"
As of now [didyoumean.js](https://github.com/dcporter/didyoumean.js/) matching engine is used to suggest matching commands if the user mistypes. But it is not longer actively maintained. Instead I would suggest switching over to [leven](https://github.com/sindresorhus/leven) which is the fastest JS implementation of the Levenshtein distance algorithm.

`leven` returns the distance between 2 string

[2020-03-08 15:14] jamesgeorge007 commented on #428
@joaomoreno I can work on a PR :+1:

[2020-03-11 17:38] kirankotari opened #429 "vsce package throwing error"
Couldn't detect the repository where this extension is published. The link 'MANIFEST.in' will be broken in README.md. Please provide the repository URL in package.json or use the --baseContentUrl and --baseImagesUrl options.

I am new to Visual Studio Code Extension. [Code @GitHub](https://github.com/kirankotari/PyPa)

[2020-03-11 21:46] bobbrow opened #430 "Can we change the logging method for prepublish?"
This line here is causing errors to suddenly appear in our Build Pipeline:
https://github.com/microsoft/vscode-vsce/blob/66a41f19ab006a5092373f8cd90b873bbfae5bbd/src/package.ts#L930

![image](https://user-images.githubusercontent.com/12818240/76467449-e4a59800-63a6-11ea-83dc-aa9532dc1ced.png)

This code seems to have been this way for a while, so maybe it's a new behavior in Azure Dev Ops.  Would

[2020-03-13 20:48] ilariaventurini commented on #233
Hi, I have the same problem.

[2020-03-16 13:48] RedMickey opened #431 "Fix markdown-it security vulnerability"
Hello, I'm a member of the development team of VS Code extensions for debugging [Cordova](https://github.com/microsoft/vscode-cordova) and [React Native](https://github.com/microsoft/vscode-react-native) applications. A security vulnerabilities was revealed in **vscode-vsce** package dependencies. The package causing a security issue is [markdown-it](https://github.com/markdown-it/markdown-it). De

[2020-03-18 09:58] t2025 commented on #157
Hi
Any updates , when it will be solved ?

[2020-03-18 10:01] t2025 commented on #157
Can you please share your workaround? I really need solution.

Thanks

[2020-03-19 21:54] ORESoftware commented on #368
this error is not good. it should say:

[code]

very dumb error message

[2020-03-23 02:03] libth commented on #413
Sorry, github been blocked here for a while.
Turns out it's a **git-history** extension's problem, I thought it was in vs-code built-in git view.

[2020-03-23 02:03] #413 closed

[2020-03-23 05:35] yhatt opened #432 "Created VSIX via `vsce package --yarn` does not include not-hoisted deep dependency"
Think about a simple package like this, developed with yarn 1.22.4:

[code]

[code]

The creation of extension through `yarn vsce package --yarn` will success, but will fail to activate in VS Code.

[code]

It would work correctly if created through npm with `yarn vsce package`.

I've compared the structure in both of VSIX archives, and noticed the VSIX from yarn has included *only* a deep depende

[2020-03-24 04:09] pmahend1 commented on #423
@joaomoreno It still doesnt work.
[code]
VSCE should support this feature.

Now the only options is either manually upload vsix file or do `vsce publish patch` which changes version.

[code]

[2020-03-27 14:15] self-creative commented on #353
**my publisher token is missing. how can i change my pat for publisher.**
`
vsce login myaccount
Personal Access Token for publisher 'myaccount': ****************************************************
 ERROR  {"$id":"1","customProperties":{"Descriptor":null,"IdentityDisplayName":null,"Token":null,"RequestedPermissions":0,"NamespaceId":"00000000-0000-0000-0000-000000000000"},"innerException":null,"me

[2020-03-28 12:20] PsykoSoldi3r opened #433 "The engine "vscode" appears to be invalid."
Can't published an extension to the marketplace with minimal vscode engine version `^1.43.0`

Repository: https://github.com/PsykoSoldi3r/vscode-git-flow/runs/541632259?check_suite_focus=true

[2020-03-28 12:26] PsykoSoldi3r commented on #433
Seems a compiling error

[2020-03-28 12:26] #433 closed

[2020-03-28 20:45] axelson commented on #423
@joaomoreno what information do you need?

I just ran into this again today since I'm trying to make a new release of an extension.

The first time I created tried to publish it failed due to an expired Personal Access Token, so I resolved that and tried again:

[code]

The error appears to be because that is already the current version since this is the last commit (that was created during the ru

[2020-03-29 03:26] eightHundreds commented on #186
[vscode-private-extension-manager](https://github.com/joelspadin-garmin/vscode-private-extension-manager/tree/master/extension) suport store extensions in NPM

[2020-03-31 14:43] joaomoreno commented on #426
Can you show me your extension's sources?

[2020-03-31 14:44] joaomoreno commented on #427
Sure, would accept a PR for this!

[2020-03-31 14:44] joaomoreno commented on #428
Sure!

[2020-03-31 14:48] joaomoreno commented on #429
Can you show me your README.md?

[2020-03-31 14:48] joaomoreno commented on #430
Yes, PR accepted.

[2020-03-31 14:51] joaomoreno commented on #423
@axelson Just run `vsce publish`. Don't give it the version.

[2020-03-31 14:58] #423 closed

[2020-03-31 14:59] joaomoreno commented on #423
I've made it not complain if you provide the current version.

[2020-03-31 15:32] #430 closed

[2020-03-31 15:39] axelson commented on #423
Sorry, guess I had a reading comprehension fail on your last comment. Thanks for allowing the same version to be accepted :+1:

[2020-04-01 06:36] jamesgeorge007 commented on #431
#437

[2020-04-01 07:09] kirankotari commented on #429
[PyPa](https://github.com/kirankotari/PyPa) complete repo

[2020-04-01 07:19] joaomoreno commented on #429
Those links you have in the top of README.md will be broken when you submit this to the Marketplace. Neither the Marketplace nor VS Code will be able to honor them. I suggest you remove them from the README.md.

[2020-04-01 07:19] #429 closed

[2020-04-01 14:36] bd82 commented on #300
I've worked around this by:
- Using `nohoist` to force all (transitive) deps of the VSCode ext to be present in its own `node_modules` directory.
- Calculating the list of dependencies to be bundled myself.
- Calling `vsce package` **programmatically** and **injecting** the previously computed list of dependencies using `proxyquire`

See here:
- https://github.com/SAP/ui5-language-assistant/blob/m

[2020-04-01 17:44] voldemortensen commented on #427
I made a PR here. I don't sign CLAs. Feel free to take the code and use it though.

https://github.com/microsoft/vscode-vsce/pull/435/files

[2020-04-02 07:48] #431 closed

[2020-04-02 09:41] joaomoreno commented on #427
Sorry, can't really do that.

[2020-04-05 01:30] samrat-gavale commented on #228
I can give this a try. What is the right solution for this? Currently, while packaging, the MarkdownProcessor tries to add a prefix to all the relative links in the markdown. The mailto links are being detected as relative link. So changing the [markdownPathRegex ](https://github.com/microsoft/vscode-vsce/blob/master/src/package.ts) to leave out the mailto links should be good enough, right?

[2020-04-07 13:44] gauravmak opened #438 "Internal Page links different in Marketplace vs VS Code"
I have linked to the list of features on the my [extension's README file](https://marketplace.visualstudio.com/items?itemName=freshbitsweb.laravel-traveller) which are working on the marketplace extension page. But, when the extension is viewed on the editor, the links are not working. Not sure, which format should I follow:

Label - `Route -> Controller`
The link I have used - `#route-controller`

[2020-04-10 01:46] onilton opened #439 "Add --ignoreDependencies to package command"
For some extension projects, people may use a bundle file instead of the regular `node_modules`.

Even if we do that, we may get some errors, when running

[code]
Since vsce always tries to list/find dependencies as can be seen in issue #246 .

The workaround suggest is to use `--yarn`, since it will check for a yarn.lock file, and if it don't find, nothing happens and vsce doesn't run `npm list`

[2020-04-14 14:33] 0Steve0 opened #440 "mkdirp version needs to be updated in production dependency"
mkdirp 0.5.1 has been deprecated

[2020-04-14 15:24] joaomoreno commented on #440
This is OK, it's working fine.

[2020-04-14 15:24] #440 closed

[2020-04-14 15:28] joaomoreno commented on #439
Can you show me what a _bundle file_ means?

[2020-04-17 07:49] iliazeus opened #441 "Show `vscode:prepublish` script output even if it failed"
A simple script like `echo foobar` prints this:

[code]

But if i change it to fail (`echo foobar && exit 1`), it prints this:

[code]

Notice that `foobar` is missing from the second output.

It makes it hard, for example, to debug prepublish script errors running in a CI pipeline.

[2020-04-17 07:49] iliazeus commented on #441
Sample for output 1:

https://github.com/iliazeus/sample-extension/blob/f8bcbb3619db5aa9445a797eab2516b7c6474c65/package.json#L29

Sample for output 2:

https://github.com/iliazeus/sample-extension/blob/efcb8cdb7e7ad470447d4f9b1ea804d607c6a820/package.json#L29

[2020-04-17 08:11] joaomoreno commented on #441
What does `npm run vscode:prepublish` when you have that `echo foobar && exit 1` sample?

[2020-04-17 08:13] iliazeus commented on #441
[code]

[2020-04-17 08:17] iliazeus commented on #441
Versions of npm and vsce:

[code]

[2020-04-17 08:28] iliazeus commented on #441
https://github.com/microsoft/vscode-vsce/blob/fbebf951823f28c46abf351b7981bf094f3e36a9/src/package.ts#L932-L934

We await exec, capturing the output, and only then write it out. That means that if exec throws, the output is never getting written.

[2020-04-17 08:28] iliazeus commented on #441
I suggest wrapping `write()` calls in a `finally` block.

[2020-04-17 08:37] iliazeus commented on #441
The quirk about node's `child_process.exec()` is that it can call the callback with _both_ an error and a result (stdout/stderr).

The workaround is actually covered in the `denodeify` docs:

https://www.npmjs.com/package/denodeify#advanced-usage

I will try and submit a PR to hopefully fix this.

[2020-04-17 14:44] jfthuong commented on #368
I have created an issue for yeoman generator: https://github.com/microsoft/vscode-generator-code/issues/200

[2020-04-17 19:49] onilton commented on #439
Like in here:

https://code.visualstudio.com/api/working-with-extensions/bundling-extension#configure-webpack

[code]

The only thing that needs to be packaged is extension.js (bundle with all the required libs).

But vsce still tries to look at node_modules even if it is not necessary.

[2020-04-20 08:43] joaomoreno commented on #439
As mentioned [here](https://code.visualstudio.com/api/working-with-extensions/bundling-extension#publishing), once you start bundling, you should simply ignore `node_modules` using the `.vscodeignore` file.

[2020-04-20 11:56] #441 closed

[2020-04-21 04:37] vsTianhao commented on #11
It was a terrible mistake, I don't understand the meaning of choice  “All accessible organizations” , The other option doesn't seem to make any sense.

It's not a lack of SEO docs, it's a bug

[2020-04-24 08:32] divyenduz commented on #148
While this is not implemented, should this be reflected here: https://code.visualstudio.com/api/references/extension-manifest#fields

The docs for the `version` field are incorrect, stating that it is SemVer compliant.

[2020-04-27 12:07] onilton commented on #439
@joaomoreno That does not solve the issue. I already have node_modules in my .vscodeignore.

Even if node_modules is included in .vscodeignore , npm list is still run. That's the problem.

Check the following files:

https://github.com/microsoft/vscode-vsce/blob/4960c7c6744e20bbeb36b2ece6406425abd33f0f/src/package.ts#L820

https://github.com/microsoft/vscode-vsce/blob/3d7afdded129e83f2a77b033a4526

[2020-04-27 13:17] MetRonnie opened #443 "Question: How is Azure DevOps PAT tied to vsce publisher?"
My team is in the process of creating a VSCode extension.

I have generated a PAT on Azure DevOps as described in the [VSCode publishing extension guide](https://code.visualstudio.com/api/working-with-extensions/publishing-extension). This appears to be unique to my (enterprise) microsoft account. The next step is to create a publisher, and apparently

But what I can't understand is the connection

[2020-04-27 13:26] joaomoreno commented on #439
Ah the problem is that it still runs, and it throws an error? What error does it throw, btw?

[2020-04-27 13:54] joaomoreno commented on #443
An account is authenticated with the PAT. An account can have access to multiple publishers and a publisher can be accessed by multiple accounts. You can use the following link to edit a publisher's membership: https://marketplace.visualstudio.com/manage

[2020-04-27 13:54] #443 closed

[2020-04-27 20:46] onilton commented on #439
It doesn't necessarily always show an error. But in some scenarios it can show an error like the one described in the issue https://github.com/microsoft/vscode-vsce/issues/246 . (the workaround proposed is to use `--yarn`, that doesn't use npm list.

My error looks like the one in the issue, but it is not the same one (although it is also caused by npm list). Unfortunately I can't post it right no

[2020-04-28 09:12] joaomoreno commented on #439
So... `npm install` works without an issue, yet `npm list` fails? It would be great to see the error. Also, which npm version are you on?

[2020-04-28 13:31] rlipscombe opened #444 "'vsce package' hangs when prepublish script asks for user input"
I'm hacking on the https://github.com/elixir-lsp/vscode-elixir-ls extension, but when I run `vsce package`, it hangs:

[code]

After a while, I ran `npm run vscode:prepublish` directly, which asked me a question (I was missing some stuff after having recently deleted `~/.mix`).

After resolving that (answering 'Y' to the question), `vsce package` successfully ran to completion.

Could `vsce packag

[2020-04-28 13:50] joaomoreno commented on #444
What vsce version are you on?

[2020-04-28 14:14] rlipscombe commented on #444
I literally only just ran `npm install -g vsce@latest`, so ... whatever that is.

[2020-04-28 14:41] joaomoreno commented on #444
Could I perhaps reproduce that prompt locally? We just changed prepublish to inherit stdio, so everything should work without any issue.

[2020-04-28 14:57] rlipscombe commented on #444
You don't get a prompt, though, because vsce swallows stdout. Which means that you don't know that you need to answer the prompt, even if stdio is inherited...

[2020-04-28 15:02] rlipscombe commented on #444
But:

1. Clone https://github.com/elixir-lsp/vscode-elixir-ls
2. Make sure that you don't have a `~/.mix` directory.
3. Run `vsce package`. It appears to hang. Kill it with Ctrl+C.
4. Run `npm run vscode:prepublish`. It prompts about missing "Hex". Press Enter to answer yes to the question.
5. Run `vsce package`. It runs to completion.

You'll probably need Elixir installed. I've got 1.10.2.

[2020-04-28 15:17] joaomoreno commented on #444
I first get an error:

[code]

Once I commented out that, it complains it doesn't know what `mix` is:

[code]

Where do you get `mix` from?

[2020-04-28 15:18] rlipscombe commented on #444
You need to clone with `--recursive`, to pick up the submodules.
You get `mix` by having Elixir installed.

[2020-04-28 15:23] joaomoreno commented on #444
I do get a prompt on vsce 1.75.0:

![image](https://user-images.githubusercontent.com/22350/80505629-dde1dd00-8974-11ea-88e8-2d64de5fff3b.png)

So... what shell/terminal are you using?

[2020-04-28 15:45] rlipscombe commented on #444
Ubuntu 18.04, gnome-terminal, bash.

[2020-04-28 16:15] joaomoreno commented on #444
Can you show me a screenshot of where it exactly hangs?

[2020-04-28 16:16] joaomoreno commented on #444
Oh I guess you did.

What was the exact prompt you got when you ran the prepublish script directly?

[2020-04-29 01:57] panoply commented on #308
I use [pnpm](https://pnpm.js.org/) which symlinks modules. Vsce being unable to support symlinks means preserving dependencies within `node_modules` like the vscode-languageserver is not possible. Would be cool to see this supported.

[2020-04-29 09:27] rlipscombe commented on #444
[code]

I pressed Enter.

[code]

[2020-04-29 11:50] joaomoreno commented on #444
So... the same that I got. So strange that you don't see exactly what I see. `vsce --version` does return `1.75.0` right? Can you maybe try another terminal app? Not sure what you're using right now?

[2020-04-29 13:07] rlipscombe commented on #444
[code]

GNOME Terminal 3.28.2, on Ubuntu 18.04.4 LTS.

[2020-04-29 13:17] joaomoreno commented on #444
What Node version do you have?

[2020-04-29 13:57] rlipscombe commented on #444
[code]

[2020-04-29 14:36] rlipscombe commented on #444
Incidentally, don't spend too long on trying to reproduce this, unless someone else reports it. I was building that extension to try to investigate some _other_ problem, and I've solved that other problem, so this is low on my list of concerns right now.

[2020-04-30 13:43] joaomoreno commented on #444
Great, I'll close it and keep it in mind in case similar issues come along.

[2020-04-30 13:43] #444 closed

[2020-05-04 02:48] yhatt commented on #439
I think this will be useful to bypass yarn's packaging bug via workaround explained in #432 too. `--ignoreDependencies` would skip `npm list` check against modules installed through yarn, that may have mismatched `node_modules` structure with npm.

[2020-05-04 11:21] onilton commented on #439
Npm version, 6.13.4, node version v12.16.1

[2020-05-04 11:22] onilton commented on #439
npm install works without an issue.

bundle.

npm run package (node ./node_modules/vsce/out/vsce package")
[code]

[2020-05-06 04:32] SrBrahma opened #445 "Problem with publisher"
I created a new published but when I passed the token, I had another text on my clipboard (d'oh!). Now, it doesn't seem that I can remove it, as when I try to delete-publisher, it asks me for the inputted token, that I don't know what it was. How to remove it?

Also, as I entered a invalid token and it threw me an error

[code]

, the publisher shouldn't be created.

[2020-05-06 09:43] knopp opened #446 "Can't publish extension (ERROR read ECONNRESET)"
Lately I'm having issues publishing extension. It's been going on for few days. Yesterday I managed to get it published after maybe 20 tries.

It times out after a while with
`ERROR  read ECONNRESET`

VSCE 1.75.0
Node v14.0.0

[2020-05-06 11:46] joaomoreno commented on #446
Are you behind a proxy? Can you reproduce in another machine? In the same machine but a different network, in case it's a laptop?

[2020-05-06 11:49] knopp commented on #446
No proxy. I also tried with VPN from different locations so it shouldn’t be a routing problem. Weird thing is that it works occasionally (maybe one in 20 tries).

[2020-05-06 13:35] sam-mccall commented on #176
+1, hit this today.
We released a new major version for a new feature, hit a problem and "rolled back" by republishing an older version.
So now everyone's getting a major version update with no new feature, which seems at least confusing.

[2020-05-06 16:06] s0kil commented on #446
I'm having the same problem `ERROR read ECONNRESET`

[2020-05-06 16:15] s0kil commented on #446
I have tried downgrading to Node.js version `13.14.0` from `14.2.0` and was able to publish the extension.

[2020-05-10 07:59] hediet commented on #176
Given those versions of a specific extension:
0.1.0: Requires VS Code 1.40
0.1.1: Requires VS Code 1.45

If a user uses VS Code 1.41 and installs this extension, what would happen?
If VS Code installs 0.1.0 (it seems like it does, otherwise I cannot explain a bug report I got), i.e. the latest compatible version, it is very important that you can unpublish specific versions.
Otherwise I have no op

[2020-05-11 08:30] joaomoreno commented on #445
Try `vsce logout PUBLISHER_NAME`

[2020-05-11 08:30] #445 closed

[2020-05-11 08:30] joaomoreno commented on #446
@knopp Can you check @s0kil's workaround, whether that fixes it for you as well?

[2020-05-11 08:42] SrBrahma commented on #445
Yeah, I managed to fix it by doing the logout command that I found in the --help.

Shouldn't be the default behavior when deleting?

[2020-05-11 09:04] joaomoreno commented on #445
I guess VSCE tries to delete it first and only then logout, just to be safe not to lose any credentials.

[2020-05-15 17:45] wapenshaw commented on #446
I'm having the same issue today! I am on node v14.2.0 and was able to publish yesterday! same theme extension and some changes, I can't publish today, above that I think the versions are messed up as well.

I am not behind any proxy, same env as last publish.

[2020-05-18 17:26] ret394 opened #448 "vsce SVG detection?"
PLEASE IGNORE THIS

[2020-05-18 19:33] #448 closed

[2020-05-19 18:35] ngarg-panw commented on #353
Same here. I have lost the existing token. The person who generated the token first time is no longer with the team. How can I associate a new token from a new account to existing publisher?
I tried creating a token from new account and it says:
 ERROR  Access Denied: abcxyzteam needs the following permission(s) on the resource /Pxxxxx to perform this action: View user permissions on a resource
An

[2020-05-19 19:57] ngarg-panw commented on #11
I have lost the existing token. The person who generated the token first time is no longer with the team. How can I associate a new token from a new account to existing publisher?
I tried creating a token from new account and it says:
ERROR Access Denied: abcxyzteam needs the following permission(s) on the resource /Pxxxxx to perform this action: View user permissions on a resource
Any pointers ar

[2020-05-20 14:53] ret394 opened #449 "2 SVGs from gitpod.io as trusted badges?"
## svg uri and content

<details><summary>CLICK ME</summary>
<p>

- `"https://gitpod.io/button/open-in-gitpod.svg"`

`
<svg xmlns="http://www.w3.org/2000/svg" width="138px" height="32px" viewBox="0 0 1380 320"><g fill="none" fill-rule="evenodd"><rect width="1380" height="320" fill="#1966D2" rx="40"/><text fill="#FFF" font-family="Arial,Helvetica,sans-serif" font-size="140" opacity=".704"><tspan x=

[2020-05-21 12:08] HotQ opened #450 "Extension validation error"
I'm having a issue after publishing extension.
`vsce` is so far so good(thx), but recently I would receive `Extension validation error`  Email every time i tried to publish new version of my extension.

The message is below:
The extension 'xxx' from 'myID' contains an entry which is unsafe for extraction.

[2020-05-21 12:44] #450 closed

[2020-05-23 13:13] ceyhunkeklik opened #451 "MacOS and Windows Packaging Issue"
Hi,
I've developed an extension for VSCode but there is an issue.

If I publish this extension from Windows, it is working only on Windows machines.
If I publish this extension from MacOS, it is working only on macOS machines.

Is this a bug or my mistake? Could you help me?

**Extension**: https://marketplace.visualstudio.com/items?itemName=ceyhunkeklik.vscode-ngrok-client
**Repository**: https:/

[2020-05-25 16:26] Stanzilla commented on #389
@joaomoreno what's the long term plan here?

[2020-05-26 08:51] joaomoreno commented on #451
What are the errors in each situation?

[2020-05-26 08:51] joaomoreno commented on #451
This might be a question for StackOverflow, people might help you better there.

[2020-05-26 08:52] joaomoreno commented on #389
It's to resolve the issue. 👍  Still waiting on the upstream Marketplace implementation.

[2020-05-26 16:44] Stanzilla commented on #389
That's not a public issue we can follow, right?

[2020-05-27 04:17] renkun-ken opened #452 "vsce package fails but npm run vscode:prepublish succeeds"
I'm using node installed from snap under Ubuntu 20.04 and `vsce package` no longer works:

[code]

Previously, it works with node installed from apt repository. I'm not sure if it has anything to do with this.

[2020-05-27 08:00] joaomoreno commented on #389
Unfortunately right, but I can tell you it's getting done!

[2020-05-27 08:08] joaomoreno commented on #452
What does `echo $?` return right after running `npm run vscode:prepublish`?

[2020-05-27 08:08] joaomoreno commented on #452
What version of VSCE are you running

[2020-05-27 08:42] renkun-ken commented on #452
[code]

[code]

[2020-05-27 09:12] joaomoreno commented on #452
Could it be related to this warning?

[code]

[2020-05-27 09:32] renkun-ken commented on #452
I guess it could be but I don't know how to pass `--scripts-prepend-node-path` to `npm` via `vsce`?

[2020-05-29 09:07] joaomoreno commented on #452
Could you try to see if this works when installing npm not via snap?

[2020-05-30 20:38] luanpotter commented on #183
Hey... github actions generates a svg badge and there is no way to get a PNG badge:
https://github.community/t/png-image-for-actions-badge/18178
In fact, there is one in this repo's readme! (which of course is not a vscode plugin)

Can't we support at least badges as svgs, or convert, or just ignore them instead of the error (I don't care a lot for a build sucess badge on the store page but I do c

[2020-05-31 12:34] fangbinwei opened #453 "No way to prevent url replace in README"
When execute `vsce package`, `vsce`  will do url replace in README, so that some relative assets in github can be accessed correctly.

Coincidentally, my README contains something like below to explain the default value of the extension configuration. It seems there is no way to prevent url replace, maybe string in code block shouldn't be handled? It's better I delete it, right?
[code]

parsed to

[2020-06-01 15:08] pmahend1 commented on #423
Looks like this is still an issue for vsce 1.75.0

[code]

[2020-06-02 08:06] joaomoreno commented on #423
@pmahend1 You can't publish the same version, that won't ever change. What this issue fixed was the ability to run `vsce publish VERSION` when `VERSION` is already present in `package.json`.

[2020-06-04 02:51] felipenmoura opened #454 "Cannot publish updates to my extension due to some weird behavior with authentication"
Hi.

Back in 2017 I created this extension published here:
https://marketplace.visualstudio.com/items?itemName=felipe.nasc-touchbar

But something went wrong when a new login system kicked in.
You can see the user, author of the extension is `Felipe`.

![image](https://user-images.githubusercontent.com/347387/83708771-7104d700-a5f3-11ea-83f5-00545dabb78f.png)

But when I sign in with my (more than

[2020-06-04 03:00] glaucia86 commented on #454
cc: @joaomoreno @felipenmoura created here the issue he mentioned on Twitter: **[HERE](https://twitter.com/felipenmoura/status/1268375085863317504)**

[2020-06-04 06:56] YevhenKap commented on #432
The same for me too. Extension cannot be package neither by `yarn`, nor by `npm`.
[code]
And so on.

[2020-06-04 09:04] joaomoreno commented on #454
@prashantvc Could you provide some guidance here?

[2020-06-05 12:57] aeschli commented on #368
Maybe vsce can prompt for a publisher (or suggest the logged-in user) and update `package.json`?

We removed the `What your publisher` prompt from `yo code` as it confused a lot of new users. It's better to start worry about the publisher once you are ready to publish.

[2020-06-08 18:16] eamodio opened #455 "Issue with mismatch versions in @types/vscode and engines.vscode"
There seems to be a new(?) issue with version checking with `@types/vscode` and `engines.vscode`.

In this first example, I have `engines.vscode` set to `^1.46.0` and `@types/vscode` set to `1.45.1`:
[code]

In this example, I have `engines.vscode` set to `^1.45.0` and `@types/vscode` set to `1.45.1`:
[code]

IMO, both should succeed. Also in at least the first case the message is wrong way around

[2020-06-09 15:26] joaomoreno commented on #455
There is definitely an issue in the comparison code, since this is wrong:

[code]

But this seems right to me:

[code]

@eamodio Why do you say both should succeed?

@octref Can you explain what the semantics behind this are? It seems the first case is a bug. As for the second case... why wouldn't that work?

[2020-06-09 15:43] eamodio commented on #455
@joaomoreno yeah, you are right, the 2nd one should not succeed. I was just thinking that since `^1.45.0` is basically `1.45.x` it felt like it should succeed, but agree that it shouldn't.

[2020-06-10 03:13] glaucia86 commented on #454
any updates here @joaomoreno ?

[2020-06-10 09:09] joaomoreno commented on #455
Ah that makes it easier then! Let's fix 🔨

[2020-06-10 09:24] #455 closed

[2020-06-10 09:28] joaomoreno commented on #454
I've pinged internally once again.

[2020-06-11 10:23] joaomoreno commented on #446
@knopp @musm Does downgrading Node work for you?

[2020-06-11 17:08] knopp commented on #446
I wasn't able to reproduce this recently. Seems intermittent.

[2020-06-11 19:13] musm commented on #446
Oddly I also now can't reproduce it.

[2020-06-14 11:38] teerasej commented on #11
Got the same thing. I tried to find that permission in the token list, but unlucky.

[2020-06-15 07:42] #389 closed

[2020-06-15 07:44] joaomoreno commented on #389
This is finally in! Both the server side changes and VSCE changes were deployed. Starting with vsce@1.77.0, you can now use github workflow badges.

[2020-06-15 08:12] joaomoreno commented on #446
👍 Let me know if it comes back.

[2020-06-15 08:12] #446 closed

[2020-06-16 03:39] glaucia86 commented on #454
Thank you so much @joaomoreno!

[2020-06-18 17:56] paleo commented on #341
@xontab
I didn't understood what we have to do. Should I reinstall Node.js without snap?

[2020-06-19 10:44] xontab commented on #341
Yes, using Docker is even better :)  Maybe we should build a vsce docker image to avoid dependency issues.

[2020-06-23 14:34] AllanOricil commented on #176
I publish a version with a Icon that has copyright and I need to remove it. Luckly no one installed it, but if they had, what would I do?

[2020-06-23 14:37] hediet commented on #176
@AllanOricil I think you can just unpublish your entire extension. Then, you can upload your new version without the infringing icon.

[2020-06-23 16:40] sandy081 opened #459 "Add support for new extension categories"
Re https://github.com/microsoft/vscode/issues/100399

New extension categories have been added in the marketplace and need to be added in various places for VS Code.

- Data Science
- Machine Learning
- Visualization
- Testing
- Notebooks

[2020-06-23 18:10] AllanOricil commented on #176
But is there a way to push messages to users to Uninstall it and also remove the folder from ".vscode/extensions"?

[2020-06-24 07:04] laike9m commented on #148
+1 on this. The [documentation](https://code.visualstudio.com/api/references/extension-manifest#fields) specifically says:

But vsce does not support all SemVer compatible versions.

[2020-06-24 11:03] joaomoreno commented on #459
@sandy081 As discussed with @egamma, VSCE doesn't know about categories. This needs to be filed against the Marketplace.

[2020-06-24 11:04] #459 closed

[2020-06-24 14:58] kevinslin commented on #203
any updates on this? i'm running into this issue as well when packaging my extension locally

[2020-06-25 11:53] RomaDev94 opened #460 "Failed request: (401)"
Hi, I have created my PAT following the vscode docs guide [here](https://code.visualstudio.com/api/working-with-extensions/publishing-extension#:~:text=A%20publisher%20is%20an%20identity,json%20file.&text=vsce%20will%20remember%20the%20provided,future%20references%20to%20this%20publisher.). The problem is, whenever I try to run `vsce create-publisher username` I get the following output in the ter

[2020-06-25 11:57] joaomoreno commented on #460
Did you choose `all accessible accounts` when creating the token? https://code.visualstudio.com/api/working-with-extensions/publishing-extension#i-get-403-forbidden-or-401-unauthorized-error-when-i-try-to-publish-my-extension

[2020-06-25 12:03] Croma1994 commented on #460
Do you mean `all accessible organizations` is the related thing I can see in the token creation window.

Thanks.

[2020-06-25 12:12] joaomoreno commented on #460
Yes, does that work?

[2020-06-25 12:23] RomaDev94 commented on #460
Yes that was it, thanks a lot, in the docs it appears as `all accesible accounts` I was a bit confused.

[2020-06-25 19:06] meajinkya commented on #210
@raix any update here? :)

[2020-06-25 22:57] gregvanl commented on #460
Updated documentation with https://github.com/microsoft/vscode-docs/commit/da7c9825478a3ccbe909e9232ae43ae29eb6bdb3

[2020-06-26 06:16] #460 closed

[2020-06-26 12:17] viktomas commented on #432
We faced the same issue with `gitlab-vscode-extension`, this is my writeup:

### Problem
The correct `npm.ts` implementation discards module version and packages incorrect version of NPM module.

For our extension, this happens because we have two different versions of `ajv` in our dependencies. Production code uses `v6` and test code `v5`. The `vsce ls` (and so `vsce package`) picks the dev depen

[2020-06-29 14:21] BrunoQuaresma commented on #176
I was looking for something like that to update the changelog, is that possible?

[2020-07-01 12:40] DaanV2 opened #463 "Add json minifier into the packager"
I have no idea if I should post this here.

But I would love to see an option that minify all JSON files.
I'm currently developing an extension that has 600+ JSON files all used for languages and JSON validation.
If they are condensed (no comments, whitespace, and newlines) its saves about 0.5 MB of data.

[2020-07-01 12:53] joaomoreno commented on #463
VSCE is merely a packaging tool. For minification purposes, use something like https://www.npmjs.com/package/json-mangler

[2020-07-01 12:53] #463 closed

[2020-07-03 07:08] libth opened #464 "Option for git status of current working folder rather than whole git repo?"
As
`git status .`
 not just
`git status`

I can't find a option that control this, while It might be useful for some large or multi-projects git repos.

[2020-07-03 07:42] joaomoreno commented on #464
How is this related to `vsce`?

[2020-07-03 09:05] libth commented on #464
sorry, my bad, wrong place.

[2020-07-03 09:05] #464 closed

[2020-07-05 14:36] deepakpahwa19 opened #465 "command not found after install but tree provider is working"
Hi There,

I have developed an extension [MultiColor Bookmarks](https://marketplace.visualstudio.com/items?itemName=DeepakPahawa.flowbookmark)  but unable to use commands immediately after installing. It says command not found for all the commands. However, tree provider is displaying data but clicking on any bookmark is not taking to the exact location.

![image](https://user-images.githubusercon

[2020-07-06 07:53] alexr00 commented on #465
@deepakpahwa19 can you point me to a repository where I can repro the issue?

[2020-07-06 17:39] deepakpahwa19 commented on #465
@alexr00 yes please, here is the repository having package.json and extension.ts. Please help.
[FlowBookmarks](https://github.com/deepakpahwa19/flow-bookmarks/tree/master/src)

[2020-07-07 02:54] SPGoding commented on #203
According to the [doc](https://docs.npmjs.com/cli/ls.html#link), `--link=true` makes it _only_ list linked dependencies, I guess that's the reason why the test failed.

No idea on how to do it the right way.

[2020-07-10 03:43] renkun-ken commented on #452
I revert to using node installed from official PPA and it works well now. It looks like vsce does not work well with node from snap.

[2020-07-11 03:33] mattbierner opened #466 "Poor UX when Personal Access Token used has expired"
**vsce version**: 1.77.0

**Repro**
1. Using a account with expired PAT
1. Try publishing

**Bug**
This dumps a json blob to the console:

<img width="837" alt="Screen Shot 2020-07-10 at 8 31 38 PM" src="https://user-images.githubusercontent.com/212305/87215556-881e9f00-c2ec-11ea-9299-8f644e4df68e.png">

It took me a minute to parse this and figure out what the problem was

[2020-07-12 11:21] #465 closed

[2020-07-14 22:08] felipenmoura commented on #454
Hi.
No news on that, so far?
This is a friendly ping :)
I would like to apply some pull requests I received to the latest version of the extension!

[2020-07-15 14:32] prashantvc commented on #454
@felipenmoura could you email VSMarketplace@microsoft.com?
I am extremely sorry about delay in responding you. One of our support team members will help you out :)

[2020-07-20 05:18] TranquilMarmot opened #468 "Extension marketplace readme renderer assumes you're using branch called master"
- VSCode Version: 1.47.2
- OS Version: Windows 10 1903

## Steps to Reproduce:

1. Create a new extension with links to images in its `README.md` file

For example,

[code]

2. Publish the extension

## Expected

Images work

## Actual

Images appear to link to i.e. `https://github.com/user/extension/raw/master/images/some-image.png`

If, for example, your default branch is called `main` then this

[2020-07-21 20:39] madcapnmckay commented on #186
+1 for scoped extension packages.

If trying to use a private extension registry scoped naming is preferable.

[2020-07-22 09:45] sw-yx commented on #11
hey @maintainers pls put this in your error message or make your UI more intuitive.

[2020-07-23 21:07] rchiodo opened #469 "vsce publish does not allow the 'enableProposedApi' to be set."
We believe this setting is valid for some extensions (on a white list) and we can no longer use vsce publish to publish [our extension](https://github.com/microsoft/vscode-python).

[2020-07-24 10:35] wicky4github commented on #465
#### Same problem on me, can somebody tell me how to solve this problem?

------------------------------------------

In debug mode: everything is ok.

Snapshots:
[https://github.com/wicky4github/vscode-miniprogram-util/blob/master/debug1.png](url)
[https://github.com/wicky4github/vscode-miniprogram-util/blob/master/debug2.png](url)

------------------------------------------

After building vsix

[2020-07-24 12:02] joaomoreno commented on #469
That's what the `--noVerify` option is for.

[2020-07-24 12:02] #469 closed

[2020-07-25 20:51] Ivan-Kouznetsov opened #470 "README has a word misuse"
Should be

A measure is (among other definitions): " a step planned or taken as a means to an end. Ex: took strong measures against the rebels" https://www.merriam-webster.com/dictionary/measure

Measurement on the other hand is: "the act or process of measuring"
https://www.merriam-webster.com/dictionary/measurement

[2020-07-25 22:10] #470 closed

[2020-07-25 22:11] gregvanl commented on #470
Thanks for pointing this out!

[2020-07-28 16:18] robpaveza opened #471 "npm ERR! extraneous: <repo>\node_modules\<linked-project>\node_modules\<dev-dependency>"
My project is contained within a monorepo; the extension requires a library shared by a frontend component and the Extension itself.

When I try to run `vsce package`, I get the following output:

[code]

The commit hash is here: https://github.com/robpaveza/edge-devtools-network-console/commit/85733dced31b6920dae35ac83272370f45eed339

To repro from a clean repo, here's what I did:

[code]

To out

[2020-07-28 16:19] robpaveza commented on #471
Note: I did see #207 and #52, but the proposed workarounds didn't seem to work for me.

[2020-07-28 16:31] robpaveza commented on #471
In fairness, this does seem to be an issue with NPM, not with VSCE; but I'm not sure why VSCE requires this information in the first place (or, perhaps more accurately, why an error caused by extraneous rises to termination of VSCE).

Here's an example of why this seems weird to me, running `npm ll`:

[code]

So, `@types/mocha@7.0.2` is missing but it's also extraneous.

I have build a similar pro

[2020-07-30 08:15] joaomoreno commented on #471
VSCE tries to filter out the devDependencies out of node_modules, such that they don't get included in the extension.

[2020-07-30 15:12] JeffreyCA commented on #468
Looks like `master` is hardcoded here...
https://github.com/microsoft/vscode-vsce/blob/96e7e42bb43d8c3beab88de924310997e73fda14/src/package.ts#L515-L516

[2020-07-31 02:09] JeffreyCA commented on #468
Looks like `master` is hardcoded here...
https://github.com/microsoft/vscode-vsce/blob/96e7e42bb43d8c3beab88de924310997e73fda14/src/package.ts#L515-L516

@joaomoreno what would be the appropriate fix here? We could have it call the GitHub API to retrieve the default branch and use that. We could also add a new flag like `githubBranch` so users can directly override the branch for GitHub base URLs.

[2020-07-31 21:15] TranquilMarmot commented on #468
If a `githubBranch` option was added, it would also be nice to have a way to set the `repositoryName` to something to support extensions that aren't at the root of the repo (maybe `extensionPath` or something?)

[2020-08-01 16:05] hustwcy opened #473 "Support analyze the extension bundle size"
I packaged my extension, but it's too big. I want to to find the abnormal proportion in my extension. It would be nice to have a tool like [webpack-bundle-analyzer](url) to analyze the size of my extension.

![image](https://user-images.githubusercontent.com/10253976/89105446-caeb1700-d453-11ea-83e3-c2d053807984.png)

[2020-08-03 07:30] joaomoreno commented on #473
I believe that to be out of scope for VSCE. There are plenty of great tools out there: https://superuser.com/questions/300606/how-to-analyse-disk-usage-in-command-line-linux

[2020-08-03 07:30] #473 closed

[2020-08-03 07:39] hustwcy commented on #473
@joaomoreno Maybe i expressed my opinion incorrectly. I want to know the consist of the bundled .vsix file, because sometimes we can't find the reason of .vsix file size so big. It's will be easy solve the problem if vsce cli tool can support the consist of the bundled .vsix file.

[2020-08-03 07:46] joaomoreno commented on #473
A VSIX is a simple ZIP file: extract it and run a disk analysis tool over the extracted results.

[2020-08-03 08:48] hustwcy commented on #473
ok.  Thanks

[2020-08-03 15:00] #228 closed

[2020-08-07 20:23] phaumer commented on #300
Another requirement is that it should support webpack as well as exceptions specified in the .vscodeignore file such as

[code]

[2020-08-08 16:52] HansUXdev commented on #368
I published an extension in the past and didn't need this. I don't get why any coder or company would introduce a breaking change and not update the docs especially a big company like Microsoft... I'd be happy to get paid the salary they get paid and finish the job I'm getting paid to do...

[2020-08-09 12:00] znck opened #475 "How to format code for PR?"
I tried using prettier and VS Code typescript language features but both of them are producing so many changes.

[2020-08-09 13:11] FlipperPA opened #476 "Can't find Personal Access Token for second publish"
I successfully created and published my first theme using `vsce` here last week: https://marketplace.visualstudio.com/items?itemName=FlipperPA.theme-dreamscape

It is published under the username I use everywhere, FlipperPA. When I try to publish a second time, I get this prompt:

[code]

I've scoured high and low for my Personal Access Token. I have two Microsoft accounts, one under my personal e

[2020-08-09 13:21] FlipperPA commented on #476
Took some digging, but I found what I needed here: https://marketplace.visualstudio.com/manage/publishers/

Can we maybe get a hint in the prompt?

[2020-08-09 14:07] joaomoreno commented on #475
Just use TypeScript, disable prettier.

[2020-08-09 14:07] #475 closed

[2020-08-09 14:07] joaomoreno commented on #476
Wanna submit a PR which does that?

[2020-08-09 18:38] pmahend1 commented on #439
Same issue
[code]

`npm run webpack` succeeds but this fails

[2020-08-09 18:44] pmahend1 opened #477 "vsce package : ERROR Command failed: npm list --production --parseable --depth=99999 --loglevel=error"
[code]

[2020-08-09 18:45] pmahend1 commented on #477
Related to #432  #439

[2020-08-11 08:53] #468 closed

[2020-08-11 22:45] reykjalin opened #478 "Allow SVG badges from Sourcehut's build service"
[Sourcehut](https://sr.ht) has a [build service](https://builds.sr.ht/) [[doc](https://man.sr.ht/builds.sr.ht/)] that [provides badges](https://man.sr.ht/builds.sr.ht/#build-status-badges) that can be displayed to show CI status in repositories.

All badges I know of are of the form `https://builds.sr.ht/~<user>/<repository>.svg`, e.g. (links to svg instead of the normal build pipeline):

[![build

[2020-08-12 05:44] kahole commented on #446
I've been having this issue past 24 hours. Not being able to publish a new version of the extension.
[code]

[code]

[2020-08-12 15:39] Ptival opened #479 "The documentation on using vsce and webpack is confusing"
`vsce` starts complaining when there are more than a hundred JS files, saying we should use `webpack` and a `.vscodeignore`.

My first try was to only allow the `dist` directory in `.vscodeignore`. However, this breaks my extension (it builds, but fails when loaded) as it cannot find either npm packages (like `vscode-languageclient`), or my server files (which it looks for in `server/out/server.js

[2020-08-19 17:02] orhun commented on #446
Same issue here. `sudo n 13.14.0` worked for me.

[2020-08-25 09:18] SaiKanth007 commented on #454
@felipenmoura  can you please confirm me below things
1. What was the email id you used for publishing the extension ?
2. What is the email id  you are using currently to login to https://aex.dev.azure.com/me?mkt=en-US ?
3. For viewing the extensions that you have published, you can navigate to https://marketplace.visualstudio.com/manage/publishers/felipe  (you need to be using the same email id a

[2020-08-27 01:57] felipecrs opened #480 "Automatically enable `--yarn` if `yarn.lock` is found"
How about that guys?

[2020-08-28 15:47] meilZhu commented on #477
Hello! At first, when I packaged the vscode plug-in, I reported an error as follows

Error: Command failed: npm list --production --parseable --depth=99999`
npm ERR! missing: lodash@, required by kissy-xtemplate@0.4.3

However, according to the feedback from GitHub, it was the NPM version problem. I said that NPM version 5.5.1 was needed. However, after the version was changed here, the following

[2020-08-28 15:48] meilZhu commented on #246
Hello! At first, when I packaged the vscode plug-in, I reported an error as follows

Error: Command failed: npm list --production --parseable --depth=99999`
npm ERR! missing: lodash@, required by kissy-xtemplate@0.4.3

However, according to the feedback from GitHub, it was the NPM version problem. I said that NPM version 5.5.1 was needed. However, after the version was changed here, the following

[2020-08-28 15:50] meilZhu opened #481 "cb.apply is not a function"
Hello! At first, when I packaged the vscode plug-in, I reported an error as follows

Error: Command failed: npm list --production --parseable --depth=99999`
npm ERR! missing: lodash@, required by kissy-xtemplate@0.4.3

However, according to the feedback from GitHub, it was the NPM version problem. I said that NPM version 5.5.1 was needed. However, after the version was changed here, the following

[2020-08-28 16:42] meilZhu commented on #246
I found that the error is not only related to the NPM version, but also to the location of the dependent package and the dev dependent package

[2020-08-29 16:59] kube commented on #439
I'm having the exact same issue when using a Github Action to deploy a VSCode extension:

It's in a monorepo using Lerna, and my VSCode extension package depends on another library in the repository:

[code]

There are 3 main jobs:

- `install` (using `lerna link`, so library is loaded from folder directly)
- `build` (using `webpack`, and get a bundle, so no further need for `node_modules` after t

[2020-08-29 17:05] kube commented on #439
I think a simple solution here would be to say that if `node_modules` is present in the `.vscodeignore` file, there should be no check done about the dependencies.

[2020-08-31 13:13] joaomoreno commented on #479
Yeah it should. As I'm not a webpack expert, I suggest asking this question in StackOverflow or in the webpack repo.

You should still strive to keep your extension small, for performance reasons.

[2020-08-31 13:13] #479 closed

[2020-08-31 13:15] joaomoreno commented on #477
Dupe of https://github.com/microsoft/vscode-vsce/issues/439

[2020-08-31 13:15] #477 closed

[2020-08-31 13:16] joaomoreno commented on #481
https://github.com/microsoft/vscode-vsce/issues/439

[2020-08-31 13:16] #481 closed

[2020-08-31 13:28] joaomoreno commented on #478
Created upstream issue in Marketplace.

[2020-08-31 14:21] rebornix opened #482 "Specified part does not exist in the package"
I'm publishing an extension with `--web` but kept seeing error `Specified part does not exist in the package`. Only after removing a version file:

File name: `out/version`

File content:

[code]

The error is gone.

[2020-09-01 09:25] sguillia opened #483 "Require 2FA for package publishing"
Feature request: [implement 2FA like npm does](https://docs.npmjs.com/requiring-2fa-for-package-publishing-and-settings-modification)

VS Code extensions are a serious [attack vector](https://stackoverflow.com/questions/47404582/security-and-privacy-of-vscode-extensions) to consider. Because they can access Node API and there is [no sandbox](https://github.com/microsoft/vscode/issues/52116), they

[2020-09-01 16:46] pschaeflein commented on #85
vsce should not be defaulting to a branch named "master".

I eventually found the `--githubBranch` flag, which is not documented.

[2020-09-02 10:05] caasi-dev commented on #446
Had the same issue on Arch Linux, downgrading from 14.9.0-1 to 12.18.3-1 (LTS nodejs-lts-erbium) solved the problem.

[2020-09-03 14:56] sandy081 commented on #482
It seems like Marketplace does not like to create an asset for a file that does not has extension

[2020-09-03 18:34] darkross67 opened #484 "Error 404 on command : npm install vcse"
Hello everyone,

I want to package my extension to share with my colleagues.
I followed the first step of the ["Publishing Extensions"](https://code.visualstudio.com/api/working-with-extensions/publishing-extension#vsce) Article

And the command line return me this

`npm ERR! code E404
npm ERR! 404 Not Found - GET http://registry.npmjs.org/vcse - Not found
npm ERR! 404
npm ERR! 404  'vcse@latest'

[2020-09-03 20:23] #484 closed

[2020-09-04 02:17] tr4nc3 commented on #191
Is this being planned anytime soon?  This should be table steaks for a company like Microsoft that's a leader in security.

[2020-09-05 03:09] empathicqubit commented on #421
I've been looking at how to make this work. The main issue is that pnpm makes heavy use of symlinks which won't work with the vsix compression, which is just PKZIP.

[2020-09-11 02:30] sungle3737 opened #486 "Azure Devops repository doesn't work as content base url"
[code]
`https://dev.azure.com/seong-land/vscode-addon/_git/terminal-intuiter` do not work also

my package.json is like this
but vsce package or publish throw
[code]

my readme
[code]

Azure devops repository doesn't work properly

[2020-09-14 08:55] yankunhuang-pku commented on #191
Excuse me, do we support this feature now?

[2020-09-14 14:13] joaomoreno commented on #486
That's because we don't know how to fetch static content from azure devops. This is why there are the `--baseContentUrl` and `--baseImagesUrl` options, so you can provide those URLs yourself.

[2020-09-14 14:13] #486 closed

[2020-09-20 04:32] YashTotale opened #488 "Error: write EPIPE"
# Error: write EPIPE

I'm not sure what the problem is, but everytime I try to publish my extension, I get this error.

![Error](https://user-images.githubusercontent.com/30784592/93694339-5a5d8f80-fabf-11ea-88d4-7987b2c61fb0.png)

Is it something I might be doing?

**Version**
![Version](https://user-images.githubusercontent.com/30784592/93694378-d526aa80-fabf-11ea-9cd0-ba3ed82f2645.png)

[2020-09-21 01:05] cbarrick opened #489 "Repository shorthand"
With npm, `package.json` supports a shorthand for GitHub, GitLab, BitBucket, etc.

https://docs.npmjs.com/files/package.json#repository

However, vsce spits out a warning when one of these shorthands is used:

[code]

It would be nice if vsce would support these shorthands.

[2020-09-21 11:22] Stanzilla opened #490 "Support --changelog command"
Sometimes I want to see what the changelog looks like, without publishing. Otherwise it could just be created on `package` as well as `publish`?

[2020-09-23 12:53] bd82 commented on #300
Note that if you bundle your extension, e.g using webpack you won't need the contents of the node_modules inside your vsix.

[2020-09-24 08:09] joaomoreno commented on #490
What do you mean by changelog?

[2020-09-24 08:42] joaomoreno commented on #488
Does `vsce package` work?

[2020-09-24 12:20] Stanzilla commented on #490
I was under the impression that `vsce publish` puts all the recent commits into `changelog.md` if that is not the case, feel free to ignore .)

[2020-09-24 17:15] rbuckton commented on #480
It could also detect the presence of a `.yarnrc` file.

Or, as an alternative, support adding a way to add project-local configuration that `vsce` could pick up and would allow you to specify defaults for `--yarn` (as well as `--baseContentUrl`, `--baseImagesUrl`, and a few others). Something like one of the following:

- An entry in `package.json` (since that's used for other settings related to

[2020-09-24 18:07] felipecrs commented on #480
Yes, that would be very useful, but I believe it deserves its own Issue. To do that, I strongly recommend [`cosmiconfig`](https://github.com/davidtheclark/cosmiconfig). :-)

[2020-09-24 18:11] rbuckton commented on #300
Is this still an issue? I'm using yarn workspaces and was able to successfully package a `.vsix` using `vsce package --yarn` and it collected the `node_modules` from the root just fine.

- `vsce` 1.79.5
- `yarn` 1.22.4

![image](https://user-images.githubusercontent.com/3902892/94182808-5aaab180-fe56-11ea-8be8-4bcaf3b65964.png)

[2020-09-24 19:23] rbuckton commented on #480
I created a PR for this since I'd also find it useful.

[2020-09-24 19:25] rbuckton commented on #480
Another detection method might be the presence of a `"workspaces"` key in `package.json`, since that is generally indicative of a project using yarn workspaces.

[2020-09-24 19:37] rbuckton commented on #300
Interestingly enough, running `npx vsce@1.52.0 ls --yarn` in the same repo also lists `node_modules` in the root. I also checked the outputs of `npx yarn@1.15.0 list --prod` (as well as some earlier versions back through `yarn@1.4.0`), and they also include the hoisted dependencies.

It could be that I'm running `vsce` from the root, rather than from within a workspace folder (since I'm planning o