[2020-09-24 20:26] rbuckton commented on #300
You can safely ignore my last two comments. After looking at the PR code in #458 I can see that your goal was to run `vsce publish` from within a specific workspace folder, not the workspace root.

I just put up #480 to auto-detect `--yarn`, but that may need to be modified slightly if your PR goes in so that it also looks for a yarn workspace root (so you could just do `vsce publish` from within

[2020-09-26 03:00] YashTotale commented on #488
Yes, `vsce package` works.

![vsce package](https://user-images.githubusercontent.com/30784592/94328732-aa2dd200-ff69-11ea-855e-ff4510481d99.png)

[2020-09-26 03:04] YashTotale commented on #488
My extension is called **Terminal All In One** and the publishing was working fine until a couple days ago.

[2020-09-26 04:46] bs commented on #477
For people who find this via search, a work-a-round is `vsce package --yarn` as described in #432.

[2020-09-27 08:32] YXL76 commented on #439
I think the flag is useful because I use yarn 2 which has no `list` command

[2020-09-28 03:35] johnsoncodehk commented on #432
In case someone made the same mistake as me, I just fixed it like this:
[code]

[2020-09-29 20:07] comalice commented on #446
Also having this issue on Arch Linux:
[code]
As @caasi-dev says, downgrading to 12.18.3-1 (LTS nodejs-lts-erbium) fixes the problem.

[2020-09-30 11:49] joaomoreno commented on #490
Yeah it doesn't. There are pretty good tools out there for that, though, ie https://www.npmjs.com/package/semantic-release

[2020-09-30 11:49] #490 closed

[2020-09-30 11:49] joaomoreno commented on #488
What node version do you have instlaled?

[2020-09-30 21:57] YashTotale commented on #488
![image](https://user-images.githubusercontent.com/30784592/94744061-3efb4b80-032d-11eb-9c03-f5f53aa63973.png)

[2020-09-30 22:47] felipecrs commented on #480
It seems that npm v7+ is going to support Yarn `workspaces`, so I think it's not a good idea to use as detection criteria.

[2020-10-01 10:19] #480 closed

[2020-10-01 12:23] joaomoreno commented on #488
Can you perhaps see if you still have that issue with node v10?

[2020-10-01 13:38] felipecrs commented on #480
@joaomoreno are planning to release this anytime soon?

[2020-10-01 20:47] YashTotale commented on #488
![image](https://user-images.githubusercontent.com/30784592/94861578-9b717000-03ec-11eb-87fe-b9bf0c4d6aaf.png)

[2020-10-02 09:10] joaomoreno commented on #488
Are you behind a proxy?

[2020-10-02 16:03] ssbarnea commented on #277
I am hitting my head to a wall: cli asking for a token without any hints around how to generate it. On web interface there is no clue about it either.
![](https://sbarnea.com/ss/Screen-Shot-2020-10-02-17-03-28.53.png)

[2020-10-02 17:06] YXL76 opened #494 "`--yarn` can not work correctly after 1.81.0"
If project has `yarn.lock` file, `vsce` will use `yarn` automatically. However, when using `--yarn` flag, it will fall back to `npm`

[2020-10-02 17:27] roydukkey commented on #494
I don't use yarn and I received the following error:

[code]

These are the only packages I have globally:

[code]

[2020-10-02 20:08] YashTotale commented on #488
No, the publishing was fine for a long time until this issue came up.

[2020-10-03 00:10] marklawlor commented on #494
In addition to @roydukkey comments. A fresh project with no `.yarnrc`, `yarn.lock` or `yarn` executable installed is defaulting to `yarn`.

[2020-10-03 02:24] ranavale commented on #494
- Azure build pipeline was working fine with vscode build plugin step (using `Executing prepublish script 'npm run vscode:prepublish'...`)
- I have not installed yarn neither my repo has anything related to yarn.
- Since today afternoon, prepublish is using `Executing prepublish script 'yarn run vscode:prepublish'...` and failing with

[code]

[2020-10-03 02:35] felipecrs commented on #494
Does `--no-yarn` helps?

[2020-10-03 02:58] ranavale commented on #494
@felipecrs  It did not, as I am using azure build pipeline. rather I am not sure what changes/task I need to change in azure pipeline. My extension scripts are
[code]

[2020-10-03 03:23] felipecrs commented on #494
I can confirm the bug, I tried to debug but I was not able to.

For users facing this issue, I recommend to downgrade vsce:

[code]

[2020-10-03 03:49] felipecrs commented on #494
Okay, I found the issue.

The commander always set `yarn` to true, since `--no-yarn` is given as an option. I think it's not possible to define such an `undefined` option.

[2020-10-03 04:10] felipecrs commented on #494
Submitted a PR. This behavior was fixed in commander 3.0.0.

[2020-10-03 19:36] ntilwalli opened #496 "`vsce package` defaults to using wrong package manager"
- VSCE Version: 1.81.0
- OS Version: MacOS 10.15.6

Steps to Reproduce:

1. At command-line run `yo code` and create the default hello world extension (choose npm as package manager, not yarn)
add a publisher property to package.json
2. Install any package in "dependencies" (i.e. `npm install --save html-to-hyperscript`)
3. Run `vsce package`
4. Notice how it uses yarn when I have told it to use n

[2020-10-03 19:40] ntilwalli commented on #496
Closing since seems related to #494

[2020-10-03 19:40] #496 closed

[2020-10-04 08:35] ranavale commented on #494
adding `--no-yarn` fixed the issue, but I think every user need to update their pipeline for this is not a good recommendation.

[2020-10-04 11:36] cschlosser commented on #176
The lack of this feature can be a huge problem.
This bug https://github.com/microsoft/vscode-vsce/issues/494 lead to my extension being broken for no obvious reason and being unable to unpublish it led to quite a few experiments. Having to reproduce the same environment as on travis doesn't help either.

[2020-10-04 12:52] mmmyddd opened #497 "VSCE does not package node_modules since about October 2 (version 1.81.0)"
- Create extension
- Run npm install to create node_modules directory
- Run vsce package in extension directory
- unzip .vsix file
- No node_modules

[2020-10-04 13:01] mmmyddd commented on #497
I  use npm and not yarn, BTW.

[2020-10-04 17:00] felipecrs commented on #497
Did you try with `--no-yarn`, so we can check if this issue is the same as #494?

[2020-10-04 17:01] felipecrs commented on #494
For sure, it's not a solution, just a workaround until the issue gets fixed.

However, I believe the best workaround so far is to downgrade the `vsce` to `1.80.0`.

[2020-10-05 05:21] mmmyddd commented on #497
Yes, --no-yarn helps, but pls correct this, for npm seems the default option in my point of view

Thank you.

[2020-10-05 05:51] laike9m commented on #497
This is causing my extension to not function. There's no clear error message when building, which is even worse.

[2020-10-05 08:57] Foxhoundn commented on #497
Why was this a sudden, silent change like this, from npm to yarn? Everything in our pipelines is failing because none of our images had `yarn` >.<

[2020-10-05 09:29] joaomoreno commented on #277
@ssbarnea Does this help? https://code.visualstudio.com/api/working-with-extensions/publishing-extension#get-a-personal-access-token

[2020-10-05 09:33] joaomoreno commented on #494
Oof, sorry about that. Releasing a new version asap.

[2020-10-05 09:36] tiwarishub opened #498 ""yarn run vscode:prepublish" resulting to vscode appears to be invalid error in release 1.81.0"
![image](https://user-images.githubusercontent.com/64764738/95063185-a80f0480-071b-11eb-8da0-5305103f1d76.png)
while running command `yarn run vscode:prepublish` for generating vsix file .

C:\vscode-deploy-azure>vsce package
Executing prepublish script 'yarn run vscode:prepublish'...
yarn run v1.22.5
warning azure-deploy@1.2.0: The engine "vscode" appears to be invalid.
$ npm run compile

It has

[2020-10-05 09:42] #494 closed

[2020-10-05 09:43] joaomoreno commented on #494
Sorry for the breakage everyone. v1.81.1 is cooking right now with the fix and should be out in a few minutes.

[2020-10-05 09:50] ssbarnea commented on #277
@joaomoreno Not at all, the https://dev.azure.com/vscode link is the one that produced that confusing 401 page in the first place.

[2020-10-05 09:55] joaomoreno commented on #277
That org is just an example. You're not supposed to use it. Did you create an Azure DevOps organization, as the first sentence mentions?

[2020-10-05 10:18] felipecrs commented on #497
People, this is a bug being tracked on #494. This is not an intended change.

[2020-10-05 10:21] felipecrs commented on #497
It should be fixed in newest version, 1.81.1.

[2020-10-05 10:22] felipecrs commented on #498
This was probably fixed in 1.81.1.

[2020-10-05 13:09] joaomoreno commented on #488
Does this happen on other machines?

[2020-10-05 13:16] joaomoreno commented on #497
Dupe of #494

Sorry for the breakage yall! Fix is out there!

[2020-10-05 13:16] #497 closed

[2020-10-05 13:17] joaomoreno commented on #498
This is something else.

@tiwarishub that isn't an error, but a warning. It's perfectly safe.

[2020-10-05 13:17] #498 closed

[2020-10-05 14:34] Kinfe123 commented on #445
I have the same issue in publishing extension using PAT but it doesnt even let me to logout with in the publisher name that are found the package.json file...Any One who has n opinion about this

[2020-10-05 16:23] ranavale commented on #494
Thank you very much. @felipecrs

[2020-10-05 18:10] tiwarishub commented on #498
Hi @joaomoreno, but because of this warning the vsix file which was generated becomes an invalid one. I  will check with 1.81.1 , if this resolves the issue

[2020-10-05 18:15] felipecrs commented on #498
@tiwarishub your problem was not caused by this warning. It was caused by https://github.com/microsoft/vscode-vsce/issues/494.

[2020-10-05 18:19] felipecrs commented on #490
We recently started to use `semantic-release` in `vscode-shellcheck`, in case you find it useful.

https://github.com/timonwong/vscode-shellcheck/pull/112

[2020-10-06 07:05] egamma opened #499 "Support to open the extension's report pages"
The Marketplace is now providing  acquisition reports for an extension. This reports page is not easily to find and navigate to, unless you remember the marketplace URL `https://marketplace.visualstudio.com/manage/publishers/PUBLISHER/`.

Discussed with @joaomoreno and the suggestion is to print out a notice for that Marketplace URL whenever an extension gets published.

//fyi @fiveisprime

[2020-10-06 08:19] joaomoreno commented on #498
Oh I see, I missed that! 👍 Thanks @felipecrs

[2020-10-06 14:39] joaomoreno commented on #499
Here's how it looks:

[code]

[2020-10-06 14:40] #499 closed

[2020-10-07 08:57] carmenberndt opened #500 "node_modules do not get included in packaged vsix using npm"
Since `1.81.0` the node_modules folder does not get included in the packaged vsix anymore using npm in the project.

Going back to `1.80.0` fixes this regression.

[2020-10-08 04:16] YashTotale commented on #488
Yes, I tried it on a different mac and the same error occurred.

[2020-10-08 05:37] YashTotale commented on #488
Could it be something with my code?

[2020-10-08 08:09] joaomoreno commented on #500
This was fixed in 1.81.1. Sorry about that.

[2020-10-08 08:09] #500 closed

[2020-10-08 08:21] joaomoreno commented on #488
@prashantvc Could we somehow trace this user's publish request and see what's going wrong?

[2020-10-08 18:20] prashantvc commented on #488
This looks like nodejs issue. Let me see if I can reproduce it on my machine with source

But we will take look at the server logs, @mayankmaheshwari18 can you take a quick look at this please?

@YashTotale btw I am digging your terminal setup, could you share what plugins and theme you're using :D

[2020-10-08 21:01] YashTotale commented on #488
Sure, I am using [iTerm 2](https://www.iterm2.com/) with [Oh My Zsh](https://ohmyz.sh/) and the [powerlevel10k theme](https://github.com/romkatv/powerlevel10k). My color scheme is [Gruvbox Dark](https://iterm2colorschemes.com/).

[2020-10-13 22:25] nauben opened #501 "Create and manage collections of extensions"
I couldn't find an existing issue for this, but probably I just overlooked:

As working with many extension-packages simultaneously can get confusing fast and there may occur compatibility issues between specific extensions, it could prove to be very useful to save an environment/collection/set of extensions. When selected, the included extensions automatically turn active, all others inactive.

A

[2020-10-16 05:31] yhatt commented on #432
How about always using npm instead of yarn for dependency resolution if vsce was using npm >= v7?  npm v7 can generate fully deterministic dependency tree based on `yarn.lock` so can expect more reliable packaging.
https://blog.npmjs.org/post/621733939456933888/npm-v7-series-why-keep-package-lockjson

Someone may feel like a bit strange to use npm even if running  `vsce --yarn`, but it would be mu

[2020-10-16 17:02] jamesgeorge007 opened #502 "handler for unknown arguments throws an error"
An unrecognized subcommand results in the following error message:

<img width="456" alt="Screenshot 2020-10-16 at 10 30 16 PM" src="https://user-images.githubusercontent.com/25279263/96287222-38442800-0fff-11eb-92f1-7fd2e07a7e79.png">

[2020-10-18 16:13] felixfbecker opened #504 "vsce image URL rewriting assumes default branch is master, breaks when default branch is main"
A lot of projects are renaming their master branch to main. This breaks images in the marketplace that are using relative image references, because vsce always rewrites them to `master`.

[2020-10-19 08:55] joaomoreno commented on #504
Both `package` and `publish` commands support `--githubBranch` to override the branch name. We can maybe go one step further and mess around inside the publisher's `.git` folder and look for a `master` or `main` ref and come up with a better heuristic. But I'm not sure it's really necessary for now.

[2020-10-19 08:55] #504 closed

[2020-10-19 09:01] #502 closed

[2020-10-19 15:23] yhatt commented on #432
Let me write down I met this trouble in our extension [marp-vscode](https://github.com/marp-team/marp-vscode) again. How to reproduce:

[code]

The following error would output to developer console if tried to activate created VSIX.

[code]

It can fix by adding `--no-yarn` option to vsce command in `package` npm-script: marp-team/marp-vscode#178

[2020-10-20 16:59] raix commented on #210
@meajinkya unfortunately no - I'm likely not going to have time for it 😞

[2020-10-21 22:00] YashTotale commented on #488
No idea how, but I tried to publish again today after regenerating my Personal Access Token and it worked.

![image](https://user-images.githubusercontent.com/30784592/96788231-fffa6c00-13a7-11eb-8e4b-4829cc540689.png)

[2020-10-21 22:02] YashTotale commented on #488
Also, this is off-topic but is it possible for me to customize my [publisher page](https://marketplace.visualstudio.com/publishers/yasht)?

[2020-10-22 14:35] #488 closed

[2020-10-22 14:35] joaomoreno commented on #488
cc @prashantvc for above

[2020-10-23 10:46] WLyKan commented on #446
I encounter this problem whit `node 14.9`.
I fixed this with `nvm use 12.18.4`

[2020-11-05 09:09] sanderr opened #505 "stdin ignored when stdout is not a tty"
# Problem description

14186d0 fixes #235 by ignoring stdin and assuming "y" for any input (not just for warnings) when stdout is not a tty. For example
`echo my_personal_access_token | vsce login my_publisher`
works as expected but
`echo my_personal_access_token | vsce login my_publisher | cat`
results in the following error:
`ERROR  {"$id":"1","innerException":null,"message":"TF400813: Resource

[2020-11-05 17:22] AurelienRibon commented on #446
For the record, I also encountered the same issue today with the LTS version of node 14. I was able to publish multiple extensions during the previous weeks (and yesterday) with the same version. And today, ECONNRESET all the way...
Moving to node 15 solved the issue, but left a strange taste in the mouth :) Good luck on finding the root cause, it seems a nasty issue.

[2020-11-08 14:17] yoyo930021 commented on #432
We have the same problem when publish Vetur.
At the end, we downgrade to old version for solve this problem.

[2020-11-09 13:05] Stanzilla opened #506 "vsce package @types/vscode error"
So from the [documentation](https://code.visualstudio.com/api/references/extension-manifest) it sounds like I should keep my `engines` version at a level where my extension works at a minimum, yet, vsce requires it to be at the same level as my installed version of `@types/vscode` which is a bit confusing.

I don't think a lower version of types should block packaging either.

[2020-11-09 16:00] tamj0rd2 commented on #148
Is this something that's still being considered?

[2020-11-10 08:34] joaomoreno commented on #506
Yeah that is confusing. Pinging @octref in case he's still around to argue why we decided to go ahead with that requirement for vsce.

[2020-11-10 09:22] octref commented on #506
If your `@types/vscode` is newer than the engine, it's possible for you to use new API which aren't in the old versions of VS Code, so you should upgrade `engines` or downgrade `@types/vscode` to earliest possible version.

[2020-11-10 17:46] Stanzilla commented on #506
So I guess the best way is to pin types at an older version unless I actually use a new feature that requires it?

[2020-11-11 03:07] octref commented on #506
Exactly

[2020-11-11 04:02] #506 closed

[2020-11-11 09:04] joaomoreno commented on #506
Thanks @octref !!

[2020-11-12 14:54] Levminer opened #507 "Can't publish package"
Every time I log in and try `vsce publish` I get this error: `ERROR  Access Denied: <my account name> needs the following permission(s) on the resource  to perform this action: Allows for the creation of BuiltIn extensions.`

[2020-11-13 15:15] joaomoreno commented on #507
Did you follow this guide? https://code.visualstudio.com/api/working-with-extensions/publishing-extension#get-a-personal-access-token

Pay attention to:

- All accessible organizations
- Custom defined, Marketplace: Acquire & Manage

[2020-11-13 16:00] Levminer commented on #507
Yes

[2020-11-13 19:18] SimchaYork commented on #446
I am encountering this issue on two separate machines. Each running vsce 1.81.1 and node 14.15.0. When I use 'vsce publish', it spends a bit of time trying to publish before returning 'ERROR read ECONNRESET'.

I upgraded to node 15.2.0 on one machine and it then worked fine.

[2020-11-17 07:45] joaomoreno commented on #507
cc @prashantvc: Can you provide more insights?

[2020-11-17 08:06] prashantvc commented on #507
@Levminer Do you see your publisher name on https://marketplace.visualstudio.com/manage/ (left on the webpage)

[2020-11-17 10:03] Levminer commented on #507
@prashantvc Yes.

[2020-11-17 10:53] prashantvc commented on #507
@SaiKanth007 can you take a look at this issue, please?

[2020-11-17 11:02] SaiKanth007 commented on #507
@Levminer While generating the PAT token, can you select "All Accessible Organization" and "Full Access" (instead of custom access). Let us know if the you still get the same error ?

[2020-11-17 11:07] Levminer commented on #507
@SaiKanth007 Yes.

[2020-11-17 11:12] SaiKanth007 commented on #507
@Levminer Can you please share the publisherName under which you are trying to publish this extension. Also can you please email us your VSID to vsmarketplace@microsoft.com

Steps to share VSID:
1.       Login to the Marketplace (https://marketplace.visualstudio.com ) with the required email address, which needs to have access to the publisher.
2.       After getting logged in, from the same brows

[2020-11-17 11:15] Levminer commented on #507
ID: `298dc9a4-106c-6b05-9f14-cf7e902f9c93`

[2020-11-17 11:18] SaiKanth007 commented on #507
@Levminer Please restrict from sharing VSID's on public github repositories.

Also please share the publisherName under which you are publishing the package

[2020-11-17 11:26] Levminer commented on #507
@SaiKanth007 I sent an email.

[2020-11-20 13:31] roland-reed commented on #432
Any updates on this issue? I have the same problem here, downgrade to 1.76 still seems not to work.

[2020-11-20 18:27] Levminer commented on #507
In my package.json in the keywords section had a `#` and that's why it don't worked.

[2020-11-20 18:27] #507 closed

[2020-11-26 00:48] alefragnani opened #509 "Add git-submodule related resources to default ignorefiles"
When you use submodules, the _git related files_ inside each submodule, are not being ignored.

There is a `**/.git/**` entry as a `defaultIgnore` in https://github.com/microsoft/vscode-vsce/blob/249376ec745d2ed187ab0a87aefd65f24e5cb4ee/src/package.ts#L974. Would it be possible to also add `.gitmodules` and the `.git` related files inside each submodule as default?

Thank you

[2020-11-26 08:22] #509 closed

[2020-11-28 05:50] xhliu commented on #176
This is an important feature we need.

[2020-11-28 05:58] zhfnjust commented on #176
This is an important feature we need！

[2020-11-30 13:15] sguillia commented on #308
Hi!

Dead simple [npm links](https://docs.npmjs.com/cli/v6/commands/npm-link) are also not supported

[2020-12-03 15:23] katauber opened #512 "vsce package changes file permission"
I create a vsix file via `vsce package` using Windows and everything seems fine, but if a Unix user installs this vsix file there are problems with execution rights when using the extension.
I investigated the problem and found out that there files that lost their execution permisson after packed with vsce in Windows. This does not happen, when execute `vsce package` with Unix.
While in Windows it

[2020-12-04 10:58] joaomoreno commented on #512
The files lost their permission the moment they existed in the Windows filesystem, which doesn't have that concept. If you're packaging an extension which depends on files having proper Unix file permissions, you need to build it in a Unix machine.

[2020-12-04 10:58] #512 closed

[2020-12-08 16:43] Hypdncy opened #513 "Keymap is different on windows, linux ,mac"
Hello:
    I have a agent of windows ,a agent of linux, but I can not use the same keymap in those,  I think I will go  nuts,
    I hope a config in setting to configure the default keymap (windows or linux or mac)

Thank You !

[2020-12-09 08:15] JanChvala commented on #157
This also affects the **vsce pacakge** command which hangs on some requests. So the packaging process takes couple minutes instead of 10ths of seconds.

Is there any configuration that could prevent the packaging process to make any HTTP calls?

[2020-12-09 15:22] joaomoreno commented on #513
Is this a VS Code issue?

[2020-12-10 17:38] rioj7 opened #514 "Github new repository start branch is: main. Image reference in README.md of extension now breaks in Marketplace"
A new repository on Github now starts with the `main` branch (this was `master`).

If you reference an image in extension `README.md`

[code]

This is translated on the Marketplace page as: `https://github.com/user-name/repo-name/blob/master/images/demo.png`

This image does not exist because there is no branch `master`

I solved it by switching over to a `master` branch, quite some fiddle on gith

[2020-12-11 09:43] joaomoreno commented on #514
This was already fixed in https://github.com/microsoft/vscode-vsce/pull/474:

The `--githubBranch` flag is used to change the default branch of an extension's repo.

[2020-12-11 09:43] #514 closed

[2020-12-11 15:57] LoicGrobol opened #515 "No files added to VSIX"
Steps to repoduce

1. Make a demo extension with `yo code` and add a publisher
2. `vsce package`

Result: generates a VSIX file that only contains `[Content_Types].xml` and `extension.vsixmanifest` and no extension directory.

The issue occurs with v1.81.1 and as far back as v1.50 but not v1.40, I did not bissect further.

Plateform:

- Kubuntu Linux
- node v15.4.0 (installed via snap), npm v7.0.1

[2020-12-11 16:27] Hypdncy commented on #513
I think this

[2020-12-13 15:28] ngAtesz commented on #327
Currently I ran into the same problematic scenario. I didn't want to make my repository public but because of this issue I had to. Is there any plan to make it possible to choose relative path?

Another issue came up when I tweaked with packaging: by default the  `--baseImagesUrl` is referring to `master` branch which has changed this year to `main`. My workaround was passing my main branch link a

[2020-12-14 01:17] #513 closed

[2020-12-14 10:23] joaomoreno commented on #515
What does `vsce ls` return?

[2020-12-14 10:37] LoicGrobol commented on #515
It doesn't return anything. I have tried with `--yarn` and it seems to work, though.

[2020-12-14 15:15] joaomoreno commented on #515
Do you have a `yarn.lock` file?

[2020-12-14 15:23] LoicGrobol commented on #515
No, but I do have a `package-lock.json`

[code]

[2020-12-14 15:25] joaomoreno commented on #515
Can you give me a repository in which I can easily repro this?

[2020-12-14 15:37] LoicGrobol commented on #515
I just used the default extension generated by `yo code` without changing anything except adding a provider, but as real-world example would be https://github.com/LoicGrobol/vscode-conllu

[2020-12-15 23:52] o4dev opened #516 "Invalid error on bad cmd; undefined(?) passed to Leven (TypeError: right.charCodeAt is not a function)"
When packaging _(with a bad cmd)_ on a fresh install this _invalid(?)_ error occurs:

[code]

Reproduce:
 - `Make a demo extension with yo code and add a publisher`
 - from parent directory run `vsce  [extention_dir_name]`

Expected:
 - `Error: Command '[extention_dir_name]' is invalid.`

Actual Result:
 - Command is processed and sent to library Leven which then tries to access a sting function t

[2020-12-16 00:02] o4dev commented on #516
Apologies, this was my fault I was calling the program in the wrong way. Presumed 'package' was the actual name/directory of the package. The help description makes this very clear. **Although, I feel it should not have accepted the cmd at all.** It should _especially_ not try to **process** it. Well, there's **no** indication of this _functionality in the help description._

[2020-12-16 00:22] o4dev commented on #516
### I am reopening this post because although my issue has been solved, the behaviour is still unexpected and completely undefined in the documentation.

[2020-12-16 10:56] joaomoreno commented on #516
Duplicate of https://github.com/microsoft/vscode-vsce/issues/502

This was already fixed, you can just update to the latest vsce version.

[2020-12-16 10:56] #516 closed

[2020-12-16 17:06] oliversalzburg opened #517 "Support yarn v2"
In a repository using yarn 2, `vsce package` will fail trying to enumerate dependencies:

[code]

To reproduce, in an extension repository, use:

[code]

[2020-12-17 08:24] oliversalzburg commented on #446
So I've also run into this and can't publish since yesterday. To me, this smelled like a backend issue.

I captured the network traffic with Wireshark and inspected which Marketplace node I'm being connected to. For me that is `13.107.42.18`.

When you visit http://13.107.42.18/, you see the following message in your browser:

I can work around the issue by `vsce package`ing my extension and then

[2020-12-17 12:29] joaomoreno commented on #517
What does `yarn list --prod --json` return?

Can I clone your repo and try it out?

[2020-12-17 12:50] joaomoreno commented on #515
Did you update to the latest vsce?

[2020-12-17 12:50] oliversalzburg commented on #517
It returns `Usage Error: Couldn't find a script named "list".`, as it's not a valid yarn2 command: https://yarnpkg.com/cli/

My reproduction should work in any extension repository, but I created a fresh one that should showcase it perfectly: https://github.com/oliversalzburg/vsce-yarn2-support

[2020-12-17 13:03] LoicGrobol commented on #515
It's v1.81.1, which is apparently the latest available on [npm](https://www.npmjs.com/package/vsce) but I see there are some newer versions in the releases in the gh repo. Is there a way I can install them to try?

[2020-12-17 13:24] joaomoreno commented on #515
Thanks for letting me know that. VSCE builds appear broken, will fix them asap.

[2020-12-17 21:15] danielbolognani opened #518 "Undo acidental unpublish"
Hello,
Is it possible to undo an acidental unpublish command on our extension? One of our collaborators have unpublish it and now the extension is a brand new one (without history, etc...).
If it is possible, but this is not the place to ask, please point me out on how to achieve it.
Thanks!

[2020-12-20 19:36] agrawal-d opened #519 "Installation: error Unexpected end of JSON input while parsing near '...E29Yl3o9WYezrgBI0tuFS'"
I got this message:
`The latest version of vsce is 1.83.0 and you have 1.81.1.
Update it now: npm install -g vsce
`

So I ran `npm install -g vsce`

But I got the error:

[code]

The entire log file is attached, and a truncated version is pasted here:

[code]

[2020-12-20T19_17_45_388Z-debug.log](https://github.com/microsoft/vscode-vsce/files/5721394/2020-12-20T19_17_45_388Z-debug.log)

[2020-12-21 21:20] m-hilgendorf opened #520 "VSCE dependencies appear to be broken upstream"
I'm not sure when this issue began.

I run vsce on github actions to package an extension. It's installed with:

[code]

On Linux, running `vsce package` fails with:

[code]

I'm not using `cheerio` in my extension and I can't replicate this locally, best I can tell this is only coming from a fresh install of vsce (I don't want to break my local dev environment). It looks like this is a versioning

[2020-12-21 22:24] m-hilgendorf commented on #520
This appears to have been resolved, I'll close the issue.

[2020-12-21 22:24] #520 closed

[2020-12-30 14:53] ssbarnea opened #522 "Unable to login using Personal Access Token"
I created a publisher named [zbr](https://marketplace.visualstudio.com/manage/publishers/zbr) and manually uploaded my extension to it but it seams impossible to setup the CLI vsce for publishing as one. Based on what I read on https://github.com/microsoft/vscode-vsce/issues/507 i believe I am not the only one confused by the weird authentication setup.

My account `sorin.sbarnea@gmail.com` is lis

[2021-01-01 16:53] Daniellop1 opened #523 "Error Failed request: (401) when perferming vsce login"
The terminal is giving me this error when I use vsce login command and type my personal access token

[2021-01-05 08:49] #523 closed

[2021-01-05 09:02] joaomoreno commented on #522
cc @prashantvc

[2021-01-05 09:03] joaomoreno commented on #519
Do you still get this error?

[2021-01-05 10:00] prashantvc commented on #518
@danielbolognani could you email vsmarketplace@microsoft.com?
please be sure to share more details about the extension

[2021-01-05 10:12] #518 closed

[2021-01-05 10:45] agrawal-d commented on #519
No, I no longer get this error.

[2021-01-05 11:09] danielbolognani commented on #518
I already did, waiting for a response. Thanks

[2021-01-05 11:48] mayankmaheshwari18 commented on #522
@ssbarnea Could you please confirm you followed the following steps to create PAT token?

1) Click on the email Id and then it will navigate to all the organizations you are part of.

![image](https://user-images.githubusercontent.com/16611785/103642981-f2ea2380-4f79-11eb-92ba-46992c774ac6.png)

2) If you have a publisher with name "X", you need not necessarily have an organization with name "X".

[2021-01-05 12:18] ssbarnea commented on #522
I was able to get a token working but only after using the BFG of generating one with full access to all organizations. The reality is that that current process for generating tokens for publishing to the marketplace is a huge PITA.

The UI is confusing and cryptic, I would not exaggerate to say that this was the worst authentication experience I encountered in two decades.

Please fix this once f

[2021-01-05 13:48] prashantvc commented on #522
Hey @ssbarnea, I agree with everything you said about the generating the token. We are experimenting different options, and I would love to get your feedback. Please pick a time here https://book.ms/prchol@microsoft.com, we can chat about it :)

[2021-01-05 15:56] robole commented on #522
@prashantvc  I had this problem also. I resorted to using the website to manage my extensions instead for a long while.

I had another go because I wanted to use Github Actions to do this. It was only after reading this issue that I got it working by generating a token with all orgs and all permissions. It was on 4th attempt that it worked!

[2021-01-07 10:29] #519 closed

[2021-01-08 10:20] joaomoreno commented on #515
I can't repro this with `yo code`:

[code]

I also can't reproduce with your repository:

[code]

[2021-01-08 10:20] #515 closed

[2021-01-08 10:21] joaomoreno commented on #515
Let me know if I'm missing something

[2021-01-08 23:59] aeisenberg opened #524 "[Question] How can I publish a .vsix file directlty?"
Context: I am running `vsce package` in one stage of my CI build. In a later stage, I want to use the `.vsix` file that was created and run `vsce publish`. However, it looks like `vsce publish` always first runs `package` before trying to publish. In my case, this will fail because all the build step has access to is the vsix file.

How can I publish the vsix file without rebuilding it?

Thanks.

[2021-01-09 00:17] aeisenberg commented on #524
User error. The following command works for me:

[code]

[2021-01-09 00:17] #524 closed

[2021-01-10 17:42] tamj0rd2 commented on #246
What was the relation and how did you fix it? I'm having the same issue

[2021-01-13 05:51] Supitto commented on #328
You can solve this by adding a 'publisher' field in package.json, vsce will generate the package with no problems

[2021-01-16 06:29] felipecrs opened #525 "New command: verify-pat"
Or something like that. Since apparently there is no public API in the VSCode Marketplace for that purpose, it would be handy to have a command which could verify if the PAT is actually usable.

I need this for validating the token as a verification step in the semantic-release-vsce plugin.

https://github.com/raix/semantic-release-vsce/blob/59e9fa4e0ed090388d4a475e7bbbc2d5bdc10df0/lib/verify.js#L

[2021-01-18 09:04] joaomoreno commented on #525
I like that. Wanna PR it?

We already have code which tests a PAT: https://github.com/microsoft/vscode-vsce/blob/3ef89858ecd86b59d5926503efc661bdfc7ee7df/src/store.ts#L59-L64

[2021-01-18 14:06] SteveVaknin opened #526 "Add bridgecrew as a trusted badge source to vscode"
Hi,
Can you please add **www.bridgecrew.cloud** as a trusted badge provider at `vscode` (as described [here](https://code.visualstudio.com/api/references/extension-manifest#approved-badges))?

[Bridgecrew](https://bridgecrew.io/) provides badges for infrastructure security status. [Check out some examples](https://docs.bridgecrew.io/docs/code-repository-badges).

**Thanks!**

[2021-01-19 00:08] felipecrs commented on #525
Amazing!

Yes, please!

[2021-01-19 19:06] LuisPeregrinaIBM2 opened #527 "package.json repository url not read"
When creating VSIX and using a relative image in the README.md it says:
 ERROR  Couldn't detect the repository where this extension is published. The image 'preview.png' will be broken in README.md. Please provide the repository URL in package.json or use the --baseContentUrl and --baseImagesUrl options.

However, there is a repo url in package.json:
[code]

[2021-01-19 19:31] joaomoreno commented on #527
Is it a github repo?

[2021-01-19 20:33] LuisPeregrinaIBM2 commented on #527
github enterprise, public repo

[2021-01-19 20:45] LuisPeregrinaIBM2 commented on #527
either way, parameter baseImagesUrl works, so either the message is missing some additional info (github.com repos only) or it's not parsed correctly.

[2021-01-20 13:48] felipecrs opened #528 "Support reading PAT from environment variable"
This would enable more seamless integration in CI, preventing us from having to expose the PAT in the command line.

Such as `VSCE_TOKEN`:

[code]

[2021-01-21 08:18] joaomoreno commented on #528
That was already added a few months ago: https://github.com/microsoft/vscode-vsce/commit/07ea89230270a9a1e3e8350d57227943d5939865

Let me know if it doesn't work.

[2021-01-21 08:18] #528 closed

[2021-01-21 09:52] #527 closed

[2021-01-23 16:24] mrakgr opened #530 "Cannot overwrite the access token"
[code]

Trying to do a `vsce publish patch -p <token>` also fails with a 401 error. The situation on my PC is a bit unusual because a few days ago, I was on a cleaning spree and deleted the `AppData` folder by hand in order to free up space on the SSD. This broke some apps, and I suspect `vsce` is one of them. Right now my only choice for publishing on the VS Code marketplace is the web interface.

[2021-01-25 10:52] joaomoreno commented on #530
You need to request a new access token: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#get-a-personal-access-token

[2021-01-25 10:52] #530 closed

[2021-01-25 11:53] mrakgr commented on #530
No wait, I definitely did that. I created a fresh one with full access...but neglected to set `Organization` to `All Accessible Organizations`. ...And now it works.

Sorry about that.

[2021-01-29 09:05] joaomoreno opened #531 "Validate `activationEvents` and `main` properties"
<img width="1272" alt="image" src="https://user-images.githubusercontent.com/10746682/106253409-bd062b00-6217-11eb-8e84-fb080c157844.png">

<img width="203" alt="image" src="https://user-images.githubusercontent.com/10746682/106253684-1706f080-6218-11eb-80c6-6f4bccd2ccb0.png">

@joaomoreno Shall this be validated while publishing ?

_Originally posted by @sandy081 in https://github.com/microsoft/v

[2021-01-29 10:11] #531 closed

[2021-02-03 08:30] #525 closed

[2021-02-12 10:51] LucidOcean commented on #390
Wow, you cant put a few images in the vsix package and use in readme?

[2021-02-15 03:40] kshetline opened #533 "If version number used with the unpublish command, PLEASE warn that it won't be just that version unpublished!"
I mistakenly thought I could unpublish individual versions of an extension in the Visual Studio Market Place.

How wrong I was. 😢

I typed `vsce unpublish kshetline.ligatures-limited.1.4.1`, hoping to get rid of a copy of my extension that I'd just published, but with some temporary code accidentally left in.

Since the version number was accepted without complaint, I assumed the unpublish command

[2021-02-15 10:10] joaomoreno opened #534 "Try to detect default GitHub branch"
More and more people are changing their default branch from `master` to `main`. It would be great if VSCE could detect this and do right right thing when publishing an extension instead of assuming `master`.

[2021-02-15 12:58] joaomoreno commented on #533
You should've seen the following message:

[code]

Maybe @prashantvc, from the Marketplace team, can help you in recovering your lost extension.

[2021-02-15 13:44] kshetline commented on #533
Of course, I definitely saw the scary warning, and obviously answered yes, but I still hoped that it applied *only* to the version I'd typed in, or that, because I'd added the version, the command would fail because there is no extension with the full name "kshetline.ligatures-limited.4.1.0".

It seems to me that some part of the vsce code must have actively stripped off the ".4.1.0" part of what

[2021-02-15 13:51] Higurashi-kagome opened #535 "Using the relative path of current folder"
1. Make sure the extension is open-source on GitHub, and the `CHANGELOG.md` and `README.md` files are contained in the extension folder for testing.
2. Use `[CHANGELOG.md](./CHANGELOG.md)` in the README.md to link to the CHANGELOG.md.
3. Publish the extension to the Marketplace.
4. Then, we will find that the link of the CHANGELOG.md on the extension's Marketplace page is `https://github.com/<user

[2021-02-18 11:33] ph777 opened #536 "Expired PAT and lost account"
Hello,

I'm not sure if I'm asking here right, but I hope someone can help or direct me in a better direction.

I'm an extension author. I want to publish an update of my extension. However, it is been a long time since I last published the extension and my PAT expired.

I know that the solution is to login to my organization at dev.azure.com/myorg and create a new PAT. However, I do not remember

[2021-02-18 16:39] joaomoreno commented on #536
@prashantvc Can you help here?

[2021-02-19 17:12] ArturoDent commented on #446
Been working fine for weeks.  Wouldn't work for last two days.  Upgraded to node v15.9.0 and it worked instantly.

[2021-02-22 17:20] GabeDeBacker opened #537 "VSCE needs to pick up latest lodash security fix"
VSCE has a dependency on lodash which just took a security fix two days ago.

https://github.com/lodash/lodash/issues/5083

This needs to be picked up by the VSCE npm package so the fix can be distributed to extension developers.

[2021-02-22 20:15] DanielAtKrypton commented on #353
I am having the following errror with the generated PAT with access to all organizations:
[code]

[2021-02-23 23:41] joechung-msft commented on #439
I was able to work around the issue by downgrading to `npm@6` and recreating `package-lock.json` not to use lockfile version 2. Seems like a problem with the new lockfile version introduced with `npm@7`.

[2021-02-25 02:56] rjmholt commented on #148
Just to pile on here -- I should have linked our issue when we hit this.

In particular, in https://github.com/PowerShell/vscode-powershell/issues/1880#issue-433375920 we discuss the fact that `npm` uses semver v2 whereas the marketplace uses semver v1, meaning extensions are forced to use the intersection of the two; the marketplace doesn't tolerate a prerelease tag, but npm doesn't tolerate a pa

[2021-02-25 03:07] andschwa commented on #148
Actually, I checked the spec and since the marketplace doesn't support an alphnumeric tag after a hyphen, it does not use [Semantic Versioning v1](https://semver.org/spec/v1.0.0.html#spec-item-4), which specifies:

The marketplace seems to have its own versioning schema.

[2021-02-25 19:51] AndrisJefimovs opened #538 "preLaunchTask causes infinite loading when trying to debug"
Two days ago I created an extension using the command `yo code` with following options
+ Typescript
+ Git repo
+ Webpack enabled

An extension I created today has the same setup. The only difference was that if pressing *Debug* webpack finishes building and then VS Code is loading infinitely. I reinstalled VS Code and tried different versions, later I took a look if there are any changes in the fi

[2021-02-28 14:34] exhesham opened #539 "`vsce package` asks for Publisher error"
Hi,

I want to pack my first extension using your guide: [here](https://code.visualstudio.com/api/working-with-extensions/publishing-extension).

The bug is when I run the command `vsce package`, I get error for missing publisher name. Why packaging an extension requires publishing details? Sounds to me like a bad design. Here is the error:

How can I use extension from exported file without publi

[2021-02-28 21:06] ipatalas commented on #183
@luanpotter same here. This is still not fixed. I can't add GH Actions badge because it's SVG :/

[2021-03-01 08:14] joaomoreno commented on #183
The VS Marketplace now has an open issue tracker, feel free to submit this feature request over there: https://github.com/microsoft/vsmarketplace

[2021-03-01 09:11] joaomoreno commented on #539
You simply need a publisher ID in `package.json`. The publisher ID doesn't need to be registered in the Marketplace, you can use a dummy string like `exhesham`.

[2021-03-01 09:11] #539 closed

[2021-03-01 13:16] felipecrs commented on #534
My suggestion is:

[code]

[2021-03-01 14:22] joaomoreno commented on #537
This is now fixed.

[2021-03-01 14:22] #537 closed

[2021-03-02 07:31] estruyf commented on #534
Another option is to use `vsce publish --baseImagesUrl <URL to your repo>`. This is how I fixed it.

IMO, it would be nice if this could be a setting in the `package.json` file. Like:

[code]

[2021-03-02 15:23] onilton commented on #439
@joaomoreno do you still think we need more info? I see the label is still there.

[2021-03-05 14:17] #534 closed

[2021-03-05 17:47] felipecrs opened #541 "Use semantic-release"
Hi,

The [`semantic-release`](https://github.com/semantic-release/semantic-release) helps a lot to generate new releases, changelogs, and keep versioning right. This implies using [Conventional Commits](https://www.conventionalcommits.org/).

If you agree, I can send a PR.

[2021-03-08 00:58] joselitofilho commented on #176
This is an important feature we need.

[2021-03-08 09:15] joaomoreno commented on #541
I'd be curious to see what tooling we could get here. 👌

[2021-03-09 00:23] horihiro opened #542 "--noGitHubIssueLinking option doesn't work properly"
According to the following code, `this.expandGitHubIssueLinks` is set to `true` when the option is not only specified but also not specified.

https://github.com/microsoft/vscode-vsce/blob/f186af2ab56ff78725bf9285c09b52f64e0988f7/src/main.ts#L104
https://github.com/microsoft/vscode-vsce/blob/f186af2ab56ff78725bf9285c09b52f64e0988f7/src/package.ts#L441-L442

So GitHub issue links in Markdown files

[2021-03-09 05:32] horihiro commented on #542
The test for `expandGitHubIssueLinks` option of ReadmeProcessor exists, this test abehavior when `expandGitHubIssueLinks` is `false`.

https://github.com/microsoft/vscode-vsce/blob/f186af2ab56ff78725bf9285c09b52f64e0988f7/src/test/package.test.ts#L1991

But as I commented, `expandGitHubIssueLinks` is always `true`.

[2021-03-09 12:38] megel opened #544 "Question: Include OS specific binaries in an VSCode extension?"
Question: How do I include OS specific binaries in an VSCode extension?

I have created an own extension, which need to call OS specific binary files with parameters.
What is the best practice to do this in an vscode extension?

Do I have to include binaries for all supported OS or is there another option?

[2021-03-10 10:03] joaomoreno commented on #544
Yeah this is the current suggestion. We're working on having platform specific extensions, but it is still in the horizon, not yet on a plan.

[2021-03-10 10:03] #544 closed

[2021-03-11 14:36] DumpySquare commented on #439
what information do we need for this?  I've run into the same problem.  I have an extension that includes other projects that are referenced directly during development, like below.

npm install works fine, but the ``npm list --production --parseable --depth=99999 --loglevel=error`` causes problems because it is finding all the dependencies from the other projects as "extraneous"

[code]

[code]

[2021-03-12 09:11] #542 closed

[2021-03-12 09:34] SimoneRichetti commented on #328
I agree with the issue too. If I use a private npm repository to share my extension only with my colleagues I don't want to create an Azure organization. This check should be done when I publish to the public marketplace, not when I generate the vsix package.

[2021-03-13 06:17] Jack-Works commented on #421
Having this problem too. I don't want to mix many package managers in a single project

[2021-03-16 04:21] stoneC0der opened #547 "Accidentally deleted my publisher"
I was having issue when trying to upload my extension, the error was the JSON output below

`
{"$id":"1","customProperties":{"Descriptor":null,"IdentityDisplayName":null,"Token":null,"RequestedPermissions":0,"NamespaceId":"00000000-0000-0000-0000-000000000000"},"innerException":null,"message":"Access Denied: The Personal Access Token used has expired.","typeName":"Microsoft.VisualStudio.Services.S

[2021-03-16 08:18] sergeiudris commented on #328
Yes, very sad, cannot build a vsix file locally, with even with a publisher field - `Error: Invalid publisher name`
Is there a workaround/fork/alternative or *earlier version* (?) to build a .vsix file without publisher? (while this issue is being resolvled)

[2021-03-16 08:26] joaomoreno commented on #547
Moved to https://github.com/microsoft/vsmarketplace/issues/32

[2021-03-16 08:26] #547 closed

[2021-03-16 08:28] SimoneRichetti commented on #328
Hi @sergeiudris, I had that error for two reasons:
1. My publisher name was not correct: only letters, numbers and hyphens are allowed;
2. I put local images in the README of the extension, which is not allowed, you can only put https links.

Maybe these tips are helpful. I link you the issue that I opened on another repo but correlated to this problem: https://github.com/joelspadin-garmin/vscode-

[2021-03-16 08:32] sergeiudris commented on #328
@SimoneRichetti

that solves it, thank you

[2021-03-16 08:40] SimoneRichetti commented on #328
You are welcome!
I think that a lot of people are falling into this error. Maybe a mention of that should be added to the documentation? I mention @joaomoreno as the assignee of the issue.

[2021-03-17 01:31] asbjornu commented on #148
It seems pretty obvious to me that everything living in the Node.js ecosystem should support SemVer 2.0. I hope this will be addressed and fixed soon.

[2021-03-21 19:49] KevinEady commented on #308
Hello,

Is there any progress on this? My use-case is a little different (not embedding Mac Frameworks), but I do want to have symlinks across modules in my extension.

I am creating an LSP extension, and my extension structure is as such:
[code]

... where `server` has a dependency on `native`, via `file:../native`

My extension comes with native Node bindings, so I cannot webpack them into one J

[2021-03-23 23:34] PeterWone commented on #353
This is the answer. The token has to be validated with one organisation and used with another.

Why have people voted this down? Because they don't like the fact that it's true?

[2021-03-24 17:29] felipecrs opened #548 "Allow configuration through config file or a vsce key under package.json"
Currently, the configuration can be done through CLI options, such as `--yarn` and `--github-branch`. It would be very good if configurations could be done through the `package.json`, as is for `npm publish` itself. Something like:

[code]

This would be especially useful in [`semantic-release-vsce`](https://github.com/felipecrs/semantic-release-vsce), as it currently does not allow the user to se

[2021-03-28 03:36] jmullings commented on #332
Have you set the NODE_TLS_REJECT_UNAUTHORIZED to int, or the required "0" string...?

[2021-03-30 11:23] elaygl commented on #526
Any updates on this?

[2021-03-30 11:24] elaygl commented on #526
@joaomoreno any updates on this?

[2021-03-30 12:36] joaomoreno commented on #526
Created upstream req https://github.com/microsoft/vsmarketplace/issues/42

[2021-03-31 09:27] prashantvc opened #550 "Warn about README in vscodeignore"
Issue Type: <b>Bug</b>

I currently have a color theme I am working on but the overview doesn't link to the repo's README. The docs say it should automatically be picked up from the provided repo in `package.json` under the master branch. Am I missing something?

Extension page: [blackbird](https://links.mattglei.ch/aotSW)
Repo: [Matt-Gleich/blackbird](https://links.mattglei.ch/Z_LMr)

VS Code ver

[2021-04-02 18:03] ShalokShalom opened #551 ""missing publisher name" despite being registered"
![Screenshot_20210402_200038](https://user-images.githubusercontent.com/6344099/113441244-41c71e00-93ee-11eb-8dd4-ca1015c3614b.png)

As you can see, is the account already registered, I provided the token and also added privileges to modify the Marketplace to that one.

As you can see, is vsce still unhappy with me.

[2021-04-02 19:36] ShalokShalom commented on #551
I had to add   "publisher": "shalokshalom", to the package.json

[2021-04-02 19:36] #551 closed

[2021-04-03 22:06] Noxdor commented on #446
I had the same issue with Node v14.15.2. Followed @ArturoDent's suggestion and updated to v15.12.0, it then worked just fine. I recommend only adding node v15 in the extension folder instead of updating it globally, to keep working with the LTS.
Just go into the folder/repository of the extension you want to publish with `vsce`, run `npm install node` without the `-g` flag and then run your `vsce

[2021-04-04 22:10] lukepighetti commented on #11
Please just give us a one click oauth system. I have no clue what my publisher name is. My token isn't working. I can't figure this out. The docs go in a loop. There is no example of what "publisher" is supposed to look like. I have never in my life seen an auth flow so complicated, even on dev tooling.

[2021-04-05 15:50] andradei commented on #11
At least a video or blog with screenshots would be a good step towards making this process less of a pain. Right now it sucks big time.

[2021-04-05 16:30] lukepighetti commented on #11
It's the next day and I've given up on publishing from the terminal. Guess I'm rocking the Marketplace update dropzone from here on out.

[2021-04-05 17:54] Tyriar commented on #176
Could have used this just now, I accidentally published with a bad vscode engine version that relies on a new context key for keybindings. This means I cannot go back and unpublish that - older clients will always receive the "broken version" from now on.

[2021-04-05 21:17] textbook opened #552 "TrustedSVGSources is out-of-sync with the documentation"
The [documented list][1] of approved sources differs from what's actually implemented:

https://github.com/microsoft/vscode-vsce/blob/f0cc23c5c7c8ef2e539da302e688639f6ef348a8/src/package.ts#L153-L199

As of right now, the two differences are:

- `TrustedSVGSources` includes `'flat.badgen.net'`, which is not documented as approved; and
- _(The reason I am posting this)_ `TrustedSVGSources` does not

[2021-04-06 03:16] gregvanl commented on #552
Added `flat.badgen.net` to the docs with https://github.com/microsoft/vscode-docs/commit/523e9d184a7212a1eb7262ae51ba27fd96a93fc8

[2021-04-06 03:17] gregvanl commented on #552
Added `flat.badgen.net` to the docs with https://github.com/microsoft/vscode-docs/commit/523e9d184a7212a1eb7262ae51ba27fd96a93fc8.
Thanks for comparing the two lists.

[2021-04-06 12:09] joaomoreno commented on #552
We don't really support SVGs from any github.com source, but from Workflows only.

VSCE handles that here: https://github.com/microsoft/vscode-vsce/blob/05b3a2770dd7711efa6fb932a7846decc08f3454/src/package.ts#L205-L207

I've updated the documentation to indicate just that: https://github.com/microsoft/vscode-docs/commit/b2b10ebfc9357146541d922a47682ba82033c501

[2021-04-06 12:09] #552 closed

[2021-04-06 15:32] textbook commented on #552
@joaomoreno but that doesn't allow e.g. `https://github.com/CodeYourFuture/cyf-extension-pack/actions/workflows/push.yml/badge.svg`, the badge for [this workflow][2], because it's missing a match for `/actions`.

[![][1]][2]

  [1]: https://github.com/CodeYourFuture/cyf-extension-pack/actions/workflows/push.yml/badge.svg
  [2]: https://github.com/CodeYourFuture/cyf-extension-pack/actions/workflows

[2021-04-06 15:53] joaomoreno commented on #552
Has this changed? When we implemented the check is was simply `/workflows`. Can you find any GH announcement of the change?

[2021-04-06 16:07] textbook commented on #552
It certainly used to be `https://github.com/{github_id}/{repository}/workflows/{workflow_name}/badge.svg`, I can find references to that on e.g. [Stack Overflow][1] and [Reddit][2]. But you can see from the docs I shared above that the _current_ documented pattern is `https://github.com/<OWNER>/<REPOSITORY>/actions/workflows/<WORKFLOW_FILE>/badge.svg`; I don't know when that changed or how long th

[2021-04-07 07:37] textbook commented on #552
For searchability, if you're seeing the following error for a GitHub Actions badge:

[code]
Although GHA badges _are_ supported, that specific link format isn't; you need to use `https://github.com/<OWNER>/<REPOSITORY>/workflows/<WORKFLOW_NAME>/badge.svg` (using the [`name`][1] property from `<WORKFLOW_FILE>.yml`) instead.

  [1]: https://docs.github.com/en/actions/reference/workflow-syntax-for-gi

[2021-04-07 07:57] joaomoreno opened #553 "Support new GitHub Actions badge SVG url format"
It seems that instead of `/workflows`, GitHub Action badge URLs now look like `/actions/workflows`: https://github.com/microsoft/vscode-vsce/issues/552#issuecomment-814242903

We need to update the RegEx to:

[code]

Before we do this on VSCE, we need appropriate changes to the Marketplace service.

[2021-04-07 08:01] joaomoreno commented on #552
Driving this: https://github.com/microsoft/vscode-vsce/issues/553

[2021-04-08 23:58] sherryyshi opened #554 "Update dependencies to fix critical vulnerabilities in the 'underscore' package (CVE-2021-23358)"
The package underscore from 1.3.2 and before 1.12.1 are vulnerable to Arbitrary Code Execution via the template function, particularly when a variable property is passed as an argument as it is not sanitized.

Details of the vulnerability https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23358

Need to update the following packages, which depend on underscore v1.8.3:
* `typed-rest-client` -

[2021-04-09 00:53] felipecrs commented on #550
Or better yet, add `!README.md` to the list of default ignores.

[2021-04-09 01:00] felipecrs opened #557 "Should npm-shrinkwrap.json be ignored?"
Actually, the question could be written as: is `npm-shrinkwrap.json` needed in an extension package? If not, it can be ignored, and should be included in the list of `defaultIgnore`. I can make a PR in that case :).

[2021-04-09 14:37] augwu-thortech commented on #368
The issue seems to be that a user gets orphaned when they hit this step. The page which is link makes the solution non-obvious, is buried in the page, and links to an even more generic doc.

[2021-04-12 11:55] wilhelmklopp commented on #266
Just ran into the exact same thing. Same problem, same solution. Thanks so much for documenting your solution @JackKCWong ❤️

[2021-04-13 07:53] joaomoreno commented on #554
I have subscribed to https://github.com/microsoft/azure-devops-node-api/pull/435, will do this as soon as that gets merged and released.

[2021-04-13 07:54] #550 closed

[2021-04-13 07:55] joaomoreno commented on #557
Makes sense! ✔️

[2021-04-14 05:58] #557 closed

[2021-04-19 07:49] joaomoreno commented on #554
https://github.com/microsoft/azure-devops-node-api/pull/440 was merged

[2021-04-19 12:47] #554 closed

[2021-04-20 15:31] mikecentola opened #560 "VSCE Claims version is 1.86.0 when installed version is 1.87.1"
![image](https://user-images.githubusercontent.com/12663057/115423512-e3f74c00-a1cb-11eb-9602-000bd0563614.png)

I've uninstalled and reinstalled vsce. Everything works fine but it complains every time that I don't have the latest version.

[2021-04-22 07:54] joaomoreno commented on #560
I'm not sure what `npm show` does. Can you show me the docs for that npm command?

[2021-04-24 17:03] mikecentola commented on #560
@joaomoreno `npm show`, `npm view`, `npm info` and `npm v` all do the same thing.

Also `npm outdated` doesn't show anything outdated even though vsce claims it's old.

[2021-04-25 09:59] AllanOricil opened #562 "npm ERR! peer dep missing: diagnostic-channel@*, required by diagnostic-channel-publishers@0.4.4"
I cant package using npm. After switching to yarn everything worked.
![image](https://user-images.githubusercontent.com/55927613/115989210-3b732e80-a5b5-11eb-8021-ee14e8ebcdbd.png)

[2021-04-25 10:09] AllanOricil commented on #562
I had to switch to yarn: `vsce package --yarn`

[2021-04-26 08:07] joaomoreno commented on #560
`vsce -V` shows you your installed version

`npm show vsce version` shows you the latest available version on npm

[2021-04-26 08:07] #560 closed

[2021-04-26 08:10] joaomoreno commented on #562
Please ask your question on [StackOverflow](https://aka.ms/vscodestackoverflow). We have a great community over [there](https://aka.ms/vscodestackoverflow). They have already answered thousands of questions and are happy to answer yours as well. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2021-04-26 08:10] #562 closed

[2021-04-26 12:34] AllanOricil commented on #562
@joaomoreno Im reporting a bug. I don't know why you thought I was asking something. The bug is that just by switching from npm to yarn, vsce package command works.

[2021-04-26 14:29] joaomoreno commented on #562
Oh got it. Since https://github.com/microsoft/vscode-vsce/pull/492 vsce will detect `yarn.lock` and use `--yarn` automatically. Didn't that work for you?

[2021-04-26 16:49] sherryyshi commented on #554
@joaomoreno thanks for completing this! Curious when the next version would be available on npm for download? At time of writing I still see 1.87.1 as the latest version here: https://www.npmjs.com/package/vsce

[2021-04-26 16:56] AllanOricil commented on #562
@joaomoreno oh I was using npm, and that is probably the reason I had to force with --yarn. I will switch everything to yarn and try again. Thanks

[2021-04-27 15:38] mikecentola commented on #560
I understand that but does this make any sense? `vsce` still thinks it is version 1.86.0 but npm shows I have 1.87.1 installed and no update.

![image](https://user-images.githubusercontent.com/12663057/116270392-0b5e9380-a74d-11eb-8622-d7dbc168bc2a.png)

[2021-04-28 02:47] Devon7925 commented on #515
@joaomoreno I am also experiencing this exact issue on the latest version of vsce and npm on Ubuntu 20.04 with extensions from yo. `vsce ls` returns nothing. Originally found when trying to package https://github.com/primd-os/NBTNotebook. Lmk if you need any more info.

[2021-04-28 11:14] joaomoreno commented on #554
We will be releasing a new version in the next couple days.

[2021-04-30 22:14] creepinson commented on #421
I just ended up using yarn for my vscode extension, while using pnpm for everything else. Hopefully this will be solved soon.

[2021-05-04 12:01] oliversalzburg opened #563 "Cannot read property '0' of undefined"
The very unhelpful error message `Cannot read property '0' of undefined` is printed when executing `vsce show foo`.

[2021-05-05 15:38] dustsucker commented on #522
I have exactly the same Problem I get a
`ERROR  The Personal Access Token verification has failed. Additional information:
Error: Failed request: (401)`

I tried recreating the token and even tried with a full access token it didn't work, the same error. I tried it 8 times with new tokens and vsce installations. Within GitHub Actions It's the same Problem/ It just fails.

[2021-05-06 15:51] bfitzpat opened #565 "vsce 1.88.0 throws error with cheerio package"
Updated to latest vsce version and seeing the following when we do a `vsce package`.
Any suggestions?

[code]

[2021-05-06 15:52] jkeech opened #566 "`vsce` fails due to issue with `cheerio` dependency"
It looks like the latest versions of the `cheerio` package are broken, which breaks new installs of vsce, which breaks our extension publishing pipeline. There's been a couple releases of that package within the past hour: https://www.npmjs.com/package/cheerio.

Repro steps:
[code]

Error:
[code]

[2021-05-06 15:59] bfitzpat commented on #565
Reverting to 1.87.1 we do not see the issue

[2021-05-06 16:01] bfitzpat commented on #565
Duplicate of https://github.com/microsoft/vscode-vsce/issues/566

[2021-05-06 16:01] #565 closed

[2021-05-06 16:09] apupier commented on #566
this is now fixed, see https://github.com/cheeriojs/cheerio/issues/1842#issuecomment-833642022

[2021-05-06 16:43] #566 closed

[2021-05-06 17:44] joaomoreno commented on #566
Actually we fixed it in vsce as well by opting out of yarn.lock and using package-lock.json which npm respects.

[2021-05-07 05:48] immanishbainsla opened #567 "ERROR npm failed with exit code 2, Error: Command failed: node_modules/.bin/vsce package --no-yarn"
Hi there,
It was running fine yesterday eve, but since today morning it has been showing this error.
I have tried deleting package-lock.json and node_modules and then npm install as well but couldn't get past this error

TS1323: Dynamic imports are only supported when the '--module' flag is set to 'es2020', 'esnext', 'commonjs', 'amd', 'system', or 'umd'.
 ERROR  npm failed with exit code 2
Error:

[2021-05-07 08:22] #567 closed

[2021-05-07 08:23] immanishbainsla commented on #567
solved now.
needed to add "test-resources" in tsconfig.json > "exclude"

[2021-05-07 11:08] oliversalzburg commented on #375
IMHO, PR #345 was completely broken and shouldn't have been merged. It doesn't take into account color codes, as reported by this issue, but it also completely ignored code blocks and fixed-width spans.

The cases where this is needlessly broken seem to dramatically outnumber the cases where it has a beneficial effect. I will open a PR to revert this change.

[2021-05-08 19:48] mikecentola commented on #560
Just an update for anyone that comes across this. Turns out somehow older versions persisted in `C:\Program Files\nodejs\`

Removing those allowed the correct ones from AppData to be run.

[2021-05-09 22:21] TKapitan opened #569 "ERROR, Invalid regular expression: /(?<domain>github(\.com\/|:))(?<project>(?:[^/]+)\/(?:[^/]+))(\/|$)/: Invalid group"
Hello,
I want to create an update of my VS Code Extension; however, I still get an error below

`
PS C:\Users\Kepty\ALRM-VSCode> vsce package
INFO  Detected presence of yarn.lock. Using 'yarn' instead of 'npm' (to override this pass '--no-yarn' on the command line).
Executing prepublish script 'yarn run vscode:prepublish'...
yarn run v1.22.10
warning package.json: No license field
$ yarn run compi

[2021-05-10 07:32] joaomoreno commented on #569
What's your Node.JS version?

[2021-05-10 18:30] ooeygui commented on #569
The VSCode ROS node hit this during CI as well:
https://github.com/ms-iot/vscode-ros/runs/2548420883?check_suite_focus=true

Our github workflow has been configured to use Node 8 for the dev tooling. I'm adjusting to 14 which is what runs locally.

[2021-05-11 10:53] ssbarnea opened #570 "publish command has not draft mode and can fail for tons of reasons"
I seen publish failing for lot of reasons but the is no draft/dry mode for it or alternative command to validate a package. This is a serious issue that brakes CI/CD pipelines in really ugly ways as it does not allow the user to validate code before attempting to release it. A failed release means bumping versions again, creating a long queue of failed publishing attempts.

[Example](https://githu

[2021-05-11 14:21] joaomoreno commented on #569
Yeah, latest vsce requires node >= 10

[2021-05-11 14:21] #569 closed

[2021-05-12 07:38] #553 closed

[2021-05-16 13:26] lhl2617 opened #573 "Cannot add new member to extension publisher"
I am following the steps in this comment:
https://github.com/microsoft/vscode/issues/21478#issuecomment-284889034

And I'm getting this error (TF14045) when trying to add another user:

![image](https://user-images.githubusercontent.com/33488131/118398921-92b76c80-b652-11eb-8bf4-7a65ea1d9745.png)

FWIW, I'm currently developing extension under a university org account, and will be leaving the univ

[2021-05-16 13:29] lhl2617 commented on #573
I was able to add another user in the same org (university).

It's been four years since extension transferral was requested--any updates on a better flow?

[2021-05-16 18:04] cfanoulis opened #574 "Add depfu.com as a trusted badge service"
Hi! I'd like to see [depfu.com](https://depfu.com) (badges.depfu.com) added as a trusted badge service

[2021-05-16 18:19] joaomoreno commented on #573
Can you please file an issue in https://github.com/microsoft/vsmarketplace instead? Thanks!

[2021-05-16 18:41] lhl2617 commented on #573
Sure :)

[2021-05-27 08:06] JohMun opened #575 "Missing publisher name"
Hi,

I have seen all the other issues like [this one](https://github.com/microsoft/vscode-vsce/issues/551). I experience the same, but I entered the publisher property to my package.json:

![image](https://user-images.githubusercontent.com/20238661/119788264-4847b280-bed2-11eb-8882-61eb15ff1466.png)

![image](https://user-images.githubusercontent.com/20238661/119788309-539ade00-bed2-11eb-8e6f-455a

[2021-05-27 09:03] JohMun commented on #575
ignore -- typo in property... `publisher:`

[2021-05-27 09:03] #575 closed

[2021-05-28 18:01] GonzoLiGGa commented on #176
vote for feature!

[2021-06-04 13:56] #563 closed

[2021-06-04 14:19] #417 closed

[2021-06-06 18:00] Pustur opened #576 "vsce@1.92.0 breaks my (admittedly weird) .vscodeignore configuration"
Hello,

I maintain a vscode theme and with `vsce@1.92.0` I noticed that I couldn't run `vsce package` anymore, it would throw the following error:

[code]

After a bit of digging I noticed that the command `vsce ls` would not list all the needed files and would only output

[code]

Here's what it should output:

[code]

So I think something changed in how the `.vscodeignore` file is handled. Here'

[2021-06-06 20:13] lhl2617 commented on #202
Hi -- I'm getting this error (TF14045) when trying to add another user

![image](https://user-images.githubusercontent.com/33488131/120938695-0e658000-c70c-11eb-8866-4b514edb25ca.png)

FWIW, I'm currently developing extension under a university org account, and will be leaving the university and would like it transferred. It seems like adding a personal account is the easier option (other than exp

[2021-06-06 20:14] lhl2617 commented on #573
@joaomoreno I'm getting no ACK on this critical issue. Reopening.

[2021-06-07 04:29] fyangstudio commented on #576
me too
[code]

the `node_modules/prettier` not exist

[2021-06-07 06:16] larshp commented on #576
same issue here, `vsce ls` gives following files for different vsce versions, reproduce with https://github.com/abaplint/vscode-abaplint

1.88.0,

- client/out/extension.js
- img/abaplint_icon.png
- img/abaplint.svg
- img/outline.png
- img/screenshot_20181108.png
- img/screenshot_20190907.png
- img/screenshot_20200824.png
- LICENSE
- package.json
- README.md
- server/out/server.js

1.92.0,

- clie

[2021-06-07 08:11] joaomoreno commented on #573
Sometimes there's no ACK. Please do not reopen this, since it's an issue with the Marketplace, not VS Code.

[2021-06-07 08:11] #573 closed

[2021-06-07 08:46] joaomoreno commented on #576
Having [adopted ignore](https://github.com/microsoft/vscode-vsce/pull/418), vsce now follows the [exact rules of `.gitignore`](https://git-scm.com/docs/gitignore). Sorry for the breakage.

---

@Pustur, see in the .gitignore documentation:

That would mean for you:

[code]

---

@fyangstudio If you give me a pointer to your repo, I can try to figure out what adoption you need.

---

@larshp Can yo

[2021-06-07 09:16] Pustur commented on #576
Thanks @joaomoreno your solution works perfectly for me.

Feel free to close the issue or keep it open in case someone needs further assistance.

[2021-06-07 09:17] larshp commented on #576
yea, thanks, I'll figure it out 👍

[2021-06-07 09:30] fyangstudio commented on #576
My extension：https://github.com/appworks-lab/pack/tree/master/extensions/material-helper

.vscodeignore:
[code]

Using webpack to build my project, for some reason we external the `prettier` and `@iceworks/code-generator`.
So we ignore the node_modules but keep these two packages.

Unfortunately,  it not working with vsce@1.92.x.

[2021-06-07 09:39] joaomoreno commented on #576
@fyangstudio It's exactly the same suggestion as for the others, can you try this:

[code]

[2021-06-07 09:41] fyangstudio commented on #576
thx a lot

[2021-06-07 10:04] fyangstudio commented on #576
By the way @joaomoreno why this break change not upgrade to 2.0.0

[2021-06-07 12:01] Tyriar opened #578 "Login is case insensitive but publish is case sensitive depending on the package.json publisher"
I just published an extension with v1.88.0 so this may be fixed already. `vsce login tyriar` succeeds, but since I set the publisher to `Tyriar` in the extension's package.json it failed with this error:

[code]

I needed to do this to get it to publish:

[code]

SO answer that helped me: https://stackoverflow.com/a/60004943/1156119

[2021-06-07 13:57] gjsjohnmurray commented on #12
@weinand wrote:

I just discovered that 1.92 broke this technique. See #576

Seems it's not going to be reinstated 😞

[2021-06-07 14:26] panayot-cankov opened #580 "npm workspaces"
I've just finished moving several VSCode extensions into single monorepo using [npm v7 workspaces](https://docs.npmjs.com/cli/v7/using-npm/workspaces).

However when the `vsce` packages using `npm` (not `yarn`) it does internally:
[code]
And that command fails from the workspace to lookup common modules in the root.
[I logged an issue at npm](https://github.com/npm/cli/issues/3378)
Although I am n

[2021-06-07 15:06] joaomoreno commented on #576
@fyangstudio It's a good point, we maybe should. I wasn't aware of the massive breakage. At the same time, the ignore rules weren't documented at all. Now they are actually defined to be 100% matching what `.gitignore` does.

[2021-06-07 15:09] joaomoreno commented on #578
Should this go to the Marketplace issue tracker, since the login should have failed? https://github.com/microsoft/vsmarketplace

[2021-06-07 16:33] Tyriar commented on #578
Yeah I guess it is a server issue, I'd prefer both to work though.

[2021-06-07 16:34] #578 closed

[2021-06-08 01:22] kitsonk commented on #576
Just commenting that it broke publishing of https://marketplace.visualstudio.com/items?itemName=denoland.vscode-deno.  Suddenly getting reports that the extension is broken, and narrowed it down that v1.91.0 works but v1.92.0 and later breaks.  Going to have to figure out what to change to make it work again. 😢

[2021-06-08 13:30] joaomoreno commented on #576
@kitsonk Oh no, sorry about that. I see you have found the issue and pushed a fix meanwhile, good to know.

[2021-06-12 02:39] lukeshiru commented on #421
`vsce` should be package manager agnostic. Having it using `npm` instead of using whatever the dev has is far from ideal. I had to use `npm` when I use `pnpm` for everything else:

[code]

This worked on previous versions of `vsce`, so the change mush be kinda recent.

[2021-06-12 05:48] chrisvrose opened #581 "Cannot package with vsce if using a linked package"
My project uses a module linked from another location.
Doing either `vsce package` or `vsce ls` throws a
[code]
(The other repository uses chai for testing)

`.vscodeignore` has been set up to ignore `node_modules` for the current project, which is where the symlink to `otherProject` is (as I said, linked repository).

Once unlinked, I can package the repository and the resulting extension works f

[2021-06-12 05:49] chrisvrose commented on #581
This seems to be because the `ignore` module does not like locations starting with `../` for ignoring (which is a legitimate path.relative output but it is not accepted)

[2021-06-14 08:28] joaomoreno commented on #581
Do you expect the linking to simply be resolved during packaging?

[2021-06-14 09:11] chrisvrose commented on #581
The linked module is in `node_modules`, which is part of my .vscodeignore, so I'm expecting it to be ignored. Instead I end up with the above error.

.vscodeignore contents:

[code]

[2021-06-14 10:30] caiqichang commented on #176
+1

[2021-06-14 23:56] william-takayama commented on #11
It worked for me just when I've allowed `full access` option
![image](https://user-images.githubusercontent.com/60292132/121973127-f8cb0880-cd52-11eb-902a-94a9d4d435a5.png)

[2021-06-16 00:32] juli1 opened #583 "vsce package on marketplace different than when building a package"
Hello,

When I build my package using `vsce package`, it produces a file I can use and install manually in vscode. Everything works.

When I use `vsce publish`, it uploads a file on the marketplace that has a contents different than the package I have with `vsce package`. In particular, the `extension.js` file (the main entrypoint) is replaced into a file called `main.js`. As a result, the main en

[2021-06-18 11:51] joaomoreno commented on #583
Can you show me this? I don't see that when I download the VSIX and look at it myself:

![image](https://user-images.githubusercontent.com/22350/122556809-cb02ef80-cff0-11eb-94e9-11a9d26681dc.png)

[2021-06-18 12:13] juli1 commented on #583
Hi @joaomoreno, sorry for keeping this ticket opened, I found the issue and the new package is fixed.

What happened is the following: if I sent a package to the marketplace, the content with the package.js was replaced with a main.js. To see what happened, I unzipped the package, renamed main.js to package.js, rezip the file and load it in VS Code manually. It happened that the plugin was not loa

[2021-06-18 12:13] #583 closed

[2021-06-20 00:19] orph opened #584 "icon location broken in 1.92.0 and later"
I get this error in 1.92.0 and above, and not in 1.91.0:
[code]

In the package.json I have:
[code]

[2021-06-21 08:17] joaomoreno commented on #584
Where does the error come up? On startup? Which extension is this? Can you share the source code?

[2021-06-21 12:48] orph commented on #584
This happens at the end of `vsce package`.

Sorry, I can’t share the extension’s source.

[2021-06-21 17:49] sfodje commented on #176
👍 +1

[2021-06-22 16:49] ntotten opened #585 "Versions after (i think) 1.80.0 break build of Prettier extension"
When I build the prettier extension with vsce after 1.80.0 (or approximately). The build fails because it seems to not include the referenced prettier module.

When the extension is loaded the following error happens:

[code]

This doesn't reproduce in development mode, it only happens after bundling with vsce.

Reference issue: https://github.com/prettier/prettier-vscode/issues/2029

[2021-06-23 08:18] GordonSmith commented on #584
FYI I have the same issue:

In my package.json I have:
[code]

And when running `vsce package` I get:
[code]

[2021-06-23 12:28] joaomoreno commented on #584
Very likely due to https://github.com/microsoft/vscode-vsce/issues/576

@orph @GordonSmith Can you share the repos of your extensions?

[2021-06-23 12:28] joaomoreno commented on #576
Closing this.

[2021-06-23 12:28] #576 closed

[2021-06-23 12:42] joaomoreno commented on #585
Fix is: https://github.com/prettier/prettier-vscode/pull/2017

[2021-06-23 12:42] #585 closed

[2021-06-23 12:43] GordonSmith commented on #584
https://github.com/GordonSmith/vscode-ojs - you will need to bump the version of vsce in the package.json.

[2021-06-23 12:59] joaomoreno commented on #584
@GordonSmith: https://github.com/GordonSmith/vscode-ojs/pull/25

[2021-06-23 13:01] GordonSmith commented on #584
@joaomoreno - are the rules different for .gitignore and .vscodeignore?

[2021-06-23 13:49] joaomoreno commented on #584
That's exactly what has changed. VSCE used to have a custom engine for .vscodeignore. The latest release has adopted exactly the same logic as .gitignore. Your current rules would also fail in .gitignore.

[2021-06-23 14:10] GordonSmith commented on #584
Thanks - have fixed my .vscodeignore file and all is good.

[2021-06-24 09:44] PeterWone opened #587 "VSCE not honoring .vscodeignore exclusions correctly"
Does this issue occur when all extensions are disabled?: Yes/No
Yes but this is irrelevant it's a CLI tool problem.

Version: 1.57.1 (user setup)
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:07.755Z
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19043

Steps to Reproduce:

1. Update VSCE from 1.88 to 1.94 and pub

[2021-06-24 13:27] joaomoreno commented on #587
@PeterWone Sorry for the breakage. I'm pretty sure this would fix it:

[code]

Let me know otherwise.

[2021-06-24 20:23] Timmmm commented on #587
It would be helpful if you had a changelog!

[2021-06-24 20:34] Timmmm commented on #576
So as I understand it there's now no way to ignore everything by default and then whitelist files to include?

[2021-06-24 20:37] Timmmm commented on #576
In particular, [the official LSP extension example](https://github.com/microsoft/vscode-extension-samples/blob/main/lsp-sample/.vscodeignore) surely no longer works?

[code]

[2021-06-24 22:20] PeterWone commented on #587
@joaomoreno it wasn't the change that freaked me out, it was learning about it from new users of my product. But I daresay you've had quite a bit of negative feedback from upset users of your own efforts. This is why I tried to be funny rather than outraged when reporting it.

While updating it wouldn't have been a big thing now that I know what's going on, patching the file for me is very kind an

[2021-06-24 22:36] PeterWone commented on #587
@Timmmm they probably _do_ have a change log. The trouble is, most people publish, see the update suggestion and type `npm i -g vsce` to stay on top of security issues and stay current in case Microsoft fiddles with authentication at the other end.

@joaomoreno what I suggest is write BREAKING CHANGE in breaking change items in your changelog, and have the update prompt display those items when it

[2021-06-24 22:40] #587 closed

[2021-06-25 01:44] Vtec234 commented on #581
You might have some luck using 1.91.0, before the #418 was merged. In that version `vsce` still tries to pull in the entire contents of the linked folder (`node_modules` and so on), but you can stop that by putting `../**` in `.vscodeignore`.

More generally, including everything except `.vscodeignore` by default seems to cause a lot of trouble -- I would suggest revisiting #12.

[2021-06-25 06:42] joaomoreno commented on #587
Totally, we did not expect changing the ignore module would cause such dramatic breakage. Then again, it was the right thing to do. In retrospect we should've bumped the major version signifying the breakage... but by now I believe we're in the tail end of these changes, hopefully.

[2021-06-25 06:44] joaomoreno commented on #576
Correct, just like [gitignore](https://git-scm.com/docs/gitignore).

I'll fix it accordingly.

[2021-06-25 07:42] #584 closed

[2021-06-25 07:47] joaomoreno opened #588 "Revert changes ignore file semantic"
In https://github.com/microsoft/vscode-vsce/pull/418 we fixed https://github.com/microsoft/vscode-vsce/issues/417 by adopting npm's ignore module for our `.vscodeignore` semantics. This actually broke a lot of extensions:

- https://github.com/microsoft/vscode-vsce/issues/576
- https://github.com/microsoft/vscode-vsce/issues/583
- https://github.com/microsoft/vscode-vsce/issues/584
- https://githu

[2021-06-25 07:59] GordonSmith commented on #588
@joaomoreno any thoughts on simply supporting the "files" section in package.json to specify which files should go into vsix?

[2021-06-25 08:03] joaomoreno commented on #588
No thoughts.

[2021-06-25 08:09] #588 closed

[2021-06-25 08:39] larshp commented on #588
note this change was published in 1.95.0

[2021-06-25 09:04] joaomoreno commented on #587
@PeterWone We've decided to revert the change: https://github.com/microsoft/vscode-vsce/issues/588

I took a look at your repo and found you have done no adoption at all. Just FYI: you don't need to to anything if you use the latest 1.95.0 version, which reverts the behavior.

[2021-06-25 10:39] Timmmm commented on #588
I agree that would be more intuitive. Definitely feels weird for everything to be published by default!

[2021-06-25 13:31] chrisvrose commented on #581
Thank you! I reverted back to v1.91.0 and it seems to work perfectly with your mentioned change.
Its a better workaround than unlinking and packaging then linking again.

[2021-07-02 02:36] marlongerson commented on #446
Thanks. I upgraded to v16.4 and it worked.

[2021-07-05 20:51] SheepReaper commented on #517
Likewise, yarn 2 omits the run command since it's not needed. Yarn 2 is not meant to be installed globally (yet) _If_ there is yarn available in global, then it's probably v1. I don't know if vscode is running an embedded yarn or global yarn, but ordinarily yarn v1 checks if yarn 2 (or any yarn) is installed in the repository and runs it instead.

In my case, running an npm script from the side pa

[2021-07-09 21:58] marianan opened #590 "vsce package skips .gitignore files"
repro steps:
1. git clone https://github.com/microsoft/vscode-azure-iot-edge.git
2. cd vscode-azure-iot-edge
3. vsce package

actual result - vsix from step 3 is missing assets\solution\.gitignore causing user issue https://github.com/microsoft/vscode-azure-iot-edge/issues/583

expected result - vsix includes all .gitignore files

[2021-07-12 13:31] joaomoreno commented on #590
With what version of `vsce` did you test this?

[2021-07-14 04:18] marianan commented on #590
The pipeline (Linux Xenial) installed vsce using 'npm install -g vsce' which brought 1.95.1 but when I test locally on Windows using this same version the issue is no repro. I suspect that this may be related to some pipeline cache and not really the tool itself. I am unable to identify the cached version just yet. Since the latest version does not repro this behavior locally i am closing this iss

[2021-07-14 04:18] #590 closed

[2021-07-14 20:38] IPcorps commented on #176
+1

[2021-07-27 02:32] philecker commented on #176
+1

[2021-07-27 16:57] connor4312 opened #591 "Allow specify --gitubBranch via .createVSIX API"
This is exposed on the CLI, but not to API consumers. Debug packages all publish by invoking vsce in gulpfiles

[2021-07-28 17:38] xxRockOnxx opened #592 "occurrences of the string <img> makes vsce complain"
My README file contains keywords `<img>` to show what the extension will do to it e.g "Convert to \<picture> from \<img>".

It throws the error: ` ERROR  Images in README.md must come from an HTTPS source: undefined`

[2021-07-28 17:43] xxRockOnxx commented on #592
Fixed. Adding backslashes to the tags made it work: ` \<img>`.

[2021-07-28 17:43] #592 closed

[2021-07-30 00:24] jamesinaxx commented on #517
I had the same issue, here was my temporary fix, although it can be annoying,
1. *Optional*: Checkout a new temp branch so that package-lock.json and other npm files to carry over
2. Run `npm i`
3. Run `vsce package --no-yarn`

[2021-08-02 11:29] prashantvc commented on #176
This is in our (Marketplace team) backlog; we are planning to start working on it soon

[2021-08-02 12:20] up2gx commented on #176
looking forward to this

[2021-08-04 07:10] latipun7 commented on #517
just info, as of now `yarn list` still not implemented in yarn berry: https://yarnpkg.com/getting-started/migration#not-implemented-yet

[2021-08-06 04:08] slightc opened #593 "how to just update document only ?"
if i modify something about document ( readme.md ), can i just update document， and not update version

[2021-08-10 10:04] hugos opened #594 "New Token not working for vsce publish"
I've created a new PAT to update my vscode theme but when it comes to publish it using `vsce publish` this error follows:

`{"$id":"1","customProperties":{"Descriptor":null,"IdentityDisplayName":null,"Token":null,"RequestedPermissions":0,"NamespaceId":"00000000-0000-0000-0000-000000000000"},"innerException":null,"message":"Access Denied: The Personal Access Token used has expired.","typeName":"Mic

[2021-08-13 18:11] dnicolson commented on #246
For `vsce package --yarn` to work, Yarn must be installed and run at least once.  Without a `yarn.lock` file the `node_modules` directory won't be included in the `vsix` archive.

Here are the full steps for both npm and Yarn:

**npm**
[code]

**Yarn**
[code]

[2021-08-17 16:16] SchoofsKelvin commented on #517
Not the cleanest/best solution, but this is how I circumvented this issue:
- Configure your `.yarnrc.yml` with a `lockfileFilename` different from `yarn.lock`
- Run `vsce` with the `--yarn` parameter (since it won't detect Yarn using the `yarn.lock` anymore)

This will make `vsce` skip its whole process of looking at your dependencies and partially including `node_modules` in the packaged extensio

[2021-08-21 03:45] wangweixuan commented on #489
I suggest including the package [`hosted-git-info`](https://github.com/npm/hosted-git-info), which supports parsing those shorthands and is developed by npm.

[2021-08-21 16:18] JustinGrote opened #596 "Add command line flag to not update source package.json version"
I do my builds in CI so my source package.json version is always "0.0.0-source". However when running vsce package locally for testing it updates the version, and I occassionally accidentally commit this version because of it. Provide a command line parameter similar to `--no-git-tag-version` e.g. `--no-packagejson-version`

## Workarounds
1. Local selective gitignore on the package.json, not grea

[2021-08-22 00:34] iamjameswalters commented on #341
I just encountered this issue on Ubuntu 20.04, node snap version 14.17.5 (latest stable at time of writing), while executing `npx vsce publish`. Has any progress been made toward a solution?

[2021-08-23 12:50] prashantvc commented on #176
@Jonak-Adipta-Kalita

Do you need a help unpublishing an extension now? Contact vsmarketplace@microsoft.com for now

[2021-08-23 16:30] DennisValente opened #597 "Cannot create private extension"
Please allow the packaging process to respect the `private` setting of the manifest in the package.json file.

Both `vsce package` and `vsce publish` (which reruns the package command) do not take direction from the private setting, i.e. `"private": true`, in the package.json file. They will always create a public extension, as evidenced by the `<GalleryFlags>Publish<GalleryFlags>` node in the res

[2021-08-24 06:46] prashantvc commented on #176
Share the details to vsmarketplace@microsoft.com, I will get someone to help you :)

[2021-08-30 09:45] sandy081 opened #599 "Allow installing extension packs those without code"
Allow installing extension packs those without code - add the necessary web extension tag

[2021-08-31 12:24] joaomoreno commented on #489
@wangweixuan Please close one of the PRs, pick your favorite.

[2021-08-31 12:29] joaomoreno commented on #593
No, that isn't possible, you need to update the version.

[2021-08-31 12:29] #593 closed

[2021-08-31 12:29] joaomoreno commented on #591
@connor4312 Feel free to PR this or just commit directly.

[2021-08-31 12:31] joaomoreno commented on #596
`vsce package` should not update the version automatically. Do you find that it does? Can you show me? Do you have steps?

[2021-08-31 12:31] joaomoreno commented on #599
@sandy081 Can you clarify on what this is exactly?

[2021-08-31 12:32] joaomoreno commented on #341
This seems more like an issue with Node's snap package than VSCE, unfortunately. Nothing we can do here, but learn the workarounds.

[2021-08-31 12:32] #341 closed

[2021-08-31 12:34] joaomoreno commented on #597
microsoft/vsmarketplace#167

[2021-08-31 12:34] #597 closed

[2021-08-31 14:46] JustinGrote commented on #596
@joaomoreno to be clear this is when specifying a version at the command line, e.g. `vsce package --no-git-tag-version v1.2.3`
![image](https://user-images.githubusercontent.com/15258962/131524003-f422a06c-4f89-474d-86f0-35c705825933.png)
![image](https://user-images.githubusercontent.com/15258962/131524051-11331192-7094-408f-b685-5c336da147d0.png)

[2021-08-31 16:34] Password-Classified opened #601 "Unpackaging from .VSIX"
I was creating an extension, but all of a sudden, everything was deleted besides the .vsix file! Is there anyway to "unpackage" the file tree from the .VSIX?

[2021-08-31 16:48] Password-Classified commented on #601
Just tried to restore it, but had the same issue again! Every time I use `vsce package`, it deletes my folder. It didn't do this until the most recent update.

[2021-09-01 13:33] Jason3S opened #603 "Prevent / Warn about missing LICENSE"
A few hours ago, I was able to publish my extension without a LICENSE. It has a LICENSE file, but due to `.vscodeignore` rules it was excluded.

Luckily someone noticed and notified me.

It would have been useful to get a warning/error like the one with `.svg` files.

[2021-09-01 15:58] prashantvc opened #604 "`vsce package -t <target>` does not include target in the output package file name"
The target platform is missing in the output filename when you run the `vsce package -t <target>`
If I run the `vsce package` for multiple platforms the output VSIX gets replaced

_Expected:_
The `vsce package -t <target>` should name VSIX files in the following format

`{publisher}.{extensionName}-{normalizedExtensionVersion}@{targetPlatform}.vsix`

[2021-09-02 06:49] sandy081 commented on #599
This PR fixed it - https://github.com/microsoft/vscode-vsce/pull/600. Forgot to refer the issue in the PR. Hence closing.

[2021-09-02 06:49] #599 closed

[2021-09-03 08:59] mayankmaheshwari18 opened #605 "Searching via vsce returns ADO and VSIDE extensions along with VS Code extensions"
When we search from VSCE using `vsce search <search text>`, it returns all VSIDE, ADO extensions too.

Repro steps:
1. Open cmd prompt and enter vsce search test-extension
2. List returns extensions which are ADO and VSIDE extensions.
![image](https://user-images.githubusercontent.com/16611785/131979301-feae20cb-363e-4fde-8198-0ff2d8e0985d.png)

Highlighted Extensions:
1. ADO: https://marketplace.

[2021-09-03 17:09] SNDST00M commented on #183
Is `help-wanted` on this?

[2021-09-05 22:11] alefragnani opened #607 "Git Submodules are not being totally ignored (regression of #509)"
Back in Nov/2020 I reported #509, which were fixed right after in the next release. I remember updating **vsce** back then, and the git-submodule related files where properly ignored from the packaged extensions.

I just updated **vsce** again (1.95.1 and 1.96.1) and just noticed a regression of #509. The git-submodules related files are again being packaged (the `.gitsubmodules` in root folder an

[2021-09-06 12:02] #605 closed

[2021-09-06 12:10] joaomoreno commented on #601
What is the repository for your sources? Can I see it? Can I reproduce it?

[2021-09-06 14:57] sandy081 opened #608 "Do not tag platform extension as web extension unless target platform is web"
At present, vsce tags an extension as a web extension based on the rules described here - https://code.visualstudio.com/api/extension-guides/web-extensions#web-extension-enablement. With platform specific extensions support, we shall tag the platform specific extension as web extension only if the extension is targeted to web platform.

Additional validations

1. Invalidate the target platform is

[2021-09-06 15:10] Password-Classified commented on #601
https://github.com/Password-Classified/Language-Runner is the repository.

Once I packaged it, and  installed it into vscode, the  folder  vanished.

[2021-09-06 15:10] Password-Classified commented on #601
It might be helpful to note that the folder was in the `.vscode/extensions` folder.

[2021-09-06 15:16] sandy081 opened #609 "vscode engine of platform specific extensions should be > 1.60"
vscode engine of platform specific extensions should be > 1.60

[2021-09-06 15:17] isidorn commented on #609
I think it should actually be `>= 1.60`. Since 1.60 supports platform specific extensions?

[2021-09-07 11:34] joaomoreno commented on #601
What other extensions do you have installed?

[2021-09-07 11:59] joaomoreno commented on #608
@sandy081 Should all VSIXs have the tag? Or just the one targetting `web`?

[2021-09-07 12:00] joaomoreno commented on #608
One more thing. If a platform specific extension author goes through the hassle to provide a VSIX for web, they are likely to make their extension follow the auto detection rules and VSCE will tag it as a web extension any way. This happened to me yesterday in https://github.com/microsoft/vscode-platform-specific-sample

So there might not be anything left to do here.

[2021-09-07 15:19] Password-Classified commented on #601
Quite a lot...

AREPL for python
Auto rename tag
better comments
browser preview
C/C++
Colour Highlight
Docs View
Draw.io Integration
EV3DEV Browser
Excel Viewer
EXE Runner
filesize
generate  data
gist pad
Git graph
git history
github theme
gitignore
gitlens
gruvbox theme
IKKI VSCode dark + light themes
Image Resizer
Jupyter Pack
EV3 Micropython
Live Preview
Live Share
Luna Paint
Markdown table pr

[2021-09-07 15:22] joaomoreno commented on #601
Can you reproduce the issue without all those extensions? The theory is that one of the extensions might delete your extension, once it's installed.

[2021-09-07 15:22] Password-Classified commented on #601
Thanks for replying so fast! I'll try.

[2021-09-07 15:30] Password-Classified commented on #601
I have tried a few things, but it didn't change it. Could it be, since I placed my project entirely in `.vscode/extensions`, that it would disappear if the .VSIX was  uninstalled. I uninstalled it once I found a bug in it.

[2021-09-07 15:33] joaomoreno commented on #601
Yes. That was it. It's a very bad idea to put your sources in there. cc @sandy081

[2021-09-07 15:33] #601 closed

[2021-09-07 15:36] Password-Classified commented on #601
Sorry for my bad idea... 😳. I hope I didn't take up too  much of your  time.

[2021-09-08 07:08] sandy081 commented on #608
After discussion, we decided upon following:

- vsce adds or removes the web extension tag always based on web extension enablement rules irrespective of platform specific extension.

Hence closing this as no action needed.

[2021-09-08 07:08] #608 closed

[2021-09-09 12:54] #489 closed

[2021-09-09 13:05] joaomoreno commented on #604
Went with `${manifest.name}-${options.target}-${manifest.version}.vsix`.

[2021-09-09 13:06] #604 closed

[2021-09-10 11:27] #609 closed

[2021-09-10 12:14] joaomoreno commented on #607
Really unsure why that revert existed, unfortunately, but intuition tells me it was causing issues for other people. This is my bad, I should've recorded the reason. Since you have a local fix, I suggest to not change anything at the vsce level until more people ask for it. Sorry about that!

[2021-09-10 12:14] #607 closed

[2021-09-10 12:29] alefragnani commented on #607
Hi @joaomoreno ,

No problem! I totally understand.

As you said, I fixed my `.vscodeignore`, and those files are being ignored again. It's just a matter of applying the same changes my other extensions.

Thank you

[2021-09-10 14:16] felipecrs opened #611 "Recognize yarn v2 and v3"
`.yarnrc.yaml` should be looked, as well as the `.yarn/` folder. Maybe also even `.pnp.cjs`.

https://yarnpkg.com/getting-started/qa#how-easy-should-you-expect-the-migration-from-classic-to-modern-to-be

[2021-09-11 07:42] 0x7FFFFFFFFFFFFFFF opened #612 "forgot publisher credentials, all I know is the publisher username"
Is there anyway to see what the email I used for my vscode publisher? Sorry if this is the wrong place to ask this.

[2021-09-11 23:20] sceext2 commented on #254
It seems that no-ASCII chars have been replaced by `?`

[2021-09-12 21:48] zimmski opened #613 "Add a changelog to the repository for features, user changes and bug fixes"
It looks like this repository is missing a changelog file (or even doing the changelog in the releases would be nice). This would help users of the "vsce" command to figure out if they need to adapt their extensions of configuration somehow.

One example for a change that is good to know is https://code.visualstudio.com/api/working-with-extensions/publishing-extension#platformspecific-extensions w

[2021-09-12 21:56] zimmski commented on #596
Can confirm that this is with the version added to "package". Just had the same problem.

[2021-09-12 22:06] zimmski commented on #613
Another example: I just wanted to report that .vscodeignore does not allow to "allowlist" instead of "disallowlist" and wanted to create an example, well, now it works :ping_pong:

[2021-09-13 19:17] zimmski opened #615 "Allow to release "beta" versions of an extension"
We would like to be able to release beta versions of our extension, e.g. version x.y.z-beta. This would help to release extensions that are not yet meant for production use or at least make it clear that they are not finished.

Sidenote: ` ERROR  The version string '1234.0.0-beta' doesn't conform to the requirements for a version. It must be one to four numbers in the range 0 to 2147483647, with e

[2021-09-14 04:03] sathaker opened #616 "Support both delete and unpublish extension"
Hi Team,

I am Samveg from the VS Marketplace team at Microsoft. Currently, the _Unpublish_ feature marks an extension as **Unpublished** but resides in the marketplace portal and **can be** republished by the extension owner, i.e, publisher as and when required. But, as found in the VSCE, unpublish command removes/deletes the extension from the portal all together.

Can we make it consistent with

[2021-09-14 13:10] isidorn commented on #616
Hi Samveg, thanks for creating this issue.

@joaomoreno Samveg also sent me an email and if I understood correctly: `vsce unpublish` sends an `unpublish` request to the marketplace. Can it instead send a `delete` request so we are aligned with MP site?

I am not sure on the MP request naming terminology here. @sathaker maybe you can clarify that. What request is currently sent, and what request wo

[2021-09-14 13:58] sathaker commented on #616
Actually `vsce` is currently sending a `Delete` request to marketplace. We wish for it to send an `Unpublish` request. The way to do that is to send an `updateExtensionProperties` that can be found on line number 59 [here](https://github.com/microsoft/azure-devops-node-api/blob/dcf730b1426fb559d6fe2715223d4a7f3b56ef27/api/GalleryApi.ts#L103) with the appropriate flags.

[2021-09-15 13:43] isidorn commented on #615
Follow this issue for more details please https://github.com/microsoft/vscode/issues/15756#issuecomment-916728348

[2021-09-15 13:43] #615 closed

[2021-09-15 16:34] zimmski commented on #615
Thanks, following the issue now.

Do you think the error message related to the "0.0.0" validation should be adapted?

[2021-09-15 19:11] jedwards1211 commented on #548
I need a way to pass `--insiders` when publishing via `semantic-release-vsce`

[2021-09-16 03:39] chinadbo opened #617 "vsce package has no built .vsix files"
run script

vsce package
(webpack --mode production)
succeded.

-------
webpack 5.51.1 compiled successfully in 15606 ms
✨  Done in 32.15s.

------
BUT I HAVE NEVER FOUND A .VSIX FILE IN MY WORKSPACE

[2021-09-16 04:24] GithubyAdarsh opened #618 "ERROR In Packaging And Publishing"
ERROR  Invalid publisher name 'Adarsh Gourab Mahalik'. Expected the identifier of a publisher, not its human-friendly name.  Learn more: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#publishing-extension

[2021-09-16 04:25] GithubyAdarsh commented on #618
Reply Fast!

[2021-09-16 06:35] #618 closed

[2021-09-16 14:51] joaomoreno commented on #617
What's the full output of `vsce package`?

[2021-09-18 03:13] stevenguh opened #619 "Option --packagePath is broken in v1.99"
Publishing with `--packagePath` option using v1.99 vsce will throw "Manifest not found" error. For example,

[code]

I can use v1.97 and it won't throw. This is presumably a regression from https://github.com/microsoft/vscode-vsce/commit/0c1a7f24ad9b59da39feeca6772d8177c89a259e

[2021-09-21 12:43] AlencarGabriel opened #620 "--baseContentUrl and --out options don't work at 1.99"
I have an unpublished extension on the marketplace that is maintained by CI/CD. Until version 1.97 everything was fine, but now vsce started to break when creating the package.

I run this command on CI: `vsce package --baseContentUrl -o /totvs/drone/release/package`

And now I get this error: `ERROR Invalid version c:\temp\`

[2021-09-24 01:30] justinfagnani commented on #381
I'm having the same problem in a monorepo that does have symlink to the sibling packages, but where I'm trying to ignore them by including `node_modules` in the .vscodeignore file. It seems like the `node_modules` isn't working, _or_ the "invalid relative path" error is being emitted before ignoring files.

[2021-09-25 15:43] muuvmuuv commented on #421
Oh... I just forgot about my issue about that last year and switched to pnpm again with the same extension xD

Can this get more attention please, since Node allows to have any pm to be the default: https://pnpm.io/installation#nodejs-is-preinstalled

I really don't want to use npm just for one project which would also mean I must remove my `alias npm=pnpm` line in zshrc :D

[2021-09-28 11:59] chrmarti opened #622 "'alpine-arm64' is not a valid VS Code target"
Testing microsoft/vscode#133868

The test issue lists it, but vsce 1.100.0 complains:
<img width="950" alt="image" src="https://user-images.githubusercontent.com/9205389/135082420-57cdf83c-ba6a-482e-8beb-1db74113d749.png">

It would seem to make sense to support it since this platform was added for 1.61 to the server builds.

[2021-09-28 12:46] AlencarGabriel commented on #620
ping

[2021-09-28 15:58] #622 closed

[2021-09-28 16:03] joaomoreno commented on #620
This is an error in your invocation. `--baseContentUrl <url>` is supposed to have an argument: `url`.

It happens now because I fixed the optionality and made it into a required argument: https://github.com/microsoft/vscode-vsce/commit/7afabf5ecc3bb4d0b7b7abbd6bf77087164cfd63

Do you really need that `--baseContentUrl`?

[2021-09-28 16:20] chrmarti opened #623 "Publishing platform specific and unspecific extension builds"
Testing microsoft/vscode#133868

There appears to be an inconsistency:
- vsce refused to publish a platform unspecific version when a platform specific version with the same version number was already published.
- first publishing the unspecific version and then the specific one with the same version number went through.

Not sure what the intended behavior is, but this seems inconsistent.

[2021-09-28 17:19] AlencarGabriel commented on #620
Previously it was necessary to type --baseContentUrl empty to generate our packages without errors, as we don't publish to the marketplace.

But I did some tests now just setting "-o" and it's not giving any more errors. I will change the CI.

You can disregard this problem. Thanks for listening.

[2021-09-28 17:19] #620 closed

[2021-09-28 18:17] joaomoreno commented on #620
Oh interesting. I guess the right way today would be `--baseContentUrl ‘’`

[2021-09-28 18:27] AlencarGabriel commented on #620
It doesn't work, it still has an invalid version error.

![image](https://user-images.githubusercontent.com/10109480/135144403-2ad3e72f-37ac-4439-a1d8-b332b4e59257.png)

I tested it by passing ' ' (with space) and it looks like it worked.

[2021-09-28 18:42] joaomoreno commented on #613
Dupe of https://github.com/microsoft/vscode-vsce/issues/541

[2021-09-28 18:42] #613 closed

[2021-09-29 07:41] karrtikr opened #624 "Unpublish/unsupport extension from a particular platform"
Testing microsoft/vscode#133868

Once an extension is published for a specific platform, can we remove the support without unpublishing the whole extension via `vsce unpublish (publisher name).(extension name)`?

[2021-09-30 05:53] softboy99 commented on #421
+1

[2021-09-30 13:47] joaomoreno opened #625 "VSCE should automate publishing the same bits for multiple platforms at once"
From @isidorn

Based on feedback from @aeschli the `--target` should be more user friendly so extension publishers can more easily publish multiple platforms.
Thus I suggest that the `--target` also supports specifying an array, such that the user can list multiple platforms.

Other ideas from @aeschli
Specify the list of platforms in my manifest.

[2021-09-30 22:32] gerson-henrique commented on #341
Hi guys, I managed to work around the problem by dragging my icon to the theme development git, and simply pointing the filename in "icon": "logo.png". inside the .json package

[2021-10-01 13:45] matepek commented on #619
I'm getting [Manifest not found](https://github.com/microsoft/vscode-vsce/blame/0c1a7f24ad9b59da39feeca6772d8177c89a259e/src/zip.ts) error too when trying to publish.

[This](https://github.com/microsoft/vscode-vsce/blame/0c1a7f24ad9b59da39feeca6772d8177c89a259e/src/zip.ts#L46) is suspicious for me:
[code]

How about:
[code]
?

[2021-10-01 14:21] joaomoreno commented on #616
I started working on this here: https://github.com/microsoft/vscode-vsce/tree/delete-unpublish

But no matter what I do, I keep getting 401, whenever updating the extension's properties to include the Unpublished property:

https://github.com/microsoft/vscode-vsce/blob/delete-unpublish/src/publish.ts#L159

[2021-10-01 14:23] joaomoreno commented on #619
Strange, I can't reproduce this. Are you sure that's the full command line you're calling? Are you sure `./whichkey-0.9.2.vsix` exists?

[2021-10-01 23:14] stevenguh commented on #619
Here are the exact repo steps:
1. `git clone https://github.com/VSpaceCode/vscode-which-key.git`
2. `git checkout 2ca89d1fea9846d469a846e30f46c94384edb2e7`
3. Modify vsce version to 1.97+ (tested on 1.99, 1.100, 1.100.1) package.json
4. `npm install`
5. `npx npm package`
6. `npx vsce publish --packagePath ./whichkey-0.9.2.vsix`

This issue can also be seen in my own folk when I was testing GH acti

[2021-10-04 07:40] megamuha opened #626 "User info (username, email. id) of peer in vs code extension is null"
I am facing with problem of publishers. I started developing my extension based on the ready-made one (https://github.com/vsls-contrib/counter) with helped extension for sharing session – “live share”. Now that I have fully studied this topic and created my finished extension, it's time to publish it. But I can get information about the connected users to the session (login, mail, ID) only when th

[2021-10-04 08:28] joaomoreno commented on #626
I am not sure I understand what the problem is.

[2021-10-04 08:49] megamuha commented on #626
@joaomoreno
When i set in package.json in field "publisher" nickname of another developer - "lostintangent", information about the connected user is visible.
![publisher-lostintangent](https://user-images.githubusercontent.com/81411126/135821189-f074746e-d0cb-415c-9592-3f1a11661dc4.png)

But when i set my publisher name, info about the connected user (peer) is null.
![publisher-AdvantiSS](https://

[2021-10-04 23:10] Andrewnt219 commented on #603
Hi @joaomoreno, I want to help with this issue. Can you tell me where in the codebase I should look at first?

[2021-10-06 12:37] joaomoreno commented on #619
Thanks for the steps, I can easily reproduce. The problem is in https://github.com/microsoft/vscode-vsce/blob/main/src/zip.ts

[2021-10-06 16:14] Andrewnt219 commented on #603
Thanks, I'll take a look and come up with a solution.

[2021-10-07 11:27] tjx666 opened #627 "publish new version but the uploaded extension is old"
I publish the new version 0.1.1, the market update date show I published. But the version still is 0.1.0:

![image](https://user-images.githubusercontent.com/41773861/136375170-ffb3039d-37db-441e-8eba-5986b07e05fb.png)

![image](https://user-images.githubusercontent.com/41773861/136375377-667bf0c0-24a4-4ffe-9b69-81c8da6cc8c4.png)

[market link](https://marketplace.visualstudio.com/items?itemName=Y

[2021-10-12 19:25] teamsedition opened #632 "What a bitch"
.vscode/extensions.json

[2021-10-12 21:59] teamsedition opened #634 "Nppecity"
Nope

[2021-10-18 07:04] GitMensch commented on #597
@joaomoreno The upstream issue was closed, but it seems private extensions are not available now, nor directly related to the referenced issue (which is about a private marketplace). I suggest to reopen this one.

[2021-10-18 07:35] joaomoreno commented on #597
@GitMensch The discussion was moved here: https://github.com/microsoft/vsmarketplace/discussions/211

[2021-10-18 08:06] GitMensch commented on #597
Thank you for the note back, but that's an discussion where people previously reported (a bunch of different) issues.

In this specific issue here @DennisValente reported vsce to not honor the private setting along with the actual fix that can be applied to vsce (this even does not directly relate to the marketplace at all, that comes "afterwards").

[2021-10-19 08:06] PEZ commented on #619
Is there a workaround? I experience this, and I can do `npm publish` directly as a workaround, but I would have to rebuild my CI pipeline and also it would almost double the build time. Something else I could do?

[2021-10-20 01:47] stevenguh commented on #619
Use the version vsce v1.97 until this is fixed.

[2021-10-21 09:37] #482 closed

[2021-10-21 09:53] homeboy445 commented on #482
@joaomoreno Thanks for responding! Here are the steps I followed:
1.) I generated my extension using yo code.
2.) Made my changes.
3.) Then I provided my PAT to the `vsce login` and it succeeded.
4.) Afterwards that, I went with the command `vsce publish` which showed me `ERROR: Specified part does not exist in the package`.
I tried changing several options in my package.json but got no luck with

[2021-10-21 11:38] homeboy445 commented on #482
@joaomoreno No problem, I'll create a new issue there. Thanks a lot for helping!

[2021-10-29 17:54] TylerLeonhardt opened #641 "Try to prevent extensions from publishing `*` activated extensions"
Today, it's too easy to publish a `*` activated extension. Extensions get big enough and grow in scope and think that they absolutely need `*` activation when often they do not.

Being `*` activated hurts vscode's startup and even though we do call that out:
https://code.visualstudio.com/api/references/activation-events#Start-up
extensions still think that it's ok.

I want to try to dissuade exten

[2021-10-30 12:51] pipe01 opened #642 "rules[i] is not a function"
When running `vsce package` on [this](https://github.com/pipe01/LogicScript/tree/master/LogicScript.VSCode) repository, I get the following error:

![imagen](https://user-images.githubusercontent.com/3885705/139533512-5567b477-5b59-45d2-acce-7fbbe1d0d433.png)

[2021-11-01 07:41] NadavShaked opened #643 "When trying to publish the extension, receive error: Part URI is not valid per rules defined in the Open Packaging Conventions specification."
I'm trying to publish an extension by vsce, I logged in with the user access token,
after the build its create a file named 'NadavShaked.my-first-extension v1.0.968.vsix'
I'm trying to publish the extension to the marketplace by this command 'vsce publish' and received this error:
![image](https://user-images.githubusercontent.com/19892483/139637924-a7ad41d5-f752-48e7-b749-cc0acc70c8be.png)

this

[2021-11-01 09:13] joaomoreno commented on #642
![image](https://user-images.githubusercontent.com/22350/139649190-e3df8cee-cb14-4ec8-bdc4-0d41ed3b9f72.png)

Is that the latest vsce version?

[2021-11-01 09:41] joaomoreno commented on #643
Can you show me the full source of the extension?

Usually it's a file containing spaces or non-ascii characters.

[2021-11-01 09:46] #641 closed

[2021-11-01 11:38] pipe01 commented on #642
Yup

![imagen](https://user-images.githubusercontent.com/3885705/139665835-d81fcabc-7019-4b27-b90b-5b1a5dc9d87e.png)

I tried using WSL and that does work, so it seems the problem is Windows-specific.

[2021-11-01 12:19] NadavShaked commented on #643
@joaomoreno thanks for the reply.
I upload to git my repo:
https://github.com/NadavShaked/vstsExtension/tree/master/vsts%20extension

this is the extension by run: 'vsce package'
https://easyupload.io/skwmep

this is the extension by run: 'npm run build'
https://easyupload.io/kzopux

I prefer to publish the second extension.

[2021-11-01 13:14] joaomoreno commented on #642
You're in the wrong directory, aren't you?

[2021-11-01 13:16] pipe01 commented on #642
No, sorry, I recently moved that repo to a subfolder in another repo. The issue still persists:

![imagen](https://user-images.githubusercontent.com/3885705/139677475-e4f3dff6-1580-4df4-b9c8-acf5fb3b2149.png)

[2021-11-01 13:44] joaomoreno commented on #642
Can you reinstall vsce?

[2021-11-01 14:47] pipe01 commented on #642
That seemed to work haha, oh well. Thank you for the help.

[2021-11-01 14:47] #642 closed

[2021-11-01 20:13] usernamehw opened #644 "LICENSE without extension"
New feature with the prompt https://github.com/microsoft/vscode-vsce/issues/603:

Should it consider `LICENSE` file without an extension?

[2021-11-02 08:41] #644 closed

[2021-11-02 08:41] joaomoreno commented on #644
Actually it does, it just prints that message. I've fixed the message.

[2021-11-02 08:48] #381 closed

[2021-11-02 09:19] usernamehw commented on #644
Not the message, the prompt. When you have `LICENSE` file without extension it shouldn't prompt for confirmation.

[2021-11-02 10:34] #541 closed

[2021-11-02 10:39] joaomoreno commented on #541
@felipecrs Hey this is pretty cool, thanks for pushing us to do it.

[2021-11-02 10:46] joaomoreno commented on #439
Will add a `--no-dependencies` flag.

[2021-11-02 12:48] usernamehw commented on #641
So, there is no flag `--force-star-activation` to not get the prompt?

[2021-11-02 13:40] joaomoreno commented on #641
Correct. The prompt won't come up in CI... but when publishing manually it's probably a good idea to annoy the extension developer every time. Keep in mind that if you're using `*` today, there's very likely a better alternative as per the docs. If you don't think so, please let us know the use case.

[2021-11-02 14:00] joaomoreno commented on #596
Will add `--no-update-package-json`.

[2021-11-02 15:11] joaomoreno commented on #261
With https://github.com/microsoft/vscode-vsce/issues/596, you will be able to publish using `--no-update-package-json`. This means you can provide any version at publish time and that will work in-memory: you don't have to change `package.json` beforehand.

[2021-11-02 15:11] #261 closed

[2021-11-02 15:22] #439 closed

[2021-11-02 15:22] #535 closed

[2021-11-02 15:22] #187 closed

[2021-11-02 15:22] #466 closed

[2021-11-02 15:22] #596 closed

[2021-11-02 15:43] joaomoreno commented on #453
Duplicate of #327

[2021-11-02 15:43] #453 closed

[2021-11-02 15:44] joaomoreno commented on #375
Duplicate of  https://github.com/microsoft/vscode-vsce/issues/322

[2021-11-02 15:44] #375 closed

[2021-11-02 15:45] JustinGrote commented on #596
@joaomoreno thank you!

[2021-11-03 13:34] #325 closed

[2021-11-03 23:18] microhobby opened #645 "Error: libsecret-1.so.0: cannot open shared object file"
With the last update my pipelines has broken with the following error:

[code]

To reproduce:

[code]

I can confirm that this not occurs on `1.102.0`

[2021-11-04 02:54] microhobby commented on #645
Following the https://github.com/microsoft/vscode-vsce#usage-via-docker we have the same behavior:

[code]

[2021-11-04 04:31] sourishkrout commented on #645
Seeing the same issue which unfortunately is breaking my GitHub Actions.

[2021-11-04 08:37] joaomoreno commented on #645
I assume you're all using `VSCE_PAT` for your build pipelines?

If so, I think all we have to do here is delay the loading of `keytar`.

[2021-11-04 08:37] #645 closed

[2021-11-04 15:39] joaomoreno commented on #327
Adding `--no-rewrite-relative-links` option to `vsce package`.

[2021-11-04 15:41] #327 closed

[2021-11-04 15:41] #425 closed

[2021-11-05 03:24] taronlee opened #647 "vsce package doesn't work suddenly"
Hello.

I don't know why this error happens suddenly..

[code]

[2021-11-05 05:45] thloke commented on #647
The latest version of vsce is only compatible from node.js version 14 onwards

https://github.com/microsoft/vscode-vsce/releases/tag/v2.0.0

[2021-11-05 08:44] #647 closed

[2021-11-05 09:44] joaomoreno commented on #176
This doesn't seem possible right now, given the Marketplace API.

This just yields 400:

[code]

cc @sathaker @prashantvc

Similar to https://github.com/microsoft/vscode-vsce/issues/616

[2021-11-05 10:17] joaomoreno commented on #254
Closing this as won't fix.

[2021-11-05 10:17] #254 closed

[2021-11-05 10:17] #328 closed

[2021-11-05 10:17] #548 closed

[2021-11-05 15:10] prashantvc commented on #176
Right now we do not have backend support to delete the particular version of an extension;
you will need to contact vsmarketplace@microsoft.com

We have this issue on our back log btw :)

[2021-11-06 00:59] dzhavat opened #648 "Add command to show options and their values"
Before packaging/publishing an extension I always looked at https://code.visualstudio.com/api/working-with-extensions/publishing-extension to see what was the flag for specifying a branch other than `master` since I use `main` on my repos. The I was quite careful to use the `--githubBranch` flag with the right value.

Then I just learned that since v1.86.0 using the `--githubBranch` flag is not ne

[2021-11-07 13:11] RudraSwat commented on #515
@Devon7925 Faced the same issue with the `node` snap on Ubuntu 21.10. Using the `node` package in Arch didn't result in the same issue, however.

[2021-11-08 08:35] joaomoreno commented on #648
Like this?

[code]

[code]

[2021-11-08 11:26] dzhavat commented on #648
@joaomoreno Thanks for the clarification. Yes, I'm aware of the `--help` flag and that it outputs the possible options. My suggestion is to display the options and the default values they are going to use if not overwritten.

So for example:

[code]

[2021-11-08 12:40] joaomoreno commented on #648
This is just a matter of improving each option's documentation. Want to contribute a PR?

[2021-11-10 15:32] apupier opened #649 "When vsce package --no-yarn in CodeUtil.packageExtension is failing, tests are not launched and error is not reported"
see https://app.circleci.com/pipelines/github/camel-tooling/vscode-camelk/1475/workflows/a28caad2-65f3-48a3-8367-225a9a90d0df/jobs/1802?invite=true#step-112-39

[code]

[2021-11-11 07:46] Serhioromano opened #650 "Error 401"
I cannot publish an extension

[code]

This is what I get. I have my token set to all organizations and all Full Access.

[2021-11-11 09:14] joaomoreno commented on #649
Irrelevant to the issue: why are you using `--no-yarn`?

[2021-11-12 07:53] apupier commented on #649
omg, sorry I reported to the wrong tracker issue.

The problem i wanted to report is for vscode-extension-tester, opened https://github.com/redhat-developer/vscode-extension-tester/issues/388

would need to ask to vscode-extension-tester maintainer, based on history it was to implement this issue https://github.com/redhat-developer/vscode-extension-tester/issues/22

but well, I still need to inves

[2021-11-12 07:53] #649 closed

[2021-11-16 19:00] ericdrobinson opened #652 "How to Set `target` and `targets` in the vsce API?"
Is there a way to specify the Packaging `target` or Publishing `targets` using the `vsce` API (`vsce.Publish` and `vsce.createVSIX`)?

In the ["documentation"](https://code.visualstudio.com/api/working-with-extensions/publishing-extension#platformspecific-extensions) there is only mention of running `vsce` as a command and passing a command line option...

Am I missing something? Is this somehow c

[2021-11-18 14:38] itspngu commented on #517
With the freeze of yarn v1 this should perhaps be re-prioritized.

[2021-11-18 15:10] YXL76 commented on #517
See #439. I think yarn v2 is supported.

[2021-11-18 20:21] HotelCalifornia opened #653 "unexpected token ? in vsce/out/package.js:136"
in an [azure CI pipeline build](https://dev.azure.com/purdue-acm-sigbots/VSCode%20Extension/_build/results?buildId=2769&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=5caf77c8-9b10-50ef-b5c7-ca89c63e1c86) for our extension we get the following failure when trying to package it:

[code]

not sure what's going on here

[2021-11-18 20:24] HotelCalifornia commented on #653
never mind, needed to update to node 14

[2021-11-18 20:24] #653 closed

[2021-11-19 12:08] biel-correa commented on #390
Did anyone find a solution to this?

[2021-11-22 12:31] #652 closed

[2021-11-22 14:28] idleberg commented on #421
In the longterm it should probably use `corepack`, which was designed for this case:

[2021-11-24 21:33] thegecko commented on #300
I managed to get `vsce package` working perfectly with `yarn` in a monorepo with the following 3 changes:

- Use [vsce-yarn-patch](https://www.npmjs.com/package/vsce-yarn-patch) instead of `vsce` which (I believe) is a published fork of this repo including #493. Without this, all `node_modules` in the monorepo are included
- Run vsce package with the `--yarn` switch (e.g. `vsce package --yarn`) to

[2021-11-24 22:30] PeterWone commented on #587
I have actually but it's not in the public repo yet. It won't show up till I push the next update.

[2021-11-24 22:40] thegecko opened #655 "Scoped packages are unsupported"
When packaging an existing project which is scoped (e.g. the name is of the form `@my-scope/my-package`), the following error occurs:

[code]

The obvious fix here is to change the package name and remove the scope, however that affects how the package is published to `npm` (if it is published), or (in our case) you can no longer publish the package to GitHub packages where a scope is mandatory.

[2021-11-25 06:17] ljvmiranda921 opened #656 "Unable to login and publish extension via vsce and PAT"
Hi everyone,

I am trying to publish a VSCode extension via the `vsce` command-line tool. However, I always get an Access Denied error. Something in the likes of this:

[code]

It also happens whenever I try to publish using Github actions:

[code]

I can confirm that:
- **The publisher ID is indeed `Foo` (title case).** I tried uploading the extension manually and it was successful. When I checke

[2021-11-25 11:22] odockal opened #657 "Getting TF400898: An Internal Error Occurred. while publishing an extension"
Hello, we have an issue while trying to publish an extension using vsce:
[code]

[2021-11-25 12:44] joaomoreno commented on #655
The extension itself isn't a node module, it isn't meant to be published to npm or GitHub packages, only to the Marketplace which doesn't support scopes, unfortunately.

[2021-11-25 12:44] #655 closed

[2021-11-26 18:33] ajyoon opened #658 "Publish with --pat for non-registered publisher silently fails"
I was recently trying to publish my first extension on a new publisher following the [official tutorial here](https://code.visualstudio.com/api/working-with-extensions/publishing-extension). Because `vsce login` requires keyring setup I couldn't get working on my machine, I was attempting to publish with the direct `--pat` option using the access token I got from my Azure account per the tutorial'

[2021-11-29 12:58] HenrikHolmIT opened #659 "How to disable '*' warning?"
Our extension needs to run when VSCode starts. Its an internal tool for our AL developers and things need to happen when VSCode and the extension starts. Its a bit annoying to have to apply a Y when an auto build is initiated.

"make_vsix": "ts-node .scripts/incrementVersion.ts & vsce package -o .vsix & start .vsix",

Just upgraded to version 2.5.0 from 1.96.3.

[2021-11-29 13:36] joaomoreno commented on #659
What if you do `yes | npm run make_vsix`?

[2021-11-29 14:26] HenrikHolmIT commented on #659
Works. Thanks.

[2021-11-29 15:08] #659 closed

[2021-11-30 16:30] Livven commented on #390
@biel-correa You could inline them as base64, but not sure whether there are any practical limits regarding file size here.

[2021-11-30 17:01] biel-correa commented on #390
I solved it, instead of linking an image you can just drag it when you are writing the MD file, github will create a special link for it

[2021-12-04 10:31] kimaneSe opened #661 "I cant login."
I have logged into https://marketplace.visualstudio.com/manage/publishers/Mastergamer433?auth_redirect=True and i have the right id and i have an organization on https://dev.azure.com/ and everything but when i sign in(from bash terminal in windows) i get "ERROR The Personal Access Token verification has failed. additional informaion:

Error: Failed request; (401)"

I dunno why i get this error. i

[2021-12-04 10:33] kimaneSe commented on #661
and now when i have posted a issue it works. ofc.

[2021-12-04 10:33] #661 closed

[2021-12-13 07:25] smorimoto opened #662 "Errors related to lack of permissions"
My guess is that there is probably a path globbing the one that specifies in vscodeignore. This causes the following error and should be fixed:

[code]

[2021-12-13 07:27] smorimoto commented on #662
Is the problem that you only ignore `node_modules` here? I'm not sure.

https://github.com/microsoft/vscode-vsce/blob/f710e835b6a0ae55ad0b6e76e1b1d417319e0184/src/package.ts#L1396-L1409

[2021-12-13 08:00] kborowinski opened #663 "VSCE 2.5.1 breaks CI pipeline"
VSCE 2.5.1 requires user input on warnings and thus breaks CI pipeline:

[code]

Warnings should not require user interaction. Please add option to ignore warnings.

[2021-12-13 09:02] joaomoreno commented on #663
Call it with `yes | vsce package`, if you're *sure* of what you're doing.

[2021-12-13 09:02] #663 closed

[2021-12-13 10:17] joaomoreno commented on #662
The problem seems to be that the user under which `vsce` runs doesn't have access to that directory. Please fix the file permissions on the folder.

[2021-12-13 14:58] Power-Maverick opened #664 "Erroring out when try to publish via GitHub Actions"
I had configured GitHub Actions a few months back to publish the extension and was working fine but recently it has been failing.
I tried to change the PAT but had no luck. The same command with the same PAT works fine when doing it locally (_my local vsce version is `2.5.1` and GitHub Actions always downloads the latest available version_)

The error log is below:
[code]

This is the [link](https

[2021-12-13 16:42] joaomoreno commented on #664
Starting with v2.0.0, vsce now depends on Node 14.

[2021-12-13 16:42] #664 closed

[2021-12-14 20:02] roblourens opened #665 "--pre-release is ignored when publishing with --packagePath"
The SSH extension is built and published using a vsix and the --packagePath flag, for example the publish command looks like `npx vsce publish --pre-release --packagePath $path --noVerify`. Apparently when publishing using that flag, the `--pre-release` flag is silently ignored and the extension is published as a stable version. Looking over the vsce code, I don't see the problem.

[2021-12-16 14:23] gnikit opened #667 "preRelease missing from api.ts"
I am not sure if I am missing something but I don't see a `preRelease` option in the API. Shouldn't it be located under *api.ts>IBaseVSIXOptions*?

I am far from an expert in TypeScript so forgive my ignorance if this question is trivial.

[2021-12-20 03:06] joerohde opened #670 "Validate any declared main/browser entrypoints are in the final vsix."
[feat: sanity check to validate entrypoints#669](https://github.com/microsoft/vscode-vsce/pull/669)

I managed to refactor my 'out' to 'dist', not noticing 'dist' was in my .vscodeignore.  All that testing, but my poblished package had no entrypoints for a few hours.

Lame mistake - yeah.  But with 2 potential entrypoints and the refactoring people will be doing to support the web context, I think

[2021-12-23 00:48] sourishkrout opened #671 "It appears the marketplace rejects certain "reserved" keywords as extension name"
I wasn't able to publish under `<publisher>.ext` or `<publisher>.extension`. Marketplace Manage as well as the APIs returned:

[code]

It'd be great to detect earlier in the process and upgrade docs to list all reserved keywords if there are more. There's also a chance I could be wrong.

Version used:

[code]

[2021-12-27 21:08] razzeee opened #672 "Not compatible with node 14 anymore"
With node 14:

[code]

Seems to work fine now after switching to node 16 (I guess due to peerDependency changes?)

[2021-12-29 23:50] qarlosalberto opened #673 "Error relative path"
- npm: 8.1.0
- vsce: 2.5.3

I have a npm package (colibri) in a local folder and a VSCode extension (vscode-teroshdl) in other folder. colibri is a dependency of vscode-teroshdl:

[code]

When I try to package the VSCode extension:

[code]

It fails with the error:

[code]

[2021-12-31 08:20] joaomoreno commented on #672
I believe this isn't about vsce, but about the extension's dependencies themselves.

[2021-12-31 08:20] #672 closed

[2021-12-31 08:33] joaomoreno commented on #665
Fixed by https://github.com/microsoft/vscode-vsce/pull/666

[2021-12-31 08:33] #665 closed

[2021-12-31 09:43] LY1806620741 opened #674 "Can vscepackageTask support README.zh.md and gitee ?"
# need
1. process Readme.Zh.md file
2. support gitee.com repository

# because
## first
  I write a [plugin ](https://gitee.com/tqybt/line-share-vscode-plugin) and try to package. But vsce throw error
`Error: Couldn't detect the repository where this extension is published. The image './doc/en.jpg "usage image"' will be broken in README.md. GitHub/GitLab repositories will be automatically detected

[2021-12-31 10:32] joaomoreno commented on #674
The `--baseContentUrl` and `--baseImagesUrl` options exist to support any 3rd party repo hoster. I suggest to use them.

Correct, we only have support for `README.md` for now, unfortunately.

[2021-12-31 10:32] #674 closed

[2021-12-31 10:48] joaomoreno commented on #667
@sandy081 Can you check? https://github.com/microsoft/vscode-vsce/blob/main/src/api.ts

[2021-12-31 11:56] #670 closed

[2021-12-31 22:24] nikeedev commented on #671
Came up on me too. Any info you need, @joaomoreno? I can tell how did that error appear if you need info.

[2021-12-31 22:30] nikeedev commented on #671
It also happens when i try to publish extension as .VSIX file on Managing website:
<img width="699" alt="image" src="https://user-images.githubusercontent.com/69197950/147840315-8bebc726-0068-4c52-84a5-71e14e8ca0e3.png">

[2021-12-31 22:31] nikeedev commented on #671
What command did you use to publish it? only `vsce publish` or something more?

[2021-12-31 22:42] nikeedev commented on #671
[code]

Also here is code: https://github.com/nikeedev/canvas-snippets

It also shows `undefined` as user identifier

<img width="960" alt="image" src="https://user-images.githubusercontent.com/69197950/147840455-9916d2c2-c943-45c3-ba40-34a13e77b895.png">

[2022-01-01 14:39] yzhang-gh opened #675 "vsce package, Extension entrypoint(s) missing"
(Happy New Year!)

The GitHub CI of my vscode extension has been working very well for a long time (vsce v1.x). However, it doesn't seem to work with vsce v2.x and says

[code]

I'm a little confused. Is there any API change? Guess it may be related to the VS Code Web but I haven't got time to take a closer look.

---

### Additional information

the `package.json`
https://github.com/yzhang-gh/vsc

[2022-01-01 18:12] haneefdm commented on #675
Same issue. I can package  (and use the VSIX file successfully) but cannot publish with 2.6.0. I rolled back to version 2.5.3 and I can publish again.

My package.json hasn't changed in a long time *in this aspect* and I know that the entry point file does exist

[2022-01-01 18:20] paulhocker commented on #675
+1

This needs to be addressed immediately. Kind of disappointed that a new version was dropped on New Years Eve when there is little available for support.

[2022-01-01 20:34] ritwickdey commented on #675
Quick Fix: Append the `.js` extension in `main` field of `package.json`
![image](https://user-images.githubusercontent.com/18099464/147859691-637853a4-41f3-421d-adcd-8f487e360e37.png)

[2022-01-02 21:46] bpringe opened #677 "2.6.0 gives entrypoint missing error during packaging"
With the [Calva extension](https://github.com/BetterThanTomorrow/calva), version 2.6.0 of vsce causes the following error when running `npx vsce package --githubBranch published`:

[code]

When I use vsce version 2.5.3, packaging completes successfully.

[2022-01-02 21:51] bpringe commented on #677
For more context, Calva's .vscodeignore blacklists everything and then whitelists files.

[code]

It seems like `!out/**` would cause `extension/out/extension` to be included, but maybe I'm missing something? I'm assuming the context of the .vscodeignore is within `extension/`. Is that correct?

[2022-01-03 09:51] joaomoreno commented on #677
Duplicate of https://github.com/microsoft/vscode-vsce/issues/675

[2022-01-03 09:51] #677 closed

[2022-01-03 09:58] #675 closed

[2022-01-03 10:28] fakusb opened #678 "Can't login without GUI(inside wsl)"
It seems that since a few versions, `vsce` tries to open something using `dbus-launch` when it tries to login:

[code]

So it is not possible anymore to publish from a machine that has no GUI (like a WSL).

I'm using vsce 2.5.3,but the same problem is in vsce 2.6.0.

[2022-01-03 11:08] joaomoreno commented on #678
https://github.com/microsoft/vscode-vsce#linux

[2022-01-03 11:08] #678 closed

[2022-01-03 18:23] sandy081 commented on #667
Created PR - https://github.com/microsoft/vscode-vsce/pull/679

[2022-01-03 19:24] #667 closed

[2022-01-04 03:36] bpringe commented on #677
I don't know how I didn't notice that. Thanks for informing me.

[2022-01-06 23:44] hamirmahal commented on #678
In Ubuntu-20.04 in WSL2, doing `VSCE_STORE=file vsce publish`, after running `sudo apt-get install libsecret-1-dev`, helped me get past the `ERROR Cannot autolaunch D-Bus without X11 $DISPLAY` message I was seeing earlier. I'm not sure if the `sudo apt-get install libsecret-1-dev` step was necessary.

Thank you for your help! I'm leaving this here in case it helps with search engine optimization,

[2022-01-07 00:49] hamirmahal commented on #678
In Ubuntu-20.04 in WSL2, running `VSCE_STORE=file vsce publish` helped me get past the `ERROR Cannot autolaunch D-Bus without X11 $DISPLAY` message I was seeing earlier.

Thank you for your help! I'm leaving this here in case it helps with search engine optimization, because when I searched 'vsce   ERROR Cannot autolaunch D-Bus without X11 $DISPLAY' before, no relevant search results appeared for

[2022-01-07 13:50] codegrue opened #680 "yazl throws unknown error during package"
$ vsce package
Executing prepublish script 'npm run vscode:prepublish'...

This extension consists of 2405 files, out of which 1314 are JavaScript files. For performance reasons, you should bundle your extension: https://aka.ms/vscode-bundle-extension . You should also exclude unnecessary files by adding them to your .vscodeignore: https://aka.ms/vscode-vscodeignore
events.js:352
      throw er; /

[2022-01-07 14:54] joaomoreno commented on #680
What version of vsce are you using? Can I take a look at the sources of your extension?

[2022-01-07 21:02] codegrue commented on #680
Please. The source is here:

https://github.com/codegrue/auto-translate-json

[2022-01-09 12:58] topce commented on #680
Hi @codegrue
I change  in package.json
"engines": {
    "vscode": "^1.63.1"
  },
  packaging works
  I use same (latest )  version of vcse

vsce --version
2.6.3

node --version
v16.13.1

@codegrue  what version of node you use ?

[2022-01-09 16:38] FrankSAURET opened #681 "Unable to publish extension"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.63.2
- OS Version:Windows 11 - Last update

Steps to Reproduce:

From 2 days i have this error when i use "vsce publish" to update my extension :

{"$id":"1","innerException":null,"message":"TF400733: The request has been canceled: The request has exceeded request timeout, please try again.","typeName"::"Microsof

[2022-01-10 02:53] wind-lc opened #682 "Unable to publish extension properly"
Steps to Reproduce:

1. Always get this error when publishing: ERROR  The Extension Id already exist in the Marketplace. Please use the different Id
2. [stackoverflow](https://stackoverflow.com/questions/70502536/error-publishing-extensions-in-visual-studio-code-marketplace)

[2022-01-10 13:35] joaomoreno commented on #680
I first got an entrypoint error, but after changing `main` to `./out/main.js` on `package.json`, everything worked just fine for me:

![image](https://user-images.githubusercontent.com/22350/148774730-54d455eb-284f-449c-814c-91d64548a5b3.png)

What Node.JS version are you on?

[2022-01-10 22:16] codegrue commented on #680
Upgrading Node fixed the issue. Thank you.

[2022-01-12 08:28] dylanyg commented on #391
delete "This is the README for your extension"

[2022-01-12 08:46] chouzz opened #683 "provide vsce package -y option to run without interactive"
`vsce package` command  will get wanning if we using '*' activation or without lience, and let user select yes or no to continue,  hope there an option "-y" to skip these warnnings. E.g: `vsce package -y`
[code]

[2022-01-12 12:12] joaomoreno commented on #683
https://github.com/microsoft/vscode-vsce/issues/659

[2022-01-12 12:12] #683 closed

[2022-01-12 12:54] joaomoreno commented on #682
This issue was closed because it doesn't meet our standards of a properly filled issue. Please read our guide about [Submitting Bugs and Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions).

[2022-01-12 12:54] #682 closed

[2022-01-12 21:40] bmacnaughton commented on #391
@dylang - that will work, but @eride's advice includes the specific issue. it would be ideal if the extension either pointed out 1) that specific line needed to be changed/removed or 2) checked to see if the file had been edited at all.

[2022-01-13 10:45] FloLey opened #685 "markdown-it should be upgraded"
Hello,
when using vsce I now have 2 moderate severity vulnerabilities.
markdown-it should be updated to 12.3.2+ (https://github.com/advisories/GHSA-6vfc-qv3f-vr6c)
but vsce uses version 10.0.

Thanks :)

[2022-01-14 03:20] bghita commented on #332
You have to set it as 1.

[2022-01-14 05:52] Nixinova opened #686 "`vsce login` is case insensitive while `vsce logout` is case sensitive"
[code]

Both of them should be case insensitive otherwise it is confusing when trying to log out.

[2022-01-14 10:10] #685 closed

[2022-01-14 10:13] joaomoreno commented on #686
Actually, both of them should be case sentitive, since it's important to disambiguate.

What is the actual publisher name you have?

[2022-01-14 20:03] heejaechang commented on #685
@joaomoreno when should new version with this fix be released?

[2022-01-15 03:08] Nixinova commented on #686
Publisher is capitalised

<img width="419" alt="image" src="https://user-images.githubusercontent.com/42429413/149606722-16ef9bd0-581e-4531-b437-0a1da5a78d9c.png">

[2022-01-16 07:19] npsulav opened #687 "ERROR Extension entrypoint(s) missing. Make sure these files exist and aren't ignored by '.vscodeignore': extension/extension.js"
ERROR  Extension entrypoint(s) missing. Make sure these files exist and aren't ignored by '.vscodeignore':
  extension/extension.js

[2022-01-17 08:01] joaomoreno commented on #686
The only fix I suggest here is to make `login` case sensitive, which would make your first call `vsce login` fail.

[2022-01-17 09:51] joaomoreno commented on #687
Please double check that the file you reference in the `main` or `browser` properties in `package.json` do in fact exist.

[2022-01-17 09:51] #687 closed

[2022-01-17 16:19] npsulav commented on #687
ok i checked for it and using the previous version of vsce did a work around for me without changing `package.json`

[2022-01-18 12:10] felipecrs opened #688 "Support semantic version pre-releases tags for extensions"
[Pre-releases are now supported](https://code.visualstudio.com/updates/v1_63#_pre-release-extensions), but they require a non-pre-release semantic version.

The official docs says that [_support for this will arrive in the future](https://code.visualstudio.com/api/working-with-extensions/publishing-extension#:~:text=Support%20for%20this%20will%20arrive%20in%20the%20future), and therefore I'm openi

[2022-01-22 12:36] qb20nh commented on #386
Check if any whitespace characters are included when you copy

[2022-01-22 18:30] nikeedev opened #689 "Getting error when writing `vsce publish`"
Hello i wanted to publish my extension to Visual Studio Code. I used as the docs said `vsce publish`, but i always get this error:
<img width="478" alt="image" src="https://user-images.githubusercontent.com/69197950/150650962-97bfb315-bb51-4d92-af81-b82e8d287021.png">
That `The Extension Id already exist in the Marketplace. Please use the different Id`. What "id"?

Specs:

I use windows 11, but th

[2022-01-22 18:31] nikeedev commented on #689
help @joaomoreno

[2022-01-24 17:09] Sven-Seyfert commented on #685
Hi folks,

it would be nice when you could release this update/fix. Because it's important to get a non-vulnerable version of markdown-it again. Thanks for your work and keep healthy folks 👍 .

Best regards
Sven

[2022-01-25 11:55] Sven-Seyfert commented on #685
Thank you 🎉 .

[2022-01-26 07:34] vijval2010 commented on #507
I had the same problem and I set a keyword to "#000000"

[2022-01-27 01:43] TylerLeonhardt opened #690 "logging in on a headless machine throws strange error"
run this inside a container or something headless:
[code]

Get the following:
[code]

I know that you can specify a PAT instead, this error could be caught and suggest that.

[2022-01-27 13:34] joaomoreno commented on #690
Repro:

[code]

[2022-01-27 13:40] joaomoreno commented on #690
Going with the following warning:

![Uploading image.png…]()

[2022-01-27 13:48] joaomoreno commented on #690
Fixed by https://github.com/microsoft/vscode-vsce/commit/a33261899f54d5dc67dcda7eb4bb4b0906bee588

Released in [2.6.5](https://github.com/microsoft/vscode-vsce/releases/tag/v2.6.5)

[2022-01-27 13:48] #690 closed

[2022-01-28 20:08] joyceerhl opened #691 ""Pre-release versions are supported by VS Code >=1.63. Current 'engines.vscode' is '^1.64.0-insider'""
1. Have an extension declaring a minimum engine of "1.64.0-insider" in package.json
2. Run `vsce package --pre-release`
3. 🐛 Get an error implying that the extension is targeting a version of VS Code which doesn't have pre-releases

Error comes from this line: https://github.com/microsoft/vscode-vsce/blob/e53c78df45f8f160f588407d879077c4a8a9a7ab/src/package.ts#L415

[2022-01-29 23:11] Sven-Seyfert opened #692 "High severity security vulnerability "simple-get" dependency"
Hi folks,

could you please have a look on this: [CVE-2022-0355](https://github.com/advisories/GHSA-wpg7-2c88-r8xv)

**Dependabot:**
[code]

**Screenshot:**
![grafik](https://user-images.githubusercontent.com/29656921/151680436-ea8fafd3-3a72-4a47-bfc0-784f5b34ac57.png)

Thanks for your work folks and I am grateful to see a fix 😀👍 .

Best regards
Sven

    Stay innovative!

[2022-01-31 14:49] joaomoreno commented on #692
There is nothing vsce can do. The fix needs to come from either `prebuild-install` or `keytar`.

[2022-01-31 14:52] joaomoreno commented on #692
Blocked by https://github.com/atom/node-keytar/pull/441

[2022-01-31 18:05] andschwa commented on #692
The last commit made to `node-keytar` was November 2021, so we might all be waiting for a while.

[2022-02-01 08:21] #691 closed

[2022-02-01 22:03] andschwa commented on #692
FYI node-keytar got their dependency updated this morning in https://github.com/atom/node-keytar/pull/443 so I would expect to see a new release from them pretty dang soon.

[2022-02-03 11:43] sergiou87 commented on #692
Hi all! 👋

We released keytar v7.8.0 yesterday with the latest versions of those dependencies, I hope that helps!

And we're very sorry if this caused any inconvenience to you 😓

[2022-02-03 16:15] andschwa commented on #692
Thanks so much @sergiou87!

[2022-02-03 16:21] #692 closed

[2022-02-03 22:23] Sven-Seyfert commented on #692
Awesome folks, thanks to all of you 😊 .

[2022-02-04 08:10] HomyeeKing opened #694 "[feats] auto push after version bump and add dry-run option in publish"
I want to add two features as the title says,

for auto git push, users can use `version` hooks to do this thing, but we may do it internaly.

for dry-run, we can use dry-run to write some unit tests and simply dry-run to see the publish detail

[2022-02-04 12:21] kraabrsg opened #695 "Can't install vsce with nodejs/npm"
Hi,

having setup the actual nodejsnpm package (lts version, zip file)

Set .npmrc (Users Folder) file with our proxy and certificate file:
![grafik](https://user-images.githubusercontent.com/86772851/152527042-ab9fe887-6fee-4982-b4f0-34af6c6d8893.png)

The npmnodejs folder is like the folder with the certificate, fully accessible.

Npm Version: 8.1.2
Node Version: V16.13.2

Getting this errors (n

[2022-02-07 06:31] kraabrsg commented on #695
Well finally found it:
https://github.com/nodejs/node-gyp/blob/master/docs/Updating-npm-bundled-node-gyp.md

after doing this the installation is working like expected (admin rights needed...)

[2022-02-07 06:31] #695 closed

[2022-02-07 15:20] joaomoreno commented on #694
You can easily write a script around vsce to do this. It doesn't have to be built into vsce itself.

`vsce ls` will show you all the files which will be included in the extension VSIX, which is, in fact, the dry run of publishing.

[2022-02-07 15:20] #694 closed

[2022-02-07 20:56] Timmmm opened #697 "Replace vscodeignore mechanism"
`.vscodeignore` is kind of a crazy way to distribute software. It's kind of "do an in-tree build and then tell us which files *not* to ship". Quite weird and error-prone. The code for it is also full of magic and has zero logging which makes it hard to use. E.g. for some reason `!/foo/**` does not work. You have to do `!foo/**` [probably because of this `substr(1)`?](https://github.com/microsoft/v

[2022-02-08 12:24] joaomoreno commented on #697
No. Ignore files are very common nowadays. You'll find them in tools like git, npm, eslint, etc. It's a common pattern that most people know how to work with and will happily do so.

If you want to implement something like you suggested you can do it without any additional features in vsce:

1. Build your extension, place everything in a `build` folder
2. Launch `vsce` from that build folder

Than

[2022-02-08 12:24] #697 closed

[2022-02-08 15:44] i-m-batman opened #698 "Getting "The specified icon 'extension/images/icon.png' wasn't found in the extension." - Windows 10 vsce package"
I am just starting this, and can effectively package, but when I try to add an icon to the package.json it throws me the above error. I have spent enough time digging around the internet and in here to begin to think it might not be user error.

The image I am using is a 128x128 png file named icon.png. I have located it in both \src\images\ and \images to no avail. I have looked at other extensio

[2022-02-08 23:02] Timmmm commented on #697
Good suggestion, thanks.

You might still want to take a look at the `!/foo` bug, and maybe document some of the magic that happens.

[2022-02-09 10:20] acccrop commented on #381
I also have the same problem. is there a solution to this?

[2022-02-11 18:27] pkit commented on #432
Err, open 2 for years, still not fixed?

Have two dependencies with different `chalk` versions:
[code]
But only **one** dependency is present in vsix file:
[code]
I'm in awe actually, either say that you don't really support yarn or fix it.
As right now you **de facto** do not support yarn, because of this bug.

[2022-02-12 00:54] erlangparasu commented on #11
**All accessible organizations**
thanks it works

[2022-02-12 18:13] pkit commented on #439
@joaomoreno please update the docs about bundling [here](https://code.visualstudio.com/api/working-with-extensions/bundling-extension)
As these **must** be run with `--no-dependencies` for bundling to work.
Otherwise either `node_modules` will still be **included** and it will still complain about bundling size:
[code]
Or it will just die with the error from https://github.com/microsoft/vscode-vsc

[2022-02-14 10:24] F3n67u commented on #421
Below solution works for me:

1. bundle extension, see https://code.visualstudio.com/api/working-with-extensions/bundling-extension

[code]

2. add `--no-dependencies` option to `vsce package` and `vsce publish` command(because you already bundled your extension, then there is no need to include npm dependencies when package and publish, all things is in your bundle)

[code]

[2022-02-15 00:19] justanotheranonymoususer commented on #663
Have same problem on Windows. No yes on Windows.

[2022-02-15 00:28] justanotheranonymoususer opened #699 "Allow to remove "Using '*' activation" warning"
I can't build my project in my Windows CI. Please add a command line to allow building.

See also:
https://github.com/microsoft/vscode-vsce/issues/663

[2022-02-15 10:28] joaomoreno commented on #699
https://stackoverflow.com/a/24416444

[2022-02-15 10:28] #699 closed

[2022-02-15 10:28] joaomoreno commented on #663
https://stackoverflow.com/a/24416444

[2022-02-15 10:33] justanotheranonymoususer commented on #663
That's horrible. Just add a command line switch!

On Tue, Feb 15, 2022, 12:28 João Moreno ***@***.***> wrote:

[2022-02-15 10:34] joaomoreno commented on #663
@justanotheranonymoususer What's the reason for using `'*'`?

[2022-02-15 10:36] justanotheranonymoususer commented on #663
Personal helper extension that is always running for personal use

On Tue, Feb 15, 2022, 12:35 João Moreno ***@***.***> wrote:

[2022-02-15 10:44] joaomoreno commented on #663
OK. You can use the `VSCE_TESTS=1` env during your pipeline, at your own risk.

[2022-02-15 19:42] johnsoncodehk commented on #421
@F3n67u done, thank you!

If someone need to reference:
- https://github.com/johnsoncodehk/volar/commit/d32311b296a2765d3d40a471e45023db7fb7a925
- https://github.com/johnsoncodehk/volar/commit/ab1fafcfc0033f62cdf5104f027d37b9a11d4a14

[2022-02-28 21:08] wandyezj opened #700 "Feature: support `--allow-star-activation` flag"
The vsce package command prompts the following which require a manual response

Would it be reasonable to not prompt OR to provide a flag that ignores these warnings?

Some extensions have a private repository so should not include the repository field and some extensions need to activate on startup with the '*' activation event.

When generating the visx file in automation these warnings are anno

[2022-03-01 13:16] VidarDev commented on #653
So i haev the same error on node 17 whats going wrong?

[2022-03-01 13:49] VidarDev commented on #653
i have the same error with node 16

[2022-03-01 15:32] joaomoreno commented on #700
Yeah, given it's the 3rd time or so someone asks for this, let's just have a flag.

[2022-03-04 11:37] Hongbusi opened #702 "The Extension Id already exist in the Marketplace."
Execute `vsce publish` to report an error:

[code]

But I didn't find where the extension id is configured.

[2022-03-06 13:32] i-m-batman commented on #698
Any news on this? Just crickets....

[2022-03-07 02:09] #702 closed

[2022-03-07 13:05] felipecrs opened #703 "Document configuration through `package.json`"
Thanks to https://github.com/microsoft/vscode-vsce/commit/7182692b0f257dc10e7fc643269511549ca0c1db we can now configure `vsce` options directly in `package.json`.

It is, however, not documented. Some people are asking me about it (https://github.com/felipecrs/semantic-release-vsce/issues/260) and I lack a reference which I can share to them.

A very basic introduction in README or in the docs wou

[2022-03-07 15:45] joaomoreno commented on #703
Wanna submit a PR for `README.md`?

[2022-03-07 16:13] felipecrs commented on #703
Yes, let on me :)

[2022-03-09 09:56] estruyf opened #705 "Provide details for when your extension has suspicious content"
I wanted to publish a new version of my extension, and I got the following message:

[code]

There hasn't been a change to the extension metadata since the last release. Not sure why it is happening. Also, it would be great to point out the actual issue.

[2022-03-09 10:56] joaomoreno opened #706 "Feature: support `--allow-missing-repository` flag"
From https://github.com/microsoft/vscode-vsce/issues/700

[2022-03-11 12:31] #700 closed

[2022-03-11 12:31] #706 closed

[2022-03-12 19:54] jim-junior opened #708 "Specified part does not exist in the package."
Hello,
Am new to vscode extension development and I just run into two issues while trying to publish my package.
Let me first explain the steps I have taken in my project.
I initialized using the snippet template and modified `snippets.code-snippets` file and the readme. I also provided the `publisher` in package.json file.
Then I installed `vsce` and `libsecret-1-dev`.
I also added A LICENSE file

[2022-03-14 12:57] joaomoreno commented on #708
Are you sure you're running `vsce` from the right location? What is the entire contents of files in your workspace folder?

[2022-03-14 12:59] joaomoreno commented on #708
I don't see this in the repository you've linked. Can you make sure I get to see the entire state of your repo?

[2022-03-14 13:35] jim-junior commented on #708
I have updated the repo

[2022-03-14 19:00] wandyezj opened #710 "Would it make sense to keep a changelog with a summary of changes for each published version?"
https://keepachangelog.com/en/1.0.0/

[2022-03-17 16:57] CartBlanche commented on #419
@drweb86 I'm getting the same error and I can't find in the documentation how to get an id instead of a full publisher name. Can you point me to to the right place?

[2022-03-17 18:40] drweb86 commented on #419
@CartBlanche
![image](https://user-images.githubusercontent.com/4712173/158873214-ec34c6ff-1a42-4397-b529-e95d72bfb090.png)

[2022-03-17 20:18] CartBlanche commented on #419
@drweb86 Thanks. That helps a lot!

[2022-03-18 08:41] joaomoreno commented on #708
This is what I get:

![image](https://user-images.githubusercontent.com/22350/158966137-5c5dc38d-7a36-4fb5-9d07-41bde77451f6.png)

Can you re-clone your repository and try again?

[2022-03-18 08:43] joaomoreno commented on #710
Since adopting Conventional Commits recently, the Changelog is found in GH Releases: https://github.com/microsoft/vscode-vsce/releases

[2022-03-18 08:43] #710 closed

[2022-03-18 19:48] jim-junior commented on #708
Thanks it worked.

[2022-03-18 19:48] #708 closed

[2022-03-25 03:35] xieyezi commented on #653
Resovle it?

[2022-03-25 07:13] holazz commented on #671
I have the same problem, how did you solve it?

[2022-03-25 07:18] holazz commented on #702
I have the same problem, have you solved it? @Hongbusi

[2022-03-25 08:32] joaomoreno commented on #671
@nikeedev, @holazz What is the publisher and extension name you're using?

[2022-03-25 08:45] holazz commented on #671
publisher: `holazz`
extension name: `open-in-browser`

@joaomoreno

[2022-03-25 15:16] Hongbusi commented on #702
Modify your package.json name field.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "microsoft/vscode-vsce"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年3月25日(星期五) 下午3:18
***@***.***&gt;;
***@***.**

[2022-03-28 22:25] CycloLang opened #711 "SyntaxError: Unexpected token '?'"
Steps to reproduce:

1. Install with `sudo npm install --global vsce`
2. Run `vsce --version`

Expected:

1. Package should run

Actual:

1. The following is output to the terminal:

[code]

[2022-03-28 22:28] #711 closed

[2022-03-30 01:41] holazz commented on #702
I already did that, thanks！

[2022-03-30 19:40] NdagiStanley opened #713 "Broken link to anchor link in README"
### Expected behaviour

While reading the [README](https://github.com/microsoft/vscode-vsce/blob/main/README.md), I expect that when I click on **Docker** (in the second line below Requirements) that I'm navigated to the *Usage via Docker* section of the README.

### Actual behaviour

The anchor link (**Docker** - in the second line below Requirements) is broken.

[2022-03-30 19:43] NdagiStanley commented on #713
This [commit](https://github.com/microsoft/vscode-vsce/commit/c0e077093a7c442f8526d17a3cbd4c0a49c6267e#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R29) made the change that affected this.

[2022-03-30 21:02] roipoussiere opened #715 "vsce package fails with `SyntaxError: Unexpected token '?'`"
[code]

Same error when I install vsce via `sudo npm install -g vsce`.

I'm on Ubuntu 21.10, yarn 1.22.18, node 12.22.5

[2022-03-30 21:18] roipoussiere commented on #715
Ok, I upgraded node to the latest version and the problem is gone.

[2022-03-30 21:18] #715 closed

[2022-04-01 08:17] #713 closed

[2022-04-03 10:24] caiqichang opened #716 "command `npx --package vsce vsce package` failed in win11"
got this result:
[code]
but it packaged succeed in win10

[2022-04-04 06:38] joaomoreno commented on #716
How exactly are you trying to run this? Can you share a screenshot?

[2022-04-04 11:29] Jolg42 commented on #580
Got into this problem as well, the error was not obvious at all. See:
[code]

The error message here seems to be from the zipping library yazl, https://github.com/thejoshwolfe/yazl/blob/36b2a6a31a32637dca19b34e7b3295378e78a644/index.js#L368

The `npm list` call can be fount at https://github.com/microsoft/vscode-vsce/blob/main/src/npm.ts#L68

If there were more debug logs, it would have been easie

[2022-04-04 16:30] azaslavsky opened #717 "Unable to complete `vsce login` or `vsce publish`, hangs after "Personal Access Token verification succeeded""
Whenever I try either of `vsce login [MY_PUBLICATION_GROUP]` or `vsce publish`, the process seems to hang after "The Personal Access Token verification succeeded for publisher [MY_PUBLICATION_GROUP]" prints to my terminal's `stdout`.  I left it on overnight to see if this was due to something just being very slow, but it didn't seem to move, and the version number on my package still has not updat

[2022-04-04 18:46] azaslavsky commented on #717
Just tried reverting to `vsce@2.6.7` and `vsce@2.5.3`, but the result was the same.

[2022-04-14 00:40] wandyezj opened #719 "Update command line parameters to be in a consistent style and specify which override parameter can be used to override an error in the error message."
## Command line parameters should be in a consistent style.

`--noVerify` should be in the same style as `--no-yarn`.

## Overridable error messages should contain the command line option that can be used to override the error if available.

Error message:

Should contain the command used to override `--noVerify`, same for other overridable messages

[2022-04-14 07:51] ganeshrn commented on #308
Agreed, to test unreleased versions for cross project testing  it requires hack like these https://github.com/ansible/ansible-language-server/blob/v0.6.1/.github/workflows/vscode.yml#L37 which results in other problems.

[2022-04-20 20:43] mohanraj-r commented on #675
I notice the same error with the latest vsce 2.7.0

Even the quick fix suggestion didn't help

[2022-04-20 22:23] wandyezj opened #721 "Software Build of Materials (SBOM) support in extension"
Where should a SBOM be included so vsce picks it up when it packages the extension?

[2022-04-21 11:49] joaomoreno commented on #721
VSCE picks up any file in the cwd, as long as it's not included in the globs of `.vscodeignore`.

[2022-04-21 11:49] #721 closed

[2022-05-02 04:22] SufyanDahalan opened #723 "Cant seem to authenticate/login with PAT"
Intended to auto publish via github actions and followed the instructions [here](https://code.visualstudio.com/api/working-with-extensions/continuous-integration#github-actions). Created PAT, organization and publisher. I cant seem to be able to login with publisher

[code]

[2022-05-02 21:57] felipecrs opened #724 "Support globs in `publish --packagePath`, like `vsce publish --packagePath '*.vsix'`"
So that we don't need to use something like the below:

[code]

From https://github.com/microsoft/vscode-platform-specific-sample/blob/37a2523b99d3348c53f4519faf1ad9e04d06d672/.github/workflows/ci.yml#L74

Which is of course not supported on Windows and can potentially work differently across different Linux versions.

[2022-05-03 14:04] joaomoreno commented on #724
I'd argue that crosses the responsibility line: a tool should do one thing and do it well. I'm tempted to close out of scope.

[2022-05-03 15:33] felipecrs commented on #724
I saw this extensively being used in linters, like ESLint, Prettier, etc. Example:

[code]

Instead of, let's say:

[code]

And, if I were to guess, I would suspect it's due to the same reasons stated above (like portability).

All the needed libraries are already in `vsce` if we want to make it happen.

PS: I can send a PR for it if you agree, but if not, it's fine (the absence of this feature wi

[2022-05-05 21:57] mohanraj-r commented on #421
Thanks @F3n67u
When `vsce package --no-dependencies` is specified, it doesn't include node_modules even without any .vscodeignore file. Is this expected? Is node_modules not required to be packages into the vsix when esbuild is used?

[2022-05-05 23:16] F3n67u commented on #421
@mohanraj-r yes. It's expected. when you bundle your extension then node_moudle is not needed.

[2022-05-06 10:41] RovoMe commented on #390
@psclkhoury I don't think that the inability to use local images, either by directly linking to them or embedding those as base64 images within markdown image links, is related to the request to provide private marketplaces. IMO Microsoft just needs to change the way `vsce` "validates" links in README's that either point to an external source or are embedded within the artifact to generate. Curren

[2022-05-06 19:53] flimberger commented on #381
I cannot reproduce the issue anymore with vsce version 2.7.0 and node version v16.15.0 installed from snap on Ubuntu 20.04.

[2022-05-06 20:14] flimberger commented on #381
That assessment was too soon, running `vsce package` asks if it should continue, since no license file can be found. If I continue, the package does not contain the `extension` directory. So unfortunately the issue is *not* fixed.

[2022-05-11 07:27] joaomoreno commented on #724
I'd say no, just because it's such a fringe scenario (platform specific extensions) and not one publishers often run by hand... once it's scripted, they don't worry about it any more.

[2022-05-11 08:20] BernieWhite opened #726 "Publish to vscode extension with org scoped token"
During a recent push internally we have been removing the ability to deploy using a PAT token scoped to all org.

Currently `vsce` which is the tool to publish vscode extensions doesn't support a org scoped PAT token.

Is this support available or on it's way soon, as currently I'm blocked to deploy any updates to my vscode extensions?

[2022-05-11 13:09] felipecrs commented on #724
@joaomoreno all right. Thank you for the discussion. :)

[2022-05-11 13:09] #724 closed

[2022-05-13 11:01] #716 closed

[2022-05-13 11:01] #648 closed

[2022-05-16 11:48] prashantvc opened #727 "Search command improvements"
- Show install counts and rating for search results
- Add `pageSize` option for search command

[2022-05-18 00:01] tcd commented on #337
This would have been an easy feature to implement.

[2022-05-20 10:38] #727 closed

[2022-05-25 07:23] ssbarnea opened #729 "security: unable to generate Personal Access Token (PAT) with limited scope (single extension)"
Some publishers have lots of extensions, for example Redhat has 34 ones and the current security model does not allow to generate PATs that allow publishing for a single extension, as they would give control for the entire **publisher**.

That means that if the PAT is leaked, it affects all the extensions published by the same publisher, creating a huge attack surface in some cases.

Some bigger p

[2022-05-26 15:58] zFernand0 opened #730 "Enhancement: Support `optionalExtensionDependencies`"
Say `extension-A` has an `extensionDependencies: [ "extension-B" ]`, and `extension-A` contributes two commands:
- `extension-B-dependent` command
- `not-extension-B-dependent` command

It should be possible for `extension-A` to activate even if `extension-B` fails to do so.
And it will be up to `extension-A` to handle how the `extension-B-dependent` command behaves in the absence of `extension-B`

[2022-05-26 18:10] Hyperclaw79 commented on #113
Sorry to necro this already implemented feature but, I request a flag to set README check back to a Warning.
**Use Case**:
Local Extensions which aren't targeted for public release need not have to be checked for pre-publish.
And if they do plan on publishing it, users could modify the Readme in a single go before publishing it.
Modifying the Readme just for the sake of creating a `.vsix` for loca

[2022-05-28 19:53] phil294 opened #731 "vsce should respect .gitignore"
[About 0.5% of all extensions ship with a personal access token contained in clear text](https://waritschlager.de/hidden-vscode-extension-files.html), most likely due to the mistake of putting secrets onto `.gitignore` but forgetting about `.vscodeignore`. I think you guys should do something about it.

[2022-05-31 11:39] isidorn opened #733 "Can we detect the sponsor field in package.json and require vsce 2.9.0"
Refs: https://github.com/microsoft/vscode/issues/150748

1. Have an outdated version of `vsce`, for example `2.6.7`
2. Have a `sponsor` field in your `package.json`
3. `vsce publish` -> all is good 🐛

I was actually using an outdated version of vsce. So the sponsor information does not get added to the extension attributes.
If we see that a user has set a `sponsor` field can we require a newer `vs

[2022-05-31 11:57] isidorn opened #734 "Minor url validation for sponsor field would be useful"
refs: https://github.com/microsoft/vscode/issues/150748

Have your extension with `"sponsor": "isidor"`, we nicely render the Sponsor button for this extension, but on clicking on the sponsor button I get the following:

![Screenshot 2022-05-31 at 13 54 47](https://user-images.githubusercontent.com/1926584/171167510-ecec74ec-9605-4e99-bb01-eed3cc9861ee.png)

Could we introduce some basic URL valid

[2022-05-31 15:20] sandy081 commented on #733
I wonder if this can be possible as the older versions are already published and we cannot change them.

CC @joaomoreno

[2022-05-31 15:20] #733 closed

[2022-05-31 15:21] isidorn commented on #733
Yeah I thought it would only be possible if we already have some infrastructure for this.
And we probably don't. Thanks anyways!

[2022-06-01 07:38] joaomoreno commented on #733
We already have the feature of vsce warning the user there's a new version available. There's not much more we can do here, unless you have a time machine at hand.

[2022-06-01 14:45] joaomoreno commented on #731
No, it shouldn't. Very common example of why this is a terrible idea: often you add `*.js` to `.gitignore` in a TypeScript project because you don't want to check-in your compilation output, but it's exactly what you want to include when distributing your extension. Same applies for `build` or `node_modules`.

[2022-06-03 12:04] vedantmgoyal2009 opened #737 "`vsce ls` fetches directories outside of CWD [Priority 1]"
VSCE extension fetches contents from outside of CWD. This is preventing packaging of the extension and publishing it in the marketplace.

Not expected in a Microsoft project.

[2022-06-05 12:21] dohooo opened #739 "vsce publish error "Invalid URL""
Hi there, Thanks for your effort in this repository, today I found a problem when I published the extension.

### Reproduce
Insert GitHub theme flag of image URI. `#gh-light-mode-only`

<img width="1037" alt="image" src="https://user-images.githubusercontent.com/32405058/172049897-e93c5630-6f9c-42c5-a38b-3dd54eb722ec.png">

Then will be printed error info `Invalid URL`

<img width="753" alt="image

[2022-06-07 07:23] joaomoreno commented on #737
Can you show me what you mean with an example?

[2022-06-10 08:49] melir91 commented on #653
In my case I installed vsce with Node 12.x.x and then switched to Node 14.x.x

Installed vsce with Node 14.x.x and then the issue was resolved

[2022-06-14 11:01] #737 closed

[2022-06-16 15:43] ssbarnea commented on #439
I think that when this bug was fixed the ability to load the dependencies from package.json file did not work.

Based on REAME.md file, we were supposed to be able to configure inside `package.json`:
[code]

While `useYarn` works as expected and allow you to avoid having to add `--no-way`, the `dependencies` option has not effect at all, preventing you from fixing the package command from inside c

[2022-06-17 06:43] joaomoreno commented on #439
@ssbarnea Do you mind creating an issue explaining what exactly the bug is?

[2022-06-17 08:10] ssbarnea opened #742 "Dependencies cannot be configured inside package.json"
I think that when this bug was fixed the ability to load the dependencies from package.json file did not work.

Based on REAME.md file, we were supposed to be able to configure inside `package.json`:
[code]

While `useYarn` works as expected and allow you to avoid having to add `--no-yarn`, the `dependencies` option has not effect at all, preventing you from fixing the package command from inside

[2022-06-17 08:10] ssbarnea commented on #439
Raise at https://github.com/microsoft/vscode-vsce/issues/742 and PR will appear soon.

[2022-06-17 08:59] ssbarnea commented on #308
As the main issue with this is related with `npm link` which continues to be broken even after years, it worth mentioning that `yarn link` support is in much better shape.

That made us start a switch from npm to yarn for our extension and once #743 is sorted we will be able to finish the switch.

[2022-06-21 12:16] hediet opened #744 "Don't check for yarn.lock"
Can we remove this check:

https://github.com/microsoft/vscode-vsce/blob/76b06f2030a6e8c750f3d1d38bd30396c13df897/src/npm.ts#L188

And rely on yarn to throw `error No lockfile in this directory. Run `yarn install` to generate one.`?
This makes spotting mistakes easier. When using `--yarn`, the user very much expects the tool to be in a yarn working dir.

Also, this check doesn't work for yarn work

[2022-06-21 13:36] #742 closed

[2022-06-22 08:06] joaomoreno commented on #744
Makes sense, wanna send over a PR?

[2022-06-23 14:07] #744 closed

[2022-06-25 00:55] devhawk opened #747 "vsce package error on Windows: The filename, directory name, or volume label syntax is incorrect."
I created a new VSCode extension with `yo code` (used `testext` as the extension name, chose defaults for other options), changed to the new extension directory and ran `vsce package` and it failed.

[code]

I am able to `vsce package` on WSL Ubuntu 20.04.

node --version: v16.15.1
npm --version: 8.13.1
vsce --version: 2.9.2

[2022-06-25 05:52] devhawk commented on #747
FYI, I am able to run vsce package on another Windows machine, so this is clearly a local config issue. However, I have no idea how to troubleshoot this.

[2022-06-26 00:58] Zxynine commented on #747
I am in a similar boat, I keep getting brought back to this page as its the only relevant reference to this problem.

[2022-06-26 01:30] Zxynine commented on #747
After a long time of trying everything, removing the line :"vscode:prepublish": "npm run compile", from scripts in package.json allowed me to finally run vsce package, it clearly is NOT ideal but I also dont know why it would even cause a problem. I can run npm run compile perfectly fine and all of the debug runs work.

[2022-06-26 04:40] devhawk commented on #747
I see similar behavior. I can run `npm run compile` directly, but if I try and run `npm run vscode:prepublish`, it crashes

[2022-06-26 04:40] ied206 commented on #747
I have the same issue with my local development machine.

It works on the other local system, too.

The strange thing is, `npm run compile` command itself succeeds when I type it myself.

[code]

- System Information

| Command | Version |
|-----|--------|
| `node --version` | v18.4.0 |
| `npm --version` | 8.13.1 |
| `vsce --version` | 2.9.2 |

I have tested and reproduced the issue on cmd and Pow

[2022-06-26 05:09] sinotaotao commented on #747
I think the problem just happens on windows system, the colon `:` in script name let commandline parser treat it as volume letter, then refuse to execute the right scripts.

[2022-06-26 09:00] sinotaotao commented on #747
There is a simple solution: change package script to: `npm run build && vsce package`
or `webpack --mode production && vsce package` if you use bundle tool. AND remove the old `vscode:prepublish` script.

Consider rename `vscode:prepublish` to `vscode-prepublish`  avoid problems on windows platform?

[2022-06-26 11:43] joaomoreno commented on #747
All of this is very strange:

- We haven't released a new version of vsce recently which would break this
- 4 different people talked in this issue within ~24h
- I'm on Windows and I can't repro (node 16.15.1, npm 8.11.0, vsce 2.9.2)

What's common between all of you?

[2022-06-26 11:44] joaomoreno commented on #747
Figured it out: I can repro if I update npm to 8.13.1. This is a bug in npm.

[2022-06-26 11:45] joaomoreno commented on #747
Upstream issue, npm will fix: https://github.com/npm/cli/issues/5066

[2022-06-26 11:45] #747 closed

[2022-06-26 15:01] ied206 commented on #747
My machine has npm 8.13.1, and it still fails to run `vsce publish`.

[2022-06-26 18:24] joaomoreno commented on #747
Please downgrade npm.

[2022-06-27 00:39] sinotaotao commented on #747
Thanks @joaomoreno , run `npm i -g npm@8.13.0` and wait npm team to fix it. everyone!

[2022-06-27 08:50] prashantvc opened #748 "Support free trial label for extensions in the Marketplace"
Allow extension authors to indicate extensions are `Free` or `Free Trial` in the Marketplace
Marketplace will read pricing value from the manifest property `Microsoft.VisualStudio.Services.Content.Pricing`

[2022-06-27 12:22] ssbarnea commented on #517
This ticket is already two years old and we still do not have full support for yarn 2.

For example `vsce ls` command is fully broken because:

[code]

There is no `list` in yarn 2 and if you try to pass `--no-yarn` to vsce, you endup with the other problems and failures.

I guess that for the moment I will need to replace `vsce ls` with `zipinfo -1 *.vsix`.

[2022-06-27 12:31] oliversalzburg commented on #517
In general, it seems like very poor practice to rely on a specific third party shell application to perform anything of meaning in a NodeJS project, _especially_ when that third party application is a package manager.

Which is why I have given up on vsce a long time ago. Please open a new issue to track the total absence of progress on this issue, if you need to.

[2022-06-27 12:50] ssbarnea opened #750 "vsce ls fails with yarn v2 config files"
[code]

There is no `list` in yarn 2 and if you try to pass `--no-yarn` to vsce, you endup with the other problems and failures.

As a temporary workaround I could replace replace `vsce ls` with `zipinfo -1 *.vsix` to perform the listing but that would not work if other tools/libraries are calling `vsce ls` themselves. It is still broken.

Related: #517

[2022-06-27 12:52] joaomoreno commented on #750
Duplicate of https://github.com/microsoft/vscode-vsce/issues/517

[2022-06-27 12:52] #750 closed

[2022-06-27 12:53] ssbarnea commented on #750
Sorry, I seen original OP closing it. In fact is not a full duplicate, that one is specific, we might have other broken things related to general compatibility with yarn v2.

[2022-06-27 12:54] joaomoreno commented on #517
Contributions here are more than welcome! Yarn v2 just isn't that big of a deal for us and most of our users (only 8 upvotes here), so this issue never makes it to the front page. Also, [and I'm sure you know](https://code.visualstudio.com/updates), we're constantly busy with plenty of other work.

[2022-06-27 13:06] joaomoreno commented on #748
@prashantvc What values are possible for the `Microsoft.VisualStudio.Services.Content.Pricing` property? Is it exactly `Free` and `Free Trial` only?

[2022-06-27 13:08] joaomoreno commented on #748
Nevermind, just saw the PR.

[2022-06-27 13:18] oliversalzburg commented on #517
If you need to keep track of your lack of interest to work on this subject, please create your own internal ticket. I don't want to be bothered by activity on this repository.

[2022-06-27 16:06] devhawk commented on #747
Confirmed downgrading npm resolves the issue on my machine. I'm using [npm-windows-upgrade](https://www.npmjs.com/package/npm-windows-upgrade) so I ran `npm-windows-upgrade -v 8.11.0` in an admin terminal window.

[2022-06-27 18:24] joaomoreno commented on #517
@oliversalzburg, please unsubscribe.

[2022-06-27 22:47] Zxynine commented on #747
I tried to downgrade and it caused more problems than I knew how to handle, I reverted and just used "vscode-prepublish" as @sinotaotao  suggested and everything works fine.

[2022-06-28 01:13] sinotaotao commented on #747
@Zxynine  pay attension to this, rename `vscode:prepublish` to `vscode-prepublish` bypassed the prepublish task. Current implementation just execute `vscode:prepublish` script.
The renaming is a suggestion to MS

[2022-06-28 05:15] prashantvc commented on #748
No, there is `Paid` as well (for VS and AzDO extensions), but we are limiting `Free` and `Free Trial` for VS Code

[2022-06-28 07:02] Jason3S commented on #747
The bug is also in 8.13.0.

[2022-06-28 07:27] joaomoreno commented on #747
I've edited @sinotaotao's post so it doesn't confuse anyone else.

**Workaround:** `npm i -g npm@8.11.0`

[2022-06-29 05:03] SheepReaper commented on #517
Did you all see the comment about reacting to the OP? That's how they track heat. I wish that was more obvious.

[2022-06-29 08:45] mazikiou opened #751 "feat: add a way to debug extension inside a dev container"
I have an extension that launches a devcontainer. This extension must be ran inside and outside the devcontainer. It is possible to debug the extension when outside the devcontainer but it is very hard to debug when it is inside the devcontainer. I can only log to the console but can't use breakpoints (vscode debug tools in general).

[2022-07-10 08:34] nhedger opened #754 "Differences between the CLI and the API"
Not sure if this is by design, but I noticed that a few options currently available on the CLI are not exposed on the API.

The `packageCommand` function accepts a `IPackageOptions` which seems to contain all the available options but the API's `createVSIX` function accepts a `ICreateVSIXOptions` which narrows the available options.

I guess what I'm asking is:

1. Is there a good reason for this

[2022-07-11 02:14] pbpf commented on #661
I have same problem, how you fix this?

[2022-07-12 22:25] brettcannon opened #755 "Have the `Update it now` message recognize yarn and adjust the command accordingly"
I'm using yarn with vsce listed as a dev dependency, but when vsce detected my copy was out-of-date it gave me instructions for updating via npm: `Update it now: npm install -g vsce`. It would be handy to notice this situation and adjust the suggested command accordingly.

[2022-07-13 19:09] lokize opened #756 "Problem to install with wsl-2 CentOS Stream 9"
![image](https://user-images.githubusercontent.com/19701630/178812622-f8e5b5e5-a1f4-4702-add3-223baf5e63f5.png)

Hi today i installed a new machine and for some unknown reason i am not able to install vsce, i am using CentOS Stream 9 with nvm and nodejs v16.16.0, I tried reinstalling other versions of node and wsl but nothing solved the problem...

[2022-07-14 09:15] joaomoreno commented on #756
What command are you running to install vsce?

[2022-07-14 12:53] joaomoreno commented on #756
What if you try to:

[code]

Does that work?

[2022-07-14 22:15] lokize commented on #756
yes, its worked!
![image](https://user-images.githubusercontent.com/19701630/179097703-986a8dc6-2835-4f0b-98fb-7f37f870bfe5.png)

[2022-07-15 08:08] joaomoreno commented on #756
What about:

[code]

[2022-07-15 08:14] joaomoreno commented on #754
I believe the current state is as is just 'cause no one asked for those API calls yet. PR welcome!

[2022-07-15 08:18] #739 closed

[2022-07-15 08:33] nhedger commented on #754
Good to hear, I'll PR something soon in that case.

[2022-07-17 05:27] joaomoreno commented on #756
I would go through the personal access token creation docs again: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#get-a-personal-access-token

[2022-07-17 12:31] lokize commented on #756
i created another personal token but still have a error 401...

[2022-07-18 14:41] #756 closed

[2022-07-19 12:31] niccolomineo commented on #477
I just had to do `npm upgrade`, first, and it worked.

[2022-07-20 13:45] drochgenius opened #758 "Compatibility issue with PNPM package manager in 2.10.0"
We are using `pnpm` package manager in our monorepo, in which we have many Visual Studio Code extensions.

Up until version `2.10.0`, we were able to build the plugins with the `--yarn` option, but from version `2.10.0` it complains the `yarn.lock` is not available due to this change: d68e2f7947069dd26c6aa425523cee8372dbd73a.

Without the `--yarn` option, the plugins do not build in the monorepo c

[2022-07-21 06:29] joaomoreno commented on #758
@drochgenius PNPM support is pending: https://github.com/microsoft/vscode-vsce/issues/421, we never implemented it.

Looking at d68e2f7947069dd26c6aa425523cee8372dbd73a, the only conclusion I can draw is that using `--yarn` in a workspace without `yarn.lock` was simply a way not to do any dependency analysis whatsoever. While this (kind of) worked for you, it wasn't intended behavior. d68e2f794706

[2022-07-21 19:43] drochgenius commented on #758
Thanks @joaomoreno for your response.

In out monorepo, the `node_modules` is at the root, that is 2 levels above the vscode plugin.

[code]

We switched from `yarn` to `pnpm` about 6 months ago, and it's been a very positive change for us, so I'm really looking forward to`vsce` supporting `pnpm`.

In the meantime, we have fixed the version to `vsce@2.9.3` and continue using the `--yarn` option.

[2022-07-22 09:42] joaomoreno commented on #758
Just curious... when you run `vsce ls` do any node modules appear in that list?

[2022-07-22 12:44] drochgenius commented on #758
I must to apply the `--yarn` flag, or else `vsce ls` outputs a bunch of missing package errors.
Now when I do run this command: `pnpm exec vsce ls --yarn`, I don't see any node modules in the list.
I just see a list of files that are local to my VS Code extension.

[2022-07-22 14:22] joaomoreno commented on #758
So your extension doesn't really depend on any node modules to work, correct? If so, you should not be using `--yarn` at all... you should be using `--no-dependencies`: this will skip dependency analysis altogether.

[2022-07-22 18:41] drochgenius commented on #758
Thanks @joaomoreno ,

Yes it works perfectly if I use the `--no-dependencies` flag instead of `--yarn` with `vsce@2.10.0`.
Indeed, I don't have external dependencies because I first bundle the extension using `webpack`, so when I reach the packaging step with `vsce` all my external dependencies are already resolved in the bundle.

I now understand I was not using `vsce` correctly for my setup.
Tha

[2022-07-22 18:42] #758 closed

[2022-07-25 14:06] meghasinghal1 commented on #341
Hi,

Can somebody please provide the resolution for above issue. I read above thread but couldn't get the resolution as I am still getting same error even with most recent version of VSCE.

![image](https://user-images.githubusercontent.com/13881466/180796225-7346af68-8b7d-4840-9c3f-cead1df8dab5.png)

Thanks

@true0r , @paleo , @gerson-henrique for the urgent help.

[2022-07-26 12:02] joaomoreno commented on #341
What does `vsce ls` return?

[2022-07-27 06:58] meghasinghal1 commented on #341
Getting this when running vsce ls command.

![image](https://user-images.githubusercontent.com/13881466/181182112-b1853953-faeb-4ef2-9ca6-59fcd4095f0a.png)

[2022-07-28 15:32] joaomoreno commented on #341
I don't see the icon listed there.

[2022-07-28 16:07] ssbarnea commented on #682
@joaomoreno Sorry but the OP is is right, that error message is quite confusing as it does not mention which is the problematic extension Id!

[code]

Hint, `42picky.ansible` does not even exist in the marketplace!

[2022-07-29 06:56] ssbarnea commented on #616
I was looking for an option to unpublish a bad release (version) but apparently the vsce cli only allows unpublishing an entire extension.

Any way to use the cli to delete/hide/unpublish a specific version?

[2022-08-02 14:10] johnyenter-briars opened #761 "Unable to Publish Extension - The Extension Id already exist"
Greetings, and thank you for all the hard work you do for the VSCode ecosystem!

## Explanation of Issue
We are unable to publish our extension either to the marketplace, either via the command line `vsce` or via the marketplace UI.

When using `vsce` we get the below error:

[code]

NOTE: this is *after* performing `vsce login root16` which then promps for the PAT, which results in a successful l

[2022-08-03 06:23] Ark-kun commented on #607
I'm having the same issues. Why is `vsce` packaging `.gitmodules`?

[2022-08-03 23:19] alefragnani commented on #607
I’ve updated my `.vscodeignore` with the below entries and now no git related file is being bundled anymore. At least on my repos, which I use submodules.

[code]

Hope this helps

[2022-08-04 16:13] Katsute commented on #761
I've wasted an hour on my extension trying to figure out why it wouldn't publish for this very reason.

That error message is incredibly misleading, the marketplace only considers the **→→ name ←←** `bamboo-vscode` when determining if an extension is 'unique'. An extension [`garyxuehong.bamboo-vscode`](https://marketplace.visualstudio.com/items?itemName=garyxuehong.bamboo-vscode) is already 'using

[2022-08-04 16:14] johnyenter-briars commented on #761
Thank you so much Katsute! I will give this a try and report back and close the issue if required.

[2022-08-04 16:57] johnyenter-briars commented on #761
@Katsute  is correct for which I am grateful. The name must also be unique, not just the extension Id. I would recommend that this issue be turned into a bug report, as I would consider that message very misleading. But for now I'll close this issue.

[2022-08-04 16:57] #761 closed

[2022-08-12 18:03] wandyezj opened #763 "have `publish --help` show valid arguments for `--target`"
Currently `publish --help` does not show valid target architectures.

It's unclear what architectures are valid. It would be good to specify what architectures are allowed as a part of the target description.

Running with an invalid architecture gives an error with a list of valid architectures:

Since the valid architectures are known it would be great if these could be shown as part of paramete

[2022-08-16 17:55] wandyezj opened #764 "Clearer error message for publish when passing both `packagePath` and `target`"
When running the following:

The following error message is produced:

This error message was not sufficient for me to figure out how to fix the issue. Since I _want_ to apply the 'target' parameter.

It would be convenient if this error message was more actionable and specified how to fix the error. In this case by passing the `target` flag in the `package` step.

Proposed new error message:

It

[2022-08-17 19:23] redonkulus commented on #381
Was getting this same issue and `--yarn` worked for me until recently, I noticed using the `--no-dependencies` option avoided this issue as well.

[2022-08-18 05:56] alexn-s commented on #421
just encountered the same issues with pnpm. really thought something huge like vscodee/ vsce cli supports all package managers.

[2022-08-19 10:00] #763 closed

[2022-08-19 11:44] #764 closed

[2022-08-23 01:23] glmnet commented on #277
For anyone stuck here, use the `ls-publishers` to logout from the publisher (check it again after logging out), it happened to me that I was logged in to the same publisher name differ only by case (so may be the PAT was expired and didn't update properly)

[2022-08-23 01:25] glmnet commented on #686
also `vsce ls-publishers` will list only one of the two logged in when they differ only by case. This issue causes this error too https://github.com/Microsoft/vscode-vsce/issues/277

[2022-08-23 08:33] babakks commented on #686
@joaomoreno I'd like to take this.

[2022-08-24 08:28] isidorn opened #769 "Print user friendly message when vsce is installed"
I was just playing around with [dapr](https://docs.dapr.io/getting-started/install-dapr-cli/) and I like that once I install it from the cli they print a nice message pointing to the docs:
"To get started with Dapr, please visit https://docs.dapr.io/getting-started/"

We could do the same thing for vsce? Or at least for `vsce --help`

Potential message:
"To learn more about the VS Code extension A

[2022-08-24 09:07] joaomoreno commented on #769
I think we don't have a hook for what happens after `npm i -g vsce`. But this could work for `vsce --help`, wanna submit a PR?

[2022-08-24 09:17] isidorn commented on #769
@joaomoreno isn't there some npm postinstall script we can run and that script could print?
But putting it in help also works.

Yeah, let me assign to myself and next milestone.

[2022-08-25 10:17] serkonda7 opened #770 "vsce ls doesn't list all files that are packaged"
Output of `npx vsce ls` counting eight files:
[code]

Output of `npm run package` stating 10 files:
[code]

What additional two files are packaged here?

These numbers should match.

[2022-08-25 10:35] joaomoreno commented on #770
A VSIX is nothing more than a ZIP file. Your can open it with any ZIP program. You'll find additional metadata files in there.

[2022-08-25 10:35] #770 closed

[2022-08-25 10:47] serkonda7 commented on #770
Thanks, have seen it now.
Still somewhat confusing.

[2022-08-27 14:01] babakks commented on #686
@joaomoreno The case-insensitivity in the login process is rooted in the Azure API. Unsurprisingly, there's no option to enable/disable that. One workaround is to check the returned role assignments for the exact `publisherName` value, which I found in the `role.identity.displayName` property:

[code]

Technically, I don't like this approach since I'm not sure about using the `displayName` as the

[2022-08-29 07:24] joaomoreno commented on #686
@babakks What other properties are there in `role.identity`?

[2022-08-29 07:34] #754 closed

[2022-08-29 07:34] babakks commented on #686
@joaomoreno Nothing more. Just these:

[code]

[2022-08-29 07:36] babakks commented on #686
BTW, this is the type definition:

[code]

[2022-08-29 07:37] joaomoreno commented on #686
What does `id` hold, in your case?

[2022-08-29 07:38] babakks commented on #686
A UUID.

[2022-08-29 07:41] joaomoreno commented on #686
And `uniqueName`?

[2022-08-29 07:43] babakks commented on #686
@joaomoreno `undefined`. This is all I got from the API:

[code]

[2022-08-29 07:53] joaomoreno commented on #686
Yeah, I share the same concern as you, I wouldn't trust that `displayName`...

@isidorn: Can we get some MP support here?

[2022-09-02 12:42] doctor-ew commented on #421
Same here -- is pnpm support on the product roadmap?

[2022-09-02 16:22] worksofliam opened #772 "`vsce package`: `Error [ERR_REQUIRE_ESM]: require() of ES Module `"
This just started today.

[code]

See full error and setup in my PR action: https://github.com/halcyon-tech/vscode-ibmi/runs/8160148320?check_suite_focus=true

[2022-09-02 16:23] pgrivachev commented on #772
The same for me:
[code]

[2022-09-02 16:23] worksofliam commented on #772
Thanks for sharing as well @pgrivachev - hopefully this can be resolved fast.

[2022-09-02 16:30] lukecotter commented on #772
I am also seeing this

[2022-09-02 17:01] unwls commented on #772
Same issue here!

[2022-09-02 17:17] rgrunber commented on #772
This may have been fixed a few minutes ago in https://github.com/inikulin/parse5/issues/663 (vsce -> cheerio -> parse5) . Re-installing vsce seemed to fix it for me.

[2022-09-02 17:18] filiptronicek commented on #772
Not sure what causes this, tried changing Node versions, seems to happen on both Node 14 and 16. Downgrading to [2.10.0](https://www.npmjs.com/package/vsce/v/2.10.0) seems to not aid the issue.

On the contrary, I think this cannot be caused by a new version: this one has been out since the beginning of the week. It only happens for me on some machines, and seems to happen randomly.

[2022-09-02 17:21] worksofliam commented on #772
@rgrunber Just re-ran my pipeline and it is working now. Thanks for posting!

[2022-09-02 17:22] maoxiaoke commented on #772
@filiptronicek [parse5](https://github.com/inikulin/parse5/issues/663) made a break change.

[2022-09-02 17:23] filiptronicek commented on #772
Running a new workspace in Gitpod seems to have fixed the issue for me! 🎉

[2022-09-02 17:29] #772 closed

[2022-09-06 14:14] isidorn commented on #686
@joaomoreno yes. @prashantvc will reach out to MP dev team.

[2022-09-11 14:34] CartBlanche opened #773 "vsce package only seems to pick up Debug build...."
As are are approaching v1.0 release of our vscode extension for Meadow (https://github.com/WildernessLabs/VSCode_Meadow_Extension) I noticed that when `vsce package` is run via CLI it only packages correctly if our `Debug` code was previously built. How can I get it to build the package from the  project's `Release` folder?

Or even better via github actions, build --pre-release packages from `Deb

[2022-09-12 16:14] prashantvc commented on #616
This is something we are exploring; I do not have any update to share right now.
If you have more to discuss my calendar is open :) You can put some time on it [here](https://outlook.office.com/bookwithme/user/b06c0362099f4cec905154a001f410ea@microsoft.com/meetingtype/mmw8DLOWXkyuf2bYCCsb8A2?anonymous)

[2022-09-13 10:00] joaomoreno commented on #773
It's not clear to me exactly what you mean. If you use `vsce ls`, it will list all the files it will include in the VSIX. That may help you debug your problem.

[2022-09-13 12:19] joaomoreno commented on #773
Your `.vscodeignore` file is ignoring everything except certain folders:

[code]

[2022-09-13 14:20] CartBlanche commented on #773
@joaomoreno I inherited the project and didn't realise the Release folder was being ignored. Thanks for all your help!!

[2022-09-14 12:25] dsbasko opened #774 "Сan't publish the extension"
When trying to publish an extension, it gives an error: `An item with the same key has already been added`.
However, the extension is packaged and works fine with manual installation via vsix.

I tried:
- Change the name
- Change the version
- Change the publisher

[2022-09-14 18:38] joaomoreno commented on #774
What's the extension publisher and name?

[2022-09-15 05:04] dsbasko commented on #774
[code]

[2022-09-15 11:41] joaomoreno commented on #774
@isidorn @prashantvc Can you help @dsbasko here?

[2022-09-16 07:55] rokklobster opened #775 "Don't fail on CI if extension with this verison already exists"
**The problem**: when extension is being published, `vsce` exits with code `1` and error message if version being published already exists in marketplace.

While this behavior is natural, it breaks CI flows when you just need to skip publishing step instead of breaking the pipeline at _literally no reason_. Nuget (as an example) contains `skip-duplicate` flag, same for pypi.

Changing pipeline set